#apps-list{
    width: 100%
}

h2{
    display: inline-block;
    margin-top: 0px;
}

.bars{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
}

.tabbed{
    padding-left: 20px;
}

#locationsFilter{
    padding-left: 10px;
    padding-right: 15px;
    width: 35%;
}

#resourceGroupsFilter{
    padding-left: 10px;
    padding-right: 15px;
    width: 35%;
}

#groupingDropDown{
    padding-left:10px;
    width: 18%;
}

.empty-browse{
    width: 75%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-browse img{
    width:10% ; 
    height: 10%
}

.empty-browse span{
    max-width: 50%;
    text-align: center;
    line-height: 25px
}

.empty-browse span img{
    width: 3%;
    height: 3%;
    vertical-align: middle;
    margin-bottom: 0.5%;
}