@import '../../sass/common/variables';

.feature-group-header{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: $border;
    font-weight: bold;
}

.feature-group-item{
    padding: 5px 45px 5px 0px;
    position: relative;

    .feature-group-item-content{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .icon-small{
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 3px;
    }

    .icon-super{
        display: inline-block;
        vertical-align: top;
        margin-top: -3px;
        height: 14px;
        width: 14px;
    }

    .feature-group-result-title{
        background-color: $highlight-text-color;
    }
}

.feature-group-info{
    position: absolute;
    right: 5px;
    top: 6px;

    i{
        font-size: 15px;
    }
}

.feature-menu-item{
    margin-left: 5px;
}

.feature-group-disabled{
    color: darken($chrome-color, 30%);
}

:host-context(#app-root[theme=dark]){
    .feature-group-item{
        .feature-group-result-title a{
            background-color: $highlight-text-color;
            color: $primary-color;
        }
    }
}