<div class="feature-group-header">{{group?.title}}</div>
<div class="feature-group-items" #featureGroup>

    <div *ngFor="let feature of group?.features" 
         (mouseenter)="feature.isHighlighted = true" 
         (mouseleave)="feature.isHighlighted = false"
         (focusout)="checkFeatureGroupBlur()" 
         class="list-item feature-group-item">

        <div *ngIf="!feature.isEmpty" 
             class="feature-group-item-content">
             <span [load-image]="feature.iconUrl" class="icon-small"></span>

            <span [class.feature-group-result-title]="searchTerm && feature.highlight"
                  role="link">
                <a *ngIf="feature.enabled" 
                    [tabIndex]="feature.nameFocusable ? 0 : -1" 
                    (focus)="nameFocus(feature)"
                    (blur)="feature.onName = false"
                    (click)="click(feature)" 
                    (keydown)="onKeyPress($event, feature)">
                    {{feature.title}}
                </a>
                <span *ngIf="!feature.enabled" 
                      class="feature-group-disabled">
                      {{feature.title}}
                </span>      
            </span>

            <span *ngIf="feature.superScriptIconUrl" 
                 class="icon-super" 
                 [load-image]="feature.superScriptIconUrl"></span>

            <span *ngIf="feature.isHighlighted || feature.imageFocusable" 
                  class="feature-group-info" 
                  (keydown)="onKeyPress($event, feature)" 
                  (focusin)="imageFocus(feature)"
                  (focusout)="feature.onImage = false">

                <span>
                    <pop-over *ngIf="feature.warning" 
                              [message]="feature.warning">
                              <span load-image="image/warning.svg" class="icon-small"></span>
                    </pop-over>

                    <pop-over *ngIf="feature.info" 
                              [message]="feature.info">
                              <span load-image="image/info.svg" class="icon-small"></span>
                    </pop-over>
                </span>
            </span>
        </div>
    </div>
</div>