app-root
    div.fxs-progress
        div.fxs-progress-dots
            div
            div
            div
if config.isNationalClouds
    include ../national-clouds/body.pug
else if !config.isAzure
    include ../local/body.pug
else if !!config.isAzure && config.isOnPrem
    include ../onprem/body.pug
else
    include ../azure/body.pug

