head
    meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
    script(type='text/javascript').
        window.appsvc = {
            env: {
                hostName: '#{hostName}',
                runtimeType: '#{config.runtimeType}',
                azureResourceManagerEndpoint: '#{config.azureResourceManagerEndpoint}'
            }
        };
    style
        include iframe-loading.css
    if !isAzure
        include ../local/head.pug
    else if !!isAzure && isOnPrem
        include ../onprem/head.pug
    else
        include ../azure/head.pug