meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
script(type='text/javascript').
    window.appsvc = !{JSON.stringify(config)}
style
    include iframe-loading.css
    
if config.isNationalClouds
    include ../national-clouds/head.pug
else if !config.isAzure
    include ../local/head.pug
else if !!config.isAzure && isOnPrem
    include ../onprem/head.pug
else
    include ../azure/head.pug