@-webkit-keyframes fxs-progress-animatedEllipses {
    0% {
        opacity: 1;
    }

    30% {
        opacity: .6;
    }

    60% {
        opacity: .3;
    }
}

@keyframes fxs-progress-animatedEllipses {
    0% {
        opacity: 1;
    }

    30% {
        opacity: .6;
    }

    60% {
        opacity: .3;
    }
}

.fxs-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dcdfe2;
    background-color: rgba(255, 255, 255, 0.30);
    z-index: 196;
}

.fxs-progress-dots {
    position: absolute;
    top: calc(50% - 6px/2);
    width: 100%;
    line-height: 0;
    text-align: center;
}

    .fxs-progress-dots > div {
        display: inline-block;
        height: 6px;
        width: 6px;
        -webkit-animation: fxs-progress-animatedEllipses 1.5s infinite;
        animation: fxs-progress-animatedEllipses 1.5s infinite;
        background: #aab3bd;
        margin: 0 2.5px;
    }

        .fxs-progress-dots > div:nth-child(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .fxs-progress-dots > div:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .fxs-progress-dots > div:nth-child(3) {
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .fxs-progress-dots > div:nth-child(4) {
            padding-top: 20px;
            width: 100%;
            background: white;
        }
