<div class="settings-group-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>

  <h3 class="first-config-heading">{{'code' | translate}}</h3>
  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label" id="dc-bitbucket-repo-label" >{{'repository' | translate}}</div>
      <div class="setting-control-container">
        <ng-select id='configure-bitbucket-repo-select' class="custom-select" aria-labelledby="dc-bitbucket-repo-label"  [items]="RepoList" bindLabel="displayLabel" bindValue="value" [placeholder]="'selectRepo' | translate"
          [clearable]="false" formControlName="repoUrl" [(ngModel)]="selectedRepo" [loading]="reposLoading" (change)="RepoChanged($event)">
        </ng-select>
        <div invalidmessage="repoUrl"></div>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label" id="dc-github-branch-label" >{{'branch' | translate}}</div>
      <div class="setting-control-container">
        <ng-select id='configure-bitbucket-branch-select' class="custom-select" [items]="BranchList" aria-labelledby="dc-bitbucket-branch-label"  bindLabel="displayLabel" bindValue="value" [placeholder]="'selectBranch' | translate"
          [clearable]="false" [(ngModel)]="selectedBranch" [loading]="branchesLoading" formControlName="branch">
        </ng-select>
        <div invalidmessage="branch"></div>
      </div>
    </div>
  </div>
</div>