<div class="credentials-container">
  <busy-state name="deployment-credentials" cssClass="ibiza-feature"></busy-state>
  <nav id="creds-tabs" role="tablist" #credsTabs>
    <div class="site-tab-label" (click)="selectTab('user')" role="tab" id="site-tab-user" aria-controls="site-tab-content-user"
      aria-selected="false" aria-label="User Credentials" [class.inactive-label]="activeTab !== 'user'">
      <h4>
        <span>{{'userCreds' | translate}}</span>
      </h4>
    </div>
    <div class="site-tab-label" (click)="selectTab('app')" role="tab" id="site-tab-app" aria-controls="site-tab-content-app"
      aria-selected="false" aria-label="App Credentials" [class.inactive-label]="activeTab !== 'app'">
      <h4>
        <span>{{'appCreds' | translate}}</span>
      </h4>
    </div>
  </nav>

  <ng-container *ngIf="activeTab === 'app'">
    <app-card-info-control [image]="'image/deployment-source.svg'" header="{{'appCreds' | translate}}" description="{{'appCredsDesc' | translate}}"
      [learnMoreLink]="'https://aka.ms/canary'"></app-card-info-control>
    <div id='appCredsForm' class="settings-group-wrapper">
      <div class="settings-wrapper">
        <div class="setting-label">{{ 'username' | translate}}</div>
        <div class="setting-wrapper">
          <copy-pre [content]="appUserName"></copy-pre>
        </div>
        <div class="setting-label">{{'password' | translate}}</div>
        <div class="setting-wrapper">
          <copy-pre [content]="appPwd" [passwordField]="true"></copy-pre>
        </div>
      </div>
    </div>
    <button class="custom-button" (click)="resetPublishingProfile()">Reset</button>
  </ng-container>
  <ng-container *ngIf="activeTab === 'user'">
    <app-card-info-control [image]="'image/deployment-source.svg'" header="{{'userCreds' | translate}}" description="{{'userCredsDesc' | translate}}"
      [learnMoreLink]="'https://aka.ms/canary'"></app-card-info-control>
    <div id='userCredsForm' class="settings-group-wrapper" [formGroup]="userPasswordForm">
      <div class="settings-wrapper">
        <div class="setting-label">{{'username' | translate}}</div>
        <div class="setting-wrapper">
          <textbox [control]="userPasswordForm?.get('userName')" placeholder=""></textbox>
          <div invalidmessage="userName"></div>
        </div>
        <div class="setting-label">{{'password' | translate}}</div>
        <div class="setting-wrapper">
          <textbox type='password' [control]="userPasswordForm?.get('password')" placeholder=""></textbox>
          <div invalidmessage="password"></div>
        </div>
        <div class="setting-label">{{'confirmPassword' | translate}}</div>
        <div class="setting-wrapper">
          <textbox type='password' [control]="userPasswordForm?.get('passwordConfirm')" placeholder=""></textbox>
          <div invalidmessage="passwordConfirm"></div>
        </div>
      </div>
    </div>
    <button class="custom-button" [disabled]="!this.userPasswordForm.valid" (click)="saveUserCredentails()">Save</button>
  </ng-container>
</div>