<div class="credentials-container" [class.container-padding]="standalone">
  <info-box *ngIf="!ftpDisabledByPolicy" typeClass="info" [infoText]="'ftpDisabledByPolicy' | translate" [infoLink]="ftpDisabledInfoLink">
  </info-box>

  <nav *ngIf="ftpDisabledByPolicy" id="creds-tabs" role="tablist" #credsTabs>
    <div class="site-tab-label" (click)="selectTab('app')" role="tab" id="site-tab-app" aria-controls="site-tab-content-app"
      aria-selected="false" [attr.aria-label]="'appCreds' | translate" [class.inactive-label]="activeTab !== 'app'" [tabindex]="activeTab === 'app' ? 0 : -1"
      (keydown)="onKeyPress($event, 'app')">
      <h4>
        <span>{{'appCreds' | translate}}</span>
      </h4>
    </div>
    <div class="site-tab-label" (click)="selectTab('user')" role="tab" id="site-tab-user" aria-controls="site-tab-content-user"
      aria-selected="false" [attr.aria-label]="'userCreds' | translate" [class.inactive-label]="activeTab !== 'user'"[tabindex]="activeTab === 'user' ? 0 : -1"
      (keydown)="onKeyPress($event, 'user')">
      <h4>
        <span>{{'userCreds' | translate}}</span>
      </h4>
    </div>
  </nav>

  <ng-container *ngIf="ftpDisabledByPolicy && activeTab === 'app'">
    <div class="cred-desc">
      <div class="desc-text">{{'appCredsDesc' | translate}} <a class="link" target="_blank" [href]="learnMoreLink">{{'learnMore' | translate}}</a></div>
    </div>
    <div id='appCredsForm' class="settings-group-wrapper">
      <div class="control">
        <label class="setting-label">{{ 'username' | translate}}</label>

        <copy-pre [content]="appUserName"></copy-pre>
      </div>
      <div class="control">
        <label class="setting-label">{{'password' | translate}}</label>
        <copy-pre [content]="appPwd" [passwordField]="true"></copy-pre>
      </div>
    </div>
    <button class="save-button" [disabled]="resetting" (click)="resetPublishingProfile()">
      <span *ngIf="!resetting">{{'resetCredentials'| translate}}</span>
      <span *ngIf="resetting" load-image="image/loader.svg" class="icon-small fa-spin"></span>
    </button>
  </ng-container>
  <ng-container *ngIf="ftpDisabledByPolicy && activeTab === 'user'">
    <div class="cred-desc">
      <div class="desc-text">{{userCredsDesc}} <a class="link" target="_blank" [href]="learnMoreLink">{{'learnMore' | translate}}</a></div>
    </div>
    <div id='userCredsForm' class="settings-group-wrapper" [formGroup]="userPasswordForm">
      <div class="control">
        <label class="setting-label">{{'username' | translate}}</label>
        <textbox ariaErrorId="dc-deployment-creds-username" [control]="userPasswordForm?.get('userName')" placeholder=""></textbox>
        <div invalidmessage="userName" id="dc-deployment-creds-username" role="alert"></div>
      </div>
      <div class="control">
        <label class="setting-label">{{'password' | translate}}</label>

        <textbox ariaErrorId="dc-deployment-creds-password" type='password' [control]="userPasswordForm?.get('password')" placeholder=""></textbox>
        <div invalidmessage="password" id="dc-deployment-creds-password" role="alert"></div>
      </div>
      <div class="control">
        <label class="setting-label">{{'confirmPassword' | translate}}</label>

        <textbox ariaErrorId="dc-deployment-creds-password-confirm" type='password' [control]="userPasswordForm?.get('passwordConfirm')" placeholder=""></textbox>
        <div invalidmessage="passwordConfirm" id="dc-deployment-creds-password-confirm" role="alert"></div>
      </div>
    </div>
    <button class="save-button" [disabled]="!this.userPasswordForm.valid || saving" (click)="saveUserCredentails()">
      <span *ngIf="!saving">{{'saveCredentials'| translate}}</span>
      <span *ngIf="saving" load-image="image/loader.svg" class="icon-small fa-spin"></span>
    </button>
  </ng-container>
</div>