@import '../../sass/common/variables';

h2{
    display: inline;
}

.new-container {
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.new-container i {
    font-size: 20px;
    color: $primary-color;
    cursor: pointer;
}

.search-box-container {
    width: 250px;
    margin-bottom: 15px;
}

.icon-small {
    height: 18px;
    width: 18px;

    border: none;
    background: transparent;
    padding: 0;
    display: block;
    margin: auto;

    &:hover>* {
        filter: brightness(150%);
        -webkit-filter: brightness(150%);
    }
}

:host-context(#app-root[theme=dark]) {
    .icon-small {
        &:hover>* {
            filter: brightness(50%);
            -webkit-filter: brightness(50%);
        }
    }
}