<command-bar>
    <command displayText="{{ 'newFunction' | translate }}" 
        iconUrl="image/add.svg" 
        (click)="onNewFunctionClick()" 
        [fnWriteAccess]="context">
    </command>
</command-bar>

<div class="browse-container">
    <app-edit-mode-warning *ngIf="!!context"
        [context]="context">
    </app-edit-mode-warning>

    <img src="image/function_f.svg" />
    <h2>{{ 'functions' | translate }}</h2>
    <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw"></i>
    <div class="search-box-container">
        <search-box (onInputChange)="searchChanged($event)" 
                    (onClear)="searchCleared()" 
                    [placeholder]="'functionsList_searchFunctions' | translate">
        </search-box>
    </div>
    <tbl [items]="functions" #table="tbl">
        <tr>
            <th name="name">
                <tbl-th name="functionInfo.name">{{ '_name' | translate }}</tbl-th>
            </th>
            <th name="status">
                <tbl-th name="functionInfo.config.disabled">{{ 'status' | translate }}</tbl-th>
            </th>
            <th class="icon" name="delete"></th>
        </tr>
        <tr *ngFor="let item of table.items">
            <td><span class="link" (click)="clickRow(item)">{{item.functionName}}</span></td>
            <td>
                <div *ngIf="runtimeVersion === 'V1'" [fnWriteAccess]="context">
                    <slide-toggle
                        [on]="!item.functionInfo.config.disabled"
                        [isCommand]="true"
                        [name]="'status' | translate"
                        [ariaLabelFormat]="'nameAndStateName'"
                        (change)="enableChange(item, $event)">
                    </slide-toggle>
                </div>
                <div *ngIf="runtimeVersion !== 'V1'">
                    <slide-toggle
                        [on]="!item.functionInfo.config.disabled"
                        [isCommand]="true"
                        [name]="'status' | translate"
                        [ariaLabelFormat]="'nameAndStateName'"
                        (change)="enableChange(item, $event)">
                    </slide-toggle>
                </div>
            </td>
            <td class="icon-cell">
                <div [fnWriteAccess]="context">
                    <span role="button"
                        class="icon-small"
                        load-image="image/delete.svg"
                        [attr.aria-label]="'functionManage_delete' | translate:{name: item.functionName}"
                        (click)="clickDelete(item)">
                    </span>
                </div>
            </td>
        </tr>
        <tr *ngIf="table.items.length === 0 || isLoading">
            <td *ngIf="isLoading" colspan="3">{{'functionMonitor_loading' | translate}}</td>
            <td *ngIf="!isLoading && table.items.length === 0" colspan="3">{{'noResults' | translate}}</td>
        </tr>
    </tbl>
</div>