<div class="selectionContainer">
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>

  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
  <div class="cardContainer">
    <div class="headerBox">
      <img src="images/deployment-center/onedrive-logo.svg" /> OneDrive
    </div>
    <div class="sourceDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button" style="margin-top:12px" previousStep>Back</button>
  <button type="button" class="custom-button" style="margin-top:12px" nextStep>Continue</button>
</div>