<function-new-detail *ngIf="openFunctionNewDetail"
  [functionCard]="_functionCard"
  [functionLanguage]="functionLanguage"
  [functionsInfo]="functionsInfo"
  [viewInfo]="viewInfo"
  [appNode]="appNode"
  [functionsNode]="functionsNode"
  [context]="context"
  (closePanel) ="close()">
</function-new-detail>

<extension-install-detail *ngIf="openExtensionInstallDetail"
  [viewInfo]="viewInfo"
  [functionCard]="_functionCard"
  [requiredExtensions]="currentTemplate.metadata.extensions"
  (closePanel) ="close()">
</extension-install-detail>