<div class="topContainer">
  <div class="selectionContainer" flex-list>
    <div *ngFor="let card of portalTemplateCards" class="cardContainer" [class.selected]="selectedPortalTemplateCard?.name === card.name"
      (click)="selectPortalTemplate(card)">
      <div class="cardHeader">
        <img [src]="card.icon" [style.background-color]="card.color"/> {{card.name}}
      </div>
      <div class="cardDescription">
        {{card.description}}
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
    <button type="button" class="custom-button form-button" *ngIf="selectedPortalTemplateCard" (click)="create()">{{'create' | translate}}</button>
</div>