<wizard navBarLayout="large-filled-symbols" style="height: 100vh" #wizard StepNumber>
    <app-step-source-control wizardStep title="Source Control"></app-step-source-control>
    <app-step-build-provider wizardStep title="Build Provider" *ngIf="showBuildStep"></app-step-build-provider>
    <app-step-configure wizardStep title="Configure" *ngIf="showConfigureStep"></app-step-configure>
    <app-step-test wizardStep title="Test" *ngIf="showTestStep"></app-step-test>
    <app-step-deployment-slot wizardStep title="Deploy" *ngIf="showDeployStep"></app-step-deployment-slot>
    <app-step-complete wizardCompletionStep title="Summary"></app-step-complete>
</wizard>