@import '../../sass/main';

drop-down{
    display: inline-block;
}

.tp-templates{
    border: 1px solid #D4D2D2;
    margin-top: 5px;
    max-height: 375px;
    overflow-y: scroll;
}

.tp-template-disabled{
    display: inline-block;
    width: 175px;
    height: 175px;
    border: 3px solid transparent;
    text-align: center;
    margin: 5px;
    background: silver;
}

.tp-template-disabled:hover{
    border: 3px solid #C2C5C9;
    cursor: not-allowed;
    background: lightgray;
}

.tp-template{
    display: inline-block;
    width: 175px;
    height: 175px;
    border: 3px solid transparent;
    text-align: center;
    margin: 5px;
}

.tp-template:hover{
    border: 3px solid #C2C5C9;
}

.tp-template-selected{
    border: 3px solid $primary-color !important;
}

.tp-template-selected:hover{
    border: 3px solid #419BF3;
}

.tp-template-container{
    top: 40px;
    position: relative;
}

.tp-template-content{
    /* Makes the content size not count to container which allows squares to line up vertically */
    position: absolute;
    left: 0;
    right: 0;
}

.tp-template-func-disabled{
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 5px;
    border: 1px solid #C2C5C9;
    vertical-align: top;
    background: silver;
}

.tp-template-func-disabled:hover{
    border: 3px solid #C2C5C9;
    cursor: not-allowed;
    background: lightgray;
}

.tp-template-func{
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 5px;
    border: 1px solid #C2C5C9;
    vertical-align: top;
}

.tp-template-func:hover{
    border: 3px solid #C2C5C9;
    cursor: default;
}

.tp-template-func:hover > .tp-template-func-description{
    margin: 3px;
}

.tp-template-selected > .tp-template-func-description{
    margin: 3px;
}

.tp-template-func-title{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E6E7E8;
    text-align: center;
}

/*http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/
.tp-template-func-description{
    margin: 5px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.tp-template-content > svg{
    height: 85px;
    width: 185px;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: -6px;
}

/* Purposely not setting class directly on path because IE doesn't seem to like
   dynamic classes on SVG elements */
.tp-template-icon-selected > svg > path{
    fill: #419BF3;
}

.tp-template-content .glyphicon{
    font-size: 60px;
}

.tp-footer{
    margin-top: 20px;
}

.custom-button, .custom-button-invert{
    margin-left: 0px;
}