<div class="settings-group-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>

  <h3 class="first-config-heading">{{'code' | translate}}</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <label id="dc-onedrive-folder-label" class="setting-label">{{'folder' | translate}}</label>
      <div class="setting-control-container">
        <ng-select 
          aria-describedby="dc-onedrive-folder-error"
          aria-labelledby="dc-onesrive-folder-label"  
          [clearable]="false" 
          class="custom-select" 
          [items]="folderList" 
          bindLabel="displayLabel" 
          bindValue="value" 
          placeholder="Select Folder"
          [clearable]="false" 
          [loading]="foldersLoading" 
          formControlName="repoUrl">
        </ng-select>
        <div invalidmessage="repoUrl" id="dc-onedrive-folder-error" role="alert"></div>
      </div>
    </div>

  </div>
</div>