<div class="settings-group-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>

  <h3 class="first-config-heading">{{'code' | translate}}</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div id="dc-onedrive-folder-label" class="setting-label">{{'folder' | translate}}</div>
      <div class="setting-control-container">
        <ng-select aria-labelledby="dc-onesrive-folder-label" [clearable]="false" class="custom-select" [items]="folderList" bindLabel="displayLabel" bindValue="value" placeholder="Select Folder"
          [clearable]="false" [loading]="foldersLoading" formControlName="repoUrl">
        </ng-select>
        <div invalidmessage="repoUrl"></div>
      </div>
    </div>

  </div>
</div>