@import '../../../sass/common/variables';

.function-monitor-content{
    padding: 25px 25px;
    width: 100%;
    height: 100%;
}

.function-monitor-content.success-aggregate {
    float:left;
    width: 45%;
    margin-right:2%
}

.function-monitor-content.error-aggregate {
    float:left;
    width: 45%;
}