@import '../../../sass/common/variables';

.alert {
    img {
        height: 20px;
    }
}

.ai-icon {
    display:flex;
    text-align: center;
    padding-top: 50px;
    div:nth-child(1) {
        flex-grow:1;
        img {
            height:50px;
            width: 100%;
        }
    }    
}

.function-monitor-content{
    padding: 25px 25px;
    width: 100%;
    height: 100%;


    .success-aggregate {
        float:left;
        width: 45%;
        margin-right:2%
    }

    .error-aggregate {
        float:left;
        width: 45%;
    }
}