<command-bar>
    <command displayText="{{ 'refresh' | translate }}"
        (click)="refreshMonitorClassicData()"
        iconUrl="image/reset.svg"></command>
</command-bar>

<div class="function-monitor-content">

    <div class="alert alert-warning alert-dismissible" role="alert">
        <img src="image/appInsights.svg"/>
        <span [innerHTML]="'monitoring_appInsights' | translate"></span>
    </div>

    <div id="function-aggregates">
        <aggregate-block [title]="successAggregateHeading" [value]="successAggregate" style="float:left; width: 45%; margin-right:2%">{{'functionMonitor_loading' | translate}}</aggregate-block>
        <aggregate-block [title]="errorsAggregateHeading" [value]="errorsAggregate" style="float:right; width: 45%">Loading...</aggregate-block>
        <div style="clear: both"></div>
    </div>

    <table-function-monitor
        [functionMonitorInfoInput] = "functionMonitorInfo">
    </table-function-monitor>
</div>