<div *ngIf = "containerConfigureInfo">
    <div>
        <label>{{ 'containerImageSource' | translate }}</label>
        <div>
        <radio-selector
            [defaultValue] = "selectedImageSource"
            [options] = "containerSettingsManager.containerImageSourceOptions"
            [highlightDirty] = "true"
            (value) = "updateContainerImageSource($event)">
        </radio-selector>
        </div>
    </div>

    <container-image-source-quickstart
        *ngIf = "selectedImageSource === 'quickstart'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-image-source-quickstart>

    <container-image-source-acr
        *ngIf = "selectedImageSource === 'azureContainerRegistry'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-image-source-acr>

    <container-image-source-dockerhub
        *ngIf = "selectedImageSource === 'dockerHub'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-image-source-dockerhub>

    <container-image-source-privateregistry
        *ngIf = "selectedImageSource === 'privateRegistry'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-image-source-privateregistry>

    <container-continuous-delivery
        *ngIf = "selectedImageSource !== 'quickstart' && containerConfigureInfo.fromMenu"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-continuous-delivery>

    <container-logs
        *ngIf = "selectedImageSource !== 'quickstart' && containerConfigureInfo.fromMenu"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-logs>
</div>