<div>
    <label>{{ 'containerImageSource' | translate }}</label>
    <div>
      <radio-selector
        [defaultValue] = "selectedImageSource.value"
        [options] = "containerSettingsManager.containerImageSourceOptions"
        [highlightDirty] = "true"
        (value) = "updateContainerImageSource($event)">
      </radio-selector>
    </div>
</div>

<container-image-source-quickstart
    *ngIf = "selectedImageSource.value === 'quickstart'"
    [containerImageSourceInfoInput] = "containerImageSourceInfo">
</container-image-source-quickstart>

<container-image-source-acr
    *ngIf = "selectedImageSource.value === 'azureContainerRegistry'"
    [containerImageSourceInfoInput] = "containerImageSourceInfo">
</container-image-source-acr>

<container-image-source-dockerhub
    *ngIf = "selectedImageSource.value === 'dockerHub'"
    [containerImageSourceInfoInput] = "containerImageSourceInfo">
</container-image-source-dockerhub>

<container-image-source-privateregistry
    *ngIf = "selectedImageSource.value === 'privateRegistry'"
    [containerImageSourceInfoInput] = "containerImageSourceInfo">
</container-image-source-privateregistry>