@import '../../../sass/common/variables';

.headerBox{
    width: 100%;
    height: 40px;
    text-align: left;
    font-size: 14px;
    line-height: 37px;
    margin-bottom: 20px;
    border-bottom-style: $sidebar-header-border-bottom-style;
    border-bottom-width: $sidebar-header-border-bottom-width;
    border-color: $sidebar-header-border-color;
    img {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        float: left;
        padding: 5px;
    }
}

.content {
    font-size: 12px;
    margin-left: 32px;
    margin-right: 82px;
}

p {
    margin-bottom: 8px;
    padding-top: 20px;
}

.custom-button {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 10px;
}

.custom-button-invert {
    margin-left: 0px;
    margin-top: 20px;
}

.alert-notice {
    margin-top: 20px;
    margin-bottom: 0px;
    color: $text-box-warning-text;
    background-color: $text-box-warning-background;
    border-color: $text-box-warning-border;
    padding: 15px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    font-size: 12px;
}

:host-context(#app-root[theme=dark]){
    .alert-notice {
        background-color: $chrome-color-dark;
        border-color: $heading-text-color-dark;
    }
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.control-label{
    text-align: left;
    padding-left: 0px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 8px;
}

.input-header {
    display: flex;
    width: 300px;
    margin-top: 5px;
}

.input-header label {
    flex-grow: 1;
}

.input-header span {
    margin-bottom: 4px;
    align-self: flex-end;
}

input.input-error {
    padding-right:25px;
}

.input-error-adjust {
    position: absolute;
    background-color: $error-color;
    color: $body-bg-color;
    height: 25px;
    padding: 5px 5px 0px 5px;
    margin-right: inherit;
    right: 3px;
    margin-top: -27px;
}

.input-show-error {
    margin-top: 20px;
    background-color: $error-color-faded;
    border-color: $border-color;
    padding: 15px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    font-size: 12px;
}

:host-context(#app-root[theme=dark]){
    .input-show-error {
        background-color: $chrome-color-dark;
        border-color: $heading-text-color-dark;
    }
}

.full-width {
    width: 100%;
}