@import '../../../sass/common/variables';

$footer-height: 55px;

#spec-picker-container{
    padding-bottom: 60px;

    #spec-picker-shield{
        position: absolute;
        height: calc(100% + 60px);  // Adding padding from bottom of container
        width: calc(100% - #{$sidenav-width});
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 10;
    }

    nav{
        display: flex;
    }

    .spec-group{
        background-color: $border-color;
        width: calc(100% / 3);
        text-align: center;
        height: 83px;
        padding-top: 7px;

        h3{
            margin-top: 2px;
            font-weight: bold;
        }

        h4{
            font-size: 12px;
        }

        &.selected-spec-group{
            background-color: $body-bg-color;
        }
    }

    .spec-container {
        padding: 0;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        color: $body-bg-color;

        &.expanded{
            margin-top: -10px;
        }
    }

    .expand-icon{
        display: inline-block;
        height: 13px;
        width: 13px;
        vertical-align: middle;
        margin: 0px 5px 4px 5px;
    }


    .spec {
        padding: 10px;
        height: 80px;
        width: calc(100% * (1/4) - 10px);
        max-width: 350px;
        min-width: 250px;
        margin: 10px 5px;
        position: relative;
        cursor: pointer;

        h2{
            color: $body-bg-color;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 13px;
            margin-top: 0px;
            transform: translateY(-50%);
        }

        &.selected{
            outline-color: $border-selection-color;
            outline-width: 2px;
            outline-style: solid;
            outline-offset: 1px;
        }

        .top-features{
            position: absolute;
            left: 70px;
            top: 50%;
            transform: translateY(-50%);
        }

        &.disabled{
            background-color: $disabled-color;
            color: $default-text-color;
            cursor: not-allowed;

            h2{
                color: $default-text-color;
            }
        }
    }

    .spec-expander{
        text-align: center;
    }

    .isolated-spec{
        background: #C44200;
    }

    .standard-spec{
        background: #4D68C8;
    }

    .premium-spec{
        background: #852EA7;
    }

    .basic-spec{
        background: #5A8000;
    }

    .free-spec{
        background: #C44200;
    }

    .feature-lists-container {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .feature-list {
        padding: 10px;
        max-width: 700px;
        margin-top: 10px;
        width: calc(100% / 2);
    }

    .feature-description{
        margin-bottom: 10px;
    }

    .feature-item{
        position: relative;
        height: 60px;
        background-color: lighten($border-color, 5%);
        margin: 5px 0px;

        h4{
            font-size: 12px;
            font-weight: bold;
        }

        .icon-medium{
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .feature-description{
            position: absolute;
            left: 50px;
            left: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    footer{
        position: fixed;
        z-index: 100;
        bottom: 0px;
        height: $footer-height;
        width: calc(100% - #{$sidenav-width});
        border-top: $border;
        padding: 0px 5px;
        background-color: $body-bg-color;
    }

    #spec-picker-footer{
        position: relative;
        height: 100%;

        button, .message-icon, .message-text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .icon-medium{
            height: 18px;
            width: 18px;
            vertical-align: middle;
        }

        .message-icon{
            left: 160px;
        }

        .message-text{
            left: 185px;
            font-size: 14px;
        }
    }

    
}