<div id="spec-picker-container" *ngIf="specManager">
  <div id="spec-picker-shield" *ngIf="isUpdating || shieldEnabled"></div>

  <nav>
    <div *ngFor="let specGroup of specManager.specGroups"
      (click)="selectGroup(specGroup)"
      class="clickable spec-group"
      [class.selected-spec-group]="specGroup === specManager.selectedSpecGroup">

      <div [load-image]="specGroup.iconUrl" class="icon-medium"></div>
      <h3>{{specGroup.title}}</h3>
      <h4>{{specGroup.description}}</h4>
    </div>
  </nav>

  <section>
    <spec-list
      [specGroup]="specManager.selectedSpecGroup"
      [isRecommendedList]="true"
      (onSelectedSpec)="selectSpec($event)"></spec-list>

    <spec-list
      *ngIf="specManager.selectedSpecGroup.isExpanded"
      [specGroup]="specManager.selectedSpecGroup"
      [isRecommendedList]="false"
      (onSelectedSpec)="selectSpec($event)"></spec-list>

    <div class="spec-expander" *ngIf=" specManager.selectedSpecGroup.specs.length > 4">
      <span *ngIf="!specManager.selectedSpecGroup.isExpanded" (click)="specManager.selectedSpecGroup.isExpanded = true">
        <span  load-image="image/caret-down.svg" class="expand-icon"></span>
        <a tabindex="0">See more options</a>
      </span>
      <span *ngIf="specManager.selectedSpecGroup.isExpanded" (click)="specManager.selectedSpecGroup.isExpanded = false">
        <span load-image="image/caret-up.svg" class="expand-icon"></span>
        <a tabindex="0">See less options</a>
      </span>
    </div>
  </section>

  <section *ngIf="specManager.selectedSpecGroup.selectedSpec" class="feature-lists-container">
    <article class="feature-list" *ngIf="specManager.selectedSpecGroup.selectedSpec.featureItems">
        <spec-feature-list
          title="Included Features"
          description="Every app hosted on this App Service plan will have access to these features:"
          [featureItems]="specManager.selectedSpecGroup.selectedSpec.featureItems"></spec-feature-list>
    </article>

    <article class="feature-list" *ngIf="specManager.selectedSpecGroup.selectedSpec.hardwareItems">
        <spec-feature-list
          title="Included Hardware"
          description="Every instance of your App Service plan will include the following hardware configuration:"
          [featureItems]="specManager.selectedSpecGroup.selectedSpec.hardwareItems"></spec-feature-list>
    </article>

  </section>

  <footer>
    <div id="spec-picker-footer">
      <button class="custom-button" [disabled]="!applyButtonEnabled" (click)="clickApply()">
        <span *ngIf="!isUpdating">Apply</span>
        <span *ngIf="isUpdating" load-image="image/loader.svg" class="icon-medium fa-spin"></span>
      </button>
        <span class="message-icon icon-medium"
          *ngIf="infoMessage?.message"
          [load-image]="infoMessage?.level === 'error' ? 'image/error.svg' : 'image/success.svg'"></span>

        <span class="message-text" [class.message-error]="infoMessage?.level === 'error'" [class.message-success]="infoMessage?.level === 'success'">
          {{infoMessage?.message}}
        </span>  
    </div>
  </footer>
</div>