.pair {
    display:flex;
    flex-direction:row;
    margin-top: 5px;
}

.name {
    flex-basis: 170px;
}

.value {
    flex-grow:1;
}

.delete {
    align-self: center;
}

input, select{
    position: relative;
    vertical-align: middle;
    height: 23px;
    padding-left: 5px;
    margin-right: 10px;

}

::placeholder { /* Most modern browsers support this now. */
   font-style: italic;
}

.error-fix {
    padding-top: 4px;
    padding-left: 4px;
}