<div class="sidebar" [class.try-sidebar]="_globalStateService?.showTryView">

    <div class="flex-container">

        <ul class="functions-list" style="flex-grow:1;">
            <li>
                <span class="function-item full-height">
                    <input type="text" id="search-box" placeholder="{{ 'sideBar_searchMyFunction' | translate }}" [(ngModel)]="searchValue" />
                </span>
            </li>
            <li>
                <div class="function-item title">
                    <span class="function-item title">
                        <i *ngIf="!functionsInfo" class="fa fa-spinner"></i>
                        {{'sidebar_Functions' | translate }}
                    </span>
                </div>
            </li>
            <li *ngFor="let functionInfo of functionsInfo | sidebarFilter:searchValue">
                <div (click)="selectFunction(functionInfo)" class="function-item">
                    <span class="function-item clickable" [class.selected]="functionInfo === selectedFunction" href="#">
                        <img *ngIf="!functionInfo.clientOnly" src="images/functions.svg" class="function-icon" />
                        <i *ngIf="functionInfo.clientOnly" class="fa fa-plus"></i>
                        {{functionInfo.name}}
                    </span>
                </div>
                <div *ngIf="functionInfo === selectedFunction && (functionInfo.name !== ('sideBar_newFunction' | translate))">
                    <div class="tab-item" (click)="onTabClicked('Develop')" [class.tab-item-selected]="tabId === 'Develop'"><i class="fa fa-code tab"></i> {{ 'tabNames_develop' | translate }}<i *ngIf="tabId === 'Develop'" class="fa fa-chevron-right pull-right"></i></div>
                    <div class="tab-item" (click)="onTabClicked('Integrate')" [class.tab-item-selected]="tabId === 'Integrate'"><i class="fa fa-flash tab"></i> {{ 'tabNames_integrate' | translate }}<i *ngIf="tabId === 'Integrate'" class="fa fa-chevron-right pull-right"></i></div>
                    <div class="tab-item" (click)="onTabClicked('Monitor')" [class.tab-item-selected]="tabId === 'Monitor'"><i class="fa fa-cog tab"></i> {{ 'tabNames_manage' | translate }}<i *ngIf="tabId === 'Monitor'" class="fa fa-chevron-right pull-right"></i></div>
                    <div class="tab-item" (click)="onTabClicked('Manage')" [class.tab-item-selected]="tabId === 'Manage'"><i class="fa fa-search tab"></i> {{ 'tabNames_monitor' | translate }}<i *ngIf="tabId === 'Manage'" class="fa fa-chevron-right pull-right"></i></div>
                </div>
            </li>
            <!--<li>
                <div class="title" >
                </div>
            </li>-->
            <li *ngIf="!showTryView">
                <div class="function-item title">
                    <div style="min-height: 20px">
                    </div>
                    <span class="function-item title">
                        <i *ngIf="!apiProxies" class="fa fa-spinner"></i>
                        {{'appFunctionSettings_apiProxies' | translate }}
                    </span>
                </div>
            </li>
            <ng-container *ngIf="!showTryView">
                <li *ngFor="let apiProxy of apiProxies | sidebarFilter:searchValue">
                    <div (click)="selectApiProxy(apiProxy)" class="function-item">
                        <span class="function-item clickable" [class.selected]="apiProxy === selectedApiProxy" href="#">
                            <i *ngIf="apiProxy.name === ('sidebar_newApiProxy' | translate)" class="fa fa-plus"></i>
                            <img *ngIf="apiProxy.name !== ('sidebar_newApiProxy' | translate)" src="images/api-proxy.svg" class="function-icon" />
                            {{apiProxy.name}}
                        </span>
                    </div>
                </li>
            </ng-container>
        </ul>
        <div class="buttons-section">
            <div (click)="appsettings()"
                 class="tab-item link clickable button"
                 [class.tab-item-selected]="ActiveButton.toString() === 'AppSettings'">
                <i class="tab fa fa-wrench"></i> {{ 'topBar_functionAppSettings' | translate }}
                <i *ngIf="ActiveButton.toString() === 'AppSettings'" class="tab fa fa-chevron-right pull-right"></i>
            </div>
            <div *ngIf="!_globalStateService?.GlobalDisabled" (click)="quickstart()"
                 class="tab-item link clickable button"
                 [class.tab-item-selected]="ActiveButton.toString() === 'Quickstart'">
                <i class="tab fa fa-bolt"></i> {{ 'topBar_quickStart' | translate }}
                <i *ngIf="ActiveButton.toString() === 'Quickstart'" class="tab fa fa-chevron-right pull-right"></i>
            </div>
            <div *ngIf="!_globalStateService?.GlobalDisabled" (click)="refresh()" class="tab-item link clickable button">
                <i class="tab fa fa-refresh"></i> {{ 'sideBar_refresh' | translate }}
            </div>
        </div>
    </div>
</div>