<div
    [is-dirty]="!!dirtyMessage || (swapForm && swapForm.dirty && phase !== 'complete')"
    [is-dirty-message]="dirtyMessage">

    <button
        role="button"
        class="custom-button close-button"
        [attr.aria-label]="'close panel' | translate"
        [disabled]="!!swapping"
        (click)="closePanel()">
        <span
            load-image="image/discard.svg"
            class="icon-medium">
        </span>
    </button>

    <h1>Swap slots</h1>
    <div class="slot-drop-downs-container">
        <div class="slot-drop-down-container">
            <div class="slot-drop-down">
                <div class="drop-down-label">
                    <div class="bullet src"></div>
                    {{ Resources.source | translate }}
                    <div *ngIf="swapForm?.controls['src']?.value === siteResourceId" class="pill">{{ Resources.production | translate }}</div>
                    <div *ngIf="checkingSrc" class="spinner"></div>
                </div>
                <drop-down
                    [control]="swapForm ? swapForm.controls['src'] : null"
                    [options]="srcDropDownOptions || []"
                    [setDefault]="false">
                </drop-down>
                <div *ngIf="srcNoSwapAccess">
                    No swap access on the selected slot.
                </div>
            </div>
        </div>

        <div class="slot-drop-down-container dest">
            <div class="slot-drop-down">
                <div class="drop-down-label">
                    <div class="bullet dest"></div>
                    {{ Resources.target | translate }}
                    <div *ngIf="swapForm?.controls['dest']?.value === siteResourceId" class="pill">{{ Resources.production | translate }}</div>
                    <div *ngIf="checkingDest" class="spinner"></div>
                </div>
                <drop-down
                    [control]="swapForm ? swapForm.controls['dest'] : null"
                    [options]="destDropDownOptions || []"
                    [setDefault]="false">
                </drop-down>
                <div *ngIf="destNoSwapAccess">
                    No swap access on the selected slot.
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="slotsNotUnique">
        Slots must be different
    </div>

    <div>
        <label>
            <input [formControl]="swapForm ? swapForm.controls['multiPhase'] : null" type="checkbox">
            {{ Resources.swapWithPreviewLabel | translate }}
        </label>
        <div *ngIf="siteAuthConflicts">
            Cannnot perform multiphase swap because the following slots have authentication enabled:
            <div *ngFor="let slot of siteAuthConflicts">
                {{ slot }}
            </div>
        </div>
    </div>

    <div
        *ngIf="swapForm?.controls['multiPhase']?.value"
        class="phase-container">

        <div class="phase-markers">
            <div
                class="left-marker"
                [class.phase-current]="phase==='phaseOne'"
                [class.phase-complete]="phase==='phaseTwo' || phase==='complete'">
                1
            </div>
            <div
                class="phase-connector"
                [class.contract-left]="phase==='phaseOne'"
                [class.contract-right]="phase==='phaseTwo'">    
            </div>
            <div
                class="right-marker"
                [class.phase-current]="phase==='phaseTwo'"
                [class.phase-complete]="phase==='complete'">
                2
            </div>
        </div>

        <div class="phase-labels">
            <div class="left-label">
                {{ Resources.swapPhaseOneLabel | translate }}
            </div>
            <div class="right-label">
                {{ Resources.swapPhaseTwoLabel | translate }}
            </div>
        </div>

        <info-box
            *ngIf="phase==='phaseTwo' && !swapping"
            typeClass="info"
            [infoText]="'Before you complete the swap, review the first slot’s app behavior with the second slot’s configuration.' | translate"
            [infoLink]="previewLink">
        </info-box>
    </div>

    <div *ngIf="phase!=='complete' && !swapping && (loadingDiffs || slotsDiffs)">
        <h1>Preview changes</h1>
        <div class="preview-changes-container">
            <div class="preview-toggle-container">
                <div
                    class="preview-toggle-button src"
                    [class.selected]="diffsPreviewSlot==='source'"
                    [attr.role]="diffsPreviewSlot==='target' ? 'button' : null"
                    [tabindex]="diffsPreviewSlot==='target' ? 0 : -1"
                    (click)="diffsPreviewSlot='source'"
                    [activate-with-keys]>

                    <div class="bullet src"></div>
                    Source Changes

                </div>
                <div
                    class="preview-toggle-button dest"
                    [class.selected]="diffsPreviewSlot==='target'"
                    [attr.role]="diffsPreviewSlot==='source' ? 'button' : null"
                    [tabindex]="diffsPreviewSlot==='source' ? 0 : -1"
                    (click)="diffsPreviewSlot='target'"
                    [activate-with-keys]>

                    <div class="bullet dest"></div>
                    Target Changes

                </div>
            </div>
            <tbl tblClass="tbl fixed stretch">
                <tr class="header-row">
                    <th class="one-quarter-col padded-col">{{ Resources.slotsDiff_settingHeader | translate }}</th>
                    <th class="one-quarter-col padded-col">{{ Resources.slotsDiff_typeHeader | translate }}</th>
                    <th class="one-quarter-col padded-col">{{ Resources.slotsDiff_oldValueHeader | translate }}</th>
                    <th class="one-quarter-col padded-col">{{ Resources.slotsDiff_newValueHeader | translate }}</th>
                </tr>

                <tr *ngIf="loadingDiffs">
                    <td colspan="4" class="spinner-row">
                        <div class="spinner"></div>
                    </td>
                </tr>

                <tr *ngFor="let diff of (loadingDiffs ? [] : slotsDiffs)">
                    <td class="one-quarter-col padded-col">{{ diff.settingName }}</td>
                    <td class="one-quarter-col padded-col">{{ diff.settingType}}</td>
                    <td class="one-quarter-col padded-col">{{ diffsPreviewSlot==='source' ? diff.valueInCurrentSlot : diff.valueInTargetSlot }}</td>
                    <td class="one-quarter-col padded-col">{{ diffsPreviewSlot==='source' ? diff.valueInTargetSlot : diff.valueInCurrentSlot }}</td>
                </tr>
            </tbl>
        </div>
    </div>

    <div *ngIf="swapping" class="submit-spinner">
        <div class="spinner large"></div>
        <div>Swap Or Cancel In Progress</div>
    </div>

    <div *ngIf="phase==='complete'">
        <div></div>
        {{ successMessage }}
    </div>

    <div *ngIf="phase!=='complete' && !swapping" class="buttons-container">
        <button
            class="custom-button"
            (click)="swap()"
            [disabled]="!isValid">
            {{ (phase==='phaseTwo' ? Resources.completeSwap : Resources.swap) | translate }}
        </button>

        <button *ngIf="phase==='phaseTwo'"
            class="custom-button"
            (click)="cancelMultiPhaseSwap()">
            {{ Resources.cancelSwap | translate }}
        </button>
    </div>

</div>