<section id="list-example" class="example">
    <h2>Colors</h2>
    Here's some general rules to help you deal with colors properly:

    <h4>
        <ol>
            <li>
                <span class="bold">DON'T HARD-CODE COLORS!</span> - You should always reference colors defined in the _variables.scss. If you
                need a different shade of a color, you can use mixins like "lighten()" or "darken()" instead of defining
                a new one.
            </li>
            <li>
                <span class="bold">Try to avoid defining a new color rule, but if you must, make sure you redefine it for every theme</span>
                - More colors means more work!
            </li>
            <li>
                <span class="bold">Prefer to make color styles at a global level that can be reused</span> - Defining general purpose styles
                that can be reused globally makes it easier to add themeing later because you only need to make the change
                in one place. For example, instead of writing a component-level class called ".my-component-link" to handle
                link color and hover behavior, you can just reference a globally defined "link" class in your HTML, or better
                yet, switch to an anchor tag which already handles theme rules in a single place.
            </li>
        </ol>
    </h4>

    <article>
        <h3>Theming for Global Styles</h3>
        Add this to your global-level style to handle different themes:

        <pre class="language-scss">
                <code [innerHTML]="globalCss" ></code>
            </pre>
    </article>


    <article>
        <h3>Theming for Component Styles</h3>
        Add this to your component-level styles to handle different themes. Since components are protected by view encapsulation,
        you need to use a ":host-context" selector to select external elements with CSS

        <pre class="language-scss">
                <code [innerHTML]="globalCss" ></code>
            </pre>
    </article>
</section>