<div *ngIf="form" [formGroup] = "form">
    <label>{{ 'containerContinuousDeployment' | translate }}</label><br/>
    <radio-selector
        [options] = "containerSettingsManager.continuousDeploymentOptions"
        [highlightDirty] = "true"
        [control] = "form.controls.continuousDeploymentOption">
    </radio-selector>

    <div>
        <label>{{ 'containerWebhookUrl' | translate }}</label>
        <a *ngIf="!urlVisible" (click)="toggleUrl()">{{ 'showUrl' | translate }}</a>
        <a *ngIf="urlVisible" (click)="toggleUrl()">{{ 'hideUrl' | translate }}</a>
        <copy-pre [content]="urlVisible ?  containerSettingsManager.webhookUrl : '****'"></copy-pre>
    </div>
</div>