<div *ngIf="!dismissed"
    class="info-box"
    [ngClass]="typeClass"
    [class.clickable]="!!infoLink || !!infoActionFn"
    (click)="onClick($event)"
    [attr.tabindex]="(!!infoLink || !!infoActionFn) ? 0 : null"
    (keydown)="onKeyPress($event)">

    <div class="info-icon-container">
        <div [load-image]="iconPath" class="info-icon"></div>
    </div>
    <div class="info-text-container" [class.banner]="isBanner">
        <div>{{ infoText }}</div>
    </div>
    <div *ngIf="!!infoLink || !!infoActionFn" class="info-link-container">
        <span
            [ngClass]="actionIconClass"
            [class.banner]="isBanner"
            [load-image]="infoActionIcon || (isBanner ? 'image/arrow-right.svg' : 'image/learn-more.svg')">
        </span>
    </div>

    <div *ngIf="dismissable" class="info-dismiss-container">
        <a (click)="onDismiss()">{{ 'dismiss' | translate }}</a>
    </div>

</div>