@import '../../../sass/common/variables';

.info-box {
  margin-bottom: 10px;

  background-color: $info-box-color;

  &.clickable:hover {
    background-color: $info-box-color-hover;
  }

  .info-icon-container {
    display: table-cell;
    vertical-align: middle;

    .info-icon {
      height: 30px;
      width: 30px;
      padding: 5px;
    }
  }

  .info-text-container {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
    color: $body-bg-color-dark;

    &.banner {
      width: initial;
    }
  }

  .info-link-container {
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 5px;

    &.banner {
      vertical-align: middle;
    }
  }

  .info-dismiss-container {
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
  }
}

.info-box-action-icon {
  height: 12px;
  width: 12px;
}

/* INFO */
.info-box.info /deep/ .msportalfx-svg-c15,
.info-box.info /deep/ .msportalfx-svg-c16 {
  fill: $primary-color;
}

/* WARNING */
.info-box.warning {
  background-color: $warning-box-color;

  &.clickable:hover {
    background-color: $warning-box-color-hover;
  }
}

.info-box.warning /deep/ .msportalfx-svg-c10 {
  fill: $warning-color;
}

/* ERROR */
.info-box.error {
  background-color: $error-box-color;

  &.clickable:hover {
    background-color: $error-box-color-hover;
  }
}

.info-box.error /deep/ .msportalfx-svg-c22 {
  fill: $error-color;
}

/* SUCCESS */
.info-box.success /deep/ .msportalfx-svg-c14 {
  fill: $success-color;
}

/* SPINNER */
.info-box.spinner /deep/ .msportalfx-svg-c03 {
  fill: $grey-color;
}

.info-box.spinner /deep/ .msportalfx-svg-c16 {
  fill: $primary-color;
}

.info-box.spinner /deep/ .msportalfx-svg-rotate360 {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* UPSELL */
.info-box.upsell {
  background-color: $upsell-box-color;

  &.clickable:hover {
    background-color: $upsell-box-color-hover;
  }
}

.upsell-arrow-color {
  fill: $upsell-color;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
