<div *ngIf="!dismissed"
    class="info-box"
    [ngClass]="typeClass"
    [class.clickable]="!!infoLink || !!infoActionFn"
    (click)="onClick($event)"
    [tabIndex]="(!!infoLink || !!infoActionFn) ? 0 : -1"
    (keydown)="onKeyPress($event)">

    <div class="info-icon-container">
        <div [load-image]="iconPath" class="info-icon"></div>
    </div>
    <div class="info-text-container">
        <div>{{ infoText }}</div>
    </div>
    <div *ngIf="!!infoLink || !!infoActionFn" class="info-link-container">
        <span
            [class]="typeIconClass"
            [load-image]="infoActionIcon || 'image/arrow-right.svg'">
        </span>
    </div>

    <div *ngIf="dismissable" class="info-dismiss-container">
        <a (click)="onDismiss()">{{ 'dismiss' | translate }}</a>
    </div>

</div>