<command-bar>
  <command [displayText]="'refresh' | translate"
      (click)="refresh()"
      iconUrl="image/reset.svg"></command>

  <command *ngIf="allowSwitchToClassic" [displayText]="'configureAppInsightsSwitchToClassic' | translate"
      (click)="switchToClassicView()"
      iconUrl="image/swap.svg"></command>

  <command *ngIf="isLinuxApp" [displayText]="'configureAppInsightsInstructions' | translate"
      (click)="navigateToConfigureInstructions()"
      iconUrl="image/open-external.svg"></command>
</command-bar>

<app-card-info-control
  image="image/appInsights.svg"
  header="{{ 'configureAppInsightsTitle' | translate }}"
  description="{{ 'configureAppInsightsDesc' | translate }}"
  learnMoreLink="https://go.microsoft.com/fwlink/?linkid=873203">
</app-card-info-control>

<div>
  <button *ngIf="!isLinuxApp"
    (click)="configure()"
    [disabled]="!enableConfigureButton"
    class="custom-button">{{ 'configureAppInsightsButton' | translate }}</button>
</div>
