@import '../../../sass/common/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    width: 100%;
    height: 40px;
    text-align: left;
    background: $body-bg-color;
    color: $default-text-color;
    font-size: 18px;
    line-height: 40px;
    border-bottom: $border;

    .header-icon-container {
      height: 39px;
      width: 40px;
      display: inline-block;
      float: left;
      padding-top: 3px;
      text-align: center;

      .header-icon {
        display: inline-block;
        height: 18px;
        width: 18px;
      }

      .header-icon /deep/ .svg-monochromatic {
        fill: $default-text-color;
      }
    }

    .header-close-button {
      display: inline-block;
      float: right;
      height: 30px;
      width: 30px;
      padding: 9px;
      line-height: 12px;
      transition: background-color 0.2s ease-out;
      outline-offset: -1px;

      &:hover {
        background-color: $sidebar-close-hover-color;

        .header-close-button-icon /deep/ .svg-monochromatic {
          fill: $default-text-color-dark;
        }
      }

      .header-close-button-icon {
        display: inline-block;
        height: 12px;
        width: 12px;
      }

      .header-close-button-icon /deep/ .svg-monochromatic {
        fill: $default-text-color;
      }
    }
  }

  .body {
    display: block;
    flex: 1 1 auto;
    overflow: auto;
    padding: 0px 15px 15px 15px;
    width: 100%;
    height: 100%;
    background: $body-bg-color;
    border-top: $border;

    .body-liner {
      display: block;
      position: relative;
      overflow: visible;
    }
  }

  .footer {
    .progress-container {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    display: block;
    position: relative;
    flex: 0 0 auto;
    min-height: 42px;
    padding: 0px 15px 0px 15px;
    width: 100%;
    background: $body-bg-color;
    border-top: $border;
  }
}

.pill {
  display: inline-block;
  margin-left: 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 7px;
  background: $pill-background-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: $body-bg-color;
}

.padded-col {
  padding-left: 10px;
  padding-right: 2px;
}

.one-quarter-col {
  width: 25%;
}

td.message-row {
  text-align: center;
}

.controls-container {
  width: 100%;
  margin-top: 10px;

  .centered {
    text-align: center;
  }
}

.controls-container::after {
  content: '';
  display: block;
  clear: both;
}

.control-container {
  width: 100%;
}

.control-label {
  padding-left: 5px;
  margin-bottom: 2px;
}

.buttons-container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;

  .custom-button {
    float: left;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 5px 15px 5px 15px;
  }
}

:host-context(#app-root[theme='dark']) {
  .wrapper {
    .header {
      background: $body-bg-color-dark;
      color: $default-text-color-dark;

      .header-icon-container /deep/ .svg-monochromatic {
        fill: $default-text-color-dark;
      }

      .header-close-button {
        .header-close-button-icon /deep/ .svg-monochromatic {
          fill: $default-text-color-dark;
        }
      }
    }

    .body {
      background: $body-bg-color-dark;
    }

    .footer {
      background: $body-bg-color-dark;
    }
  }

  .pill {
    background: $pill-background-color-dark;
    color: $body-bg-color-dark;
  }
}
