@import '../../../sass/main';

form {
    padding:10px 0px 0px 0px;
}

form > div {
    padding-bottom: 10px;
}

.long {
    width: 720px !important;
}

.edit {
    width: 740px;
}

.newproxy-container{
    padding: 20px;
    background-color: $body-bg-color;
}

.header {
    display: flex;
    div:nth-child(1) {
        flex-grow:1;
        align-items:center;
    }
    div:nth-child(2) {
        flex-grow:0;
    }
}