@import 'common/variables', 'common/mixins';

@import 'base/base',
        'base/typography',
        'base/images';

@import 'controls/buttons',
        'controls/list',
        'controls/monaco',
        'controls/radio',
        'controls/input',
        'controls/tabs',
        'controls/tbl',
        'controls/dialogs',
        'controls/command-bar',
        'controls/popover',
        'controls/modal',
        'controls/_ng-selector',
        'controls/bootstrap';

@import 'pages/binding-designer',
        'pages/deployment-source',
        'pages/browse',
        'pages/sidebar';

// common
// vendors
// base
// controls
// layout
// pages
// themes
