<div *ngIf="readOnly">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readOnly' | translate }} <span *ngIf="context" class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>
</div>

<div *ngIf="readOnlySourceControlled">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readOnlySourceControlled' | translate }} <span *ngIf="context" class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>
</div>

<div *ngIf="readWriteSourceControlled">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readWriteSourceControlled' | translate }} <span *ngIf="context" class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>
</div>

<div *ngIf="readOnlySlots">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readOnlySlots' | translate }} <span *ngIf="context" class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>
</div>

<div *ngIf="readOnlyVSGenerated">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readOnlyGeneratedBy' | translate }} <a *ngIf="context" class="link" href="https://go.microsoft.com/fwlink/?linkid=856288" target="_blank">{{ 'topBar_learnMore' | translate }}</a>.
  </div>
</div>

<div *ngIf="readWriteVSGenerated">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readWriteGeneratedBy' | translate }} <span *ngIf="context" class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>
</div>

<div *ngIf="readOnlyRunFromZip">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{ 'readOnlyRunFromZip' | translate }}
  </div>
</div>

<div *ngIf="readOnlyLocalCache">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert"
    [innerHtml]="('readOnlyLocalCache' | translate)">
  </div>
</div>

<div *ngIf="readOnlyLinuxDynamic">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert"
    [innerHtml]="('readOnlyLinuxDynamic' | translate)">
  </div>
</div>

<div *ngIf="readOnlyBYOC">
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert"
    [innerHtml]="('readOnlyBYOC' | translate)">
  </div>
</div>