<ng-sidebar-container style="height: 100vh; width: 100vw">

  <!-- A sidebar -->
  <ng-sidebar #sidebar [(opened)]="opened" mode="over" position="right" [closeOnClickOutside]="backdropEnabled" [trapFocus]="false"
    [autoFocus]="true" sidebarClass="sidebar" ariaLabel="Accessibility FTW" [animate]="true" [showBackdrop]="backdropEnabled">
    <h4>Styling can be altered in the _sidebar.scss file in the global styling section. All Sidebar styling must be done here. Example</h4>
    
    <figure>
      <pre class="language-scss">
        <code [innerHTML]="scssCode" ></code>
      </pre>
    </figure>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <h4>Full usage guide found at: <a target="_blank" href="https://github.com/arkon/ng-sidebar">https://github.com/arkon/ng-sidebar</a></h4>
    <section class="example">
      <button class="custom-button" (click)="toggleSidebar()">Toggle sidebar</button>
      <button class="custom-button" (click)="toggleBackdrop()">Toggle backdrop: {{backdropEnabled}}</button>
      <figure>
        <pre class="language-html">
            <code [innerHTML]="htmlCode" ></code>
        </pre>
        <pre class="language-typescript">
            <code [innerHTML]="typescriptCode" ></code>
        </pre>
      </figure>
    </section>
  </div>

</ng-sidebar-container>