- const aiIinstrumentationKey = process.env.aiInstrumentationKey;
- const stage = process.env['FUNCTIONS_SLOT_NAME'] === 'staging';


if config.clientOptimzationsOff 
    script(src='inline.bundle.js')
    script(src='polyfills.bundle.js')
    script(src='scripts.bundle.js')
    script(src='vendor.bundle.js')
    script(src='main.bundle.js')
    script(src='styles.bundle.js')
else
    script(src='{{inline}}')
    script(src='{{polyfills}}')
    script(src='{{scripts}}')
    script(src='{{main}}')
    
script(src='assets/monaco/min/vs/loader.js')
        
if aiIinstrumentationKey
    script(src='https://az416426.vo.msecnd.net/scripts/a/ai.0.js')
    script(type='text/javascript').
        var appInsights = window.appInsights || function (config) { function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; s.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(s); try { t.cookie = u.cookie } catch (h) { } for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t }({ instrumentationKey: "#{aiIinstrumentationKey}" }); window.appInsights = appInsights; appInsights.trackPageView() ;

    