- const cdn = "https://functions.azureedge.net";
- const production = process.env['FUNCTIONS_SLOT_NAME'] === 'production';

head
    if clientOptimzationsOff || !production
        base(href="/ng-full/")
    else
        base(href="/ng-min/")
        link(href=cdn + "/ng-min/{{styles}}" rel="stylesheet")
            