- const stage = process.env['FUNCTIONS_SLOT_NAME'] === 'staging';

if config.clientOptimzationsOff
    base(href="/ng-full/")
else
    base(href="/ng-min/")
    link(href="{{styles}}" rel="stylesheet")
