# See http://help.github.com/ignore-files/ for more about ignoring files.

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
dist/
[Bb]in/
[Oo]bj/
AzureFunctions/ng
AzureFunctions/ng-full
AzureFunctions/ng-min
server/src/actions/resources
server/src/data
server/data
server/src/public
server/templates
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log

# compiled output
/dist
/tmp
/out-tsc
/StandalonePackage

# dependencies
node_modules/
/bower_components

# IDEs and editors
.vs/*
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
**/TESTS.xml
**/video
**/videos
**/coverage
# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed

#!**/packages/repositories.config

#App data
AzureFunctions/app_data
/AzureFunctions/schemas
