<event-hub *ngIf="pickerName === 'EventHub'"
           [viewInfo]="viewInfo"
           (close)="closePicker($event)"
           (selectItem)="finishDialogPicker($event)">
</event-hub>

<service-bus *ngIf="pickerName === 'ServiceBus'"
             [viewInfo]="viewInfo"
             (close)="closePicker($event)"
             (selectItem)="finishDialogPicker($event)">
</service-bus>

<app-setting *ngIf="pickerName === 'AppSetting' && input.id !== 'PrincipalId'"
             [viewInfo]="viewInfo"
             (close)="closePicker($event)"
             (selectItem)="finishDialogPicker($event)">
</app-setting>

<storage *ngIf="pickerName === 'Storage'"
  [viewInfo]="viewInfo"
  (close)="closePicker($event)"
  (selectItem)="finishDialogPicker($event)">
</storage>

<sql *ngIf="pickerName === 'Sql'"
  [viewInfo]="viewInfo"
  (close)="closePicker($event)"
  (selectItem)="finishDialogPicker($event)">
</sql>
<tooltip-content #freeAccountTooltip>
  <p>
    {{ 'tryNow_FreeAccountToolTip' | translate }}
  </p>
</tooltip-content>

<div>
  <div class="input-header">
    <label [attr.for]="input?.id" class="control-label">
      {{input?.label}}
        <span class="glyphicon glyphicon-info-sign"
              (click)="input.showHelp = !input.showHelp"
              tabindex="0"
              (keydown)="onInfoKeyPress($event, input)">
        </span>
    </label>
    <ng-container *ngIf="input?.type === 'picker'">
      <i *ngIf="!input.inProcess && !showTryView"
         class="link"
         [class.select]="input.errorText"
         (click)="openPicker(input)"
         tabindex="0"
         (keydown)="onNewKeyPress($event, input)">
         {{ 'bindingInput_new' | translate }}
      </i>
      <i *ngIf="!input.inProcess && showTryView"
         class="link-position"
         disabled [class.select]="input.errorText"
         [tooltip]="freeAccountTooltip"
         tooltipPlacement="bottom">
         {{ 'bindingInput_new' | translate }}
      </i>
      <i
         (click)="updateAppSettingValue()"
         class="link"
         style="font-style: normal"
         tabindex="0"
         (keydown)="onShowValueKeyPress($event)">
         <ng-container *ngIf="showAppSettingValue">{{'bindingInput_hide' | translate}}</ng-container>
         <ng-container *ngIf="!showAppSettingValue">{{'bindingInput_show' | translate}}</ng-container>
      </i>
    </ng-container>
  </div>
  <div *ngIf="showAppSettingValue" class="input-show-help">
    <span *ngIf="appSettingValue" class="text-label" style="word-wrap: break-word;">{{appSettingValue}}</span>
    <i *ngIf="!appSettingValue" class="fa fa-refresh fa-spin fa-fw margin-bottom"></i>
  </div>
  <div *ngIf="input.showHelp"
       class="input-show-help"
       tabindex="0"
       (keydown)="onInfoKeyPress($event, input)">
    {{input?.help}}
  </div>
  <div *ngIf="input?.type === 'string' || input?.type === 'int'"
       [ngClass]="input?.class">
    <input [fnWriteAccess]="context"
           style="width: 100%"
           *ngIf="input.type === 'string'" id="{{input.id}}"
           (ngModelChange)="inputChanged($event)"
           [(ngModel)]="input.value"
           type="text"
           placeholder="{{input.placeholder}}"
           [ngClass]="{'input-error':!!input.errorText}"
           [disabled]="input.isDisabled || !!functionReturnValue">

    <input [fnWriteAccess]="context"
           style="width: 100%"
           *ngIf="input.type === 'int'" id="{{input.id}}"
           (ngModelChange)="inputChanged($event)"
           [(ngModel)]="input.value"
           type="text"
           placeholder="{{input.placeholder}}"
           [ngClass]="{'input-error':!!input.errorText}"
           onkeypress='return event.charCode >= 48 && event.charCode <= 57'>

    <ng-container *ngIf="!!input.errorText && !input.isValid && !input.okEmpty">
      <span class="fa fa-exclamation input-error-adjust"></span>
      <div class="input-show-error" tabindex="0" [innerHTML]="input.errorText"></div>
    </ng-container>

    <ng-container *ngIf="!!input.errorText && input.isValid">
      <span class="fa fa-exclamation input-warning-adjust"></span>
      <div class="input-show-warning" tabindex="0" [innerHTML]="input.errorText"></div>
    </ng-container>

    <div *ngIf="description && !input.errorText">
      {{description}}
    </div>
    <div *ngIf="binding.direction.toString() === 'out' && input.id === 'name'">
      <input [fnWriteAccess]="context"
             style="width: 100%"
             id="{{input.id}}"
             (ngModelChange)="functionReturnValueChanged($event)"
             [(ngModel)]="functionReturnValue"
             type="checkbox"
             style="margin-left:0px;">
      <label [attr.for]="input.id" class="control-label">
        {{'binding_useFunctionReturnValue' | translate }}
      </label>
    </div>
  </div>

  <div *ngIf="input?.type === 'picker'" [ngClass]="input?.class">
    <drop-down [options]="pickerInputs"
               (value)="onDropDownInputChanged($event)"
               [disabled]="input.isDisabled"
               attr.aria-label="{{input.label}}"></drop-down>

    <ng-container *ngIf="!!input.errorText && !input.isValid && !input.okEmpty">
      <span class="fa fa-exclamation input-error-adjust"></span>
      <div class="input-show-error" tabindex="0" [innerHTML]="input.errorText"></div>
    </ng-container>

    <ng-container *ngIf="!!input.errorText && input.isValid">
      <span class="fa fa-exclamation input-warning-adjust"></span>
      <div class="input-show-warning" tabindex="0" [innerHTML]="input.errorText"></div>
    </ng-container>
  </div>

  <div *ngIf="input?.type === 'boolean'" class="checkbox">
    <input id="{{input.id}}" (ngModelChange)="inputChanged($event)" [(ngModel)]="input.value" type="checkbox" style="margin-left:0px" [fnWriteAccess]="context">
    <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
  </div>

  <div *ngIf="input?.type === 'label'">
    <input [fnWriteAccess]="context" id="{{input.id}}" [(ngModel)]="input.value" type="text" placeholder="{{input.text}}" disabled>
    <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
  </div>

  <div *ngIf="input?.type === 'enum'" id="enum-list">
    <drop-down [options]="enumInputs" (value)="onDropDownInputChanged($event)" [fnWriteAccess]="context" attr.aria-label="{{input.label}}"></drop-down>
    <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
  </div>

  <div *ngIf="input?.type === 'checkBoxList'" class="methods-list">
    <div *ngFor="let item of input.enum">
      <input [(ngModel)]="input.value[item.value]" (ngModelChange)="inputChanged($event)" type="checkbox" [fnWriteAccess]="context"> {{ item.display }}
    </div>
  </div>

  <div *ngIf="input?.type === 'eventGrid'">
    <binding-event-grid [input]="input"></binding-event-grid>
  </div>

</div>