<command-bar>
  <command displayText="{{ 'refresh' | translate }}" iconUrl="images/swap.svg" (click)="refresh()"></command>
  <command displayText="{{ 'disconnect' | translate }}" iconUrl="images/error.svg" (click)="disconnect()"></command>
  <command displayText="{{ 'edit' | translate }}" iconUrl="images/Functions.svg" (click)="edit()"></command>
  <command displayText="{{ 'sync' | translate }}" iconUrl="images/Functions.svg" (click)="SyncScm()"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col">
    <div>
      <label id="siteStatusLabel">Source</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        Bitbucket
      </div>
    </div>
  </div>
</div>