<section class="example">
    <h2>Radio Selector</h2>
    <div class="header">
        <label>Example of using a radio selector as a form control with dirty state</label>
        <radio-selector [control]="control" [options]="options" [highlightDirty]="true"></radio-selector>
    </div>
    <figure>
        <label>HTML</label>
        <pre>

    &lt;radio-selector [control]=&quot;control&quot; [options]=&quot;options&quot; [highlightDirty]=&quot;true&quot;&gt;&lt;/radio-selector&gt;
        </pre>

        <label>TypeScript</label>
        <pre>

    export class RadioSelectorExampleComponent {{ '{' }}
        control: FormControl;
        options: SelectOption<'off' | 'on'>[] = [{{ '{' }}
            displayLabel: 'Off',
            value: 'off'
        {{ '}' }},
        {{ '{' }}
            displayLabel: 'On',
            value: 'on'
        {{ '}' }}];
    
        constructor(fb: FormBuilder) {{ '{' }}
            this.control = fb.control('off', null);
        {{ '}' }}
    {{ '}' }}
        </pre>
    </figure>
</section>