<div
    #radioGroup
    *ngIf="options"
    role="radiogroup"
    [attr.aria-label]="ariaLabel"
    [class.dirty]="highlightDirty && control?.dirty"
    [attr.aria-disabled]="control ? control.disabled : disabled"
    [tabIndex]="(control && control.disabled) || disabled ? -1 : 0"
    [attr.aria-activedescendant]="activeDescendantId"
    [class.selected]="activeDescendantId === null"
    [ngClass]="!!size ? size : 'medium'"
    (keydown)="onKeyDown($event)">

    <div *ngFor="let option of options"
        role="radio"
        [id]="id + '-' + option.id"
        [attr.aria-disabled]="option.disabled"
        [attr.aria-checked]="option.value === selectedValue"
        (click)="select(option)">
        {{option.displayLabel}}
    </div>

</div>