<div class="full-view" (window:resize)="onResize()" #container>
    <div class="top-row">
        <h2>function.json</h2>
        <h2 *ngIf="isDirty" class="dev-block-header">
            <button [fnWriteAccess]="context" (click)="saveConfig()" class="custom-button">{{ 'save' | translate }}</button>
            <button (click)="cancelConfig()" class="custom-button-invert">{{ 'cancel' | translate }}</button>
        </h2>
        <div class="toggle">
            <div class="clickable pull-right" id="toggle-editor" (click)="onEditorChange('standard')"><i class="fa fa-edit"></i> {{ 'functionIntegrate_standardEditor' | translate }}</div>
        </div>
    </div>
    <div class="full-view" #editorContainer>
        <div id="function" monacoEditor class="monaco monaco-min-size full-view"
                (onSave)="saveConfig()"
                (onContentChanged)="contentChanged($event)"
                [content]="configContent"
                fileName="function.json"
                [disabled]="disabled | async">
        </div>
    </div>
</div>
