@import '../../sass/common/variables';
@import '../../sass/base/typography';
@import '../../sass/controls/_monaco.scss';

h2{
    display: inline;

    &.dev-block-header{
        line-height: 15px;
    }
}

div.dev-block-header{
    float: right;
    display: flex; 
    flex-direction: row;
}

.dev-block-header > span{
    margin-left: 10px;
}

.dev-block-header > span span{
    color: #536E7A;
}

.dev-block-header > span > span i{
    margin-right: 5px;
}

#toggle-editor {
    top: 0;
    right: 0;
    padding: 7px;
    color: $primary-color;
}

.full-view {
    height:100%;
    width:100%;
}

.top-row {
    display:flex;
    flex-direction: row;
    align-items:center;
    padding-bottom: 7px;
}

.toggle {
    flex-grow:1;
}
