<div class="wrapper">
    <div class="tryinfo-box">
        <div class="azure-logo-wrapper">
            <img src="images/azure-logo.svg">
        </div>
        <div>{{ 'tryNow_trialTimeRemaining' | translate }} <span id="timer-text">{{timerText}}</span></div>
        <div class="free-trial-wrapper">
            <a [tooltip]="freeAccountTooltip" [attr.href]="freeTrialUri" (click)="trackLinkClick('freeTrialTopClick')" target="_blank" class="signup-button ">
                {{ 'tryNow_createFreeAzureAccount' | translate }}
                <tooltip-content #freeAccountTooltip>
                    <p>
                        {{ 'tryNow_FreeAccountToolTip' | translate }}
                    </p>
                </tooltip-content>
            </a>
        </div>
        <span class="discover-more-wrapper">
            <a [attr.href]="discoverMoreUri" (click)="trackLinkClick('discoverMoreClick')" target="_blank" class="discover-more-button">
                {{ 'tryNow_discoverMore' | translate }}
            </a>
        </span>
    </div>
</div>