@import '../../../sass/common/variables';

drop-down{
    display: inline-block;
}

.tp-plantemplates{
    border: 2px solid #D4D2D2;
    margin-top: 5px;
    max-height: 375px;
    overflow-y: scroll;
}


.tp-plantemplate-selected{
    border: 2px solid $primary-color !important;
}

.tp-plantemplate-selected:hover{
    border: 2px solid $primary-color;
}

.tp-plantemplate-plan{
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 5px;
    border: 2px solid #C2C5C9;
    vertical-align: top;
}

.tp-plantemplate-plan:hover{
    border: 2px solid $primary-color;
    cursor: default;
}

.tp-plantemplate-plan-title{
    padding: 10px 5px 10px 5px;
    padding-bottom: 10px;
    background-color: #E6E7E8;
    text-align: center;
}

/*http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/
.tp-plantemplate-plan-description{
    margin: 5px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

:host-context(#app-root[theme=dark]){
    .tp-plantemplate-plan-title{
        background-color: lighten($body-bg-color-dark, 10%);
    }
}
