<div class="container-setting-property">
    <label>{{ 'quickstartSelectSample' | translate }}</label>
    <ng-select
        id="container-quickstart"
        class="custom-select container-samples-select"
        bindLabel="displayLabel"
        bindValue="value"
        placeholder="Select sample"
        [loading]="samplesLoading"
        [items]="samplesList"
        [clearable]="false"
        [(ngModel)]="selectedSampleValue"
        (change)="sampleChanged($event)">
    </ng-select>
</div>

<div *ngIf="imageSourceForm" [formGroup] = "imageSourceForm">
    <div *ngIf="selectedSampleDescription" class="container-setting-property">
        <label>{{ 'quickStartSampleDescription' | translate }}</label>
        <p>{{selectedSampleDescription}}</p>
    </div>

    <div *ngIf="containerImageSourceInfo.container.id === 'single'" class="container-setting-property">
        <label>{{ 'containerImageAndTag' | translate }}</label><br/>
        <textarea formControlName="config" class="singleContainerConfig" disabled></textarea>
    </div>

    <div *ngIf="containerImageSourceInfo.container.id === 'dockerCompose'" class="container-setting-property">
        <label>{{ 'containerConfiguration' | translate }}</label><br/>
        <textarea formControlName="config" class="dockerComposeConfig"  disabled></textarea>
    </div>

    <div *ngIf="containerImageSourceInfo.container.id === 'kubernetes'" class="container-setting-property">
        <label>{{ 'containerConfiguration' | translate }}</label><br/>
        <textarea formControlName="config" class="kubernetesConfig"  disabled></textarea>
    </div>
</div>