<div class="settings-group-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
  <h3 class="first-config-heading">{{ 'code' | translate }}</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label" aria-hidden="true"></div>
      <div class="setting-control-container">
        <info-box [infoText]="'githubOrgMessage' | translate" [infoLink]="permissionInfoLink"></info-box>
      </div>
    </div>

    <div class="setting-wrapper">
      <label class="setting-label" id="dc-github-org-label">{{ 'organization' | translate }}</label>
      <div class="setting-control-container">
        <ng-select
          id="configure-github-org-select"
          class="custom-select"
          aria-labelledby="dc-github-org-label"
          [items]="OrgList"
          bindLabel="displayLabel"
          bindValue="value"
          [clearable]="false"
          [(ngModel)]="selectedOrg"
          [ngModelOptions]="{ standalone: true }"
          (change)="OrgChanged($event)"
        >
        </ng-select>
      </div>
    </div>

    <div class="setting-wrapper">
      <label class="setting-label" id="dc-github-repo-label">{{ 'repository' | translate }}</label>
      <div class="setting-control-container">
        <ng-select
          id="configure-github-repo-select"
          class="custom-select"
          aria-describedby="dc-github-repo-error"
          aria-labelledby="dc-github-repo-label"
          [items]="RepoList"
          bindLabel="displayLabel"
          bindValue="value"
          [clearable]="false"
          [loading]="reposLoading"
          formControlName="repoUrl"
          [(ngModel)]="selectedRepo"
          (change)="RepoChanged($event)"
        >
        </ng-select>
        <div invalidmessage="repoUrl" id="dc-github-repo-error" role="alert"></div>
      </div>
    </div>

    <div class="setting-wrapper">
      <label class="setting-label" id="dc-github-branch-label">{{ 'branch' | translate }}</label>
      <div class="setting-control-container">
        <ng-select
          id="configure-github-branch-select"
          class="custom-select"
          [items]="BranchList"
          aria-describedby="dc-github-branch-error"
          aria-labelledby="dc-github-branch-label"
          bindLabel="displayLabel"
          bindValue="value"
          [clearable]="false"
          [(ngModel)]="selectedBranch"
          [loading]="branchesLoading"
          formControlName="branch"
          (change)="BranchChanged($event)"
        >
        </ng-select>
        <div invalidmessage="branch" id="dc-github-branch-error" role="alert"></div>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label" aria-hidden="true"></div>
      <div class="setting-control-container">
        <info-box *ngIf="protectedBranchSelected" [infoText] = "'gitHubProtectedBranchSelected' | translate" [infoLink]="protectedBranchSelectedLink"></info-box>
        <info-box *ngIf="workflowFileExistsWarningMessage" typeClass="warning" [infoText]="workflowFileExistsWarningMessage"></info-box>
      </div>
    </div>

    <div *ngIf="workflowFileExistsWarningMessage" class="setting-wrapper">
      <label class="setting-label" id="dc-github-workflow-option-label">{{ 'githubActionWorkflowOption' | translate }}</label>
      <div class="setting-control-container">
        <ng-select
          id="configure-github-workflow-option-select"
          class="custom-select"
          [items]="WorkflowOptionList"
          aria-describedby="dc-github-workflow-option-error"
          aria-labelledby="dc-github-workflow-option-label"
          bindLabel="displayLabel"
          bindValue="value"
          [clearable]="false"
          [(ngModel)]="selectedWorkflowOption"
          [loading]="false"
          formControlName="githubActionWorkflowOption"
          (change)="WorkflowOptionChanged($event)"
        >
        </ng-select>
        <div invalidmessage="branch" id="dc-github-branch-error" role="alert"></div>
      </div>
  </div>
</div>

<ng-container *ngIf="!wizard.isFunctionApp && buildProvider === 'github' && showStackSelector">
  <app-stack-selector></app-stack-selector>
</ng-container>


