<div class="modal fade in" style="display: block">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="headerBox">
                    <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true" (click)="onClose()">&times;</button>
                    <label>{{'storage_add' | translate}}</label>
                    <img class="storage-picker-image" src="image/blob.svg" />
            </div>
            <div class="modal-body" style="display: flex;flex-direction:column;">
                <div>
                    <div class="input-container">
                        <label>{{'storage_accountName' | translate}}</label>
                        <div>
                            <input type="text" [(ngModel)]="accountName" />
                        </div>
                    </div>
                    <div class="input-container">
                        <label>{{'storage_accountKey' | translate}}</label>
                        <div>
                            <input type="text" [(ngModel)]="accountKey" />
                        </div>
                    </div>
                    <div class="input-container">
                        <label>{{'storage_endpoint' | translate}}</label>
                        <div style="margin-bottom: 10px;">
                                <radio-selector [options]="options" [defaultValue]="optionTypes.azure" (value)="onOptionsChange($event)"></radio-selector>
                        </div>
                        <div [class.disabled] = "option ===  optionTypes.azure">
                            <input [disabled] = "option ===  optionTypes.azure"
                                   type="text"
                                   placeholder="{{'storage_endpoint_empty_text' | translate}}"
                                   [(ngModel)]="endpoint" />
                        </div>
                    </div>
                </div>
                <div class="button-conainer">
                    <button *ngIf="!selectInProcess"
                            (click)="onSelect()"
                            [disabled]="!this.accountKey || !this.accountName || !this.endpoint"
                            class="custom-button">

                        {{ 'create' | translate }}
                    </button>
                    <i *ngIf="selectInProcess" class="fa fa-refresh fa-spin fa-fw margin-bottom button-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade in"></div>