<section class="example">
    <h2>Textbox</h2>
    <div class="header">
        <label>Example with required validation</label>
        <div class="textbox-container">
            <textbox class="textbox-container" placeholder="Enter some text and then and delete it" [control]="control"></textbox>
        </div>
    </div>
    <figure>
            <label>HTML</label>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
            <label>TypeScript</label>
            <pre class="language-typescript">
              <code [innerHTML]="typescriptCode" ></code>
          </pre>
    </figure>
</section>