<ng-sidebar-container style="height:100vh" [animate]="true">
  <div ng-sidebar-content>
    <command-bar>
      <command displayText="{{ 'refresh' | translate }}"
        (click)="refresh()"
        iconUrl="image/reset.svg"></command>

      <command displayText="{{ 'runInAppInsights' | translate }}"
        (click)="openAppInsightsQueryEditor()"
        iconUrl="image/open-external.svg"></command>
    </command-bar>

    <div id="essentials-container">
      <div class="essentials-col">
        <div>
          <label id="applicationInsightsInstanceLabel">{{ 'appInsightsInstance' | translate }}</label>
          <div tabindex="0"
                id="applicationInsightsInstanceValue"
                aria-labelledby="applicationInsightsInstanceLabel applicationInsightsInstanceValue">
                <a class="link" (click)="openInAppInsights()" tabindex="0">{{applicationInsightsInstanceName}}</a>
          </div>
        </div>
      </div>

      <div class="essentials-col">
        <div>
          <label id="successCountLabel">{{successCountHeading}}</label>
          <div tabindex="0"
                id="successCountValue"
                class="success"
                aria-labelledby="successCountLabel successCountValue">
                {{successCount}}
          </div>
        </div>
      </div>

      <div class="essentials-col">
        <div>
          <label id="errorsCountLabel">{{errorsCountHeading}}</label>
          <div tabindex="0"
                id="errorsCountValue"
                class="fail"
                aria-labelledby="errorsCountLabel errorsCountValue">
                {{errorsCount}}
          </div>
        </div>
      </div>
    </div>

    <div class="function-monitor-content">
        <tbl [items]="invocationTraces" #table="tbl">
            <tr>
              <th><tbl-th name="timestamp">{{ ('date' | translate).toUpperCase() }}</tbl-th></th>
              <th><tbl-th name="success">{{ ('success' | translate).toUpperCase() }}</tbl-th></th>
              <th><tbl-th name="resultCode">{{ ('resultCode' | translate).toUpperCase() }}</tbl-th></th>
              <th><tbl-th name="duration">{{ ('duration' | translate).toUpperCase() }}</tbl-th></th>
              <th><tbl-th name="id">{{ ('operationId' | translate).toUpperCase() }}</tbl-th></th>
            </tr>
        
            <tr *ngFor="let trace of invocationTraces">
              <td><a class="link" (click)="showTraceDetail(trace)">{{trace.timestamp}}</a></td>
              <td>{{trace.success}}</td>
              <td>{{trace.resultCode}}</td>
              <td>{{trace.duration}}</td>
              <td>{{trace.operationId}}</td>
            </tr>
        
            <tr *ngIf="invocationTraces.length === 0">
              <td *ngIf="isLoading" colspan="5">{{'functionMonitor_loading' | translate}}</td>
              <td *ngIf="!isLoading" colspan="5">{{'noResults' | translate}}</td>
            </tr>
            
          </tbl>
    </div>
  </div>

  <ng-sidebar #sidebar [(opened)]="sidePanelOpened"
    [mode]="'over'"
    [position]="'right'"
    [closeOnClickOutside]="true"
    [trapFocus]="false"
    [autoFocus]="true"
    [sidebarClass]="'sidebar-monitor-details'"
    [ariaLabel]="'Trace Details'"
    [animate]="true"
    [closeOnClickBackdrop]="false"
    [showBackdrop]="false">

    <monitor-details *ngIf="sidePanelOpened" [monitorDetailsInfoInput]="monitorDetailsInfo" (closePanel)="closeSidePanel()">
    </monitor-details>

  </ng-sidebar>
</ng-sidebar-container>






