.wrapper {
    position: relative;
}

.file, .folder {
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

.shifted {
    padding-left: 30px;
}

.file-container {
    flex-grow: 1;
    height: 100%;
    border: 1px solid #ccc;    
    overflow-y: auto;
    overflow-x: hidden;
}

.file:hover, .selected {
    background-color: #e8f4ff;
}

.heading {
    font-weight: 700;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

#lower-panel {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
}

#lower-panel > div {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.hidden {
    display: none;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #FFF;
}

.root-folder {
    padding: 10px 0px 0px 10px;
}