<section class="example">
    <h2>Lists</h2>
    <h4>
        Adding a "list-item" or "list-item selected" class will give you common hover and selection coloring.  We could probably
        make the base styles for this more complex (like add padding, borders, etc...), but we'd have to
        update a lot of code that's currently using this class first.
    </h4>
    <div class="header">
        <label>EXAMPLE</label>
        <div>
            <div class="list-item">Item 1</div>
            <div class="list-item">Item 2</div>
            <div class="list-item">Item 3</div>
            <div class="list-item selected">Item 4 selected</div>
        </div>
    </div>
    <figure>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
    </figure>
</section>