<command-bar *ngIf="!!mainForm">
  <command
    [displayText]="'save' | translate"
    iconUrl="image/save.svg"
    (click)="save()"
    [disabled]="!mainForm.valid || mainForm.pristine || !hasWritePermissions"></command>

  <command
    [displayText]="'discard' | translate"
    iconUrl="image/discard.svg"
    (click)="discard()"
    [disabled]="mainForm.pristine || !hasWritePermissions"></command>

    <command
      displayText="byos"
      iconUrl="image/discard.svg"
      (click)="byos()"></command>

</command-bar>

<div
  *ngIf="!!mainForm"
  class="site-config-wrapper">

  <div
    class="site-config-container"
    [is-dirty]="mainForm.dirty"
    [is-dirty-message]="dirtyMessage">

    <general-settings
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></general-settings>

    <app-settings
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></app-settings>

    <connection-strings
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></connection-strings>

    <default-documents
      *ngIf="defaultDocumentsSupported"
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></default-documents>

    <handler-mappings
      *ngIf="handlerMappingsSupported"
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></handler-mappings>

    <virtual-directories
      *ngIf="virtualDirectoriesSupported"
      [mainForm]="mainForm"
      [resourceId]="resourceId"
      [featureName]="featureName"></virtual-directories>

  </div>

</div>