@import '../../sass/main';

.wrapper {
    position: relative;
}

.operation {
    margin-right: 20px;
    cursor: pointer;
    color: $primary-color;
}

.operation-red {
    color: #ff1525;
}

.not-clickable:hover {
    cursor: default !important;
    background-color: initial !important;
}

td {
    word-break: break-all;
    text-align: left !important;
}

table {
    margin-bottom: 40px;
}

tr:hover {
    background-color : #D1D2D4;
    cursor: pointer;
}

.custom-button {
    margin-left: 0;
}

input {
    width: 100%;
}

.disabled {
    cursor: not-allowed !important;
    background-color: #ECEFF1 !important;
}

.selected {
    background-color : #D1D2D4;
}