<div class="wrapper">
    <busy-state></busy-state>
    <div *ngIf="functionInfo" class="title"> {{'functionKeys_title' | translate}} </div>
    <div *ngIf="!functionInfo" class="title"> {{'adminKeys_title' | translate}} </div>
    <table class="table-function">
        <thead>
            <tr class="not-clickable">
                <th width="15%">{{'functionKeys_keyName' | translate}}</th>
                <th width="50%">{{'functionKeys_keyValue' | translate}}</th>
                <th width="35%" style="text-align: left;">{{'functionKeys_actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="not-clickable" *ngFor="let key of keys">
                <td>{{key.name}}</td>
                <td *ngIf="key.show">{{key.value}}</td>
                <td *ngIf="!key.show"><span (click)="key.show = true" class="operation">{{'functionKeys_clickToShow' | translate}}</span></td>
                <td>
                    <div id="operations-bar">
                        <pop-over message="{{ 'copypre_copied' | translate }}" hideAfter="300">
                            <span class="operation" (click)="copyKey(key)"><i class="fa fa-copy"></i> {{'functionKeys_copy' | translate}}</span>
                        </pop-over>
                        <span class="operation" (click)="renewKey(key)"><i class="fa fa-refresh"></i> {{'functionKeys_renew' | translate}}</span>
                        <span class="operation" *ngIf="key.name !== '_master'" (click)="revokeKey(key)"><i class="fa fa-times"></i> {{'functionKeys_revoke' | translate}}</span>
                    </div>
                </td>
            </tr>
            <tr *ngIf="addingNew" class="not-clickable">
                <td><input type="text" (keyup)="checkValidName($event)" [(ngModel)]="newKeyName" placeholder="{{'functionKeys_enterKeyName' | translate}}" /></td>
                <td><input type="text" (keyup)="checkValidName($event)" [(ngModel)]="newKeyValue" placeholder="{{'functionKeys_enterKeyValue' | translate}}" /></td>
                <td><div class="custom-button" [ngClass]="validKey ? '' : 'disabled'" (click)="saveNewKey()">{{'save' | translate}}</div></td>
            </tr>
        </tbody>
    </table>
    <div class="custom-button" (click)="showOrHideNewKeyUi()">
        <span *ngIf="!addingNew && !!functionInfo">
            {{ 'functionKeys_addNewFunctionKey' | translate}}
        </span>
        <span *ngIf="!addingNew && !functionInfo">
            {{ 'functionKeys_addNewAdminKey' | translate}}
        </span>
        <span *ngIf="addingNew">
            {{'functionKeys_discard' | translate}}
        </span>
    </div>
    <!-- workaround custom-button using padding and busy-state not knowing it's height -->
    <div style="height: 10px"></div>
</div>