<div class="wrapper">
    <div id="heading">
        Function App Settings
    </div>

    <div *ngIf="functionContainer?.properties?.sku === 'Dynamic'" class="setting-wrapper features-wrapper">
        <label>Memory Size</label>
        <!-- TODO: move css -->
        <div style="height: 60px">
            <!-- TODO: move css -->
            <div style="flex-grow: 10">
                <input type="range" min="128" max="1536" step="64" [(ngModel)]="memorySize" (change)="onChange(memorySize, $event)">
            </div>
            <div style="flex-grow: 1">
                <span>{{memorySize}} MB</span>
            </div>
            <div style="flex-grow: 1">
                <button *ngIf="dirty" class="custom-button dirty" (click)="saveMemorySize(memorySize)">Save</button>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>Features</label>
        <div class="features-wrapper">
            <div>
                <div>
                    <h2>Continuous Integration</h2>
                    You can also deploy your code from GitHub, Visual Studio Team Services, and more.
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ContinuousDeploymentListBlade")'>Configure Continuous Integration</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>Authentication/Authorization</h2>
                    For functions that use the HTTP trigger, you can require calls to be authenticated.
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("AppAuth")'>Configure Authentication</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>CORS</h2>
                    Allow your HTTP-triggered functions to be called from within a web browser.
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ApiCors")'>Configure CORS</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>API definition</h2>
                    Allow clients to more easily consume your HTTP-triggered functions.
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ApiDefinition")'>Configure API metadata</div>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>Advanced Settings</label>
        <div class="features-wrapper">
            <div>
                <div>You can also manage your function app like any other App Service instance.</div>
                <div>
                    <div class="clickable" (click)='openBlade("WebsiteBlade")'>Go to App Service Settings</div>
                </div>
            </div>
        </div>
    </div>
</div>
