<div class="wrapper">
    <div id="heading">
        {{ 'appFunctionSettings_functionAppSettings' | translate }}
    </div>
    <div [ngClass]="showTryView ? 'setting-wrapper-disabled' : 'setting-wrapper'">
        <div class="features-wrapper">
            <div>
                <div *ngIf="needUpdateExtensionVersion">
                    <h2>{{ 'appFunctionSettings_functionAppSettings1' | translate: {extensionVersion: extensionVersion, latestExtensionVersion:latestExtensionVersion} }}</h2>
                </div>
                <div *ngIf="!needUpdateExtensionVersion">
                    <h2>{{ 'appFunctionSettings_functionAppSettings2' | translate: {latestExtensionVersion:latestExtensionVersion} }})</h2>
                </div>
                <div *ngIf="needUpdateExtensionVersion">
                    <button class="custom-button" (click)="updateVersion()">{{ 'update' | translate }}</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="functionContainer?.properties?.sku === 'Dynamic'" class="setting-wrapper features-wrapper">
        <label>{{ 'appFunctionSettings_memory' | translate }}</label>
        <!-- TODO: move css -->
        <div style="height: 60px">
            <!-- TODO: move css -->
            <div style="flex-grow: 10">
                <input type="range" min="128" max="1536" step="64" [(ngModel)]="memorySize" (change)="onChange(memorySize, $event)">
            </div>
            <div style="flex-grow: 1">
                <span>{{memorySize}} MB</span>
            </div>
            <div style="flex-grow: 1">
                <button *ngIf="dirty" class="custom-button dirty" (click)="saveMemorySize(memorySize)">{{ 'save' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>{{ 'features' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_CI' | translate }}</h2>
                    {{ 'appFunctionSettings_deploy' | translate }}
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ContinuousDeploymentListBlade")'>{{ 'appFunctionSettings_configureCI' | translate }}</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_auth' | translate }}</h2>
                    {{ 'appFunctionSettings_forFunc' | translate }}
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("AppAuth")'>{{ 'appFunctionSettings_configAuth' | translate }}</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>{{ 'cors' | translate }}</h2>
                   {{ 'appFunctionSettings_allowYour' | translate }}
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ApiCors")'>{{ 'appFunctionSettings_configureCors' | translate }}</div>
                </div>
            </div>
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_apiDefiition' | translate }}</h2>
                    {{ 'appFunctionSettings_allowClients' | translate }}
                </div>
                <div>
                    <div class="clickable" (click)='openBlade("ApiDefinition")'>{{ 'appFunctionSettings_configureAPI' | translate }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>{{ 'appFunctionSettings_manageFunction' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <div>{{ 'appFunctionSettings_AdvancedSettings' | translate }}</div>
                <div>
                    <div class="clickable" (click)='openBlade("WebsiteBlade")'>{{ 'appFunctionSettings_goToAppSettings' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
