
<div class="wrapper">
    <div id="heading">
        Function App Settings
    </div>

    <div class="setting-wrapper">
        <label>Memory Size</label>
        <div>
            <input type="range">
        </div>
    </div>

    <div class="setting-wrapper">
        <label>Runtime configuration</label>
    </div>

    <div class="setting-wrapper">
        <label>Features</label>
        <div class="features-wrapper">
            <div>
                <div>
                    Continuous Integration
                </div>
                <div>
                    <div class="clickable" (click)='openContinuousDeployment()'>Configure Continuous Integration</div>
                </div>
            </div>
            <div>
                <div>
                    Authrntication / Authorization
                </div>
                <div>
                    <div class="clickable" (click)='openAuthentication()'>Configure Authentication</div>
                </div>
            </div>
            <div>
                <div>
                    CORS
                </div>
                <div>
                    <div class="clickable" (click)='openCors()'>Configure CORS</div>
                </div>
            </div>
            <div>
                <div>
                    API definition
                </div>
                <div>
                    <div class="clickable" (click)='openApiDefinition()'>Configure API metadata</div>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>Application Settings</label>
    </div>

    <div class="setting-wrapper">
        <label>Advanced Settings</label>
        <div>You can also manage your function app like any other App Service instance.</div>
        <div class="button-div clickable" (click)='openApp()'>Go to App Service Settings</div>
    </div>
</div>