<div class="container">
    <top-bar></top-bar>
    <div class="content">
        <sidebar
            [functionsInfo]="functionsInfo"
            [deleteSelectedFunction]="deleteSelectedFunction"
            [addedFunction]="addedFunction"
            (selectedFunction)="onFunctionSelect($event)">
        </sidebar>
        <div class="work-space">
            <div class="loader" *ngIf="initializing"></div>
            <div *ngIf="selectedFunction">
                <div *ngIf="selectedFunction.name !== 'New Function' || !selectedFunction.clientOnly">
                    <function-edit [selectedFunction]="selectedFunction"  (deleteSelectedFunction)="onDeleteSelectedFunction($event)">
                    </function-edit>
                </div>
                <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === 'New Function'">
                    <new-function (functionAdded)="onFunctionAdded($event)"></new-function>
                </div>
            </div>
            <div *ngIf="noContainerFound">It looks like you don't have a functions container. Select a subscription to create one:</div>
            <div class="row" *ngIf="noContainerFound && subscriptions">
                <div class="left"><label>Subscription:</label></div>
                <drop-down [options]="subscriptions" [placeholder]="subscriptionPickerPlaceholder" (value)="onSubscriptionSelect($event)"></drop-down>
            </div>
            <div class="row" *ngIf="noContainerFound && subscriptions">
                <div class="left"><label>Region:</label></div>
                <drop-down [options]="geoRegions" [placeholder]="'Select Location'" (value)="onGeoRegionChange($event)"></drop-down>
            </div>
            <div class="row" *ngIf="noContainerFound && _serverFarms">
                <div class="left"><label>Server Farm (optional):</label></div>
                <drop-down [options]="_serverFarms" [placeholder]="serverFarmPickerPlaceholder" [resetOnChange]="selectedGeoRegion" [resetOnChange]="selectedSubscription" (value)="selectedServerFarm = $event"></drop-down>
            </div>
            <div class="row" *ngIf="noContainerFound && subscriptions">
                <div class="left">
                    <button [disabled]="!selectedSubscription" class="custom-button clear-both" (click)="createFunctionsContainer()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>