<div class="container">
    <top-bar></top-bar>
    <div class="content">
        <sidebar
            [functionsInfo]="functionsInfo"
            [deleteSelectedFunction]="deleteSelectedFunction"
            [addedFunction]="addedFunction"
            (selectedFunction)="onFunctionSelect($event)">
        </sidebar>
        <div class="work-space">
            <div class="loader" *ngIf="initializing"></div>
            <div *ngIf="selectedFunction">
                <div *ngIf="selectedFunction.name !== 'New Function' || !selectedFunction.clientOnly">
                    <function-edit [selectedFunction]="selectedFunction"  (deleteSelectedFunction)="onDeleteSelectedFunction($event)">
                    </function-edit>
                </div>
                <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === 'New Function'">
                    <new-function (functionAdded)="onFunctionAdded($event)"></new-function>
                </div>
            </div>
            <div *ngIf="noContainerFound">It looks like you don't have a functions container</div>
            <div class="row" *ngIf="noContainerFound && subscriptions">
                <div class="left"><label>Subscription:</label></div>
                <div class="functions-templates-select-container right">
                    <select [(ngModel)]="selectedSubscription" class="function-templates-select">
                        <option *ngFor="#subscription of subscriptions" [value]="subscription.subscriptionId">{{subscription.displayName}}({{subscription.subscriptionId}})</option>
                    </select>
                    <span *ngIf="!selectedSubscription" class="function-templates-selected-value">Select Subscription</span>
                    <span *ngIf="selectedSubscription" class="function-templates-selected-value">{{selectedSubscription}}</span>
                    <span class="function-templates-selected-arrow"></span>
                </div>
            </div>
            <div class="row" *ngIf="noContainerFound && subscriptions">
                <div class="left">
                    <button [disabled]="!selectedSubscription" class="custom-button clear-both" (click)="createFunctionsContainer()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>