<div class="container">
    <top-bar></top-bar>
    <div class="content">
        <sidebar [functionsInfo]="functionsInfo" (selectedFunction)="onFunctionSelect($event)" (selectedFile)="onFileSelect($event)"></sidebar>
        <div class="work-space">
            <div class="loader" *ngIf="initializing"></div>
            <div *ngIf="selectedFunction && selectedFunction.name !== 'New Function'">
                <function-edit [selectedFunction]="selectedFunction" [selectedFile]="selectedFile"></function-edit>
            </div>
            <div *ngIf="selectedFunction && selectedFunction.name === 'New Function'">
                <new-function (functionAdded)="initFunctions()"></new-function>
            </div>
        </div>
    </div>
</div>