<!-- http://stackoverflow.com/questions/18499041/bootstrap-3-0-how-to-have-text-and-input-on-same-line -->
<div class="form-group">
    <label [attr.for]="input.id" class="control-label">{{input.label}} 
        <pop-over [message]="input.help">
            <span class="glyphicon glyphicon-info-sign"></span>
        </pop-over>
   </label>

    <div *ngIf="input.type === 'string' || input.type === 'int'" [ngClass]="input.class">
        <input id="{{input.id}}"
               (ngModelChange)="inputChanged($event)"
               [(ngModel)]="input.value"
               type="text"
               placeholder="{{input.placeholder}}" [disabled]="disabled"
               [ngClass]="{'input-error':!!input.errorText}">

        <pop-over *ngIf="!!input.errorText" [message]="input.errorText" [isInputError]="true">
        </pop-over>

        <div *ngIf="description && !input.errorText">{{description}}</div>
    </div>

    <div *ngIf="input.type === 'picker'" [ngClass]="input.class" class="picker-container">
        <input id="{{input.id}}"
               (ngModelChange)="inputChanged($event)"
               [(ngModel)]="input.value" type="text"
               placeholder="{{input.placeholder}}"
               [ngClass]="{'input-error':!!input.errorText}"
               disabled>

        <pop-over *ngIf="!!input.errorText" [message]="input.errorText" [isInputError]="true">
        </pop-over>

        <i *ngIf="!input.inProcess && !showTryView" class="link" [class.select]="input.errorText" (click)="openCollectorBlade(input)"> {{ 'bindingInput_select' | translate }}</i>
    </div>

    <div *ngIf="input.type === 'boolean'" class="checkbox">
        <!-- TODO: move this to css -->
        <input id="{{input.id}}" (ngModelChange)="inputChanged($event)" [(ngModel)]="input.value" type="checkbox" style="margin-left:0px" [disabled]="disabled">
        <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
    </div>

    <div *ngIf="input.type === 'label'">
        <input id="{{input.id}}" [(ngModel)]="input.value" type="text" placeholder="{{input.text}}" disabled>
        <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
    </div>

    <div *ngIf="input.type === 'enum'" id="enum-list">
        <drop-down [options]="enumInputs" (value)="onDropDownInputChanged($event)" [disabled]="disabled"></drop-down>
        <div *ngIf="!!input.errorText" class="error-output">{{input.errorText}}</div>
    </div>

</div>