<div *ngIf="hasInputsToShow" class="panel panel-default">

    <div class="panel-heading">
        <!--//TODO move to css -->
        <h3 class="panel-title pull-left" style="margin-right:10px">
            {{model.label}}
        </h3>
        <button *ngIf="canDelete" class="btn btn-default pull-left" (click)="removeClicked()" [disabled]="disabled"><span class="glyphicon glyphicon-trash"></span></button>        
        <button *ngIf="canSave && isDirty && areInputsValid" (click)="saveClicked()" class="btn btn-primary pull-right">Save</button>
        <button *ngIf="canSave && isDirty && !areInputsValid" (click)="saveClicked()" class="btn btn-primary pull-right" disabled>Save</button>
        <button *ngIf="canSave && isDirty" (click)="discardClicked()" class="btn btn-default pull-right" style="margin-right:10px">Cancel</button>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <binding-input *ngFor="#input of model.leftInputs" (validChange)="onValidChanged($event)" [input]="input" [disabled]="disabled"></binding-input>                    
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <binding-input *ngFor="#input of model.rightInputs" (validChange)="onValidChanged($event)" [input]="input" [disabled]="disabled"></binding-input>
                </form>
            </div>
        </div>
    </div>
</div>