<div class="container-full">
    <!-- TODO: move padding to css -->
    <top-bar (appMonitoringClicked)='onAppMonitoringClicked($event)'
             (appSettingsClicked)='onAppSettingsClicked($event)'
             (quickstartClicked)='onQuickstartClicked($event)'
             (sourceControlClicked)='onSourceControlClicked($event)'
             [isFunctionSelected]="!!selectedFunction"
             [quickStartSelected]="openIntro"></top-bar>

    <div class="content">
        <sidebar [functionsInfo]="functionsInfo" (refreshClicked)='onRefreshClicked($event)'></sidebar>
        <div *ngIf="!trialExpired" class="work-space">
            <tutorial></tutorial>
            <div >
                <div *ngIf="selectedFunction">
                    <div *ngIf="selectedFunction.name !== ('sideBar_newFunction' | translate) || !selectedFunction.clientOnly">
                        <function-edit [selectedFunction]="selectedFunction">
                        </function-edit>
                    </div>
                    <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === ('sideBar_newFunction' | translate )">
                        <function-new [functionsInfo]="functionsInfo" [action]="action"></function-new>
                    </div>
                </div>
                <div *ngIf="openAppMonitoring">
                    <app-monitoring></app-monitoring>
                </div>

                <div *ngIf="openAppSettings">
                    <app-settings [functionContainer]="functionContainer"></app-settings>
                </div>

                <div *ngIf="noContainerFound">{{ 'dashboard_noFunctionContainer' | translate }}</div>
                <div *ngIf="openIntro">
                    <intro [functionsInfo]="functionsInfo"></intro>
                </div>

                <div *ngIf="openSourceControl">
                    <source-control></source-control>
                </div>
            </div>
        </div>
        <div *ngIf="trialExpired">
            <trial-expired> {{ 'dashboard_yourTrialExpiered' | translate }} </trial-expired>
        </div>

    </div>

</div>