<div class="container-full">
    <!-- TODO: move padding to css -->
    <top-bar (appSettingsClicked)='onAppSettingsClicked($event)' [isFunctionSelected]="!!selectedFunction"></top-bar>
    <div class="content">
        <sidebar [functionsInfo]="functionsInfo"></sidebar>
        <div class="work-space">
            <tutorial></tutorial>

            <div *ngIf="selectedFunction">
                <div *ngIf="(selectedFunction.name !== 'New Function' && selectedFunction.name !== 'New Function (V2)') || !selectedFunction.clientOnly">
                    <function-edit [selectedFunction]="selectedFunction">
                    </function-edit>
                </div>
                <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === 'New Function'">
                    <function-new-v2></function-new-v2>
                </div>
                <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === 'New Function (V2)'">
                    <function-new [functionsInfo]="functionsInfo"></function-new>
                </div>
            </div>

            <div *ngIf="openAppSettings">
                <app-settings></app-settings>
            </div>

            <div *ngIf="noContainerFound">It looks like you don't have a functions container. Select a subscription to create one:</div>
            
            <div *ngIf="!selectedFunction && !openAppSettings && !noContainerFound">
                <intro [functionsInfo]="functionsInfo"></intro>
            </div>
        </div>
    </div>

</div>