<div [class.container-full]="!_globalStateService.showTopbar" [class.container-full-topbar]="_globalStateService.showTopbar" [class.try-container-full]="_globalStateService?.showTryView">
    <!-- TODO: move padding to css -->
    <top-bar (appMonitoringClicked)='onAppMonitoringClicked($event)'
             (sourceControlClicked)='onSourceControlClicked($event)'
             (functionAppSettingsClicked)='onAppSettingsClicked($event)'
             [isFunctionSelected]="!!selectedFunction"
             [quickStartSelected]="openIntro"></top-bar>
    <div *ngIf="disabled" class="content-disabled">
    </div>
    <div class="content">
        <sidebar [functionsInfo]="functionsInfo" [dashboardDisabled]="disabled" (refreshClicked)="onRefreshClicked($event)" (changedTab)="onChangeTab($event)" [tabId]="tabId"
            (appSettingsClicked)="onAppSettingsClicked($event)"
            (quickstartClicked)="onQuickstartClicked($event)">
        </sidebar>
        <div *ngIf="!trialExpired" class="work-space">
            <tutorial></tutorial>
            <div >
                <div *ngIf="selectedFunction">
                    <div *ngIf="selectedFunction.name !== ('sideBar_newFunction' | translate) || !selectedFunction.clientOnly">
                        <function-edit [selectedFunction]="selectedFunction" [tabId]="tabId">
                        </function-edit>
                    </div>
                    <div *ngIf="selectedFunction.clientOnly && selectedFunction.name === ('sideBar_newFunction' | translate )">
                        <function-new [functionsInfo]="functionsInfo" [action]="action"></function-new>
                    </div>
                </div>
                <div *ngIf="openAppMonitoring">
                    <app-monitoring></app-monitoring>
                </div>

                <div *ngIf="openAppSettings">
                    <app-settings [functionContainer]="functionContainer"></app-settings>
                </div>

                <div *ngIf="openIntro">
                    <intro [functionsInfo]="functionsInfo"></intro>
                </div>

                <div *ngIf="openSourceControl">
                    <source-control></source-control>
                </div>
            </div>
        </div>
        <div *ngIf="trialExpired">
            <trial-expired> {{ 'dashboard_yourTrialExpiered' | translate }} </trial-expired>
        </div>

    </div>

</div>