<div class="wrapper">
    <busy-state></busy-state>
    <div class="file-container">
        <div class="clickable heading" (click)="headingClick()">
            <i class="fa fa-folder-open"></i>
            {{currentTitle}}
        </div>
        <div class="clickable folder shifted" *ngFor="let folder of folders"
            (click)="selectVfsObject(folder)">
            <i class="fa fa-folder"></i>
            {{folder.name}}
        </div>
        <div class="clickable file shifted" *ngFor="let file of files"
            (click)="selectVfsObject(file)"
            [class.selected]="file.href.toLocaleLowerCase() === selectedFile.href.toLocaleLowerCase()">
            <i class="fa fa-file"></i>
            {{file.name}}
        </div>

        <input class="folder shifted"
               type="text"
               [(ngModel)]="newFileName"
               (keypress)="handleKeyPress($event)"
               placeholdefur="File name"
               [class.hidden]="!creatingNewFile"
               #focusable />
    </div>
    <div id="lower-panel">
            <div class="clickable" (click)="addnewInput($event, focusable)">
                <i class="fa fa-plus"></i>
            </div>
            <div class="clickable">
                <i class="fa fa-upload"></i>
            </div>
        </div>
</div>