<div class="dev-full dev-flex-column">
    <busy-state></busy-state>
    <div ng2FileDrop [uploader]="uploader" class="file-container" style="flex-grow:1;">
        <div class="clickable heading" (click)="headingClick()">
            <i class="fa fa-folder-open"></i>
            {{currentTitle}}
        </div>
        <div class="clickable folder shifted" *ngFor="let folder of folders"
            (click)="selectVfsObject(folder)">
            <i class="fa fa-folder"></i>
            {{folder.name}}
        </div>
        <div class="clickable file shifted" *ngFor="let file of files"
            (click)="selectVfsObject(file)"
            [class.selected]="file.href.toLocaleLowerCase() === selectedFile.href.toLocaleLowerCase()"
            [class.disabled]="file.isBinary"
            [title]="getFileTitle(file)">
            <i class="fa fa-file"></i>
            {{file.name}}
        </div>

        <input class="folder shifted"
               type="text"
               [(ngModel)]="newFileName"
               (keyup)="handleKeyUp($event)"
               placeholder="File name"
               [class.hidden]="!creatingNewFile && !renamingFile"
               #focusable />
    </div>

    <div class="bottom-toolbar">
        <span class="clickable link-action" (click)="addnewInput($event, focusable)">
            <i class="fa fa-plus"></i>
            {{ 'fileExplorer_add' | translate }}
        </span>
        <span class="clickable link-action" (click)="inputElement.click()">
            <input id="file-upload" ng2FileSelect [uploader]="uploader" type="file" multiple #inputElement />
            <i class="fa fa-upload"></i>
            {{ 'fileExplorer_upload' | translate }}
        </span>
        <span>
            <span [class.disabled]="selectedFile.href.toLocaleLowerCase() === functionInfo.config_href.toLocaleLowerCase()" class="clickable link-action" (click)="deleteCurrentFile()">
                <i class="fa fa-trash"></i>
                {{ 'fileExplorer_delete' | translate }}
            </span>
        </span>
<!--        <span>
            <span [class.disabled]="selectedFile.href.toLocaleLowerCase() === functionInfo.config_href.toLocaleLowerCase()" class="clickable link-action" (click)="renameCurrentFile($event, focusable)">
                <i class="fa fa-pencil"></i>
                {{ 'fileExplorer_edit' | translate }}
            </span>
        </span>
-->
        <span>
            <span class="clickable link-action close-right" (click)="close()">
                <i class="fa fa-arrow-right"></i>
                {{ 'close' | translate }}
            </span>
        </span>
    </div>
</div>