<tabs>
    <tab tabTitle="Develop">
        <function-dev [selectedFunction]="selectedFunction"></function-dev>
    </tab>
    <tab tabTitle="Integrate">
        <function-integrate [selectedFunction]="selectedFunction"></function-integrate>
    </tab>
    <tab tabTitle="Integrate (V2)">
        <function-integrate-v2 [selectedFunction]="selectedFunction"></function-integrate-v2>
    </tab>
    <tab tabTitle="Monitor">
        Monitor
    </tab>
    <tab tabTitle="Configure">
        <function-configure [selectedFunction]="selectedFunction"></function-configure>
    </tab>
</tabs>