<function-run [functionInfo]="functionInfo"></function-run>
<div *ngIf="functionInfo" class="gutter-container">
    <h2>{{functionInfo.name}} 
        <i *ngIf="!functionInfo.clientOnly" class="fa fa-trash clickable" (click)="deleteFunction(functionInfo)"></i>
    </h2>
    <div>
        <div class="row">
            <div class="left"><label>Function Url:</label></div>
            <div class="right"><pre (click)="highlightText($event)">{{functionInvokeUrl}}</pre></div>
        </div>
        <div class="row" *ngIf="secrets && secrets.webHookReceiverKey">
            <div class="left"><label>WebHook Secret:</label></div>
            <div class="right"><pre (click)="highlightText($event)">{{secrets.webHookReceiverKey}}</pre></div>
        </div>
    </div>
    <div *ngIf="scriptFile">
        <div class="file-tools">
            <button class="custom-button" [class.dirty]="scriptFile.isDirty" (click)="saveScript()">Save</button>
        </div>
    </div>
</div>
<div style="padding-right: 20px">
    <div class="ace_editor" aceEditor id="editor"
        *ngIf="scriptFile"
        (onSave)="saveScript()"
        (onContentChanged)="contentChanged($event)"
        [content]="content"
        [fileName]="scriptFile.name">
    </div>
</div>