<tutorial></tutorial>
<tabs (tabSelected) = 'onTabSelected($event)'>
    <tab [tabTitle]="DevelopTab">
        <function-dev [selectedFunction]="selectedFunction"></function-dev>
    </tab>
    <tab tabTitle="Integrate">
        <function-integrate [selectedFunction]="selectedFunction"></function-integrate>
    </tab>
    <tab [tabTitle]="IntegrateTab">
        <function-integrate-v2 [selectedFunction]="selectedFunction"></function-integrate-v2>
    </tab>
    <tab tabTitle="Monitor">
        <function-monitor [selectedFunction]="selectedFunction"></function-monitor>
    </tab>
    <tab [tabTitle]="ManageTab">
        Manage
    </tab>
</tabs>
<div id="delete-function" class="clickable" (click)="deleteFunction()"><i class="fa fa-trash"></i> Delete function</div>