<tabs>
    <tab tabTitle="Develop">
        <function-dev [selectedFunction]="selectedFunction"></function-dev>
    </tab>
    <tab tabTitle="Integrate">
        <function-integrate [selectedFunction]="selectedFunction"></function-integrate>
    </tab>
    <tab tabTitle="Integrate (V2)">
        <function-integrate-v2 [selectedFunction]="selectedFunction" (save)="onFunctionSaved($event)"></function-integrate-v2>
    </tab>
    <tab tabTitle="Monitor">
        Monitor
    </tab>
</tabs>
<div id="delete-function" class="clickable" (click)="deleteFunction()"><i class="fa fa-trash"></i> Delete function</div>