<div class="dev-run-container" *ngIf="testDataFile">        
    <div class="dev-run-block" style="margin-right: 10px">
        <div>Input</div>
        <div class="ace_editor" aceEditor
            [content]="content"
            [fileName]="testDataFile.name"
            (onSave)="saveTestData()"
            (onContentChanged)="contentChanged($event)"
            [height]="500">
        </div>

        <button 
            class="custom-button"
            [class.dirty]="testDataFile.isDirty"
            (click)="runFunction()">

            Run
        </button>
    </div>

    <div class="dev-run-block">
        <div>Output</div>
        <div class="loader run-loader" *ngIf="running"></div>
        <pre class="log-stream">{{runResult}}</pre>
    </div>
</div>
