<div class="function-run-container">
    <div *ngIf="testDataFile">
                <button 
                class="custom-button"
                style="margin-bottom: 44px"
                [class.dirty]="testDataFile.isDirty"
                (click)="runFunction()">

                Run
            </button>
            <div class="ace_editor" aceEditor
            [content]="content"
            [fileName]="testDataFile.name"
            (onSave)="saveTestData()"
            (onContentChanged)="contentChanged($event)"
            [height]="500">
            </div>
        <h2>Result:</h2>
        <div class="loader run-loader" *ngIf="running"></div>
        <pre class="log-stream">{{runResult}}</pre>
    </div>
</div>