<div class="wrapper">
    <div id="function-settings">
        <div class="configure-wrapper">
            <div>Function State </div>
            <div *ngIf="selectedFunction">
                <radio-selector [options]="functionStatusOptions" [defaultValue]="!!selectedFunction.config.disabled" (value)="valueChange.next($event)"></radio-selector>
            </div>
        </div>
        <div class="configure-wrapper">
            <div>Function URL</div>
            <div><pre>{{selectedFunction.href}}</pre></div>
        </div>
    </div>

    <div id="submit-delete">
        <button type="button" [disabled]="disabled" id="submit-button" (click)="deleteFunction()">Delete</button>
    </div>
</div>