<div class="wrapper">
    <br>
    <div *ngIf="disabled" class="alert alert-warning alert-dismissible" role="alert">
        Read only - because you have started editing with source control, this view is read only.
    </div>

    <template-picker *ngIf="!disabled" [type]="type" [showFooter]="false" (complete)="onTemplatePickUpComplete($event)"></template-picker>

    <p *ngIf="functionDescription">{{functionDescription}}</p>

    <div>
        <h2 *ngIf="selectedTemplate">Configuration</h2>        
        <form *ngIf="selectedTemplate" class="form-horizontal">
            <div class="form-group">
                <label [attr.for]="nameId" class="col-md-1 control-label" style="font-size:small;">Name:</label>
                <div [ngClass]="functionNameClass">
                    <input id="nameId" [(ngModel)]="functionName" (ngModelChange)="functionNameChanged($event)" class="form-control" placeholder="Function name">
                </div>
            </div>
        </form>    
        <binding *ngIf="model.trigger" (validChange)="onValidChanged($event)" [binding]="model.trigger" [canDelete]="false" [canSave]="false" [clickSave]="clickSave" (remove)="onRemoveBinding($event)" (update)="onUpdateBinding($event)"></binding>        
        <binding *ngFor="#binding of model.inputs" (validChange)="onValidChanged($event)" [binding]="binding" [canSave]="false" [clickSave]="clickSave" (remove)="onRemoveBinding($event)" (update)="onUpdateBinding($event)"></binding>
        <binding *ngFor="#binding of model.outputs" (validChange)="onValidChanged($event)" [binding]="binding" [canSave]="false" [clickSave]="clickSave" (remove)="onRemoveBinding($event)" (update)="onUpdateBinding($event)"></binding>

        <hr />
    </div>

    <div class="text-center">
        <button *ngIf="areInputsValid" class="btn btn-primary" (click)="onCreate()">Create</button>
        <button *ngIf="!areInputsValid" class="btn btn-primary" (click)="onCreate()" disabled>Create</button>
    </div>
</div>