<div class="newfunc-container">

<div *ngIf="disabled">
    <br />
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{ 'readOnly' | translate }}
    </div>
</div>

<div *ngIf="!disabled">
    <h3>{{ 'functionNew_chooseTemplate' | translate }}</h3>
    <template-picker [type]="type" [showFooter]="false" (complete)="onTemplatePickUpComplete($event)" [template]="selectedTemplateId"></template-picker>
</div>

<div *ngIf="selectedTemplate">
    <div *ngIf="templateWarning" class="alert alert-warning alert-dismissible" role="alert" [innerHTML]="templateWarning">
        {{templateWarning}}
    </div>
    <h3>{{ 'functionNew_nameYourFunction' | translate }}</h3>
    <input type="text"
           [(ngModel)]="functionName"
           (ngModelChange)="functionNameChanged($event)"
           placeholder="{{ 'functionNew_functionName' | translate }}"
           [ngClass]="{'input-error':!!functionNameError}">

    <pop-over *ngIf="!!functionNameError" [message]="functionNameError" [isInputError]="true">
    </pop-over>

    <!--<div *ngIf="!!functionNameError" class="error-output">{{functionNameError}}</div>-->

    <h3 *ngIf="model.trigger && hasInputsToShow" style="margin-top: 40px">{{ 'configure' | translate }}</h3>
    <binding *ngIf="model.trigger"
             (validChange)="onValidChanged($event)"
             [binding]="model.trigger"
             [canDelete]="false"
             [canSave]="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"
             (hasInputsToShowEvent)="onInputsToShowChanged($event)"></binding>

    <binding *ngFor="let binding of model.inputs"
             (validChange)="onValidChanged($event)"
             [binding]="binding"
             [canSave]="false"
             [canDelete] ="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"></binding>

    <binding *ngFor="let binding of model.outputs"
             (validChange)="onValidChanged($event)"
             [binding]="binding"
             [canSave]="false"
             [canDelete] ="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"></binding>

    <button class="custom-button" style="display: block; margin-top: 40px" [disabled]="!areInputsValid" (click)="onCreate()">{{ 'create' | translate }}</button>
</div>
</div>