<div style="width: 90%">
    <div>
        <h2 class="dev-block-header">Config</h2>
        <div class="dev-block-header">
            <button class="custom-button" [class.dirty]="isDirty" (click)="saveConfig()">Save</button>
        </div>
        <div class="gutter-container" style="padding-top: 5px">
            <div class="ace_editor" aceEditor id="editor"
                 (onSave)="saveConfig()"
                 (onContentChanged)="contentChanged($event)"
                 [content]="configContent"
                 fileName="function.json"
                 [height]="600">
            </div>
        </div>
    </div>
</div>

<p><a href='#' (click)='openStoragePickerBlade()'>Create/Select Storage Account</a></p>
