<div class="container-fluid">
    <div class="col-md-10">    
        <h2 class="dev-block-header">Config</h2>
        <div class="dev-block-header">
            <button class="custom-button" [class.dirty]="isDirty" [disabled]="disabled" (click)="saveConfig()">Save</button>
        </div>
        <div class="gutter-container" style="padding-top: 5px">
            <div class="ace_editor" aceEditor id="editor"
                 (onSave)="saveConfig()"
                 (onContentChanged)="contentChanged($event)"
                 [content]="configContent"
                 fileName="function.json"
                 [height]="600"
                 [readOnly]="disabled">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <!-- TODO: move to css -->
        <div class="clickable pull-right" (click)="onEditorChange('standard')" style="color: #5DA3F6;">Standard editor</div>
    </div>
</div>

<p><a href='#' (click)='openCollectorBlade("StorageAccountPickerBlade")'>Create/Select Storage Account</a></p>
<p><a href='#' (click)='openCollectorBlade("CustomConnectionPickerBlade")'>Create/Select Custom Connection String</a></p>
<p><a href='#' (click)='openCollectorBlade("NotificationHubPickerBlade")'>Create/Select Notification Hub</a></p>
<p><a href='#' (click)='openCollectorBlade("DocDbPickerBlade")'>Create/Select DocumentDB</a></p>


