<div style="width: 90%" *ngIf="scriptFile">
    <div class="gutter-container">
        <div *ngIf="showFunctionInvokeUrl"><label>Function Url:</label></div>
        <div *ngIf="showFunctionInvokeUrl"><copy-pre [content]="functionInvokeUrl"></copy-pre></div>
        <div *ngIf="webHookType === 'github'"><label>Github Secret:</label></div>
        <div *ngIf="webHookType === 'github'"><copy-pre [content]="secrets?.key"></copy-pre></div>
    </div>

    <div>
        <h2 class="dev-block-header">Code</h2>
        <span>({{fileName}})</span>
        <div class="dev-block-header">
            <button class="custom-button" [class.dirty]="scriptFile.isDirty" (click)="saveScript()" [disabled]="disabled">Save</button>
        </div>
        <div class="dev-flex-container" style="padding-top: 5px">
            <file-explorer class="dev-files-flex"
                [class.not-shown]="!showFileExplorer"
                [functionFiles]="functionFiles"
                [selectedFile]="scriptFile"
                (selectedFileChange)="selectedFileStream.next($event)">
            </file-explorer>
            <div class="ace_editor dev-code-flex" aceEditor id="editor"
                (onSave)="saveScript()"
                (onContentChanged)="contentChanged($event)"
                [content]="content"
                [fileName]="fileName"
                [height]="600"
                [readOnly]="disabled">
            </div>
        </div>
        <span class="clickable link-action" *ngIf="!showFileExplorer" (click)="toggleShowHideFileExplorer()">
                <i class="fa fa-folder"></i>
                View files
         </span>
         <span class="clickable link-action" *ngIf="showFileExplorer" (click)="toggleShowHideFileExplorer()">
                <i class="fa fa-folder-open"></i>
                Hide files
         </span>
    </div>

    <div *ngIf="functionInfo" class="gutter-container" style="margin-top:5px">
        <log-streaming [functionInfo]="functionInfo"></log-streaming>
    </div>

    <h2 class="dev-block-header">Run</h2>
    <div class="dev-flex-container" *ngIf="functionInfo">
        <busy-state name="run-busy"></busy-state>
        <div class="dev-run-block" style="margin-right: 10px">
            <div style="padding-bottom: 6px">Request body</div>
            <div class="ace_editor" aceEditor
                [content]="functionInfo.test_data"
                fileName="sample.dat"
                (onSave)="saveTestData()"
                (onContentChanged)="testContentChanged($event)"
                [height]="500">
            </div>

            <button
                class="custom-button"
                [class.dirty]="scriptFile.isDirty"
                (click)="runFunction()">
                {{scriptFile.isDirty ? 'Save and run' : 'Run'}}
            </button>
            <button
                *ngIf="running"
                class="custom-button cancel-button"
                (click)="cancelCurrentRun()">
                Cancel
            </button>
        </div>

        <div class="dev-run-block">
            <div class="dev-flex-container">
                <div class="dev-run-block">Output</div>
                <div *ngIf="runResult" [class.run-green]="runResult.statusCode > 99 && runResult.statusCode < 300" [class.run-orange]="runResult.statusCode > 299 && runResult.statusCode < 400" [class.run-red]="runResult.statusCode > 399">Status: {{runResult.statusCode}} {{runResult.statusText}}</div>
            </div>
            <pre class="log-stream">{{runResult?.content}}</pre>
        </div>
    </div>

</div>
