<div style="width: 90%" *ngIf="scriptFile">
    <div class="gutter-container">
        <div><label>Function Url:</label></div>
        <div><pre (click)="highlightText($event)">{{functionInvokeUrl}}</pre></div>
        <div *ngIf="webHookType === 'github'"><label>Github Secret:</label></div>
        <div *ngIf="webHookType === 'github'"><pre (click)="highlightText($event)">{{secrets?.key}}</pre></div>
    </div>

    <div>
        <h2 class="dev-block-header">Code</h2>
        <div class="dev-block-header">
            <button class="custom-button" [class.dirty]="scriptFile.isDirty" (click)="saveScript()" [disabled]="disabled">Save</button>
        </div>
        <div class="gutter-container" style="padding-top: 5px">
            <div class="ace_editor" aceEditor id="editor"
                (onSave)="saveScript()"
                (onContentChanged)="contentChanged($event)"
                [content]="content"
                [fileName]="fileName"
                [height]="600"
                [readOnly]="disabled">
            </div>
        </div>
    </div>

    <div *ngIf="functionInfo" class="gutter-container" style="margin-top:5px">
        <log-streaming [functionInfo]="functionInfo"></log-streaming>
    </div>

    <h2>Run</h2>
    <div class="dev-run-container" *ngIf="functionInfo">
        <div class="dev-run-block" style="margin-right: 10px">
            <div>Input</div>
            <div class="ace_editor" aceEditor
                [content]="functionInfo.test_data"
                fileName="sample.dat"
                (onSave)="saveTestData()"
                (onContentChanged)="testContentChanged($event)"
                [height]="500">
            </div>

            <button
                class="custom-button"
                [class.dirty]="scriptFile.isDirty"
                (click)="runFunction()">
                {{scriptFile.isDirty ? 'Save and run' : 'Run'}}
            </button>
        </div>

        <div class="dev-run-block">
            <div>Output</div>
            <pre class="log-stream">{{runResult}}</pre>
        </div>
    </div>

</div>
