<function-run [functionInfo]="selectedFunction"></function-run>
<div class="gutter-container">
    <h2 *ngIf="selectedFunction">{{selectedFunction.name}} 
        <i *ngIf="!selectedFunction.clientOnly" class="fa fa-trash clickable" (click)="deleteFunction(selectedFunction)"></i>
    </h2>
    <function-designer *ngIf="!selectedFile || selectedFile.name === 'function.json'"></function-designer>
    <div *ngIf="!(!selectedFile || selectedFile.name === 'function.json')">
        <h3 class="file-name" *ngIf="selectedFile && !selectedFile.isNew">{{selectedFile.name}}</h3>
        <input type="text" *ngIf="selectedFile && selectedFile.isNew" [(ngModel)]="selectedFile.name" class="new-function-name" placeholder="File Name"/>
        <div class="file-tools"><button class="custom-button" *ngIf="selectedFile" [class.dirty]="selectedFile.isDirty" (click)="saveFile(selectedFile)">Save</button></div>
    </div>
</div>
<div style="padding-right: 20px">
    <div class="ace_editor" aceEditor id="editor"
        *ngIf="selectedFile"
        [fileObject]="selectedFile"
        (contentChanged)="contentChanged($event)"
        [content]="selectedFile.content">
    </div>
</div>