<top-bar gettingStarted="true" ></top-bar>
<div class="container">
    <div class="wrapper">
        <h2>Get started with Azure Functions</h2>

        <div *ngIf="user">
        </div>

        <div *ngIf="tryItNow">
            <!--<div>
                It looks like you don't have an Azure account. Do you want to create a 24 hour free trial functions container?
            </div>
            <div (click)="createTrialFunctionsContainer()" class="custom-button">Create Trial Functions Container</div>-->
        </div>

        <div *ngIf="!tryItNow">
            <div id="create-new-container" *ngIf="subscriptions">
                <div>
                    <label>Subscription:</label>
                    <drop-down [options]="subscriptions" placeholder="Select Subscription" (value)="onSubscriptionSelect($event)"></drop-down>
                </div>

                <div *ngIf="selectedSubscription">
                    <div *ngIf="functionContainers.length === 0">
                        We'll need to create a function app in this subscription. Functions apps are containers where your functions get executed.
                    </div>
                    <div *ngIf="functionContainers.length > 0">
                        This subscription already has a function app in it. Functions apps are containers where your functions get executed.
                    </div>

                    <div>
                        <div>
                            <h3>Create a new function app</h3>
                            <div class="user-input">
                                <label>Give your function app a name</label>
                                <input type="text" [(ngModel)]="functionContainerName" />
                            </div>
                            <div class="user-input">
                                <label>Pick a region</label>
                                <drop-down [options]="geoRegions" placeholder="Select Location" (value)="onGeoRegionChange($event)"></drop-down>
                            </div>
                            <button [disabled]="!selectedSubscription || !selectedGeoRegion || !functionContainerName" class="custom-button clear-both" (click)="createFunctionsContainer()">Get coding</button>
                        </div>

                        <div *ngIf="functionContainers.length > 0">
                            <h3>Use an existing function app</h3>
                            <div *ngFor="#container of functionContainers">{{container.name}}</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



