<div class="intro-container">
<div class="intro-banner">
    <div>
        <h1>The faster way to functions</h1>
        <p>
            <img src="/images/function-io.svg" width="210px"/>
            Write any function in minutes - whether to run a simple job that cleans up a database or build a more complex architecture. Creating functions is easier than before, whatever your chosen OS, platform, or development method. No install required.
        </p>
    </div>

</div>

<div class="intro-body">
    <h2>Get started with a premade function:</h2>
    <div class="intro-templates">
        <div class="intro-template"
             (click)="onFunctionCliked('timer')"
             [class.intro-template-selected]="selectedFunction === 'timer'">

            <div><img src="/images/timer-template.svg" /></div>
            <div>Timer</div>
        </div>

        <div class="intro-template"
             (click)="onFunctionCliked('data')"
             [class.intro-template-selected]="selectedFunction === 'data'">

            <div><img src="/images/data-process-template.svg"  /></div>
            <div>Data processing</div>
        </div>

        <div class="intro-template"
             (click)="onFunctionCliked('webhook')"
             [class.intro-template-selected]="selectedFunction === 'webhook'">

            <div><img src="/images/webhook-api-template.svg" /></div>
            <div>Webhook + API</div>
        </div>
    </div>
    <div>
        <button class="custom-button"
                (click)="onCreateNewFunction()"
                [disabled]="!selectedFunction">
            Create a function
        </button>

    </div>
</div>

<div class="intro-footer">
    <h3>Or get started on your own</h3>
    <div>
        <span class="link" (click)='createFromScratch()'>
            Create a new function from scratch 
        </span>
        or
        <span class="link" (click)='startFromSC()'>
            start from source control
        </span>
    </div>
</div>

</div> <!-- /intro-container -->