<div *ngIf="shown">
    <div class="background">
    </div>

    <div class="wrapper">
        <div class="clickable close-button" (click)="hide()">x</div>
        <div class="steps">
            <div class="step">
                <h3>1) Download your functions</h3>
                <span><a [attr.href]="downloadUrl">Click here</a> to download a zip file containing your files.</span>
                <br>
                <span>Alternatively, you can clone your site locally using git.</span>
            </div>
            <div class="step">
                <h3>2) Install Azure Functions CLI</h3>
                <span>Run:</span>
                <pre>npm install -g azurefunctions</pre>
                <span>You need to run as an Admin on OSX and Linux</span>
            </div>
            <div class="step">
                <h3>3) Run: </h3>
                <span>Run the CLI in the same directory you have your function files</span>
                <pre>func web</pre>
            </div>
            <div class="step">
                <h3>4) Switch portal to local dev mode: </h3>
                <div class="mode-container">
                    <div class="mode"
                        (click)="switchToAzure()"
                        [class.mode-selected]="selectedMode === 'Azure'">

                        <div>Azure</div>
                    </div>
                    <div class="mode"
                        (click)="switchToLocal()"
                        [class.disable-mode]="!isLocalServerRunning"
                        [class.mode-selected]="selectedMode === 'Local'">

                        <div>Local</div>
                    </div>
                </div>
                <span *ngIf="!isLocalServerRunning">You need to have the local server running on <a href="https://localhost:6061">https://localhost:6061</a></span>
            </div>
            <div class="step">
                <h2>5) Launch Visual Studio Code</h2>
                <div class="mode-container">
                    <button class="custom-button" (click)="launchVsCode()" [disabled]="selectedMode == 'Azure'">Launch Visual Studio Code</button>
                </div>
            </div>
            <div class="step">
                <div class="mode-container" style="padding-top: 70px">
                    <button class="custom-button" (click)="hide()">Dismiss</button>
                </div>
            </div>

        </div>
    </div>
</div>