<div class="dev-flex-column dev-full">

    <pre id="log-stream" class="log-stream" tabindex="1" (keydown)="handleKeyPress($event)" style="margin-bottom: 0px;">{{log}}</pre>
    <div class="bottom-toolbar">
        <span>
            <span class="clickable link-action" *ngIf="stopped" (click)="startLogs()">
                <i class="fa fa-play"></i>
                {{ 'logStreaming_start' | translate }}
            </span>
            <span class="clickable link-action" *ngIf="!stopped" (click)="stopLogs()">
                <i class="fa fa-pause"></i>
                {{ 'logStreaming_pause' | translate }}
            </span>
        </span>
        <span>
            <span class="clickable link-action" (click)="clearLogs()">
                <i class="fa fa-book"></i>
                {{ 'logStreaming_clear' | translate }}
            </span>
        </span>
        <span (click)="copyLogs($event)">
            <pop-over message="{{ 'logStreaming_copied' | translate }}" hideAfter="300">
                <span class="clickable link-action">
                    <i class="fa fa-clone"></i>
                    {{ 'logStreaming_copyLogs' | translate }}
                </span>
            </pop-over>
        </span>
        <span>
            <span class="clickable link-action close-right" (click)="close()">
                <i class="fa fa-arrow-right"></i>
                {{ 'close' | translate }}
            </span>
        </span>
    </div>
    <div class="run-orange" *ngIf="timerInterval > 1000" style="margin-top: 13px">
        {{ 'logStreaming_tooManyLogs' | translate:{seconds: timerInterval/1000} }}
    </div>

</div>
