<div class="dev-flex-container">
    <div>
        <h2 class="dev-block-header">Logs</h2>
    </div>
    <div class="dev-block-header inline-no-float" style="margin-top: 5px; flex-grow: 1">
        <span>
            <span class="clickable link-action" *ngIf="stopped" (click)="startLogs()">
                <i class="fa fa-play"></i>
                Start
            </span>
            <span class="clickable link-action" *ngIf="!stopped" (click)="stopLogs()">
                <i class="fa fa-pause"></i>
                Pause
            </span>
        </span>
        <span>
            <span class="clickable link-action" (click)="clearLogs()">
                <i class="fa fa-book"></i>
                Clear
            </span>
        </span>
        <span (click)="copyLogs($event)">
            <pop-over message="Copied!" hideAfter="300">
                <span class="clickable link-action">
                    <i class="fa fa-clone"></i>
                    Copy Logs
                </span>
            </pop-over>
        </span>
    </div>
    <div class="run-orange" *ngIf="timerInterval > 1000" style="margin-top: 13px">
        Too many logs. Refresh rate: {{timerInterval/1000}} seconds.
    </div>
</div>
<pre id="log-stream" class="log-stream" tabindex="1" (keydown)="handleKeyPress($event)">{{log}}</pre>