<div class="sidebar">
    <ul class="functions-list">
        <li>
            <span class="function-item full-height">
                <input type="text" id="search-box" placeholder="Search my functions" [(ngModel)]="searchValue" />
            </span>
        </li>
        <li *ngFor="#functionInfo of functionsInfo | sidebarFilter:searchValue"
           (click)="selectFunction(functionInfo)"
            class="function-item">
            <span class="function-item clickable" [class.selected]="functionInfo === selectedFunction" href="#">
            <i *ngIf="!functionInfo.clientOnly" class="fa fa-bolt"></i>
            <i *ngIf="functionInfo.clientOnly" class="fa fa-plus"></i>
                {{functionInfo.name}}
            </span>
        </li>
    </ul>
</div>
