<div class="sidebar">
    <ul class="functions-list">
        <li>
            <span class="function-item full-height">
                <input type="text" id="search-box" placeholder="Search my functions" [(ngModel)]="searchValue" />
            </span>
        </li>
        <li *ngFor="let functionInfo of functionsInfo | sidebarFilter:searchValue"
             (click)="selectFunction(functionInfo)"
             class="function-item">
            <span class="function-item clickable" [class.selected]="functionInfo === selectedFunction" href="#">
            <img *ngIf="!functionInfo.clientOnly" src="/images/functions.svg" class="function-icon" />
            <i *ngIf="functionInfo.clientOnly" class="fa fa-plus"></i>
                {{functionInfo.name}}
            </span>
        </li>
    </ul>
    <div *ngIf="tryItNowTenant" class="tryinfo-box">
        <div>Trial time remaining</div>
        <div class="tryinfo-box-timer">10:45</div>
        <div id="extendTrial" (click)="extendResourceLifeTime()" class="link clickable">Extend Trial</div>

        <div *ngIf="tryItNowTenant" (click)="redirecttoazurefreetrial()" class="link clickable">
            Signup for an Azure 30-day trial
        </div>
    </div>
    <div id="refresh" (click)="refresh()" class="link clickable"><i class="fa fa-refresh"></i> Refresh
    </div>

</div>