<div class="sidebar">
    
    <ul class="functions-list" [style.height]="_showTryView ? '82%' : '96%'">
        <li>
            <span class="function-item full-height">
                <input type="text" id="search-box" placeholder="{{ 'sideBar_searchMyFunction' | translate }}" [(ngModel)]="searchValue" />
            </span>
        </li>
        <li *ngFor="let functionInfo of functionsInfo | sidebarFilter:searchValue"
             (click)="selectFunction(functionInfo)"
             class="function-item">
            <span class="function-item clickable" [class.selected]="functionInfo === selectedFunction" href="#">
            <img *ngIf="!functionInfo.clientOnly" src="/images/functions.svg" class="function-icon" />
            <i *ngIf="functionInfo.clientOnly" class="fa fa-plus"></i>
                {{functionInfo.name}}
            </span>
        </li>
    </ul>
    <div *ngIf="showTryView">
        <try-now></try-now>
    </div>
    <div id="refresh" (click)="refresh()" class="refresh-button link clickable"><i class="fa fa-refresh"></i> {{ 'sideBar_refresh' | translate }}
    </div>

</div>