<div>
<div>
    <span *ngIf="languages.length > 0">
        Language:
        <drop-down [options]="languages"
                    class="tpicker-dropdown"
                    (value)="onLanguageChanged($event)"></drop-down>
    </span>
    <span *ngIf="categories.length > 0" style="margin-left:20px;">
        Scenario:
        <drop-down [options]="categories"
                    class="tpicker-dropdown"
                    (value)="onScenarioChanged($event)"></drop-down>
    </span>
</div>

<div class="tp-templates">
    <div *ngFor="#template of templates"
        class="tp-template"
        (click)="onTemplateCliked(template.value)"
        [class.tp-template-selected]="selectedTemplate == template.value">

        <div class="tp-template-container">
            <div class="tp-template-content">
                <div class="glyphicon glyphicon-file tp-template-icon"
                     [class.tp-template-icon-selected]="selectedTemplate == template.value"></div>
                <div>{{template.name}}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showFooter" class="tp-footer">
    <button class="custom-button" (click)="onSelectClicked()" [disabled]="!selectedTemplate">Select</button>
    <button class="custom-button-invert" (click)="onCancelClicked()">Cancel</button>
</div>
</div>