<div class="top-bar">
    <div class="dropdown-menu left">
        <div class="vertical-align-center logo" >Azure Functions</div>
    </div>
    <div class="top-bar-tools right vertical-align-center">
        <ul class="user-tools-list">
            <li class="top-bar-tool left"><i class="fa fa-heart"></i> feedback</li>
            <li class="top-bar-tool left">notifications</li>
            <li class="top-bar-tool left">?</li>
            <li class="top-bar-tool left no-right-border">User</li>
        </ul>
    </div>
</div>
