<div class="trial-expired-container">
    <div class="trial-expired-banner">
        <div>
            <h1>The faster way to functions</h1>
            <p>
                <img src="/images/function-io.svg" width="210px" />
                Write any function in minutes - whether to run a simple job that cleans up a database or to build a more complex architecture. Creating functions is easier than ever before, whatever your chosen OS, platform, or development method. No install required.
            </p>
        </div>
    </div>

    <div class="trial-expired-body">
        <h1>{{ 'trialExpired_enjoyedHostingFunctions' | translate }}</h1>
        <h3>{{ 'trialExpired_signupForAzure' | translate }}</h3>
        <div style="height:50px;"></div>
        <div>
            <div [attr.href]="freeTrialUri" target="_blank" class="trial-expired-signup-button">
                {{ 'tryNow_createFreeAzureAccount' | translate }}
            </div>
        </div>
    </div>
    <div class="trial-expired-footer">
    </div>
</div>
