<div class="trial-expired-container">
    <div class="trial-expired-banner">
        <div>
            <h1>The faster way to functions</h1>
            <p>
                <img src="/images/function-io.svg" width="210px" />
                Write any function in minutes - whether to run a simple job that cleans up a database or to build a more complex architecture. Creating functions is easier than ever before, whatever your chosen OS, platform, or development method. No install required.
            </p>
        </div>
    </div>

    <div class="trial-expired-body">
        <h1>We've enjoyed hosting your functions !</h1>
        <h3>Your trial has now expired, but you can sign up for an extended trial which includes the rest of Azure as well. </h3>
        <div style="height:50px;"></div>
        <div>
            <div [attr.href]="freeTrialUri" target="_blank" class="trial-expired-signup-button">
                Signup for an Azure 30-day trial
            </div>
        </div>
    </div>
    <div class="trial-expired-footer">
    </div>
</div>
