<top-bar gettingStarted="true" isTry="true"></top-bar>
<div class="trylanding-container">
    <div class="trylanding-banner">
        <div>
            <h1>The faster way to functions</h1>
            <p>
                <img src="/images/function-io.svg" width="210px" />
                Write any function in minutes - whether to run a simple job that cleans up a database or to build a more complex architecture. Creating functions is easier than ever before, whatever your chosen OS, platform, or development method. No install required.
            </p>
        </div>
    </div>
    <div class="trylanding-body">
        <h2>Get started quickly with a premade function</h2>
        <h3>1) Choose a scenario:</h3>
        <div>
            <div class="trylanding-template"
                 (click)="onFunctionClicked('TimerTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'TimerTrigger'">

                <div><img src="/images/timer-template.svg" /></div>
                <div>Timer</div>
            </div>
            <div class="trylanding-template"
                 (click)="onFunctionClicked('QueueTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'QueueTrigger'">

                <div><img src="/images/data-process-template.svg" /></div>
                <div>Data processing</div>
            </div>

            <div class="trylanding-template"
                 (click)="onFunctionClicked('HttpTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'HttpTrigger'">

                <div><img src="/images/webhook-api-template.svg" /></div>
                <div>Webhook + API</div>
            </div>
        </div>
        <h3>2) Choose a language:</h3>
        If you'd prefer another supported language, choose "Create a function from scratch".
        <div class class="trylanding-lang-container">
            <div class="trylanding-template-lang"
                 (click)="onLanguageClicked('CSharp')"
                 [class.trylanding-template-lang-selected]="selectedLanguage === 'CSharp'">
                <div>C#</div>
            </div>
            <div class="trylanding-template-lang"
                 (click)="onLanguageClicked('NodeJS')"
                 [class.trylanding-template-lang-selected]="selectedLanguage === 'NodeJS'">
                <div>JavaScript</div>
            </div>
        </div>
        <div>
            <button class="custom-button"
                    (click)="onCreateNewFunction()">
                Create this function
            </button>
        </div>
        <div class="login-box" *ngIf="loginOptions" ngClass="currentCulture == 'ru' ? 'login-box-ru' : ''">
            <div style="display: block; margin-left: 30px">
                <div class="wa-heading5" style="position: relative; margin-right: 8px">Choose an Auth provider</div>
                <div class="login-option"><button (click)="handleLoginClick('aad')" class="create-site-action wa-button microsoft-login">Microsoft Account</button></div>
                <div class="login-option"><button class="create-site-action" (click)="handleLoginClick('google')" ><div class="google-login sprite-google"></div></button></div>
                <div class="login-option"><button class="create-site-action" (click)="handleLoginClick('facebook')" ><div class="facebook-login"></div></button></div>
                <div *ngIf="currentCulture == 'ru'" class="login-option">
                    <button class="create-site-action" (click)="handleLoginClick('vk')" >
                        <div class="vk-login"></div></button>
                </div>
            </div>

        </div>
    </div>
</div>