<div class="tryinfo-box">
    <div>{{ 'tryNow_trialTimeRemaining' | translate }}</div>
    <div id="countdownTimer" class="tryinfo-box-timer">{{timerText}}</div>
    <div style="margin-top:10px;"></div>
    <div id="extendTrial" (click)="extendResourceLifeTime()" class="extend-trial-button" *ngIf="!(uiResource?.isExtended || trialExpired)">
        {{ 'tryNow_extendTrial' | translate }}
    </div>
    <div style="margin-top: 10px;"></div>
    <a [attr.href]="freeTrialUri" target="_blank" class="signup-button ">
        {{ 'tryNow_createFreeAzureAccount' | translate }}
    </a>
</div>