.list-collection-container{
    padding: 25px 25px;
    background-color: $body-bg-color;


    img{
        vertical-align: middle;
        margin-bottom: 15px;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
}
