.list-collection-container{
    padding: 0px 25px;
    background-color: $body-bg-color;

    h3{
        display: inline-block;
        margin-right: 10px;
    }

    img{
        vertical-align: middle;
        margin-bottom: 12px;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
}
