@import '../common/variables';
.sidebar {
    background-color: $body-bg-color;

    width: 50vw;

    &.ng-sidebar--opened.ng-sidebar--push {
        border-left: $border;
    }
}

.sidebar-new-function, .sidebar-slot-swap {
    background-color: $body-bg-color;
    z-index: 11 !important;
}

.sidebar-new-function {
    width: 30vw;
}

.sidebar-slot-swap {
    width: 60vw;
}

.ng-sidebar__backdrop {
    z-index: 10 !important;
}

#app-root[theme=dark]{
    .sidebar-new-function, .sidebar-slot-swap {
        background-color: $body-bg-color-dark;
    }

    .sidebar{
        background-color: $body-bg-color-dark;
    }
}
