<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

    <div class="settings-wrapper">
      <div class="setting-wrapper">
        <label id="github-action-build-linux-framework-label" class="setting-label">{{'webAppFramework' | translate}} </label>
        <div class="setting-control-container">
          <ng-select
            aria-labelledby="github-action-build-linux-framework-label"
            class="custom-select"
            [clearable]="false"
            [searchable]="false"
            [items]="webApplicationFrameworks"
            bindLabel="displayLabel"
            bindValue="value"
            [(ngModel)]="selectedFramework"
            formControlName="applicationFramework">
          </ng-select>
        </div>
      </div>


      <div [hidden]="selectedFramework !== 'AspNetCore'">
        <div class="setting-wrapper">
          <label id="github-action-build-linux-fxversion-label" class="setting-label">{{'frameworkVersion' | translate}} </label>
          <div class="setting-control-container">
            <ng-select
              aria-labelledby="github-action-build-linux-fxversion-label"
              class="custom-select"
              [clearable]="false"
              [searchable]="false"
              [items]="dotNetCoreFrameworkVersions"
              bindLabel="displayLabel"
              bindValue="value"
              [(ngModel)]="selectedFrameworkVersion"
              formControlName="frameworkVersion">
            </ng-select>
          </div>
        </div>
      </div>

      <div [hidden]="selectedFramework !== 'Node'">
        <div class="setting-wrapper">
          <label id="github-action-build-linux-node-version-label" class="setting-label">{{'version' | translate}} </label>
          <div class="setting-control-container">
            <ng-select
              aria-labelledby="github-action-build-linux-node-version-label"
              class="custom-select"
              [clearable]="false"
              [searchable]="false"
              [items]="nodeFrameworkVersions"
              bindLabel="displayLabel"
              bindValue="value"
              [(ngModel)]="selectedFrameworkVersion"
              formControlName="frameworkVersion">
            </ng-select>
          </div>
        </div>
      </div>

      <div [hidden]="selectedFramework !== 'Python'">
        <div class="setting-wrapper">
          <label id="github-action-build-linux-python-version-label" class="setting-label">{{'version' | translate}} </label>
          <div class="setting-control-container">
            <ng-select
              aria-labelledby="github-action-build-linux-python-version-label"
              class="custom-select"
              [clearable]="false"
              [searchable]="false"
              [items]="pythonFrameworkVersions"
              bindLabel="displayLabel"
              bindValue="value"
              [(ngModel)]="selectedFrameworkVersion"
              formControlName="frameworkVersion">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="setting-wrapper">
        <label class="setting-label">{{'startupCommand' | translate}} </label>
        <div class="setting-control-container">
          <textbox [ariaLabel]="'startupCommand' | translate" aria-describedby="dc-linux-startup-command-error" [control]="wizard?.buildSettings?.controls?.startupCommand"></textbox>
          <div invalidmessage="startupCommand" id="dc-linux-startup-command-error" role="alert"></div>
        </div>
      </div>

    </div>
</div>