@import '../../sass/main';

.newfunc-container{
    padding: 20px;
    background-color: $body-bg-color;
}

.newfunc-container > div{
    margin-bottom: 40px;
}

input{
    background: $body-bg-color;
    border: 2px solid $border-color;
    width: 300px;
    padding-left: 5px;
    margin-right: 10px;
}

input.input-error {
    padding-right:25px;
}

.quickstart {
    color: $primary-color;
}

.quickstart:hover {
    cursor: pointer;
}

.choose {
    padding-bottom:10px;
}

.function-name-separator {
    margin-bottom: 20px;
}