<div class="newfunc-container" >

    <app-edit-mode-warning [functionApp]="functionApp" [appNode]="appNode"></app-edit-mode-warning>

    <div *ngIf="functionsInfo" [fnWriteAccess]="functionApp">
        <div class="choose">
            <span class="text-level1-heading">{{ 'functionNew_chooseTemplate' | translate }}</span>
            <span class="text-level1-heading quickstart" (click)="quickstart()">{{ 'functionNew_chooseTemplateQuickstart' | translate }}</span>
        </div>
        <template-picker
            [functionAppInput]="functionApp"
            [type]="type"
            [showFooter]="false"
            (complete)="onTemplatePickUpComplete($event)"
            [template]="selectedTemplateId"></template-picker>
    </div>

    <div *ngIf="selectedTemplate">
        <div *ngIf="templateWarning" class="alert alert-warning alert-dismissible" role="alert">
            <div [innerHTML]="templateWarning"></div>
            <div *ngIf="addLinkToAuth" class="link" (click)="onAuth()">{{ 'binding_AADLinkAuth' | translate }}</div>
        </div>
        <h3>{{ 'functionNew_nameYourFunction' | translate }}</h3>
        <input type="text"
               [(ngModel)]="functionName"
               (ngModelChange)="functionNameChanged($event)"
               placeholder="{{ 'functionNew_functionName' | translate }}"
               [ngClass]="{'input-error':!!functionNameError}">

        <pop-over *ngIf="!!functionNameError" [message]="functionNameError" [isInputError]="true">
        </pop-over>

        <div class="function-name-separator"></div>

        <!--<div *ngIf="!!functionNameError" class="error-output">{{functionNameError}}</div>-->

        <!--<h3 *ngIf="hasInputsToShow" style="margin-top: 40px">{{ 'configure' | translate }}</h3>-->
        <binding *ngIf="model.trigger"
                 (validChange)="onValidChanged($event)"
                 [functionAppInput]="functionApp"
                 [binding]="model.trigger"
                 [canDelete]="false"
                 [canCancel]="false"
                 [canSave]="false"
                 [clickSave]="clickSave"
                 (remove)="onRemoveBinding($event)"
                 (update)="onUpdateBinding($event)"></binding>

        <binding *ngFor="let binding of model.inputs"
                 (validChange)="onValidChanged($event)"
                 [functionAppInput]="functionApp"
                 [binding]="binding"
                 [canSave]="false"
                 [canDelete]="false"
                 [canCancel]="false"
                 [clickSave]="clickSave"
                 (remove)="onRemoveBinding($event)"
                 (update)="onUpdateBinding($event)"></binding>

        <binding *ngFor="let binding of model.outputs"
                 (validChange)="onValidChanged($event)"
                 [functionAppInput]="functionApp"
                 [binding]="binding"
                 [canSave]="false"
                 [canDelete]="false"
                 [canCancel]="false"
                 [clickSave]="clickSave"
                 (remove)="onRemoveBinding($event)"
                 (update)="onUpdateBinding($event)"></binding>

        <div *ngIf="model.trigger && model.trigger.type === 'eventGridTrigger'" class="alert alert-warning alert-dismissible" role="alert">
            {{ 'eventGrid_createMessage' | translate }}
        </div>

        <button [class.custom-button]="areInputsValid"
                [class.custom-button-disabled]="!areInputsValid"
                style="display: block; margin-top: 40px"
                (click)="onCreate()">{{ 'create' | translate }}</button>

        <div *ngIf="showAADExpressRegistration">
            <br/>
            <button class="custom-button" (click)="createAADApplication()" [disabled]="showTryView">{{ 'expressAADRegistration' | translate }}</button>
        </div>

    </div>
</div>