:host {
    display: flex;
    justify-content: flex-start;

    &.vertical {
        flex-direction: row;
    }

    &.horizontal {
        flex-direction: column;
    }

    .wizard-steps {
        top: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}
