<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

  <h3 class="first-config-heading">{{'build' | translate}}</h3>
  <div class="settings-wrapper">
    <div *ngIf="wizard?.wizardValues?.sourceProvider !== 'vsts'">
      <div class="setting-wrapper">
        <label id="dc-vsts-build-account-label" class="setting-label">{{'vstsAccount' | translate}}</label>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [ariaLabel]="'newOrExistingVstsAccount' | translate" [control]="wizard?.buildSettings?.controls?.createNewVsoAccount" [options]="newVsoAccountOptions" [highlightDirty]="true"
              (value)="createOrExistingChanged($event)">
            </radio-selector>
          </div>
          <ng-select 
            aria-describedby="dc-vsts-account-error"
            aria-labelledby="dc-vsts-build-account-label" 
            *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === false" 
            class="custom-select" 
            [items]="accountList"
            [clearable]="false" 
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedAccount"
            formControlName="vstsAccount" 
            [loading]="accountListLoading" 
            (change)="accountChanged($event)">
          </ng-select>
          <textbox 
            ariaErrorId="dc-vsts-account-error"
            [ariaLabel]="'vstsAccount' | translate" 
            *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount" 
            [control]="wizard?.buildSettings?.controls?.vstsAccount"></textbox>
            <div invalidmessage="vstsAccount" id="dc-vsts-account-error" role="alert"></div>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount" class="setting-wrapper">
        <label id="dc-vsts-build-location-label" class="setting-label">{{'location' | translate}}</label>
        <div class="setting-control-container">
          <ng-select 
            aria-describedby="dc-vsts-location-error"
            aria-labeledBy="dc-vsts-build-location-label" 
            class="custom-select" 
            [items]="locationList" 
            bindLabel="displayLabel" 
            bindValue="value" 
            [clearable]="false" 
            [(ngModel)]="selectedLocation" 
            formControlName="location">
          </ng-select>
          <div invalidmessage="location" id="dc-vsts-location-error" role="alert"></div>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === false" class="setting-wrapper">
        <label id="dc-vsts-build-project-label" class="setting-label">{{'project' | translate}}</label>
        <div class="setting-control-container">
          <ng-select 
            aria-describedby="dc-vsts-project-error"
            aria-labeledBy="dc-vsts-build-project-label" 
            [loading]="projectListLoading"
            class="custom-select" 
            [items]="projectList" 
            bindLabel="displayLabel" 
            bindValue="value" 
            [clearable]="false" 
            [(ngModel)]="selectedProject" 
            formControlName="vstsProject">
          </ng-select>
          <div invalidmessage="vstsProject" id="dc-vsts-project-error" role="alert"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<app-linux-frameworks *ngIf="wizard.isLinuxApp && !wizard.isFunctionApp" ></app-linux-frameworks>
<app-windows-frameworks *ngIf="!wizard.isLinuxApp && !wizard.isFunctionApp" ></app-windows-frameworks>
<app-functions-frameworks *ngIf="wizard.isFunctionApp"></app-functions-frameworks>