<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

  <h3 class="first-config-heading">{{'build' | translate}}</h3>
  <div class="settings-wrapper">
    <div *ngIf="wizard?.wizardValues?.sourceProvider !== 'vsts'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'vstsAccount' | translate}}</div>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [control]="wizard?.buildSettings?.controls?.createNewVsoAccount" [options]="newVsoAccountOptions" [highlightDirty]="true"
              (value)="createOrExistingChanged($event)">
            </radio-selector>
          </div>
          <ng-select *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === false" class="custom-select" [items]="accountList"
            [clearable]="false" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectAccount' | translate}}" [(ngModel)]="selectedAccount"
            formControlName="vstsAccount" [loading]="accountListLoading" (change)="accountChanged($event)">
          </ng-select>
          <textbox *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount" [control]="wizard?.buildSettings?.controls?.vstsAccount"
            placeholder="{{'enterAccountName' | translate}}"></textbox>
            <div invalidmessage="vstsAccount"></div>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount" class="setting-wrapper">
        <div class="setting-label">{{'location' | translate}}</div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [items]="locationList" bindLabel="displayLabel" bindValue="value" placeholder="{{'gettingStarted_selectLocation' | translate}}"
            [clearable]="false" [(ngModel)]="selectedLocation" formControlName="location">
          </ng-select>
          <div invalidmessage="location"></div>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === false" class="setting-wrapper">
        <div class="setting-label">{{'project' | translate}}</div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [items]="projectList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectProject' | translate}}"
            [clearable]="false" [(ngModel)]="selectedProject" formControlName="vstsProject">
          </ng-select>
          <div invalidmessage="vstsProject"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<app-linux-frameworks *ngIf="wizard.isLinuxApp" ></app-linux-frameworks>
<app-windows-frameworks *ngIf="!wizard.isLinuxApp" ></app-windows-frameworks>