<div class="sidenav">

    <div id="sidenav-menu">

        <input type="text"
            id="sidenav-search"
            placeholder="Search"
            [value]="searchTerm"
            (keyup)="search($event)" />

        <img id="sidenav-search-icon" src="images/search.svg" />

        <span *ngIf="!!searchTerm" id="sidenav-search-clear" (click)="clearSearch()">
            <i class="fa fa-times"></i>
        </span>

        <div id="sidenav-subs">
            <multi-drop-down
                [inputOptions]="subscriptionOptions"
                [displayText]="subscriptionsDisplayText"
                (selectedValues)="onSubscriptionsSelect($event)"></multi-drop-down>
        </div>

    </div>

    <div *ngIf="selectedSubscriptions.length > 0">
        <tree-view [node]="rootNode" [levelInput]="0"></tree-view>
    </div>

</div>