@import '../../sass/main';

.sidenav {
    width: $sidenav-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $chrome-color;
    bottom: 0;
    z-index: 100;
    border-right: $border;
}

#sidenav-menu{
    padding: 5px;

    >input[type=text]{
        width: 100%;
    }
}

#sidenav-search{
    padding-left: 30px;
}

.sidenav-search-highlight{
    background-color: $warning-faded-color;
}

#sidenav-search-icon{
    position: absolute;
    top: 12px;
    left: 13px;
    width: 14px;
    height: 14px;

    @include flip-horizontal();
}

#sidenav-search-clear{
    position: absolute;
    top: 9px;
    right: 13px;
    color: $danger-color;
    font-size: 16px;
}

#sidenav-subs{
    margin-top: 5px;
}

:host /deep/ multi-drop-down .multi-drop-down-container{
    width: $sidenav-width;
}