<div class="sidenav" [class.sidenav-try]="tryFunctionApp">

    <div id="sidenav-menu" *ngIf="!tryFunctionApp">

        <search-box (onInputChange)="search($event)"
                    (onClear)="clearSearch()"
                    [value]="searchTerm"
                    [placeholder]="'search' | translate"
                    [warning]="true"
                    [ariaLabel]="'searchFunctionApps' | translate">
        </search-box>

        <div id="sidenav-subs">
            <multi-drop-down
                [inputOptions]="subscriptionOptions"
                [displayText]="subscriptionsDisplayText"
                (selectedValues)="onSubscriptionsSelect($event)"></multi-drop-down>
        </div>

    </div>

    <div #treeViewContainer
         id="tree-view-container"
         role="tree"
         [attr.aria-label]="'functionApps' | translate">
        <tree-view *ngIf="rootNode" [node]="rootNode" [level]="0"></tree-view>
    </div>

</div>