<div class="sidenav">

    <div id="sidenav-menu">
        <input type="text"
            id="sidenav-search"
            placeholder="Search"
            [value]="searchTerm"
            (keyup)="search($event)" />

        <span *ngIf="!!searchTerm" id="sidenav-search-clear" (click)="clearSearch()">
            <i class="fa fa-times"></i>
        </span>

        <!--<span class="sidenav-search-clear-disabled">
            <i class="fa fa-times"
               aria-hidden="true"
               [class.sidenav-search-clear-dirty]="!!searchTerm"
               [class.clickable]="!!searchTerm"
               (click)="searchTerm = ''"></i>
        </span>-->

        <div id="sidenav-subs">
            <multi-drop-down
                [inputOptions]="subscriptionOptions"
                [displayText]="subscriptionsDisplayText"
                (selectedValues)="onSubscriptionsSelect($event)"></multi-drop-down>
        </div>

    </div>

    <div *ngIf="selectedSubscriptions.length > 0">
        <tree-view [node]="rootNode" [levelInput]="0"></tree-view>
        <!--<div *ngIf="!!searchTerm">
            <tree-view [node]="searchNode" [levelInput]="0"></tree-view>
        </div>-->
    </div>

</div>