@import '../../sass/main';

.sidenav {
    width: $sidenav-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $chrome-color;
    bottom: 0;
    z-index: 100;
    border-right: $border;
}

.sidenav-try{
    height: calc(100% - $top-bar-height);
    top: $top-bar-height;
}

#sidenav-menu{
    padding: 5px;

    >input[type=text]{
        width: 100%;
    }
}

#sidenav-subs{
    margin-top: 5px;
}

:host /deep/ multi-drop-down .multi-drop-down-container{
    width: $sidenav-width;
}

#tree-view-container{
    &:focus{
        outline: none;
    }
}