.rr-container {
    > div {
        width: 740px;
        margin-bottom: 10px;
    }

    input{
        height: 23px;
    }

    select{
        height: 23px;
    }
}

.response-body {
    height:200px;
}

.response-status {
    display:flex;
    div:nth-child(2) {
        padding-left:65px;
    }
}

.non-visible {
    visibility: hidden;
    height: 0px;
}

.shown-container {
    padding-top: 15px;
}

.edit {
    width: 740px;
    padding-bottom: 10px;
}