<div id="spec-picker-container" *ngIf="specManager && specManager.selectedSpecGroup">
  <div id="spec-picker-shield" *ngIf="isUpdating || shieldEnabled" [class.spec-picker-shield-menu]="isOpenedFromMenu"></div>

  <group-tabs
    [tabs] = "specManager.specGroups"
    groupId = "spec-group"
    [selectedTabId] = "specManager.selectedSpecGroup.id"
    (valueChanged)="selectGroup($event)">
  </group-tabs>

  <section role="tabpanel"
    [id]="'spec-group-tab-' + specManager.selectedSpecGroup.id"
    [attr.aria-label]="specManager.selectedSpecGroup.title">

    <section>
      <ng-container *ngIf="!specManager.specSpecificBanner">
        <info-box *ngIf="specManager.selectedSpecGroup.bannerMessage?.infoLink"
          [isBanner]="true"
          [infoText]="specManager.selectedSpecGroup.bannerMessage.message"
          [typeClass]="specManager.selectedSpecGroup.bannerMessage.level"
          [infoLink]="specManager.selectedSpecGroup.bannerMessage.infoLink"></info-box>

        <info-box *ngIf="specManager.selectedSpecGroup.bannerMessage?.infoActionFn"
          [isBanner]="true"
          [infoText]="specManager.selectedSpecGroup.bannerMessage.message"
          [typeClass]="specManager.selectedSpecGroup.bannerMessage.level"
          [infoActionFn]="specManager.selectedSpecGroup.bannerMessage.infoActionFn"></info-box>

        <info-box *ngIf="specManager.selectedSpecGroup.bannerMessage && !specManager.selectedSpecGroup.bannerMessage.infoLink && !specManager.selectedSpecGroup.bannerMessage.infoActionFn"
          [infoText]="specManager.selectedSpecGroup.bannerMessage.message"
          [typeClass]="specManager.selectedSpecGroup.bannerMessage.level"></info-box>
      </ng-container>

      <info-box *ngIf="!!specManager.specSpecificBanner"
          [isBanner]="true"
          [infoText]="specManager.specSpecificBanner.message"
          [typeClass]="specManager.specSpecificBanner.level"
          [infoLink]="specManager.specSpecificBanner.infoLink"></info-box>

    </section>

    <section *ngIf="isEmpty" class="empty-group">
      <div [load-image]="specManager.selectedSpecGroup.iconUrl" class="icon-large"></div>
      <article [id]="specManager.selectedSpecGroup.id + 'empty'">
        <div>{{specManager.selectedSpecGroup.emptyMessage}}</div>
        <a [href]="specManager.selectedSpecGroup.emptyInfoLink"
          target="_blank"
          [attr.aria-describedby]="specManager.selectedSpecGroup.id + 'empty'">{{specManager.selectedSpecGroup.emptyInfoLinkText}}</a>
      </article>
    </section>

    <section class="centered" role="radiogroup">
      <ng-container *ngIf="specManager.selectedSpecGroup.recommendedSpecs.length > 0">
        <h4 id="recommendedTierHeaderId" class="tiers-header">{{'pricing_recommendedTiers' | translate}}</h4>
        <spec-list [specGroup]="specManager.selectedSpecGroup"
          [isRecommendedList]="true"
          (onSelectedSpec)="selectSpec($event)"></spec-list>
      </ng-container>

      <div class="spec-expander" *ngIf="showExpander">
        <span (click)="specManager.selectedSpecGroup.isExpanded = !specManager.selectedSpecGroup.isExpanded"
              (keydown)="onExpandKeyPress($event)"
              role="button"
              tabindex="0"
              [attr.aria-expanded]="specManager.selectedSpecGroup.isExpanded"
              [attr.aria-controls]="specManager.selectedSpecGroup.id + specManager.selectedSpecGroup.selectedSpec?.skuCode">

          <span [load-image]="!specManager.selectedSpecGroup.isExpanded ? 'image/caret-down.svg' : 'image/caret-up.svg'" class="expand-icon"></span>
          <a>{{ (!specManager.selectedSpecGroup.isExpanded ? 'seeAllOptions' : 'seeRecommendedOptions') | translate}}</a>
        </span>
      </div>

      <ng-container *ngIf="showAllSpecs">
        <h4 id="additionalTierHeaderId" class="tiers-header">{{'pricing_additionalTiers' | translate}}</h4>
        <spec-list [specGroup]="specManager.selectedSpecGroup"
          [isRecommendedList]="false"
          (onSelectedSpec)="selectSpec($event)"></spec-list>
      </ng-container>
    </section>

    <section *ngIf="specManager.selectedSpecGroup.selectedSpec" class="feature-lists-container centered">
      <article class="feature-list">
          <spec-feature-list
            [title]="'pricing_includedFeatures' | translate"
            [description]="'pricing_includedFeaturesDesc' | translate"
            [featureItems]="specManager.selectedSpecGroup.selectedSpec.featureItems"></spec-feature-list>
      </article>

      <article class="feature-list">
          <spec-feature-list
            [title]="'pricing_includedHardware' | translate"
            [description]="'pricing_includedHardwareDesc' | translate"
            [featureItems]="specManager.selectedSpecGroup.selectedSpec.hardwareItems"></spec-feature-list>
      </article>

    </section>
  </section>  <!-- End tabpanel -->

  <footer>
    <div id="spec-picker-footer">
      <button class="custom-button"
        [disabled]="!applyButtonEnabled"
        (click)="clickApply()"
        [attr.aria-label]="'pricing_applyButtonLabel' | translate">

        <span *ngIf="!isUpdating">{{'apply' | translate}}</span>
        <span *ngIf="isUpdating" load-image="image/loader.svg" class="icon-medium fa-spin"></span>
      </button>

      <input class="message-icon"
        *ngIf="statusMessage && statusMessage.message && statusMessage?.showCheckbox"
        [(ngModel)]="isStatusMessageCheckboxSelected"
        type="checkbox">

      <span class="message-icon icon-medium"
        *ngIf="statusMessage && statusMessage.message && !statusMessage?.showCheckbox"
        [load-image]="statusMessageImage"></span>

      <div>
        <span class="message-text"
          [class.message-error]="statusMessage?.level === 'error'"
          [class.message-success]="statusMessage?.level === 'success'">

          {{statusMessage?.message}}
        </span>
        <a *ngIf="statusMessage?.infoLink" class="message-text" [href]="statusMessage?.infoLink" target="_blank" [attr.aria-label]="statusMessage?.infoLinkAriaLabel">{{'learnMore' | translate}}</a>
      </div>
    </div>
  </footer>
</div>