<div>
  <div id="splash-page-background" (click)="onClickOutside()"></div>
  <div id="splash-page-square">
    <span id="splash-page-message">
      <div>
        <div class="splash-page-large" load-image="images/functions.svg"></div>
        <div class="splash-page-heart" load-image="images/heart.svg"></div>
        <div class="splash-page-large" load-image="images/java.svg"></div>
      </div>
      <div id="splash-page-text">
        <div>
          <h2>{{ 'java_splash_line_1' | translate }}</h2>
        </div>
        <div id="splash-page-text-line">
          <h2>{{ 'java_splash_line_2' | translate }}</h2>
        </div>
      </div>
      <div id="splash-page-button-location">
        <a href="https://go.microsoft.com/fwlink/?linkid=859422" target="_blank" >
          <button id="splash-page-button" class="custom-button">
            <div load-image="images/external.svg" class="icon-small"></div>
            {{ 'java_splash_button' | translate }}
          </button>
        </a>
      </div>
    </span>
  </div>
</div>
