<div *ngIf="!fetchingContent && !featureSupported" class="scale-up-container">

    <div load-image="image/scale-up.svg" class="icon-large"></div>
    <div class="scale-up-message">Upgrade to a standard or premium plan to add slots.</div>
    <div class="slots-description">
        Deployment slots are live apps with their own hostnames. App content and configuration elements can be swapped between two deployment slots, including the production slot.
        <a>Learn More</a>
    </div>
    <button (click)="scaleUp()" class="custom-button">
        Upgrade
    </button>

</div>

<!-- *ngIf="keepVisible || (!fetchingContent && (featureSupported || loadingFailed)" -->
<ng-sidebar-container
    *ngIf="keepVisible || featureSupported || loadingFailed"
    class="sidebar-container"
    [backdropClass]="'sidebar-backdrop-slot-swap'"
    [animate]="true">

    <div ng-sidebar-content>
        <command-bar>
            <command
                displayText="{{ 'addSlot' | translate }}" 
                iconUrl="image/add.svg" 
                (click)="showAddControls()"
                [disabled]="!hasWriteAccess">
            </command>
        
            <command
                displayText="{{ siteArm?.properties.targetSwapSlot ? 'completeSwap' : 'swap' | translate }}"
                iconUrl="image/swap.svg"
                (click)="showSwapControls()"
                [disabled]="!hasWriteAccess || !hasSwapAccess">
            </command>

            <command
                [displayText]="'save' | translate"
                iconUrl="image/save.svg"
                (click)="save()"
                [disabled]="!mainForm || !mainForm.valid || mainForm.pristine || !hasWriteAccess">
            </command>

            <command
                [displayText]="'discard' | translate"
                iconUrl="image/discard.svg"
                (click)="discard()"
                [disabled]="!mainForm || mainForm.pristine || !hasWriteAccess">
            </command>

            <command
                [displayText]="'refresh' | translate"
                iconUrl="image/reset.svg"
                (click)="refresh(true)"
                [disabled]="!viewInfo">
            </command>
        </command-bar>

        <div class="config-wrapper">
            <div class="config-container"
                [is-dirty]="mainForm?.dirty"
                [is-dirty-message]="dirtyMessage">

                <!--
                <div class="slots-header-container">                
                    <div class="slots-icon-container">
                        <div load-image="image/slots.svg" class="icon-large"></div>
                    </div>
                    <div class="slots-text-container">
                        <div class="slots-header-title">Deployment Slots</div>
                        <div class="slots-header-description">Deployment slots are live apps with their own hostnames. App content and configurations elements can be swapped between two deployment slots, including the production slot.</div>
                    </div>
                </div>
                -->

                <div class="slots-header-container">                
                    <div class="slots-icon-container">
                        <div load-image="image/slots.svg" class="icon-large"></div>
                    </div>
                    <div class="slots-title-container">
                        <div class="slots-title">Deployment Slots</div>
                        <div class="underline"></div>
                    </div>
                </div>

                <div class="slots-description-container">
                    <div class="slots-description">Deployment slots are live apps with their own hostnames. App content and configurations elements can be swapped between two deployment slots, including the production slot.</div>
                    <div class="underline"></div>
                </div>

                <!-- TODO: Add loading failure infobox -->
                <!-- TODO: Add permissions warning infobox -->

                <table-root
                    tblClass="tbl fixed stretch"
                    [name]="Resources.feature_deploymentSlotsName | translate">

                    <tr class="header-row" table-row>
                        <th class="one-quarter-col padded-col" table-cell>
                            SLOT
                        </th>
                        <th class="one-quarter-col padded-col" table-cell>
                            STATUS
                        </th>
                        <th class="one-quarter-col padded-col" table-cell>
                            APP SERVICE PLAN
                        </th>
                        <th class="one-quarter-col padded-col" table-cell>
                            TRAFFIC (%)
                        </th>
                    </tr>

                    <tr *ngIf="siteArm" table-row>
            
                        <td class="one-quarter-col padded-col" table-cell>
                            {{ siteArm ? siteArm.properties.name : '-' }}
                            <div
                                *ngIf="siteArm?.type === 'Microsoft.Web/sites'"
                                class="pill">
                                PROD
                            </div>
                        </td>
                
                        <td class="one-quarter-col padded-col" table-cell>
                            {{ siteArm ? siteArm.properties.state : '-' }}
                        </td>
                
                        <td class="one-quarter-col padded-col" table-cell>
                            {{ siteArm ? getSegment(siteArm.properties.serverFarmId, 8) : '-' }}
                        </td>
                
                        <td class="one-quarter-col padded-col" table-cell>
                            <div class="pct-wrapper">
                                <textbox
                                    readonly="true"
                                    [placeholder]="leftoverPct || 'NaN'">
                                </textbox>
                            </div>
                        </td>

                    </tr>

                    <tr *ngFor="let relativeSlotArm of (siteArm ? relativeSlotsArm : [])" table-row>
            
                        <td class="one-quarter-col padded-col" table-cell>      
                            <a tabindex="0" (click)="openSlotBlade(relativeSlotArm.id)" [activate-with-keys]>
                                {{ relativeSlotArm.properties.name }}
                            </a>
                            <div
                                *ngIf="relativeSlotArm.type === 'Microsoft.Web/sites'"
                                class="pill">
                                PROD
                            </div>
                        </td>
                    
                        <td class="one-quarter-col padded-col" table-cell>
                            {{ relativeSlotArm.properties.state }}
                        </td>
                
                        <td class="one-quarter-col padded-col" table-cell>
                            {{ getSegment(relativeSlotArm.properties.serverFarmId, 8) }}
                        </td>
                
                        <td class="one-quarter-col padded-col" table-cell [editable]="true">
                            <div class="pct-wrapper">
                                <textbox
                                    [control]="(mainForm && mainForm.controls['rulesGroup']) ? mainForm.controls['rulesGroup'].controls[relativeSlotArm.name] : null"
                                    [placeholder]="0"
                                    [highlightDirty]="true"
                                    (value)="computeLeftoverPct()">
                                </textbox>
                            </div>
                        </td>
            
                    </tr>
            
                    <!-- Placeholder/Message Row -->
                    <!-- If ARM call did not return successfully or there are no entries to display, display a placeholder row -->
                    <tr *ngIf="!siteArm || !relativeSlotsArm || relativeSlotsArm.length === 0" table-row>

                        <td *ngIf="fetchingContent" class="message-row" colspan="4" table-cell>
                            loading...
                        </td>

                        <td *ngIf="!fetchingContent" class="message-row" colspan="4" table-cell>
                            {{ !siteArm ? 'loading failed' : "You haven't added any deployment slots. Click ADD SLOT to get started." }}
                        </td>
            
                    </tr>
                </table-root>

            </div>

        </div>
    </div>

    <ng-sidebar
        #sidebar
        [(opened)]="swapControlsOpen"
        [mode]="'over'" 
        [position]="'right'" 
        [closeOnClickOutside]="false" 
        [trapFocus]="false"
        [autoFocus]="true"
        [sidebarClass]="'sidebar-slot-swap'"
        [ariaLabel]="'Swap Slot'"
        [animate]="true"
        [closeOnClickBackdrop]="false"
        [showBackdrop]="true">

        <div class="flyout-liner">
            <swap-slots
                *ngIf="swapControlsOpen"
                [resourceIdInput]="resourceId"
                (close)="swapControlsOpen=false">
            </swap-slots>
        </div>

    </ng-sidebar>
</ng-sidebar-container>