@import '../../../../../sass/common/variables';

:host {
    width: 100%;
    height: 100%;
}



.footer {
    background-color:white;
    position:fixed;
    height: 50px;
    margin-bottom: 0px;
    bottom:0px;
    width: 100%;
    box-shadow: 0px -5px 13px -1px rgba(0,0,0,0.38);
}


#site-config-wrapper{
    padding: 5px 20px;
}

th{
    height: 0px;
}

td{
    span{
        font-size: 16px;

        &:hover{
            color: $error-color;
        }

    }

    span.delete:hover{
        color: $error-color;
    }
}

.nameCol{
    width: 30%;
}

.valueCol{
    width: 65%;
}

.typeCol{
    width: 200px;
}

.actionCol{
    width: 25px;
}

.add-setting{
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
}

h3{
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 35px;
    padding-bottom: 10px;
    display: inline-block;

    &.first-config-heading{
        margin-top: 10px;
    }
}

.shield{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    background: rgba(255, 255, 255, 0.60);

    .shield-message{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        border: 1px solid black;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        text-align: center;
    }
}

.settings-group-wrapper{
    position: relative;
    padding: 10px;
}

.settings-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;

    .settings-load-message{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        margin-right: 25px;
        //width: 100%;
        border: 1px solid black;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        text-align: center;
    }

    .setting-wrapper{
        padding-bottom: 15px;

        &.last{
            padding-bottom: 0px;
        }

        .setting-label{
            box-sizing: border-box;
            color: rgb(71, 71, 71);
            display: inline-block;
            font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            font-size: 12px;
            font-weight: normal;
            line-height: normal;
            min-height: 20px;
            width: 16%;
        }

        .setting-control-container{
            color: rgb(37, 37, 37);
            display: inline-block;
            font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
            font-size: 12px;
            font-weight: normal;
            line-height: normal;
            vertical-align: middle;
            width: 255px;
        }
    }
}

.transparent{
    background: transparent;
}