@import '../../../sass/common/variables';

.panel{
    border: none;
}

.panel-heading, .panel-body{
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

.control-label{
    text-align: left;
    padding-left: 0px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 8px;
}

.control-label .glyphicon{
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}

.info-button{
    border: none;
    margin: -4px 0 0 0;
    padding: 0;
    height: inherit;
}

.custom-button, .custom-button-invert{
    margin-left: 0px;
}

input, select{
    position: relative;
    vertical-align: middle;
    height: 29px;
    width: 85%;
    margin-right: 10px;
    padding: 0 5px;
}

input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin: 0px;
    position: relative;
}

input[type=text], #enum-list, select {
    width: 100%;
}

input.input-error {
    padding-right:25px;
}

i.select {
    padding-left: 30px;
}

.methods-list {
    display: flex; 
    flex-direction: row; 
    max-width:700px; 
    flex-wrap: wrap;
}

.methods-list div {
    flex-basis: 150px;
}

.methods-list input {
    margin-left:0px
}

.input-header {
    display: flex;
    margin-top: 5px;
}

.input-header label {
    flex-grow: 1;
}

.link, .link-position {
    margin-left: 25px;
    margin-bottom: 4px;
    align-self: flex-end;
}

.input-error-adjust {
    float: right;
    margin-top: -25px;
    margin-right: -13px;
}

.input-show-help {
    margin-bottom: 10px;
    background-color: $chrome-color;
    border-color: $border-color;
    padding: 15px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    word-wrap: break-word;
}

:host-context(#app-root[theme=dark]){
    .input-show-help {
        background-color: $chrome-color-dark;
        border-color: $heading-text-color-dark;
    }
}

.input-error-adjust {
    position: absolute;
    background-color: $error-color;
    color: $body-bg-color;
    height: 25px;
    padding: 5px 5px 0px 5px;
    margin-right: 82px;
    right: 3px;
    margin-top: -27px;
}

.input-show-error {
    margin-top: 20px;
    background-color: $error-color-faded;
    border-color: $border-color;
    padding: 15px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    word-wrap: break-word;
}

:host-context(#app-root[theme=dark]){
    .input-show-error {
        background-color: $chrome-color-dark;
        border-color: $heading-text-color-dark;
    }
}

.input-warning-adjust {
    position: absolute;
    background-color: $warning-color;
    color: $body-bg-color;
    height: 25px;
    padding: 5px 5px 0px 5px;
    margin-right: 82px;
    right: 3px;
    margin-top: -27px;
}

.input-show-warning {
    margin-top: 20px;
    background-color: $warning-color-faded;
    border-color: $border-color;
    padding: 15px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    word-wrap: break-word;
}

:host-context(#app-root[theme=dark]){
    .input-show-warning {
        background-color: $chrome-color-dark;
        border-color: $heading-text-color-dark;
    }
}