<div>
    <busy-state></busy-state>
    <div class="float-left" style="width: 55%;">
        <span class="heading">{{'functionMonitor_invocationLog' | translate}}</span>
        <span id="refresh-icon" (click)="refreshFuncMonitorGridData()" style="padding-left: 10px;"><i class="fa fa-refresh"></i> Refresh</span>
        <span class="float-right">
       <span *ngIf="globalStateService.showTryView" [tooltip]="freeAccountTooltip"
        tooltipPlacement="right" class="pulse-button-disabled">{{'functionMonitor_pulseUrl' | translate}}</span>
        <a *ngIf ="!globalStateService.showTryView"  [attr.href]="pulseUrl" target="_blank">{{'functionMonitor_pulseUrl' | translate}}</a></span>
        <tooltip-content #freeAccountTooltip>
            <p>
                {{ 'tryNow_FreeAccountToolTip' | translate }}
            </p>
        </tooltip-content>
        <span style="clear: right"></span>
        <table class="table-function color-alt-table">
            <thead>
                <tr>
                    <th *ngFor="let column of columns">
                        {{column.display}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of data" [ngClass]="{rowSelected: object.id === selectedRowId}" (click)="showDetails(object)">
                    <td *ngFor="let column of columns">
                        <span [innerHtml]="object[column.variable] | format: column.formatTo"></span>
                    </td>
                    <td id="selected-row-icon"><i *ngIf="object.id === selectedRowId" class="fa fa-chevron-right"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="float-right" style="width: 40%">
        <span class="heading">{{'functionMonitor_invocationDetails' | translate}}</span>
        <table id="function-monitor-Invocation-details">
            <thead>
                <tr>
                    <th>{{'functionMonitorInvocationTable_paramColumn' | translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of details">
                    <td>{{item?.name}}</td>
                    <td>{{item?.argInvokeString}}</td>
                </tr>
                <tr>
                    <td>{{invocation?.exceptionType}}</td>
                    <td>{{invocation?.exceptionMessage}} </td>
                </tr>
            </tbody>
        </table>
        <div id="function-monitor-output">
            <div>
                <div>{{'functionMonitor_invocationOutput' | translate}}</div>
            </div>
            <textarea disabled>{{outputLog}}</textarea>
        </div>
    </div>
    <div class="clear-all "></div>
</div>
