<monitor-configure
    *ngIf = "shouldRenderMonitorConfigure"
    [monitorConfigureInfoInput] = "monitorConfigureInfo">
</monitor-configure>

<command-bar *ngIf = "!shouldRenderMonitorConfigure">
    <command displayText="{{ 'refresh' | translate }}"
        (click)="refreshMonitorClassicData()"
        iconUrl="image/reset.svg"></command>
</command-bar>

<div *ngIf = "!shouldRenderMonitorConfigure" class="function-monitor-content">

    <div *ngIf="shouldRenderAppInsightsUpsell" class="alert alert-warning alert-dismissible" role="alert">
        <img src="image/appInsights.svg"/>
        <span>{{ 'monitoring_appInsights' | translate }}</span>
        <a class="link" (click)="configure()">{{ 'monitoring_appInsightsConfigureLink' | translate }}</a>
    </div>

    <div id="function-aggregates">
        <aggregate-block [title]="successAggregateHeading"
            [value]="successAggregate"
            class="success-aggregate">
                {{'functionMonitor_loading' | translate}}
        </aggregate-block>

        <aggregate-block [title]="errorsAggregateHeading"
            [value]="errorsAggregate"
            class="error-aggregate">
                {{'functionMonitor_loading' | translate}}
        </aggregate-block>
        
        <div style="clear: both"></div>
    </div>

    <table-function-monitor
        [functionMonitorInfoInput] = "functionMonitorInfo">
    </table-function-monitor>
</div>