<section class="example">
    <h2>Click-to-Edit Table Example</h2>
    <div class="header">
        <label>Click on a cell and try deleting its value</label>

        <tbl [items]="groupArray.controls" #table="tbl" name="Editable table">
            <tr><th colspan="2"></th></tr>
            <tr *ngFor="let group of table.items">
                <td>
                    <click-to-edit [group]="group" name="name">
                        <textbox [control]="group.controls['name']"></textbox>
                    </click-to-edit>
                </td>
                <td>
                    <click-to-edit [group]="group" name="value">
                        <textbox [control]="group.controls['value']"></textbox>
                    </click-to-edit>
                    </td>
                </tr>
        </tbl>
    </div>
    <figure>
            <label>HTML</label>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
            <label>TypeScript</label>
            <pre class="language-typescript">
              <code [innerHTML]="typescriptCode" ></code>
          </pre>
    </figure>
</section>