<div class="control-label">{{ 'httpRun_httpMethod' | translate }}</div>

<select *ngIf="model"
        [(ngModel)]="model.method" (change)="onChangeMethod($event.target.value)">
    <option *ngFor="let method of availableMethods" [value]="method">{{method.toUpperCase()}}</option>
</select>



<pair-list *ngIf="paramsOptions" 
               [options]="paramsOptions" 
               addButtonLabel="{{ 'httpRun_addParameter' | translate}}"
               emptyLabel="{{ 'httpRun_noQuery' | translate }}"
               title="{{ 'httpRun_query' | translate }}"
               (valueChanges)="paramsValueChanges($event)">

</pair-list>
<pair-list *ngIf="headerOptions" 
               [options]="headerOptions" 
               addButtonLabel="{{ 'httpRun_addHeader' | translate}}"
               emptyLabel="{{ 'httpRun_noHeaders' | translate }}"
               title="{{ 'httpRun_headers' | translate }}"
               (valueChanges)="headerValueChanges($event)">

</pair-list>
