.pair {
    display:flex;
    flex-direction:row;
    padding-top: 5px;
}

.name {
    flex-basis: 170px;
}

.name-fixed {
    align-self: baseline;
    margin-right: 14px;
    overflow: auto;
    border: 1px solid #dedede;
    line-height: 25px;
    flex-basis: 170px;
    padding-left: 5px;
    background-color: #f5f5f5;
}

.value {
    flex-grow:1; 
}

.delete {
    align-self: center;
}

input, select{
    position: relative;
    vertical-align: middle;
    height: 23px;
    padding-left: 5px;
    margin-right: 10px;
}

.error-fix {
    padding-top: 4px;
    padding-left: 4px;
}