<div class="control-label">{{ 'httpRun_httpMethod' | translate }}</div>

<select *ngIf="model"
        [(ngModel)]="model.method" (change)="onChangeMethod($event.target.value)">
    <option *ngFor="let method of availableMethods" [value]="method">{{method.toUpperCase()}}</option>
</select>

<div style="padding-top:8px">{{ 'httpRun_query' | translate }}
</div>

<div *ngFor="let param of model.queryStringParams; let i = index;" class="pair">

    <input *ngIf="!param.isFixed" type="text" class="name"
           [(ngModel)]="param.name"
           (ngModelChange)="change($event)"
           placeholder="name">

    <div class="name-fixed" *ngIf="param.isFixed">{{param.name}}</div>

    <pop-over *ngIf="!param.name" [isInputError]="true" class="error-fix">
    </pop-over>

    <input type="text" class="value"
           [(ngModel)]="param.value"
           (ngModelChange)="change($event)"
           placeholder="value">
    <!--<pop-over *ngIf="!param.value" [isInputError]="true">
    </pop-over>-->

    <span class="text-hl">
        <i *ngIf="!param.isFixed" class="fa fa-remove clickable delete" (click)="removeQueryStringParam(i)"></i>
        <i *ngIf="param.isFixed" class="fa fa-remove delete"></i>
    </span>
</div>

<div>
    <span class="text-hl" (click)="addQueryStringParam()">
        <i class="fa fa-plus clickable"></i> {{ 'httpRun_addParameter' | translate }}
    </span>
</div>

<div style="padding-top:8px">{{ 'httpRun_headers' | translate }}</div>

<div *ngIf="model.headers.length === 0" class="text-label" style="font-style:italic">
    {{ 'httpRun_noHeaders' | translate }}
</div>

<div *ngFor="let header of model.headers; let i = index;" class="pair">
    <input type="text" class="name"
           [(ngModel)]="header.name"
           (ngModelChange)="change($event)"
           placeholder="name">

    <pop-over *ngIf="!header.name" [isInputError]="true" class="error-fix">
    </pop-over>

    <input type="text" class="value"
           [(ngModel)]="header.value"
           (ngModelChange)="change($event)"
           placeholder="value">
    <!--<pop-over *ngIf="!header.value" [isInputError]="true">
    </pop-over>-->

    <span class="text-hl">
        <i class="fa fa-remove clickable delete" (click)="removeHeader(i)"></i>
    </span>
</div>

<div>
    <span class="text-hl" (click)="addHeader()">
        <i class="fa fa-plus clickable"></i> {{ 'httpRun_addHeader' | translate }}
    </span>
</div>