<div *ngIf="config && config.properties.scmType === 'None'" class="deploy-header">
    <deployment-source-setup [siteInput]="site" (configOutput)="updateConfig($event)"></deployment-source-setup>
</div>

<div *ngIf="config && config.properties.scmType !== 'None'">
<div class="deploy-header">
    <h2>Deployment History</h2>
    <span class="link">Sync to latest</span> | <span class="link" (click)="disconnect()">Disconnect</span>
</div>

<div *ngIf="loadingDeployments">
    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
</div>

<div *ngIf="!loadingDeployments && deployments.length === 0">
    No deployments found
</div>

<div class="deploy-deployment" [class.deploy-summary-selected]="d.expanded" *ngFor="let d of deployments">
    <div class="deploy-summary-left"><img src="images/GitHub_65.png"></div>
    <div class="deploy-summary-middle">
        <div>
            <span *ngIf="Status[d.status] === 'Success' && d.active" class="success"><i class="fa fa-check-circle"></i> 
                ACTIVE DEPLOYMENT:
            </span>

            <span *ngIf="Status[d.status] === 'Failed'" class="danger"><i class="fa fa-ban"></i>
                FAILED DEPLOYMENT:
            </span>

            <span *ngIf="Status[d.status] === 'Pending' || Status[d.status] === 'Building' || Status[d.status] === 'Deploying'" class="warning">
                <i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i> {{Status[d.status]}}
            </span>

            <span *ngIf="Status[d.status] === 'Success' || Status[d.status] === 'Failed'">{{d.end_time}}
                <span class="link"><i class="fa fa-paper-plane-o" title="Redeploy"></i></span>
            </span>
        </div>
        <div>{{d.message}}</div>
        <div class="deploy-summary-commit-info">
            <span>ID: <span class="link">{{d.id | slice:0:10}}</span></span>
            <span>AUTHOR: {{d.author}}</span>
            <span>DEPLOYED BY: {{d.deployer}}</span>
        </div>
    </div>

    <!-- I originally dynamically set logs as a property of each deployment, but that caused issues because we're
         polling and would need to do deep comparisons between the deployments list on each poll, otherwise the 
         deployment list would update and we would end up closing the logs. -->
    <div class="deploy-summary-right">
        <i *ngIf="!deployment || deployment !== d" class="fa fa-chevron-right clickable" (click)="expandDeployment(d)"></i>
        <i *ngIf="deployment === d" class="fa fa-chevron-down clickable" (click)="collapseDeployment()"></i>
    </div>
    <div style="clear: both;"></div>
    
    <div *ngIf="loadingLogs && d === deployment"><i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i></div>
    <div class="deployment-logs">
        <table *ngIf="d === deployment" class="deployment-logs">
            <tr *ngFor="let log of logs">
                <td>{{log.log_time}}</td>
                <td>{{log.message}}</td> 
                <td><span *ngIf="!!log.details_url" class="link">View Log</span></td>
            </tr>
        </table>
    </div>
</div>
</div>