<div *ngIf="imageSourceForm" [formGroup]="imageSourceForm">
  <info-box *ngIf="registriesMissing" typeClass="error" [infoText]="'containerACRMissingErrorMessage' | translate"> </info-box>

  <info-box *ngIf="cotainsCrossSubscriptionRegistry" typeClass="info" [infoText]="'containerACRCrossSubscriptionRegistry' | translate">
  </info-box>

  <info-box *ngIf="!!credentialsErrorMessage" typeClass="error" [infoText]="credentialsErrorMessage"> </info-box>

  <div *ngIf="!registriesMissing">
    <div class="container-setting-property">
      <label>{{ 'containerACRRegistry' | translate }}</label>
      <ng-select
        id="container-acr-registries"
        class="custom-select container-acr-select"
        bindLabel="displayLabel"
        bindValue="value"
        placeholder="Select Registry"
        formControlName="registry"
        [loading]="loadingRegistries"
        [items]="registryDropdownItems"
        [clearable]="false"
        [(ngModel)]="selectedRegistry"
        (change)="registryChanged($event)"
      >
      </ng-select>
      <div invalidmessage="registry" id="containersettings-acr-registry-error" role="alert"></div>
    </div>

    <div *ngIf="containerImageSourceInfo.container.id === 'single'" class="container-setting-property">
      <label>{{ 'containerACRImage' | translate }}</label>
      <ng-select
        id="container-acr-respositories"
        class="custom-select container-acr-select"
        bindLabel="displayLabel"
        bindValue="value"
        placeholder="Select Respository"
        formControlName="repository"
        [loading]="loadingRepo"
        [items]="repositoryDropdownItems"
        [clearable]="false"
        [(ngModel)]="selectedRepository"
        (change)="respositoryChanged($event)"
      >
      </ng-select>
      <div invalidmessage="repository" id="containersettings-acr-repository-error" role="alert"></div>
    </div>

    <info-box *ngIf="!!repositoriesErrorMessage" typeClass="error" [infoText]="repositoriesErrorMessage"> </info-box>

    <div *ngIf="containerImageSourceInfo.container.id === 'single'" class="container-setting-property">
      <label>{{ 'containerACRTag' | translate }}</label>
      <ng-select
        id="container-acr-tags"
        class="custom-select container-acr-select"
        bindLabel="displayLabel"
        bindValue="value"
        placeholder="Select Tag"
        formControlName="tag"
        [loading]="loadingTag"
        [items]="tagDropdownItems"
        [clearable]="false"
        [(ngModel)]="selectedTag"
      >
      </ng-select>
      <div invalidmessage="tag" id="containersettings-acr-tag-error" role="alert"></div>
    </div>

    <info-box *ngIf="!!tagsErrorMessage" typeClass="error" [infoText]="tagsErrorMessage"> </info-box>

    <div
      *ngIf="containerImageSourceInfo.container.id === 'single' && containerImageSourceInfo.os === 'linux'"
      class="container-setting-property"
    >
      <label>{{ 'containerACRStartupFile' | translate }}</label>
      <textbox [control]="imageSourceForm?.controls?.startupFile"></textbox>
      <div invalidmessage="startupFile" id="containersettings-acr-startupFile-error" role="alert"></div>
    </div>

    <div *ngIf="containerImageSourceInfo.container.id !== 'single'">
      <div class="container-setting-property">
        <label>{{ 'containerMultiConfigurationFile' | translate }}</label>
        <input type="file" (change)="extractConfig($event)" />
      </div>

      <div class="container-setting-property">
        <label>{{ 'containerMultiConfiguration' | translate }}</label
        ><br />
        <textarea class="config" formControlName="config"></textarea>
        <div invalidmessage="config" id="containersettings-acr-config-error" role="alert"></div>
      </div>
    </div>
  </div>
</div>
