@import '../../sass/main';

.multi-select-container{
    position : relative;
    cursor: pointer;
}

.multi-select-toggle{
    outline: none !important;

    >.dispaly-box{
        margin-right: 1px;  // Not sure why, but you need at least a 1px margin or the layout gets crazy

        cursor: pointer;
        position: relative;
        display: inline-block;
        height: 29px;
        width: 100%;
        padding-top: 6px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid rgb(216, 225, 230);
        outline: none !important;
        background-color: white;
        color: rgb(70, 79, 89);
        font-family: "Segoe UI", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 17.1429px;
        text-align: start;
        vertical-align: middle;
        word-spacing: 0px;
        writing-mode: horizontal-tb;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-appearance: none;
        -webkit-rtl-ordering: logical;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-border-image: none;
    }
    
    &:focus, &[aria-expanded="true"]{
        >.dispaly-box{
            border: 1px solid $primary-color;
        }
    }
}

.multi-select-arrow {
    display: block;
    font-size: 0;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    zoom: 1;
}

.multi-select-arrow:before {
    border-color: #dedede;
    border-style: solid;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin: 0;
    margin-left: -5px;
    margin-top: -5px;
    padding: 0;
    position: relative;
    top: 50%;
    width: 7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.multi-select-content{
    border: 1px solid rgb(216, 225, 230);
    position: absolute;
    width: 100%;
    background-color: $body-bg-color;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;

    ul{
        list-style: none;
        padding: 0px;
        margin-bottom: 0px;

        //https://bootsnipp.com/snippets/ZkMKE
        li{
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            padding-left: 20px;

            &.inline {
                margin-top: 0;
            }

            span{
                display: inline-block;
                position: relative;
                height: 25px;
                padding-top: 5px;
                padding-left: 5px;

                &::before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    top: 6px;
                    left: 0;
                    margin-left: -15px;
                    border: 1px solid #cccccc;
                    border-radius: 3px;
                    background-color: #fff;
                    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                }
                &::after{
                    display: inline-block;
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    top: 6px;
                    left: 0;
                    margin-left: -15px;
                    padding-left: 1px;
                    padding-top: 0px;
                    font-size: 11px;
                    color: #555555;
                }
            }

            &[aria-selected="true"]{
                span{
                    &::after {
                        font-family: 'FontAwesome';
                        content: "\f00c";
                    }
                }
            }

            &:hover{
                background-color: darken($border-color, 10%);
                
                background-color: -moz-html-cellhighlight;
                color: -moz-html-cellhighlighttext
            }

            &.focused{
                outline: $border-focus;
            }
        }
    }
}