<div class="multi-select-container" (keydown)="globalKeyPress($event)">
  <span #displayToggle
    role="combobox"
    [attr.aria-expanded]="opened"
    [attr.aria-label]="ariaLabel"
    class="multi-select-toggle"
    tabindex="0"
    (click)="toggleClick()"
    (keydown)="toggleKeyPress($event)">
    <div class="dispaly-box">{{displayText}}</div>
    <span class="multi-select-arrow"></span>
  </span>
  <div *ngIf="opened" class="multi-select-content" #itemListContainer>
    <ul
      role="listbox"
      aria-multiselectable="true">
      <li *ngFor="let option of options; let optionIndex=index"
        (click)="optionClick(optionIndex)"
        (keydown)="optionKeyPress($event)"
        role="option"
        [attr.aria-selected]="option.isSelected">
        <span>{{option.displayLabel}}</span>
      </li>
    </ul>
  </div>
</div>