.container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.40);
    z-index: 10;
}

.try-functions {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    position: relative;
    transform: translateY(10%);
    font-size: 35px;
}

.try-functions > div {
    padding: 5px;
}
    .hide {
        opacity: 0;
        fill: #FFFFFF;
    }

    .whiteFill {
        fill: #FFFFFF;
    }

    .yellowFill {
        fill: #F8D735;
    }

    .orangeFill {
        fill: orange;
    }

    .fillBlue {
        fill: #296392;
    }

    .fillNone {
        fill: none;
        stroke: #000000;
        stroke-miterlimit: 10;
    }