@import '../../sass/common/variables';

div {
    line-height: 22px;
}

.fa-warning {
    color: $warning-color;
    padding-right: 5px;
}

.fa-check-circle {
    color: $success-color;
    padding-right: 5px;
}

.fa-info-circle {
    color: $primary-color;
    padding-right: 5px;
}

.panel-default {
    //width: 700px;
    .panel-body {
        background-color: $grey-color;
    }
}

.bold {
    font-weight: bold;
}

.left {
    padding-left: 20px;
}