<div *ngIf="model" class="panel panel-default">
  <div *ngIf="!model.isPermissionConfigured || !model.isAADAppCreated" class="panel-heading">
    <div><i class="fa fa-warning"></i> {{ 'aadreg_identityRequirements' | translate }}</div>
  </div>
  <div *ngIf="model.isAADAppCreated && isAdditionalPermissionsBinding" class="panel-heading">
    <div><i class="fa fa-info-circle"></i> {{ 'aadreg_identityRequirementsInfo' | translate }}</div>
  </div>
  <div class="panel-body">
    <div *ngIf="!binding">{{ 'aadreg_thisTemplate' | translate }}</div>
    <div *ngIf="binding">{{ 'aadreg_thisIntegration' | translate }}</div>
    <div>
      <i *ngIf="!model.isAADAppCreated" class="fa fa-warning"></i>
      <i *ngIf="model.isAADAppCreated" class="fa fa-check-circle"></i>
      {{'aadreg_appService' | translate}}
      <span *ngIf="!model.isAADAppCreated" class="bold">{{'aadreg_notConfigured' | translate}}</span>
      <span *ngIf="model.isAADAppCreated" class="bold">{{'aadreg_configured' | translate}}</span>
      <span *ngIf="model.isPermissionConfigured && model.isAADAppCreated && !isAdditionalPermissionsBinding" (click)="openAuth()" class="link left">{{ 'aadreg_manage' | translate}}</span>
    </div>
    <div *ngIf="!isAdditionalPermissionsBinding">
      <div>
        <i *ngIf="!model.isPermissionConfigured" class="fa fa-warning"></i>
        <i *ngIf="model.isPermissionConfigured" class="fa fa-check-circle"></i>
        {{'aadreg_requiredPerm' | translate}}:
        <span *ngIf="model.isAADAppCreated" class="bold">{{ configuredCount }} / {{ count }} {{'aadreg_configured' | translate}} </span>
      </div>
      <div class="left">{{ 'aadreg_templateNeeds' | translate}}</div>
      <div *ngFor="let p of model.permissions">
        <div *ngFor="let a of p.resourceAccess" class="left">
          <i *ngIf="!a.configured" class="fa fa-warning"></i>
          <i *ngIf="a.configured" class="fa fa-check-circle"></i>
          {{ descriptionHelper.get(p.resourceAppId) }} - {{ descriptionHelper.get(a.id) }}
        </div>
      </div>
    </div>
    <div *ngIf="isAdditionalPermissionsBinding">
      <i class="fa fa-info-circle"></i>
      {{ 'aadreg_youMayNeed' | translate }}
    </div>
  </div>
  <div *ngIf="!model.isAADAppCreated || !model.isPermissionConfigured || isAdditionalPermissionsBinding" class="panel-footer">
    <span class="link" (click)="openAuth()">{{ 'asdreg_manageAppService' | translate }}</span>
    <span *ngIf="!model.isAADAppCreated" class="link left" (click)="configureAAD()">{{ 'aadreg_configureAADNow' | translate }}</span>
    <span *ngIf="model.isAADAppCreated && !model.isPermissionConfigured && !isAdditionalPermissionsBinding" class="link left" (click)="addPermissions()">{{ 'aadreg_configureAADPermissionsNow' | translate }}</span>
  </div>
</div>

