<div>
    <div *ngIf="loading" class="panel panel-default fit-width">
        <div class="panel-body">
            <i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'loading' | translate }}
        </div>
    </div>
    <div *ngIf="installing" class="panel panel-default fit-width">
        <div class="panel-body">
            <i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'installingExtension' | translate }}
        </div>
    </div>
    <div *ngIf="extensions && extensions.length > 0 && !loading && !installing">
        <div class="panel panel-default fit-width">
            <div class="panel-heading">
                <i class="fa fa-warning"></i> {{ 'extension_install_warning' | translate }}
            </div>
            <div class="panel-body">
                <div *ngIf="!integrateText">{{ 'extension_template_warning' | translate }}</div>
                <div *ngIf="integrateText">{{ 'extension_integrate_warning' | translate }}</div>
                <div *ngFor="let nugetPackage of extensions">
                    <i class="fa fa-warning"></i> {{nugetPackage.id}}
                </div>
            </div>
            <div class="panel-footer">
                <a class="link left" (click)="installRequiredExtensions()">
                    {{ 'extension_install_button' | translate }}
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-default fit-width" *ngIf="installationSucceeded && !loading && !installing" role="alert">
        <div class="panel-heading">
            <i class="fa fa-check-circle"></i> {{ 'extension_install_success' | translate }}
        </div>
    </div>
</div>