.wrapper {
    position: relative;
}

.highlight {
    padding: 10px 5px 10px 5px;
    padding-bottom: 10px;
    background-color: #E6E7E8;
}

.list {    
    padding-bottom: 10px;    
}

.success {    
    background-color: lightgreen;
    color: darkgreen;
}