<div class="dev-full dev-flex-column">
    <busy-state></busy-state>
    <div class="top-toolbar">
        <h4 [fnWriteAccess]="context" class="tab-label" (click)="addnewInput($event, focusable)">
            <i class="fa fa-plus"></i>
            {{ 'fileExplorer_add' | translate }}
        </h4>
        <h4 [fnWriteAccess]="context" class="tab-label" (click)="inputElement.click()">
            <input id="file-upload" ng2FileSelect [uploader]="uploader" type="file" multiple #inputElement />
            <i class="fa fa-long-arrow-up"></i>
            {{ 'fileExplorer_upload' | translate }}
        </h4>

        <h4 [fnWriteAccess]="context"
            [class.disabled]="selectedFile?.href.toLocaleLowerCase() === functionInfo?.config_href.toLocaleLowerCase()"
            class="tab-label"
            (click)="deleteCurrentFile()">

            <i class="fa fa-trash"></i>
            {{ 'fileExplorer_delete' | translate }}
    </h4>
    </div>
    <div ng2FileDrop [uploader]="uploader" class="file-container">
        <div class="clickable root-folder" (click)="headingClick()">
            <i class="fa fa-folder-open-o"></i>
            {{currentTitle}}
        </div>
        <div class="clickable file shifted" *ngFor="let folder of folders"
             (click)="selectVfsObject(folder)">
            <i class="fa fa-folder-o"></i>
            {{folder.name}}
        </div>
        <div class="clickable file shifted list-item" *ngFor="let file of files"
             (click)="selectVfsObject(file)"
             [class.selected]="file.href.toLocaleLowerCase() === selectedFile?.href.toLocaleLowerCase()"
             [class.disabled]="file.isBinary"
             [title]="getFileTitle(file)">
            <i class="fa fa-file-o"></i>
            {{file.name}}
        </div>

        <div [class.hidden]="!creatingNewFile" class="shifted">
        <i class="fa fa-file-o"></i>
        <input type="text"
               [(ngModel)]="newFileName"
               (keyup)="handleKeyUp($event)"
               placeholder="File name"
               #focusable
               (blur)="onBlur()"/>
        </div>
    </div>
</div>