<section class="example">
    <h2>Buttons</h2>
    <div class="header">
        <label>EXAMPLE</label>
        <!-- Standard button -->
        <button class="custom-button">custom-button</button>

        <!-- Inverted button -->
        <button class="custom-button-invert">custom-button-invert</button>

        <!-- Standard disabled button -->
        <button class="custom-button" disabled>custom-button disabled</button>
    </div>
    <figure>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
    </figure>
</section>