<div id="embedded-function-editor-wrapper"
  [class.right-tabs-expanded]="rightBarExpanded"
  [class.bottom-tabs-expanded]="bottomBarExpanded && !bottomBarMaximized"
  [class.bottom-tabs-maximized]="bottomBarExpanded && bottomBarMaximized">

  <section class="top-command-bar-section">
    <command-bar id="command-bar-embedded-top">
        <command  displayText="{{ 'save' | translate }}"
                  iconUrl="image/save.svg"
                  (click)="saveEditorContent()"
                  cssClass="list-item clickable command">
        </command>
        <command  displayText="{{ 'run' | translate }}"
                  iconUrl="image/start.svg"
                  (click)="run()"
                  cssClass="list-item clickable command">
        </command>
        <command  displayText="{{ '_delete' | translate }}"
                  iconUrl="image/delete.svg"
                  (click)="deleteFunction()"
                  cssClass="list-item clickable command">
        </command>
        <command  displayText="{{ 'test' | translate }}"
                  (click)="setRightBarState()"
                  cssClass="list-item clickable command right-edge">
        </command>
    </command-bar>
  </section>

  <section class="text-editor-title">
        <span class="clickable" (click)="navigateToList()">
          {{'functions' | translate}}
        </span>
        <span>{{functionName}}</span>
        <span>{{fileName}}</span>
  </section>

  <section class="text-editor-container">
      <text-editor
        [content]="initialEditorContent"
        (onContentChanged)="editorContentChanged($event)"
        [fileName]="fileName"></text-editor>
  </section>


  <embedded-function-test-tab class="right-tabs-bar"
            *ngIf="rightBarExpanded"
            [resourceId]="resourceId">
  </embedded-function-test-tab>

  <section class="bottom-command-bar-section">
        <command-bar id="command-bar-embedded-bottom">
          <command  displayText="{{ 'logStreaming_logs' | translate }}"
                    (click)="setBottomBarState($event)"
                    cssClass="list-item clickable command">
          </command>
          <span *ngIf="bottomBarExpanded" class="right-edge">
            <command  *ngIf="getLogs"
                      displayText="{{ 'logStreaming_pause' | translate }}"
                      iconUrl="image/pause.svg"
                      (click)="pauseLogs()"
                      cssClass="list-item clickable command">
            </command>
            <command  *ngIf="!getLogs"
                      displayText="{{ 'logStreaming_start' | translate }}"
                      iconUrl="image/start.svg"
                      (click)="startLogs()"
                      cssClass="list-item clickable command">
            </command>
            <command  displayText="{{ 'logStreaming_clear' | translate }}"
                      iconUrl="image/stop.svg"
                      (click)="clearLogs()"
                      cssClass="list-item clickable command">
            </command>
            <command  displayText="{{ 'logStreaming_copyLogs' | translate }}"
                      iconUrl="image/tags.svg"
                      (click)="copyLogs()"
                      cssClass="list-item clickable command">
            </command>
            <command  *ngIf="!bottomBarMaximized" 
                      displayText="{{ 'logStreaming_expand' | translate }}"
                      iconUrl="image/icon-expand.svg"
                      (click)="maximizeBottomBar()"
                      cssClass="list-item clickable command">
            </command>
            <command  *ngIf="bottomBarMaximized" 
                      displayText="{{ 'logStreaming_compress' | translate }}"
                      iconUrl="image/reset.svg"
                      (click)="compressBottomBar()"
                      cssClass="list-item clickable command">
            </command>
          </span>
        </command-bar>
    </section>

  <embedded-function-logs-tab class="bottom-tabs-bar"
      *ngIf="bottomBarExpanded"
      title="Logs"
      id="FunctionsLogTab"
      [resourceId]="resourceId">
  </embedded-function-logs-tab>

</div>
