<command-bar>
    <command
        [displayText]="site?.properties.state === 'Running' ? ts.instant(Resources.stop) : ts.instant(Resources.start)"
        [iconUrl]="site?.properties.state === 'Running' ? 'images/stop.svg' : 'images/start.svg'"
        (click)="toggleState()"
        [disabled]="!hasWriteAccess"></command>

    <command
        displayText="{{ 'swap' | translate }}"
        iconUrl="images/swap.svg"
        (click)="openSwapBlade()"
        [disabled]="!hasWriteAccess || !hasSwapAccess || site?.properties.targetSwapSlot !== null"></command>

    <command
        displayText="{{ 'restart' | translate }}"
        iconUrl="images/restart.svg"
        (click)="restart()"
        [disabled]="!hasWriteAccess || site?.properties.state !== 'Running'"></command>

    <command
        displayText="{{ 'downloadProfile' | translate}}"
        iconUrl="images/download.svg"
        (click)="downloadPublishProfile($event)"
        [disabled]="!hasWriteAccess"></command>

    <command
        displayText="{{'resetPubCredentials' | translate}}"
        iconUrl="images/reset.svg"
        (click)="resetPublishCredentials()"
        [disabled]="!hasWriteAccess"></command>

    <command
        displayText="{{ 'downloadFunctionAppContent' | translate}}"
        iconUrl="images/download.svg"
        (click)="openDownloadFunctionAppModal()"
        [disabled]="!hasWriteAccess"></command>

    <command
        displayText="{{ '_delete' | translate }}"
        iconUrl="images/delete.svg"
        (click)="delete()"
        [disabled]="!hasWriteAccess"></command>
</command-bar>

<download-function-app-content (close)="hideDownloadFunctionAppModal()" *ngIf="showDownloadFunctionAppModal" [scmUrl]="scmUrl"></download-function-app-content>

<a id="hidden-publish-profile-link" *ngIf="!!publishProfileLink"
    [href]="publishProfileLink"
    [download]="site?.name + '.PublishSettings'"></a>

<div id="essentials-container">
    <div class="essentials-col">
        <div>
            <label>{{'status' | translate}}</label>
            <div><img *ngIf="stateIcon" [src]="stateIcon" />{{state}}</div>
        </div>

        <div [class.invisible]="hideAvailability">
            <label>{{'availability' | translate}}</label>
            <div [class.site-faded-text]="availabilityState === 'unknown'">
                <img *ngIf="availabilityIcon" [src]="availabilityIcon" />{{availabilityMesg}}
            </div>
        </div>
    </div>

    <div class="essentials-col">
        <div>
            <label>{{'subscriptionName' | translate}}</label>
            <div [class.link]="!isStandalone" [class.disabled-link]="isStandalone" (click)="openSubscriptionBlade()">{{subscriptionName}}</div>
        </div>

        <div>
            <label>{{'subscription' | translate}}</label>
            <div>{{subscriptionId}}</div>
        </div>
    </div>

    <div class="essentials-col">
        <div>
            <label>{{'resourceGroup' | translate}}</label>
            <div [class.link]="!isStandalone" [class.disabled-link]="isStandalone" (click)="openResourceGroupBlade()">{{resourceGroup}}</div>
        </div>

        <div>
            <label>{{'location' | translate}}</label>
            <div>{{location}}</div>
        </div>
    </div>

    <div class="essentials-col">
        <div>
            <label>URL</label>
            <div [class.link]="!isStandalone" [class.disabled-link]="isStandalone" (click)="openUrl()">{{url}}</div>
        </div>

        <div>
            <label>{{'appServicePlanPricingTier' | translate}}</label>
            <div [class.link]="!isStandalone" [class.disabled-link]="isStandalone" (click)="openPlanBlade()">{{plan}}</div>
        </div>
    </div>

</div>

<div id="site-summary-body">
<div *ngIf="!isStandalone" id="site-summary-features">
    <h3>{{ 'enabledFeatures_header' | translate }}</h3>
    <site-enabled-features [siteInput]="site" (componentName)="openComponent($event)"></site-enabled-features>
</div>
</div>

