@import '../../../sass/main';

.site-faded-text{
    font-style: italic;
    color: $disabled-color;
}

.site-summary-actions{
    padding: 12px 10px;

    img{
        height: 15px;
        width: 15px;
        vertical-align: top;
        margin: 2px 5px 0px 12px;
    }

    .disabled-action{
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
        cursor: text;
    }

    >span{
        padding: 5px;
        
        &:hover{
            background-color: $chrome-color;
        }
    }
}

#essentials-container{
    border-top: $border;
    border-bottom: $border;
    padding: 10px 20px 12px 20px;
}

.essentials-col{
    min-width: 175px;
    display: inline-block;

    label{
        margin-bottom: 0px;
    }

    > div{
        padding: 10px;
        // margin-bottom: 5px;
    }

    img{
        display: inline-block;
        margin-right: 5px;
        height: 13px;
        width: 13px;
        margin-top: -2px;
    }
}

#site-summary-body{
    padding: 10px 35px;
}

#site-summary-features{
    width: 300px;

}