<div *ngIf="imageSourceForm" [formGroup] = "imageSourceForm">
    <div>
        <label>{{ 'containerServerURL' | translate }}</label>
        <textbox [control] = "imageSourceForm.controls.serverUrl"></textbox>
    </div>

    <div>
        <label>{{ 'containerLogin' | translate }}</label>
        <textbox [control] = "imageSourceForm.controls.login"></textbox>
    </div>

    <div>
        <label>{{ 'containerPassword' | translate }}</label>
        <textbox type="password" [control] = "imageSourceForm.controls.password"></textbox>
    </div>

    <div *ngIf = "containerImageSourceInfo.container.id === 'single'">
        <label>{{ 'containerImageAndTag' | translate }}</label>
        <textbox [control] = "imageSourceForm.controls.image"></textbox>
    </div>

    <div *ngIf = "containerImageSourceInfo.container.id === 'single'">
        <label>{{ 'containerStartupFile' | translate }}</label>
        <textbox [control] = "imageSourceForm.controls.startupFile"></textbox>
    </div>

    <div *ngIf = "containerImageSourceInfo.container.id !== 'single'">
        <div>
            <label>{{ 'containerMultiConfigurationFile' | translate }}</label>
            <input type="file" (change)="extractConfig($event)">
        </div>

        <div>
            <label>{{ 'containerMultiConfiguration' | translate }}</label><br/>
            <textarea class="config" formControlName="config" disabled></textarea>
        </div>
    </div>
</div>