<p>
  {{ 'containerPrivateRegistryDescription' | translate }}
  <a [href]="learnMoreLink" target="_blank">
    {{ 'learnMore' | translate }}
  </a>
</p>

<div *ngIf="imageSourceForm" [formGroup]="imageSourceForm">
  <div class="container-setting-property">
    <label>{{ 'containerServerURL' | translate }}</label>
    <textbox [control]="imageSourceForm?.controls?.serverUrl" [disablePopOverError]="true" [placeholder]="'containerServerURLPlaceholder' | translate"></textbox>
    <div invalidmessage="serverUrl" id="containersettings-pr-serverurl-error" role="alert"></div>
  </div>

  <div class="container-setting-property">
    <label>{{ 'containerLogin' | translate }}</label>
    <textbox [control]="imageSourceForm?.controls?.login" [disablePopOverError]="true"></textbox>
    <div invalidmessage="login" id="containersettings-pr-login-error" role="alert"></div>
  </div>

  <div class="container-setting-property">
    <label>{{ 'containerPassword' | translate }}</label>
    <textbox type="password" [control]="imageSourceForm?.controls?.password" [disablePopOverError]="true"></textbox>
    <div invalidmessage="password" id="containersettings-pr-password-error" role="alert"></div>
  </div>

  <div *ngIf="containerImageSourceInfo.container.id === 'single'" class="container-setting-property">
    <label>{{ 'containerImageAndTag' | translate }}</label>
    <textbox [control]="imageSourceForm?.controls?.image" [disablePopOverError]="true" [placeholder]="'containerImageAndTagPlaceholder' | translate"></textbox>
    <div invalidmessage="image" id="containersettings-pr-image-error" role="alert"></div>
  </div>

  <div
    *ngIf="containerImageSourceInfo.container.id === 'single' && containerImageSourceInfo.os === 'linux'"
    class="container-setting-property"
  >
    <label>{{ 'containerStartupFile' | translate }}</label>
    <textbox [control]="imageSourceForm?.controls?.startupFile" [disablePopOverError]="true"></textbox>
    <div invalidmessage="startupFile" id="containersettings-pr-startupFile-error" role="alert"></div>
  </div>

  <div *ngIf="containerImageSourceInfo.container.id !== 'single'">
    <div class="container-setting-property">
      <label>{{ 'containerMultiConfigurationFile' | translate }}</label>
      <input type="file" (change)="extractConfig($event)" />
    </div>

    <div class="container-setting-property">
      <label>{{ 'containerMultiConfiguration' | translate }}</label
      ><br />
      <textarea class="config" formControlName="config"></textarea>
      <div invalidmessage="config" id="containersettings-pr-config-error" role="alert"></div>
    </div>
  </div>
</div>
