#download-button-container {
    align-self: center;
    margin-top: 30px;
}

#app-settings-checkbox {
    margin-top: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-dialog {
    height: 205px;
    width: 540px;
}