<!--
<div
    *ngIf="_options"
    class="drop-down-container"
    (keydown)="onKeyDown($event)"
    (mousedown)=onMouseDown($event)>

    <div
        role="combobox"
        [class.focused]="hasFocus && focusedOptIndex === -1"
        [attr.aria-label]="ariaLabel"
        [attr.aria-expanded]="opened"
        [attr.aria-owns]="!opened ? null : id + '-list'"
        aria-haspopup="tree"
        (click)="onComboBoxClick($event)"
        #comboBox>

        <input
            type="text"
            role="textbox"
            aria-multiline="false"
            [attr.aria-controls]="!opened ? null : id + '-list'"
            [attr.aria-activedescendant]="(!opened || focusedOptIndex === -1) ? null : id + '-opt' + focusedOptIndex + '-grp' + focusedGrpIndex"
            readonly
            aria-readonly="true"
            [value]="displayText"
            (focus)="onFocus()"
            (blur)="onBlur()"
            #displayInput/>

        <span
            class="select-arrow"
            role="presentation"
            #toggleArrow>
        </span>

    </div>

    <ul
        role="tree"
        class="select-content"
        [class.hidden]="!opened"
        [class.focused]="hasFocus && focusedOptIndex !== -1"
        [id]="id + '-list'"
        aria-multiselectable="false"
        #listBox>

        <ng-container *ngFor="let group of (optionsGrouped ? _options : []); let groupIndex=index">
            <li>{{group.displayLabel}}</li>
            <ul role="tree">
                <li
                    *ngFor="let option of group.dropDownElements; let optionIndex=index"
                    role="treeitem"
                    [id]="id + '-opt' + optionIndex + '-grp' + groupIndex"
                    [attr.aria-selected]="option.isSelected"
                    [class.focused]="groupIndex === focusedGrpIndex && optionIndex === focusedOptIndex"
                    (click)="onOptionClick(optionIndex, groupIndex)">
                    {{option.displayLabel}}
                </li>
            </ul>
        </ng-container>

        <li
            *ngFor="let option of (!optionsGrouped ? _options : []); let optionIndex=index"
            role="treeitem"
            [id]="id + '-opt' + optionIndex + '-grp' + focusedGrpIndex"
            [attr.aria-selected]="option.isSelected"
            [class.focused]="optionIndex === focusedOptIndex"
            (click)="onOptionClick(optionIndex)">
            {{option.displayLabel}}
        </li>

    </ul>
</div>
-->

<div
    *ngIf="_options"
    class="drop-down-container"
    [class.dirty]="highlightDirty && control?.dirty"
    [class.disabled]="control ? control.disabled : disabled"
    [class.focused]="hasFocus"
    [ngClass]="!!size ? size : 'medium'">

    <select
        *ngIf="!control"
        (change)="onSelect($event.target.value)"
        (focus)="hasFocus=true"
        (blur)="hasFocus=false"
        class="drop-down-select"
        [disabled]="disabled">

        <option selected disabled hidden style='display: none' value=''></option>

        <optgroup *ngFor="let group of (optionsGrouped ? _options : [])" [label]="group.displayLabel">
            <option *ngFor="let option of group.dropDownElements" [value]="option.id">{{option.displayLabel}}</option>
        </optgroup>

        <option *ngFor="let option of (!optionsGrouped ? _options : [])" [value]="option.id">{{option.displayLabel}}</option>

    </select>

    <!-- The select element is slightly different for forms controls, mainly because
         the formControl will map the selected options value to the control value.  If we used the 
         same select element above which maps to "options.id", it would set the form
         value to an integer id once you select an element, instead of using the option value -->
    <select
        *ngIf="control"
        (change)="onSelectValue($event.target.value)"
        (focus)="hasFocus=true"
        (blur)="hasFocus=false"
        class="drop-down-select"
        [formControl]="control"
        #selectInput>

        <option selected disabled hidden style='display: none' value=''></option>

        <optgroup *ngFor="let group of (optionsGrouped ? _options : [])" [label]="group.displayLabel">
            <option *ngFor="let option of group.dropDownElements" [value]="option.value">{{option.displayLabel}}</option>
        </optgroup>

        <option *ngFor="let option of (!optionsGrouped ? _options : [])" [value]="option.value">{{option.displayLabel}}</option>

    </select>

    <span *ngIf="!selectedElement" class="drop-down-selected-value">{{placeholder}}</span>
    <span *ngIf="selectedElement" class="drop-down-selected-value">{{selectedElement.displayLabel}}</span>
    <span class="drop-down-selected-arrow"></span>
</div>