<top-bar></top-bar>
<busy-state name='dashboard'></busy-state>

<div id="content">

    <side-nav (treeViewInfoEvent)="updateViewInfo($event)" [tryFunctionAppInput]="tryFunctionApp" *ngIf="!inTab"></side-nav>

    <function-dev *ngIf="inTab" [selectedFunction]="selectedFunction"></function-dev>

    <div id="dashboard" *ngIf="!!viewInfo">

        <apps-list [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'apps'"></apps-list>
        <create-app [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'createApp'"></create-app>
        <site-dashboard [viewInfo]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'app'"></site-dashboard>
        <functions-list [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'functions'"></functions-list>
        <proxies-list [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'proxies'"></proxies-list>
        <slots-list [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'slots'"></slots-list>

        <function-edit [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && (dashboardType === 'function'
                    || dashboardType === 'functionIntegrate'
                    || dashboardType === 'functionManage'
                    || dashboardType === 'functionMonitor')"></function-edit>

        <create-function-wrapper [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && (dashboardType === 'createFunctionAutoDetect'
                    || dashboardType === 'createFunction'
                    || dashboardType === 'createFunctionQuickstart')"></create-function-wrapper>

        <api-new [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'createProxy'"></api-new>
        <api-details [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'proxy'"></api-details>
        <slot-new [viewInfoInput]="viewInfo" *ngIf="trialExpired === false && dashboardType === 'createSlot'"></slot-new>
        <trial-expired *ngIf="trialExpired === true "></trial-expired>
    </div>
</div>