<!--<top-bar></top-bar>-->
<div class="content">
    <busy-state name='global'></busy-state>
    <side-nav (treeViewInfoEvent)="updateViewInfo($event)"></side-nav>

    <div *ngIf="!!viewInfo" class="dashboard">

        <breadcrumbs [viewInfoInput]="viewInfo"></breadcrumbs>

        <site-dashboard [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'app'"></site-dashboard>
        <function-edit [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'function'"></function-edit>
        <function-new [viewInfoInput]="viewInfo" [action]="action" *ngIf="dashboardType === 'createFunction'"></function-new>

    </div>
</div>