<top-bar></top-bar>    
<busy-state name='dashboard'></busy-state>

<div id="content">
    <side-nav (treeViewInfoEvent)="updateViewInfo($event)" [tryFunctionAppInput]="tryFunctionApp"></side-nav>

    <div id="dashboard" *ngIf="!!viewInfo">

        <apps-list [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'apps'"></apps-list>
        <create-app [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'createApp'"></create-app>
        <site-dashboard [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'app'"></site-dashboard>
        <functions-list [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'functions'"></functions-list>
        <proxies-list [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'proxies'"></proxies-list>

        <function-edit
            [viewInfoInput]="viewInfo"
            *ngIf="dashboardType === 'function'
                    || dashboardType === 'functionIntegrate'
                    || dashboardType === 'functionManage'
                    || dashboardType === 'functionMonitor'"></function-edit>

        <create-function-wrapper
            [viewInfoInput]="viewInfo"
            *ngIf="dashboardType === 'createFunctionAutoDetect'
                    || dashboardType === 'createFunction'
                    || dashboardType === 'createFunctionQuickstart'"></create-function-wrapper>

        <api-new [viewInfoInput]="viewInfo"  *ngIf="dashboardType === 'createProxy'"></api-new>
        <api-details [viewInfoInput]="viewInfo" *ngIf="dashboardType === 'proxy'"></api-details>

    </div>
</div>