@import '../../sass/main';
#dashboard-blank {
    background-color: $body-bg-color;
}

.tabbed-height {
    height: calc(100% - #{$top-bar-height}) !important;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $body-bg-color;
    #dashboard {
        height: 100%;
        padding-left: $sidenav-width;
    }
}