@import '../../sass/main';

.new-container {
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.new-container i {
    font-size: 20px;
    color: $primary-color;
    cursor: pointer;
}

.search-box-container {
    width: 250px;
    margin-bottom: 15px;
}