<div class="list-collection-container">
<img src="images/function_f.svg" />
<h3 class="text-main2-heading">{{ 'functions' | translate }}</h3><i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw"></i>

<tbl [items]="functions" #table="tbl">
  <tr class="header-row">
    <th><tbl-th name="name">{{ '_name' | translate }}</tbl-th></th>
    <th><tbl-th name="disabled">{{ 'enabled' | translate }}</tbl-th></th>
  </tr>

  <tr *ngFor="let item of table.items" (click)="clickRow(item)">
    <td class="link">{{item.name}}</td>
    <td>{{!item.disabled}}</td>
  </tr>

  <tr *ngIf="table.items.length === 0 || isLoading">
    <td *ngIf="isLoading" colspan="2">{{'functionMonitor_loading' | translate}}</td>
    <td *ngIf="!isLoading && table.items.length === 0" colspan="2">{{'noResults' | translate}}</td>
  </tr>

</tbl>
</div>