@import '../../../sass/common/variables';
nav {
  display: flex;
}

.group-tab-width-2-tabs {
  width: calc(100% / 2);
}

.group-tab-width-3-tabs {
  width: calc(100% / 3);
}

.group-tab {
  background-color: $border-color;
  text-align: center;
  height: 83px;
  padding-top: 7px;
  box-shadow: $card-box-shadow;

  h1 {
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }

  h2 {
    font-size: 12px;
    line-height: 0px;
    white-space: nowrap;
  }

  &.selected-container {
    background-color: $body-bg-color;
  }
}

:host-context(#app-root[theme='dark']) {
  .group-tab {
    background-color: lighten($chrome-color-dark, 10%);
    box-shadow: $card-box-shadow-hover-dark;

    &.selected-container {
      background-color: $chrome-color-dark;
    }
  }
}
