<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

  <h3 class="first-config-heading">Build</h3>
  <div class="settings-wrapper">
    <div *ngIf="wizard?.wizardValues?.sourceProvider !== 'vsts'">
      <div class="setting-wrapper">
        <div class="setting-label">Visual Studio Team Service Account</div>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [control]="wizard?.buildSettings?.controls?.createNewVsoAccount" [options]="NewVsoAccountOptions" [highlightDirty]="true">
            </radio-selector>
          </div>
          <ng-select *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === 'existing'" class="custom-select" [items]="AccountList"
            bindLabel="displayLabel" bindValue="value" placeholder="Select Account" [(ngModel)]="selectedAccount" formControlName="vstsAccount"
            (change)="accountChanged($event)">
          </ng-select>
          <textbox *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === 'new'" [control]="wizard?.buildSettings?.controls?.vstsAccount"
            [placeholder]="'Enter Account Name'"></textbox>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === 'new'" class="setting-wrapper">
        <div class="setting-label">Location</div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [items]="LocationList" bindLabel="displayLabel" bindValue="value" placeholder="Select Location"
            [(ngModel)]="selectedLocation" formControlName="location">
          </ng-select>
        </div>
      </div>

      <div *ngIf="wizard?.wizardValues?.buildSettings?.createNewVsoAccount === 'existing'" class="setting-wrapper">
        <div class="setting-label">Project Name</div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [items]="ProjectList" bindLabel="displayLabel" bindValue="value" placeholder="Select Project"
            [(ngModel)]="selectedProject" formControlName="vstsProject">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label"> Web Application Framework
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [searchable]="false" [items]="WebApplicationFrameworks" bindLabel="displayLabel" bindValue="value"
          placeholder="Select Framework" [(ngModel)]="selectedFramework" formControlName="applicationFramework">
        </ng-select>
      </div>
    </div>


    <div *ngIf="selectedFramework!=='AspNetWap' && selectedFramework!=='AspNetCore'">
      <div class="setting-wrapper">
        <div class="setting-label"> Working Directory
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <textbox [control]="wizard?.buildSettings?.controls?.workingDirectory" [placeholder]="'enter value'"></textbox>
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="selectedFramework==='Node'">
        <div class="setting-label"> Task Runner
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [searchable]="false" [items]="nodeJsTaskRunners" bindLabel="displayLabel" bindValue="value"
            placeholder="Select NodeJs Task Runner" [(ngModel)]="selectedTaskRunner" formControlName="nodejsTaskRunner">
          </ng-select>
        </div>
      </div>

      <div *ngIf="selectedFramework==='Python'" [formGroup]="wizard?.buildSettings?.controls?.pythonSettings" novalidate>

        <div class="setting-wrapper">
          <div class="setting-label"> Python Framework
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <ng-select class="custom-select" [searchable]="false" [items]="pythonFrameworkList" bindLabel="displayLabel" bindValue="value"
              placeholder="Select Python Framework" [(ngModel)]="selectedPythonFramework" formControlName="framework">
            </ng-select>
          </div>
        </div>

        <div class="setting-wrapper">
          <div class="setting-label"> Python Version
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <ng-select class="custom-select" [searchable]="false" [items]="pythonVersionList" bindLabel="displayLabel" bindValue="value"
              placeholder="Select Python Version" [(ngModel)]="selectedPythonVersion" formControlName="version">
            </ng-select>
          </div>
        </div>

        <div class="setting-wrapper" *ngIf="selectedPythonFramework === 'Django'">
          <div class="setting-label"> Django Settings Module
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <textbox [control]="wizard?.buildSettings?.controls?.pythonSettings?.controls?.djangoSettingsModule" [placeholder]="'enter value'"></textbox>
          </div>
        </div>

        <div class="setting-wrapper" *ngIf="selectedPythonFramework === 'Flask'">
          <div class="setting-label"> Flask project name
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <textbox [control]="wizard?.buildSettings?.controls?.pythonSettings?.controls?.flaskProjectName" [placeholder]="'enter value'"></textbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>