<div class="settings-group-wrapper">

  <h3 class="first-config-heading">Build</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Visual Studio Team Service Account</div>
      <div class="setting-control-container">
        <div class="newOrExistingSelection">
          <label><input type="radio" name="language" value="new" checked>Create New</label>
          <label><input type="radio" name="language" value="existing">Use Existing</label>
        </div>

        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!BranchList ? BranchList : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
        <div class="setting-label">Location</div>
        <div class="setting-control-container">
          <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!BranchList ? BranchList : []"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>

    <div class="setting-wrapper">
      <div class="setting-label">Project Name</div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!BranchList ? BranchList : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
        <div class="setting-label"> Web Application Framework
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!FrameworkList ? FramworkList : []"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>
  </div>
</div>