@import '../../sass/main';
    .trial-expired-container {
    font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.trial-expired-template {
    padding: 10px;
    display: inline-block;
    border: 3px solid transparent;
    font-size: 16px;
}

.trial-expired-template:hover,
.trial-expired-template-lang:hover {
    border: 3px solid #C2C5C9;
}

.trial-expired-template-selected,
.trial-expired-template-selected:hover,
.trial-expired-template-lang-selected,
.trial-expired-template-lang-selected:hover {
    border: 3px solid #419BF3;
}

.trial-expired-template div:first-of-type {
    background-color: #419BF3;
    padding: 30px;
}

.trial-expired-template div:nth-of-type(2) {
    margin-top: 15px;
}

.trial-expired-template-lang {
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    width: 156px;
}

.trial-expired-lang-container {
    padding-top: 10px;
}

.trial-expired-body img {
    width: 70px;
    height: 70px;
}

.trial-expired-footer {
    padding: 10px 0 25px 0px;
}

.trial-expired-footer span {
    font-size: 16px;
    color: #0076DA;
}

.custom-button {
    margin: 30px 0px;
}

.tryinfo-box {
    background-color: white;
    height: 120px;
    width: 100%;
    border: 5px blue;
    padding-left: 10px;
    color: red;
    font-size: medium;
    text-align: center;
}

.tryinfo-box-timer {
    background-color: white;
    color: red;
    font-size: large;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
}

.tryinfo-box {
    background-color: white;
    height: 120px;
    width: 100%;
    border: 5px blue;
    padding-left: 10px;
}

.extend-trial-button {
    margin-right: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}

.free-trial-wrapper {
    display: inline-block;
}

.signup-button {
    background-color: #89c402;
    color: #1a1a1a!important;
    position: relative;
    padding-right: 45px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border: 1px solid transparent;
    display: block;
    fill: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 0px 36px 4px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

.signup-button:hover {
    background-color: #a5ce00;
}

.signup-button:after {
    background-image: none;
    border-color: currentColor;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 18px;
    margin-top: -2px;
    position: absolute;
    right: 24px;
    top: 50%;
    width: 18px;
    -ms-transform: rotate(45deg) translate(0, -50%);
    -o-transform: rotate(45deg) translate(0, -50%);
    -webkit-transform: rotate(45deg) translate(0, -50%);
    transform: rotate(45deg) translate(0, -50%);
}

.signup-button :disabled {
    cursor: not-allowed;
    background-color: #ECEFF1;
}