.trial-expired-container{
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    text-align: center;
}

.trial-expired-template{
    padding: 10px;
    display: inline-block;
    border: 3px solid transparent;
    font-size: 16px;
}

.trial-expired-template:hover, .trial-expired-template-lang:hover{
    border: 3px solid #C2C5C9;
}

.trial-expired-template-selected, .trial-expired-template-selected:hover, .trial-expired-template-lang-selected, .trial-expired-template-lang-selected:hover{
    border: 3px solid #419BF3;
}


.trial-expired-template div:first-of-type{
    background-color: #419BF3;
    padding: 30px;
}


.trial-expired-template div:nth-of-type(2){ 
    margin-top: 15px;
}

.trial-expired-template-lang{
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    width: 156px;
}

.trial-expired-lang-container{
    padding-top:10px;
}

.trial-expired-body img{
    width: 70px;
    height: 70px;
}

.trial-expired-footer{
    padding: 10px 0 25px 0px;
}

.trial-expired-footer span{
    font-size: 16px;
    color: #0076DA;
}

.custom-button{
    margin: 30px 0px;
}

.tryinfo-box {
    background-color: white;
    height: 120px;
    width: 100%;
    border: 5px blue;
    padding-left: 10px;
    color: red;
    font-size: medium;
    text-align: center;

}

.tryinfo-box-timer {
    background-color: white;
    color: red;
    font-size: large;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
}

.tryinfo-box {
    background-color: white;
    height: 120px;
    width: 100%;
    border: 5px blue;
    padding-left: 10px;
}

.signup-button {
    margin-right: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}

.signup-button :disabled {
    cursor: not-allowed;
    background-color: #ECEFF1;
}

.extend-trial-button {
    margin-right: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}

.trial-expired-signup-button {
    margin-right: 14px;
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    color: #fff;
    background-color: #539CF6;
}
