<div class="custom-list-container">
<img src="images/functions.svg" />
<h3 class="text-main2-heading">{{ 'functionApps' | translate}}</h3><i *ngIf="appsNode?.isLoading" class="fa fa-refresh fa-spin fa-fw"></i>
<table class="custom-table">
  <tr class="header-row">
    <th class="sortable" (click)="sortByColumn('name')">{{ ('_name' | translate).toUpperCase()}}
      <i class="fa"
        [class.fa-chevron-up]="sortedColumn === 'name' && sortAscending"
        [class.fa-chevron-down]="(sortedColumn === 'name' && !sortAscending) || !sortedColumn"></i>
    </th>
    <th class="sortable" (click)="sortByColumn('subscription')">{{ ('subscription' | translate).toUpperCase() }} 
      <i class="fa"
        [class.fa-chevron-up]="sortedColumn === 'subscription' && sortAscending"
        [class.fa-chevron-down]="(sortedColumn === 'subscription' && !sortAscending) || !sortedColumn"></i>
    </th>
    <th>{{ ('resourceGroup' | translate).toUpperCase() }}</th>
    <th>{{ ('location' | translate).toUpperCase() }}</th>
  </tr>

  <tr *ngFor="let item of items" (click)="clickRow(item)">
    <td class="link">{{item.title}}</td>
    <td>{{item.subscription}}</td>
    <td>{{item.resourceGroup}}</td>
    <td>{{item.location}}</td>
  </tr>

  <tr *ngIf="items.length === 0 || appsNode?.isLoading">    
    <td *ngIf="appsNode?.isLoading">{{'functionMonitor_loading' | translate}}</td>
    <td *ngIf="!appsNode?.isLoading && items.length === 0">{{'noResults' | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>