<div class="list-collection-container">
<img src="images/functions.svg" />
<h3 class="text-main2-heading">{{ 'functionApps' | translate}}</h3><i *ngIf="appsNode?.isLoading" class="fa fa-refresh fa-spin fa-fw"></i>

<tbl [items]="apps" #table="tbl">
  <tr class="header-row">
    <th><tbl-th name="title">{{ '_name' | translate }}</tbl-th></th>
    <th><tbl-th name="subscription">{{ 'subscription' | translate }}</tbl-th></th>
    <th><tbl-th name="resourceGroup">{{ 'resourceGroup' | translate }}</tbl-th></th>
    <th><tbl-th name="location">{{ 'location' | translate }}</tbl-th></th>
  </tr>

  <tr *ngFor="let item of table.items">
    <td class="link" (click)="clickRow(item)">{{item.title}}</td>
    <td>{{item.subscription}}</td>
    <td>{{item.resourceGroup}}</td>
    <td>{{item.location}}</td>    
  </tr>

  <tr *ngIf="table.items.length === 0 || appsNode?.isLoading">    
    <td *ngIf="appsNode?.isLoading" colspan="4">{{'functionMonitor_loading' | translate}}</td>
    <td *ngIf="!appsNode?.isLoading && table.items.length === 0" colspan="4">{{'noResults' | translate}}</td>
  </tr>
</tbl>
</div>