<div class="browse-container">
<img src="image/functions.svg" />
<h2>{{ 'functionApps' | translate }}</h2><i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw"></i>

<div class="bars">
  <label>{{ 'locationColon' | translate }}</label>

  <multi-drop-down id="locationsFilter"
      [inputOptions]="locationOptions"
      [displayText]="locationsDisplayText"
      (selectedValues)="onLocationsSelect($event)"
      [allItemsDisplay]="allLocations"
      [numberItemsDisplay]="numberLocations">
  </multi-drop-down>

  <label>{{ 'resourceGroupColon' | translate }}</label>

  <multi-drop-down id="resourceGroupsFilter"
      [inputOptions]="resourceGroupOptions"
      [displayText]="resourceGroupsDisplayText"
      (selectedValues)="onResourceGroupsSelect($event)"
      [allItemsDisplay]="allResourceGroups"
      [numberItemsDisplay]="numberResourceGroups">
  </multi-drop-down>

  <drop-down id="groupingDropDown"
    size="large"
    [options]="groupOptions"
    (value)="onGroupSelect($event)">
  </drop-down>
</div>
<tbl [items]="tableItems" #table="tbl" id="apps-list" [name]="'functionApps' | translate" groupColName="title">
  <tr>
    <th><tbl-th name="title">{{ '_name' | translate }}</tbl-th></th>
    <th><tbl-th name="subscription">{{ 'subscription' | translate }}</tbl-th></th>
    <th><tbl-th name="resourceGroup">{{ 'resourceGroup' | translate }}</tbl-th></th>
    <th><tbl-th name="location">{{ 'location' | translate }}</tbl-th></th>
  </tr>

  <tr *ngFor="let item of table.items">
    <ng-container *ngIf="item.type === 'row' && table.groupedBy === 'none'">
      <td><a (click)="clickRow(item)">{{item.title}}</a></td>
      <td>{{item.subscription}}</td>
      <td>{{item.resourceGroup}}</td>
      <td>{{item.location}}</td>
    </ng-container>

    <ng-container *ngIf="item.type === 'row' && table.groupedBy !== 'none'">
      <td class='tabbed'><a (click)="clickRow(item)">{{item.title}}</a></td>
      <td>{{item.subscription}}</td>
      <td>{{item.resourceGroup}}</td>
      <td>{{item.location}}</td>
    </ng-container>

    <ng-container *ngIf="item.type === 'group'">
      <td colspan="4">{{item.title}}</td>
    </ng-container>
  </tr>

  <tr *ngIf="isLoading">
    <td colspan="4">{{'functionMonitor_loading' | translate}}</td>
    <td colspan="4"></td>
  </tr>
</tbl>

<div *ngIf="!isLoading && table.items.length === 0" class="empty-browse">
  <img src="image/emptybrowse-functions.svg" />
  <h4>{{'emptyBrowse_title' | translate}}</h4>
  <span>{{'emptyBrowse' | translate}}</span>
  <span>
    <a class="link" target="_blank" href="https://go.microsoft.com/fwlink/?linkid=848163">{{'emptyBrowse_learnMore' | translate}}</a>
    <img src="image/learn-more.svg" />
  </span>
</div>
</div>