<command-bar>
    <command [displayText]="'logStreaming_reconnect' | translate"
        [iconUrl]="'image/connect.svg'"
        (click)="reconnect()"></command>

    <command [displayText]="'logStreaming_copyLogs' | translate "
        iconUrl="image/copy.svg"
        (click)="copyLogs()"></command>

    <command [displayText]="(stopped ? 'logStreaming_start' : 'logStreaming_pause') | translate"
        [iconUrl]="stopped ? 'image/start.svg' : 'image/stop.svg'"
        (click)="stopped ? startLogs() : stopLogs()"></command>

    <command [displayText]="'logStreaming_clear' | translate"
        iconUrl="image/discard.svg"
        (click)="clearLogText()"></command>
</command-bar>

<div id="log-stream-main">
    <radio-selector
        *ngIf="showOptions"
        [options]= "options"
        [defaultValue]= "currentOption"
        (value)= "optionsChange.next($event)"></radio-selector>
    <i *ngIf="!initialized" class = "fa fa-refresh fa-spin fa-fw"></i>
    <div id = "log-container">
        <div id= "log-body" class= "log-body">
            <div class = "log-connector" *ngIf = "!clearLogs">{{ 'feature_logStreamingConnecting' | translate }}</div>
            <log-entry *ngFor="let entry of logEntries; trackBy: trackByFn" [level]="entry.level" [message]="entry.message"></log-entry>
        </div>
    </div>
</div>