@import '../../../sass/common/variables';

#log-stream-main{
    padding: 15px;
}

#log-container{
    position: absolute;
    padding-top: 15px;
    height: calc(100% - 85px);
    width: calc(100% - 30px);
}

.action {
    margin-left: 5px;
}

.log-toolbar {
    padding-left: 15px;
    padding-right: 25px;
    float: right;
}

.log-toolbar:hover {
    cursor: pointer;
}

.log-empty-space {
    flex-grow: 1;
    height: 1%;
    pointer-events: none;
}

div.log-body{
    font-family: 'Lucida Console', 'Courier New', 'Consolas', monospace;
    background-color: $console-background-color;
    color: $console-text-color;
    white-space: normal;
    margin-left:auto;
    margin-right: auto;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    height: calc(100% - 20px);
}

.log-content {
    white-space: pre-wrap;
}

div.log-connector {
    color: $log-console-connector;
    font-weight: bolder;
}

.info-content {
    color: $log-info;
}

.error-content {
    color: $log-error;
}

.warning-content {
    color: $log-warning;
}
