<div id="site-notifications-wrapper">
<div class="site-notification">
    <i [class.fa-refresh]="isLoadingStatus"
       [class.fa-check-circle]="status === 'Running'"
       [class.success]="status === 'Running'"
       class="fa"></i>
    <span style="font-weight: bold;">Status: </span><span>{{isLoadingStatus ? 'Loading...' : !status ? 'Failed to retrieve!' : status}}</span>
</div>


<div class="site-notification">
    <i [class.fa-refresh]="isLoadingAvailability"
       [class.fa-exclamation-triangle]="(availability && availability.properties.availabilityState !== 'Available') || (!isLoadingAvailability && !availability)"
       [class.warning]="(availability && availability.properties.availabilityState !== 'Available') || (!isLoadingAvailability && !availability)"
       [class.fa-check-circle]="availability && availability.properties.availabilityState === 'Available'"
       [class.success]="availability && availability.properties.availabilityState === 'Available'"
       class="fa"></i>
    <span style="font-weight: bold;">Availability: </span><span>{{isLoadingAvailability ? 'Loading...' : !availability?.properties?.availabilityState ? 'No Access' : availability.properties.availabilityState }}</span>
</div>

<div class="site-notification">
    <accordion 
        wrapperClass="site-notification"
        [level]="alertLevel"
        iconClass="{{ isLoadingAlerts ? 'fa-refresh' : !hasResourceGroupPermission ? 'fa-minus-circle' : alertIncidentsTotal > 0 ? 'fa-exclamation-circle' : 'fa-check-circle'}}"
        titleName="Alerts"
        titleText="{{isLoadingAlerts ? 'Loading...' : !hasResourceGroupPermission ? 'No Access' : alertIncidentsTotal }}"
        [elementsInput]="alertDisplayElements"></accordion>
</div>

<div class="site-notification">
    <accordion 
        wrapperClass="site-notification"
        [level]="recommendationLevel"
        iconClass="{{ isLoadingRecommendations ? 'fa-refresh' : recommendationDisplayElements?.length > 0 ? 'fa-exclamation-circle' : 'fa-check-circle'}}"
        titleName="Recommendations"
        titleText="{{isLoadingRecommendations ? 'Loading...' : recommendationDisplayElements?.length > 0 ? recommendationDisplayElements?.length : 0 }}"
        [elementsInput]="recommendationDisplayElements"></accordion>
</div>
</div>