<ng-container *ngIf="!groupArray">
  <h3 class="text-level2-heading connection-strings">{{ 'connectionStrings' | translate }}</h3>
  <p>Error Loading Settings</p>
</ng-container>
<ng-container *ngIf="!!groupArray">
  <h3 class="text-level2-heading connection-strings">{{ 'connectionStrings' | translate }}</h3>
  
  <tbl tblClass="tbl fixed stretch" [items]="groupArray.controls" #connectionStringsTable>
    <tr class="header-row">
      <th class="nameCol"></th>
      <th class="valueCol"></th>
      <th class="typeCol"></th>
      <th class="actionCol"></th>
    </tr>
    
    <tr *ngFor="let group of connectionStringsTable.items">
      <td [class.pristine]="group.pristine" [class.dirty]="group.dirty">
        <click-to-edit [group]="group" name="name">
          <textbox [control]="group.controls['name']" [placeholder]="Resources.enterName | translate"></textbox>
        </click-to-edit>
      </td>
      
      <td>
        <click-to-edit [group]="group" name="value" hiddenText="true">
          <textbox [control]="group.controls['value']" [placeholder]="Resources.enterValue | translate"></textbox>
        </click-to-edit>
      </td>
  
      <td>
        <click-to-edit [group]="group" name="type">
          <drop-down [group]="group" name="type" [options]="group.csTypes"></drop-down>
        </click-to-edit>
      </td>
  
      <td>
        <span class="fa fa-times delete" (click)="deleteConnectionString(group)"></span>
      </td>
    </tr>
  </tbl>
  
  <div class="link add-setting" (click)="addConnectionString()">
    {{ 'addNewConnectionString' | translate }}
  </div>
  <p>{{mainForm.timeStamp}}</p>
  <p>{{this.groupArray.parent.timeStamp}}</p>
  <p>busyStateKeys: {{_busyState.name}}</p>
  <p>busyStateKeys: {{_busyState.busyStateKeys}}</p>
</ng-container>