<div class="settings-group-wrapper">

  <h3>{{ 'connectionStrings' | translate }}</h3>

  <div class="settings-wrapper">

    <!-- ---------------------------------------------------------- TABLE ----------------------------------------------------------- -->
    <tbl tblClass="tbl fixed stretch" [items]="groupArray?.controls" #connectionStringsTable>
      <!--<tr class="header-row">
        <th class="nameCol"></th>
        <th class="valueCol"></th>
        <th class="typeCol"></th>
        <th class="actionCol"></th>
      </tr>-->

      <!-- Data/Content Rows -->
      <!-- If ARM call returned successfully, 'items' will not be null, so this will loop through and create a row for each connection string returned (if any) -->
      <tr *ngFor="let group of connectionStringsTable.items">
        <td [class.pristine]="group.pristine" [class.dirty]="group.dirty">
          <click-to-edit [group]="group" name="name">
            <textbox [control]="group.controls['name']" [placeholder]="Resources.enterName | translate"></textbox>
          </click-to-edit>
        </td>

        <td>
          <click-to-edit [group]="group" name="value" hiddenText="true">
            <textbox [control]="group.controls['value']" [placeholder]="Resources.enterValue | translate"></textbox>
          </click-to-edit>
        </td>

        <td>
          <click-to-edit [group]="group" name="type">
            <drop-down [group]="group" name="type" [options]="group.csTypes"></drop-down>
          </click-to-edit>
        </td>

        <td>
          <span class="fa fa-times delete" (click)="deleteConnectionString(group)"></span>
        </td>
      </tr>

      <!-- Placeholder/Message Row -->
      <!-- If ARM call did not return successfully or no connection strings were returned, display a placeholder row -->
      <tr *ngIf="(!!groupArray && connectionStringsTable.items.length === 0) || !groupArray">
        <td class="message-row" colspan="4">
          <!-- If ARM call returned successfully but no connection strings were returned, display a row with message '(no connection strings to display)' -->
          <!-- If ARM call did not return successfully, display a row with the appropriate message based on permissions -->
          {{
            (!!groupArray && connectionStringsTable.items.length === 0) ? ('emptyConnectionStrings' | translate) :
            (!groupArray && hasWritePermissions) ? (loadingFailureMessage || loadingMessage) :
            (!groupArray && !hasWritePermissions && showPermissionsMessage) ? permissionsMessage : ''
          }}
        </td>
      </tr>

    </tbl>
    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->


    <!-- --------------------------------------------------------  ADD LINK --------------------------------------------------------- -->
    <!-- If ARM call returned successfully user has write permissions, display 'add' link -->
    <div *ngIf="!!groupArray && hasWritePermissions" class="link add-setting" (click)="addConnectionString()">
      {{ 'addNewConnectionString' | translate }}
    </div>

    <!-- If ARM call did not return successfully or user does not have write permissions, display 'add' link disabled -->
    <div *ngIf="!groupArray || !hasWritePermissions" class="disabled-link add-setting">
      {{ 'addNewConnectionString' | translate }}
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->


    <!-- ---------------------------------------------------------- SHIELD ---------------------------------------------------------- -->
    <!-- If ARM call has not returned yet or ARM call failed, show shield -->
    <!-- If ARM call did not return successfully, show approriate shield message based on permissions -->
    <div *ngIf="!groupArray" class="shield">
      <div *ngIf="hasWritePermissions && !!loadingFailureMessage" class="shield-message">
        {{ loadingFailureMessage }}
      </div>
      <div *ngIf="!hasWritePermissions && showPermissionsMessage" class="shield-message">
        {{ permissionsMessage }}
      </div>
    </div>

    <!-- If ARM call returned successfully, show shield and shield message if necessary based on permissions -->
    <div *ngIf="!!groupArray && !hasWritePermissions && showPermissionsMessage" class="shield">
      <div class="shield-message">
        {{ permissionsMessage }}
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->

  </div>

</div>