<ng-sidebar-container style="height:100vh" [animate]="true">
  <div ng-sidebar-content>
    <command-bar>
      <command displayText="{{ 'browse' | translate }}" iconUrl="image/external.svg" (click)="browseToSite()"></command>
      <command displayText="{{ 'refresh' | translate }}" iconUrl="image/refresh.svg" (click)="refresh()"></command>
      <command
        displayText="{{ 'sync' | translate }}"
        iconUrl="image/swap.svg"
        (click)="syncScm()"
        [disabled]="!this.deploymentObject?.VSOData"
      ></command>
      <command displayText="{{ 'disconnect' | translate }}" iconUrl="image/Disconnect.svg" (click)="disconnect()"></command>
      <command displayText="{{ 'edit' | translate }}" iconUrl="image/Edit.svg" (click)="edit()" [disabled]="!this.deploymentObject?.VSOData"></command>
      <command
        displayText="{{ 'deploymentCredentialsTitle' | translate }}"
        iconUrl="image/key.svg"
        (click)="showDeploymentCredentials()"
      ></command>
    </command-bar>

    <div id="essentials-container">
      <div class="essentials-col">
        <div>
          <label id="siteStatusLabel">{{ 'build' | translate }}</label>
          <!-- No Click Action -->
          <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
            Azure Pipelines
          </div>
        </div>
        <div>
          <label id="siteStatusLabel">{{ 'source' | translate }}</label>
          <!-- No Click Action -->
          <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
            {{ SourceText }}
          </div>
        </div>
      </div>

      <div class="essentials-col">
        <div>
          <label id="siteStatusLabel">{{ 'account' | translate }}</label>
          <div>
            <a
              (click)="accountOnClick()"
              tabindex="0"
              id="siteSubscriptionNameLink"
              aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink"
            >
              {{ AccountText }}
            </a>
          </div>
        </div>
        <div>
          <label id="siteStatusLabel">{{ 'project' | translate }}</label>
          <!-- No Click Action -->
          <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
            {{ ProjectName }}
          </div>
        </div>
      </div>

      <div class="essentials-col">
        <div>
          <label id="siteStatusLabel">{{ 'repository' | translate }}</label>
          <div>
            <a
              (click)="repositoryOnClick()"
              tabindex="0"
              id="siteSubscriptionNameLink"
              aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
              {{ RepositoryText }}
            </a>
            <copy-pre [content]="RepositoryText" [onlyCopyButton]="true"></copy-pre>
          </div>
        </div>
        <div>
          <label id="siteStatusLabel">{{ 'branch' | translate }}</label>
          <!-- No Click Action -->
          <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
            {{ BranchText }}
          </div>
        </div>
      </div>
      <div class="essentials-col">
        <div>
          <label id="siteStatusLabel">{{ 'slot' | translate }}</label>
          <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
            {{ AppName }}
          </div>
        </div>
      </div>
    </div>

    <info-box *ngIf="unableToReachVSTS" typeClass="error" [infoText]="'unableToReachBuild' | translate"> </info-box>

    <div class="table-container">
      <ngx-datatable
        #myTable
        class="fluent expandable"
        columnMode="flex"
        [rows]="TableItems"
        [groupRowsBy]="'date'"
        [headerHeight]="0"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        [virtualization]="true"
        [groupExpansionDefault]="true"
        [messages]="tableMessages"
      >
        <!-- Group Header Template -->
        <ngx-datatable-group-header [rowHeight]="100" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div style="padding-left:5px;">
              <span title="Expand/Collapse Group">
                <b>{{ group.value[0].date | date: 'fullDate' }}</b>
              </span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>
        <!-- Row Column Template -->
        <ngx-datatable-column name="{{ 'message' | translate }}" prop="time" editable="false" [flexGrow]="6">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group">
            <img style="display:inline-block;vertical-align:middle;width:18px;height:18px;" [src]="row.icon" />
            <div class="messageColumn">
              <p>{{ row.message }}</p>
              <div style="display:inline-block;margin-left:10px;" *ngFor="let url of row.urlInfo">
                <span *ngIf="url.urlIcon" [load-image]="url.urlIcon" class="statusImage"></span>
                <a (click)="onUrlClick(url.url)" tabindex="0">{{ url.urlText }}</a>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'time' | translate }}" prop="time" editable="false" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group">
            <span>
              {{ row.time | date: 'longTime' }}
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <ng-sidebar
    #sidebar
    *ngIf="sidePanelOpened"
    [(opened)]="sidePanelOpened"
    [mode]="'over'"
    [position]="'right'"
    [closeOnClickOutside]="true"
    [trapFocus]="false"
    [autoFocus]="true"
    [sidebarClass]="'sidebar'"
    [ariaLabel]="'deploymentDetails' | translate"
    [animate]="true"
    [showBackdrop]="true"
  >
    <app-deployment-credentials [hidden]="!hideCreds" [resourceId]="resourceId"></app-deployment-credentials>
  </ng-sidebar>
</ng-sidebar-container>
