<command-bar>
  <command displayText="{{ 'refresh' | translate }}" iconUrl="image/swap.svg" (click)="refresh()"></command>
  <command displayText="{{ 'disconnect' | translate }}" iconUrl="image/Disconnect.svg" (click)="disconnect()"></command>
  <command displayText="{{ 'edit' | translate }}" iconUrl="image/Edit.svg" (click)="edit()"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col">
    <!-- TODO: Replace ALL Hardcoded strings, these are currently Temporary -->
    <div>
      <label id="siteStatusLabel">{{'build' | translate}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        VSTS
      </div>
    </div>
    <div>
      <label id="siteStatusLabel">{{'source' | translate}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{SourceText}}
      </div>
    </div>

  </div>

  <div class="essentials-col">
    <div>
      <label id="siteStatusLabel">{{'account' | translate}}</label>
      <div>
        <a (click)="accountOnClick()" tabindex="0" id="siteSubscriptionNameLink" aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
          {{AccountText}}
        </a>
      </div>
    </div>
    <div>
      <label id="siteStatusLabel">{{'project' | translate}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{ProjectName}}
      </div>
    </div>
  </div>

  <div class="essentials-col">
    <div>
      <label id="siteStatusLabel">{{'repository' | translate}}</label>
      <div>
        <a (click)="repositoryOnClick()" tabindex="0" id="siteSubscriptionNameLink" aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
          {{RepositoryText}}
        </a>
      </div>
    </div>
    <div>
      <label id="siteStatusLabel">{{'branch' | translate}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{BranchText}}
      </div>
    </div>
  </div>
  <div class="essentials-col">
    <div>
      <label id="siteStatusLabel">{{'loadTest' | translate}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{LoadTestText}}
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'slot' | translate}}</label>
      <div *ngIf="!SlotName" tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        Production
      </div>
      <div *ngIf="SlotName">
        <a (click)="slotOnClick()" tabindex="0" id="siteSubscriptionNameLink" aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
          {{SlotName}}
        </a>
      </div>
    </div>

  </div>
</div>


<div class="table-container">
  <tbl [items]="TableItems" #table="tbl" id="activity-list" [name]="'functionApps' | translate" groupColName="message">
    <tr style="display:none">
      <th>
        <tbl-th name="message">{{'message' | translate}}</tbl-th>
      </th>
      <th>
        <tbl-th name="time">{{'time' | translate}}</tbl-th>
      </th>
      <th>
        <tbl-th name="date">{{'date' | translate}}</tbl-th>
      </th>
    </tr>

    <tr *ngFor="let item of table.items">
      <td>
        <img *ngIf="item.type === 'row'" style='display:inline-block;vertical-align:middle;width:18px;height:18px;' [src]="item.icon"
        />

        <div *ngIf="item.type === 'group'" class="messageColumn">
          <b>
            <p>{{item.message}}</p>
          </b>
        </div>
        <div *ngIf="item.type === 'row'" class="messageColumn">

          <p>{{item.message}}</p>
          <div style="display:inline-block;margin-left:10px;" *ngFor="let url of item.urlInfo">
            <span *ngIf="url.urlIcon" [load-image]="url.urlIcon" class="statusImage"></span>
            <a (click)="onUrlClick(url.url)" tabindex="0">{{url.urlText}}</a>
          </div>
        </div>
      </td>
      <td>{{item.time}}</td>
    </tr>
  </tbl>
</div>