div {
    color: #B94A48;
}

.error-list {
    top: 50px;
    right: 20px;
    position: fixed;
    width: 350px;
    z-index: 1000;
}

.error-box {
    padding: 20px;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3);
    background-color: #ECD0D0;
    border: 1px solid #e6c2c2;
    margin-bottom: 10px;
}

.close-button {
    position: relative;
    float: right;
    display: inline;
    height: 20px;
    right: -10px;
    top: -15px;
}