<div class="textbox-wrapper">

<input *ngIf="!control"
    [attr.aria-describedby]="ariaErrorId"
    [attr.aria-label]="ariaLabel"
    [type]="type"
    (change)="onChange($event.target.value)"
    (keyup)="onKeyUp($event.target.value)"
    [readonly]="readonly"
    [disabled]="disabled"
    [placeholder]="placeholder" />

<ng-container *ngIf="!!control">

    <input #textboxInput
        [type]="type"
        [attr.aria-label]="ariaLabel"
        (change)="onChange($event.target.value)"
        (keyup)="onKeyUp($event.target.value)"
        [readonly]="readonly"
        [disabled]="disabled"
        [formControl]="control"
        [placeholder]="placeholder"
        [class.dirty]="highlightDirty && control?.dirty" />

    <div *ngIf="!disablePopOverError" class="validation-error">
        <pop-over *ngIf="!!control.errors && Obj.keys(control.errors).length > 0"
                [message]="control.errors[Obj.keys(control.errors)[0]]"
                popOverClass="pop-over-container pop-over-input-error">

            <span class="fa fa-exclamation input-error"></span>

        </pop-over>
    </div>

</ng-container>

</div>