@import '../../../sass/common/variables';

.textbox-wrapper {
  width: 100%;
  position: relative;

  input {
    height: 23px;
    width: 100%;

    &.dirty {
      border-color: $alt1-color;
    }

    &[disabled] {
      background-color: $background-color-disabled;
    }
  }

  .validation-error {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
  }

  .input-error {
    background-color: $error-color;
    height: 22px;
    padding: 5px 4px 0px 4px;
    left: -15px;
    margin-bottom: -3px;
  }
}
