<command-bar>
  <!-- Reset Publishing Creds if Local Git -->
  <command displayText="{{ 'refresh' | translate }}" iconUrl="images/swap.svg" (click)="refresh()"></command>
  <command displayText="{{ 'disconnect' | translate }}" iconUrl="images/error.svg" (click)="disconnect()"></command>
  <command displayText="{{ 'edit' | translate }}" iconUrl="images/Functions.svg" (click)="edit()"></command>
  <command displayText="{{ 'sync' | translate }}" iconUrl="images/Functions.svg" (click)="SyncScm()"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col">

    <div>
      <label id="siteStatusLabel">Source</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{SourceLocation}}
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">Build</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        Kudu
      </div>
    </div>
  </div>


  <div class="essentials-col" *ngIf="Branch">

    <div>
      <label id="siteStatusLabel">Repo</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{Repo}}
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">Branch</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{Branch}}
      </div>
    </div>
  </div>


  <div class="essentials-col" *ngIf="SourceLocation === 'Local Git'">

    <div>
      <label id="siteStatusLabel">Git Clone Uri</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{GitCloneUri}}
      </div>
    </div>
  </div>

  <div class="essentials-col" *ngIf="FolderPath">

    <div>
      <label id="siteStatusLabel">Folder</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{FolderPath}}
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">Rollback Enabled</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{RollbackEnabled}}
      </div>
    </div>
  </div>

  <div class="essentials-col" *ngIf="Branch">
    <div>
      <label id="siteStatusLabel">Source Control Type</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{ScmType}}
      </div>
    </div>
  </div>
</div>

<div class="list-collection-container">
  <tbl [items]="TableItems" #table="tbl" id="activity-list" [name]="'functionApps' | translate" groupColName="time">
    <tr>
      <th>
        {{'time' | translate}}
      </th>
      <th>
        {{'status' | translate}}
      </th>
      <th>
        {{'commitIdAuthor' | translate}}
      </th>
      <th>
        {{'checkinMessage' | translate}}
      </th>
      <th class="icon"></th>
    </tr>

    <tr *ngFor="let item of table.items">

      <td>
        <div *ngIf="item.type === 'row'">
          {{item.time}}
        </div>
        <div *ngIf="item.type === 'group'">
          <b>{{item.time}}</b>
        </div>
      </td>
      <td>{{item.status}}</td>
      <td>
        <div *ngIf="item.type === 'row'">
          {{item.commit}} ({{item.author}})
        </div>
      </td>
      <td>

        {{item.checkinMessage}}

      </td>

      <td class="icon">
        <div *ngIf="item.type === 'row'">
          <img src="images/generic-template.svg" (click)="details(item)" />
        </div>
      </td>
    </tr>
  </tbl>
</div>