<section class="example">
    <h2>SVG's (Notice that icon colors update with theme changes)</h2>
    <div class="header">
        <h3>EXAMPLE OF MONOCHROMATIC ICONS</h3>

        <label>Small</label>
        <span load-image="image/delete.svg" class="icon-small"></span>

        <label>Medium</label>
        <span load-image="image/delete.svg" class="icon-medium"></span>

        <Label>Large</Label>
        <span load-image="image/delete.svg" class="icon-large"></span>

        <h3 id="poly-icon">EXAMPLE OF POLYCHROMATIC ICON</h3>
        <span load-image="image/app-service-plan.svg" class="icon-large"></span>

    </div>
    <figure>
        <pre>

    &lt;label&gt;Small&lt;/label&gt;
    &lt;span load-image=&quot;image/delete.svg&quot; class=&quot;icon-small&quot;&gt;&lt;/span&gt;

    &lt;label&gt;Medium&lt;/label&gt;
    &lt;span load-image=&quot;image/delete.svg&quot; class=&quot;icon-medium&quot;&gt;&lt;/span&gt;

    &lt;Label&gt;Large&lt;/Label&gt;
    &lt;span load-image=&quot;image/delete.svg&quot; class=&quot;icon-large&quot;&gt;&lt;/span&gt;
        </pre>
    </figure>
</section>