<section class="example">
  <h2>Dropdown</h2>
  <h4>
    More samples to be found at <a href="https://ng-select.github.io/ng-select">https://ng-select.github.io/ng-select</a>
  </h4>
  <div [formGroup]="FormGroupExample" novalidate>
    <ng-select class="custom-select" [items]="items" bindLabel="displayLabel" bindValue="value" placeholder="Select source" [(ngModel)]="chosenValue"
      formControlName="sourceProvider">
    </ng-select>
    <div invalidmessage="sourceProvider"></div>

    <h4>ngModel value: {{chosenValue}}</h4>
    <h4>formValue value: {{FormGroupExample?.value?.sourceProvider}}</h4>
  </div>
  <figure>
    <label>HTML</label>
    <pre class="language-html">
        <code [innerHTML]="htmlCode" ></code>
    </pre>
    <label>TypeScript</label>
    <pre class="language-typescript">
      <code [innerHTML]="typescriptCode" ></code>
  </pre>
  </figure>
</section>