<div *ngIf="imageSourceForm" [formGroup] = "imageSourceForm">
    <label>{{ 'containerRepositoryAccess' | translate }}</label>
    <div>
        <radio-selector
            [options] = "containerSettingsManager.dockerHubAccessOptions"
            (value) = "updateAccessOptions($event)"
            [control] = "imageSourceForm.controls.accessType">
        </radio-selector>
    </div>
</div>

<div *ngIf="dockerHubForm" [formGroup] = "dockerHubForm">
    <div *ngIf = "selectedAccessType === 'private'">
        <label>{{ 'containerLogin' | translate }}</label>
        <textbox [control] = "dockerHubForm.controls.login"></textbox>
    </div>

    <div *ngIf = "selectedAccessType === 'private'">
        <label>{{ 'containerPassword' | translate }}</label>
        <textbox type="password" [control] = "dockerHubForm.controls.password"></textbox>
    </div>

    <div *ngIf = "containerImageSourceInfo.container.id === 'single'">
        <label>{{ 'containerImageAndTag' | translate }}</label>
        <textbox [control] = "dockerHubForm.controls.image"></textbox>
    </div>

    <div *ngIf = "containerImageSourceInfo.container.id !== 'single'">
        <div>
            <label>{{ 'containerMultiConfigurationFile' | translate }}</label>
            <input type="file" (change)="extractConfig($event)">
        </div>

        <div>
            <label>{{ 'containerMultiConfiguration' | translate }}</label><br/>
            <textarea class="config" formControlName="config" disabled></textarea>
        </div>
    </div>
</div>