@import '../../../sass/common/variables';

form > div {
    padding-bottom: 10px;
}

.long {
    width: 720px !important;
}

.edit {
    width: 740px;
    padding-bottom: 10px;
}

.newproxy-container {
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;

    input[type=text]{
        height: 23px;
    }

    input[type=checkbox]{
        height: 15px;
        width: 15px;
    }

    select{
        height: 23px;
    }
}

.custom-button {
    margin-right: 20px;
}

.header {
    display: flex;
    div:nth-child(1) {
        flex-grow:1;
        align-items:center;
    }
    div:nth-child(2) {
        flex-grow:0;
    }
}

command-bar {
  > h2 {
    display: inline-block;
    margin: 0px 10px;
  }
}

.field-textbox {
    width: 300px;
}