<div *ngIf="showFunctionInvokeUrlModal" id="my-modal" class="modal fade in" style="display: block">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal()">&times;</button>
        <span class="text-label">{{'keysDialog_getFunctionUrl' | translate}}</span>
      </div>
      <div class="modal-body keys-dialog-body">
        <div *ngIf="isHttpFunction && hostKeys">
          <div class="text-label">{{'keysDialog_key' | translate}}</div>
          <select #selectKeys (change)="onChangeKey($event.target.value)">
            <option *ngFor="let key of functionKeys.keys" [value]="key.value">{{key.name}} (Function key)</option>
            <option *ngIf="!!hostKeys.masterKey" [value]='hostKeys.masterKey'>_master (Host key)</option>
            <option *ngFor="let key of hostKeys.functionKeys.keys" [value]="key.value">{{key.name}} (Host key)</option>
            <option *ngFor="let key of hostKeys.systemKeys.keys" [value]="key.value">{{key.name}} (Host key)</option>
          </select>
        </div>
        <div class="keys-dialog-body-invokeUrl">
          <div class="text-label">{{'keysDialog_url' | translate}}</div>
          <div>
            <copy-pre [content]="functionInvokeUrl"></copy-pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showFunctionKeyModal" id="my-modal" class="modal fade in" style="display: block">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{'functionDev_githubSelect' | translate}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal()">&times;</button>
      </div>

      <div class="modal-body">
        <div>
          <copy-pre [content]="functionKey"></copy-pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showFunctionInvokeUrlModal || showFunctionKeyModal" class="modal-backdrop fade in"></div>

<div #functionContainer
  (window:resize)="onResize()"
  id="main-container"
  [class.right-tabs-expanded]="rightBarExpanded"
  [class.bottom-tabs-expanded]="bottomBarExpanded"
  [class.bottom-tabs-maximized]="expandLogs">

  <section id="editor-section">
    <div id="command-bar-container">
      <h2
        tabindex="0" class="filename-title">
          {{fileName}}
      </h2>
      <button [fnWriteAccess]="context"
        class="custom-button"
        [class.dirty]="scriptFile?.isDirty"
        (click)="saveScript()">{{ 'save' | translate }} </button>

      <button *ngIf="scriptFile?.isDirty && !isStandalone"
        class="custom-button-invert"
        [disabled]="!runValid || !isRunEnabled"
        [class.dirty]="scriptFile?.isDirty"
        [title]="runHoverText | translate"
        [attr.aria-label]="runHoverText | translate"
        (click)="runFunction()">
        <i class="fa fa-play"></i> {{ 'functionDev_saveAndRun' | translate }} </button>

      <button *ngIf="!scriptFile?.isDirty && !isStandalone"
        class="custom-button-invert"
        [disabled]="!runValid || !isRunEnabled"
        [class.dirty]="scriptFile?.isDirty"
        [title]="runHoverText | translate"
        [attr.aria-label]="runHoverText | translate"
        (click)="runFunction()">
        <i class="fa fa-play"></i> {{ 'run' | translate }} </button>

      <button *ngIf="running"
        class="custom-button cancel-button"
        (click)="cancelCurrentRun()"> {{ 'cancel' | translate }} </button>

      <a *ngIf="showFunctionInvokeUrl"
        class="link get-url"
        (click)="setShowFunctionInvokeUrlModal(true)"
        tabindex="0"
        (keydown)="keyDown($event, 'setShowFunctionInvokeUrlModal', true)">
        {{ 'functionDev_getFunctionUrl' | translate }}
      </a>

      <a *ngIf="showFunctionKey"
        class="link get-url"
        (click)="setShowFunctionKeyModal(true)"
        tabindex="0"
        (keydown)="keyDown($event, 'setShowFunctionKeyModal', true)">
        {{ 'functionDev_getGithubSecret' | translate }}
      </a>

      <a *ngIf="isEventGridFunction"
        [class.disabled-link]="!eventGridSubscribeUrl"
        class="link get-url"
        (click)="onEventGridSubscribe()"
        tabindex="0"
        (keydown)="keyDown($event, 'onEventGridSubscribe')">
        {{ 'functionDev_addEventGrid' | translate }}
      </a>
    </div>

    <div id="text-editor-container">
      <div monacoEditor id="code"
        *ngIf="fileName"
        (onRun)="runFunction()"
        (onSave)="saveScript()"
        (onContentChanged)="contentChanged($event)"
        [content]="content"
        [fileName]="fileName"
        [disabled]="disabled | async"
        [miniMapDisabled]="true">
      </div>
    </div>
  </section>

  <aside id="right-tabs-bar">
    <div *ngIf="!rightTab">
      <div class="right-container-rotated">
        <h4 class="tab-label-rotate-right"
          (click)="clickRightTab('files')"
          tabindex="0"
          (keydown)="keyDown($event, 'clickRightTab', 'files')"
          role="button"
          attr.aria-label="{{ 'open' | translate }}"> <i class="fa fa-chevron-down"></i>&nbsp; </h4>

        <h4 class="tab-label-rotate"
          (click)="clickRightTab('files')"
          tabindex="0"
          (keydown)="keyDown($event, 'clickRightTab', 'files')"
          role="button"
          attr.aria-label="{{ 'functionDev_viewFiles' | translate }}"> {{ 'functionDev_viewFiles' | translate }} </h4>

        <h4 *ngIf="!isStandalone"
          class="tab-label-rotate"
          (click)="clickRightTab('run')"
          tabindex="0"
          (keydown)="keyDown($event, 'clickRightTab', 'run')"
          role="button"
          attr.aria-label="{{ 'test' | translate }}"> {{ 'test' | translate }} </h4>

      </div>
    </div>

    <!--class="right-block"-->
    <div #rightContainer id="sidebar" class="right-container">

      <div *ngIf="rightTab">
        <div class="rigth-container-bar">
          <h4 [class.tab-label-selected]="rightTab==='files'" [class.tab-label]="rightTab!=='files'" (click)="clickRightTab('files')"
            tabindex="0" (keydown)="keyDown($event, 'clickRightTab', 'files')" role="button" attr.aria-label="{{ 'functionDev_viewFiles' | translate }}">
            {{ 'functionDev_viewFiles' | translate }}
          </h4>
          <h4 *ngIf="!isStandalone" [class.tab-label-selected]="rightTab==='run'" [class.tab-label]="rightTab!=='run'" (click)="clickRightTab('run')"
            tabindex="0" (keydown)="keyDown($event, 'clickRightTab', 'run')" role="button" attr.aria-label="{{ 'test' | translate }}">
            {{ 'test' | translate }}
          </h4>
          <span style="flex-grow: 1;"></span>
          <h4 style="padding-right: 10px;" class="tab-label" (click)="clickRightTab(rightTab)" tabindex="0" (keydown)="keyDown($event, 'clickRightTab', rightTab)"
            role="button" attr.aria-label="{{ 'close' | translate }}">
            <i class="fa fa-chevron-right"></i>
          </h4>
        </div>
      </div>

      <div *ngIf="rightTab === 'files' && functionInfo" class="dev-border files-container">
        <file-explorer [viewInfo]="viewInfo" [selectedFile]="scriptFile" [masterKey]="hostKeys?.masterKey" (selectedFileChange)="selectedFileStream.next($event)" (closeClicked)="clickRightTab('files')">
        </file-explorer>
      </div>

      <div *ngIf="rightTab === 'run' && isRunEnabled" class="dev-full dev-border dev-flex-column">

        <div class="dev-full dev-flex-column run-container" *ngIf="functionInfo" [class.run-container-http]="isHttpFunction">

          <run-http *ngIf="isHttpFunction" [functionInvokeUrl]="functionInvokeUrl" [functionInfo]="functionInfo" (validChange)="onRunValid($event)"
            (disableTestData)="onDisableTestData($event)">
          </run-http>

          <div>
            <div class="text-label control-label">{{ 'functionDev_requestBody' | translate }}</div>
            <div id="test_data" monacoEditor [miniMapDisabled]="true" class="monaco" (onSave)="saveTestData()" (onContentChanged)="testContentChanged($event)"
              [content]="testContent" fileName="sample.dat">
            </div>
          </div>

          <div *ngIf="!isHttpFunction" class="dev-flex-column run-output">
            <div class="run-result">
              <div class="text-label control-label" style="flex-grow:1">{{ 'functionDev_Output' | translate }}</div>

              <div *ngIf="runResult && (runResult.statusCode > 99 && runResult.statusCode < 300)" class="message-success">
                <i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}
              </div>
              <div *ngIf="runResult && (runResult.statusCode > 299 && runResult.statusCode < 400)" class="message-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}</div>
              <div *ngIf="runResult && (runResult.statusCode < 99 || runResult.statusCode > 399)" class="message-error">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}
              </div>
            </div>

            <pre class="run-pre-regular">{{runResult?.content}}</pre>

          </div>

          <div *ngIf="isHttpFunction">
            <div class="run-result">
              <div class="text-label control-label" style="flex-grow:1">{{ 'functionDev_Output' | translate }}</div>

              <div *ngIf="runResult && (runResult.statusCode > 99 && runResult.statusCode < 300)" class="message-success">
                <i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}
              </div>
              <div *ngIf="runResult && (runResult.statusCode > 299 && runResult.statusCode < 400)" class="message-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}</div>
              <div *ngIf="runResult && (runResult.statusCode > 299 && runResult.statusCode > 399)" class="message-error">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'functionDev_status' | translate }} {{runResult.statusCode}} {{runResult.statusText}}
              </div>
            </div>

            <pre class="run-pre-http height-fixed">{{runResult?.content}}</pre>
          </div>
        </div>
        <div class="run-button-container">
          <button *ngIf="scriptFile?.isDirty" [disabled]="!runValid" [class.custom-button-invert]="runValid" [disabled]="!runValid"
            [class.dirty]="scriptFile?.isDirty" (click)="runFunction()">
            <i class="fa fa-play"></i>
            {{ 'functionDev_saveAndRun' | translate }}
          </button>
          <button *ngIf="!scriptFile?.isDirty" [disabled]="!runValid" [class.custom-button-invert]="runValid" [disabled]="!runValid"
            [class.dirty]="scriptFile?.isDirty" (click)="runFunction()">
            <i class="fa fa-play"></i>
            {{ 'run' | translate }}
          </button>
        </div>
      </div>

      <info-box
        *ngIf="rightTab === 'run' && !isRunEnabled"
        class="dev-full dev-border dev-flex-column"
        [infoText]="'testFunctionNotSupportedForGitHubWebhook' | translate">
      </info-box>
    </div>
  </aside>

  <footer id="bottom-tabs-bar">
    <div class="tab-heading" (click)="clickBottomTab(bottomBarExpanded ? bottomTab : 'logs')">
      <h4 tabindex="0"
        class="tab-label"
        (keydown)="keyDown($event, 'clickBottomTab', bottomBarExpanded ? bottomTab : 'logs')">
          <i *ngIf="bottomBarExpanded" class="fa fa-chevron-down"></i>
          <i *ngIf="!bottomBarExpanded" class="fa fa-chevron-up"></i>
      </h4>
    </div>

    <div class="tab-heading" (click)="clickBottomTab('logs')">
      <h4 [class.tab-label-disabled]="bottomTab !== 'logs'"
        [class.tab-label-selected]="bottomTab === 'logs'"
        tabindex="0"
        (keydown)="keyDown($event, 'clickBottomTab', 'logs')">{{ 'logStreaming_logs' | translate }}</h4>
    </div>

    <div *ngIf="showErrorsAndWarnings" class="tab-heading" (click)="clickBottomTab('errors')">
      <h4 [class.tab-label-disabled]="bottomTab !== 'errors'"
        [class.tab-label-selected]="bottomTab === 'errors'"
        tabindex="0"
        (keydown)="keyDown($event, 'clickBottomTab', 'errors')">{{ 'diagnostics_errorsAndWarnings' | translate }}</h4>
    </div>

    <div *ngIf="showConsole" class="tab-heading" (click)="clickBottomTab('console')">
      <h4 [class.tab-label-disabled]="bottomTab !== 'console'"
        [class.tab-label-selected]="bottomTab === 'console'"
        tabindex="0"
        (keydown)="keyDown($event, 'clickBottomTab', 'console')">{{ 'feature_consoleName' | translate }}</h4>
    </div>

    <log-streaming [hidden]="bottomTab !== 'logs'"
      [viewInfo]="viewInfo"
      (closeClicked)="clickBottomTab('logs')"
      (expandClicked)="expandLogsClicked($event)"> </log-streaming>

    <errors-warnings *ngIf="showErrorsAndWarnings"
      [hidden]="bottomTab !== 'errors'"
      (selectFile)="selectedFileStream.next($event)"
      [viewInfo]="viewInfo"
      [monacoEditor]="codeEditor"
      (expandClicked)="expandLogsClicked($event)"
      (diagnosticDblClicked)="clickRightTab('files')"></errors-warnings>

    <console [hidden]="bottomTab !== 'console'"
      [viewInfo]="viewInfo"
      (closeClicked)="clickBottomTab('console')"
      (expandClicked)="expandLogsClicked($event)"> </console>

  </footer>
</div>