@import '../../../sass/common/variables';
@import '../../../sass/base/typography';

#function-runtime-container{
    padding: 20px 35px;
}

label {
    @extend .text-label;
    margin: 0px 0px 3px 0px;
    font-weight: normal;
}

.setting-wrapper {
     display: flex;
     flex-direction: column;
     padding: 5px 0px 8px 0px;
     width: 75%;
}

input[type=text], select{
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
    vertical-align: middle;
    height: 29px;
    width: 85%;
    margin-right: 10px;
    padding: 0 5px;
}

.warning {
    color: $error-color;
}

.remove-button {
    background-color: $error-color;
}

.title-label {
    font-weight: bold;
}

.alert{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.alert-icon{
    width: 30px;
}

.alert-message{
    padding-left: 5px;
}
