<div class="full">
    <ng-sidebar-container class="full">
        <div class="full" ng-sidebar-content>
            <app-vso-dashboard *ngIf="vstsDeploymentSetup" [resourceId]="resourceId"> </app-vso-dashboard>
            <app-kudu-dashboard *ngIf="kuduDeploymentSetup" [resourceId]="resourceId" (disconnected)="refreshedSCMType()"></app-kudu-dashboard>
            <app-github-action-dashboard *ngIf="githubActionDeploymentSetup" [resourceId]="resourceId"></app-github-action-dashboard>
            <app-deployment-center-setup *ngIf="noDeploymentSetup" [resourceId]="resourceId">
            </app-deployment-center-setup>
        </div>

        <ng-sidebar #sidebar [(opened)]="sidePanelOpened" [mode]="'over'" [position]="'right'" [closeOnClickOutside]="false" [trapFocus]="true"
        [autoFocus]="true" sidebarClass="sidebar-ftp-dashboard" [animate]="true" [showBackdrop]="true">
            <app-ftp-dashboard *ngIf="dashboardProviderType === 'ftp'" [resourceId]="resourceId"></app-ftp-dashboard>
            <app-credentials-dashboard *ngIf="dashboardProviderType === 'credentials-dashboard'" [credentialsData]="credentialsData"></app-credentials-dashboard>
            <span class="close-button" (click)="sidebar.close()">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </span>
        </ng-sidebar>
    </ng-sidebar-container>
</div>