<div class="newSlot-container">
  <h3 class="text-main2-heading">{{ 'slotNew_heading' | translate }}</h3>

  <div class="text-subheading">{{ 'slotNew_desc' | translate}}</div>
  <div *ngIf="!hasCreatePermissions" class="alert alert-warning alert-dismissible" role="alert">
    {{ 'slots_noAccess' | translate }}</div>
  <div *ngIf="!slotOptinEnabled" class="alert alert-warning alert-dismissible" role="alert">
    {{ 'slots_warningOff' | translate }} <span class="link" (click)="onFunctionAppSettingsClicked()">{{ 'appFunctionSettings_functionAppSettings' | translate }}</span>.
  </div>

  <div class="slot-form" *ngIf="slotOptinEnabled && hasCreatePermissions">
    <label class="name-label">
        {{slotNew_nameLabel | translate }}
    </label>
    <textbox class="name-textbox" [placeholder]="Resources.enterName | translate" [control]="newSlotForm.controls['name']"></textbox>
    <button [class.custom-button]="newSlotForm.valid && newSlotForm.dirty" [class.custom-button-disabled]="!newSlotForm.valid || !newSlotForm.dirty"
      [disabled]="newSlotForm.invalid || newSlotForm.pristine" (click)="createSlot()">{{ 'create' | translate }}</button>
  </div>
</div>