<div class="{{wrapperClass}}">
    <div class="title" style="position: relative;">
        <span [class.success]="level === 'success'"
              [class.warning]="level === 'warning'"
              [class.danger]="level === 'danger'"><i class="fa {{iconClass}}"></i></span>
        <span style="font-weight: bold;">{{titleName}}: </span>
        <span>{{titleText}}</span>
        <i [class.fa-caret-left]="expandable && !expanded"
           [class.fa-caret-down]="expandable && expanded"
           [class.clickable]="expandable"
           class="fa" (click)="toggleExpand()" style="right: 10px; position: absolute;">
        </i>
    </div>
    <div class="list" *ngIf="expanded">
        <div style="padding-left: 20px;" *ngFor="let element of elements">
            <span>{{element.label}}</span>
        </div>
    </div>
</div>