.command-bar-wrapper{
    border-bottom: $border;
    padding-left: 12px;

    .icon-small{
        margin-right: 3px;
        vertical-align: top;
    }

    .disabled-command{
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
        cursor: text;
    }

    .command{
        padding: 12px;
        display: inline-block;
        
        &:hover{
            background-color: $command-color-hover;
        }

        &.left-edge{
            border-left: $border;
        }
    }
}

#command-bar-embedded-top{
    .command-bar-wrapper{
        background-color: $pa-command-bar;
        padding-left: 22px;
        height: 40px;

        .command{
            font-size: 14px;
            font-weight: 400;
            color: $pa-text-color;
            min-width: 20px;
            padding-left: 8px;
            padding-bottom: 8px;
            font-family: "Segoe UI", "Segoe";
            
            &:hover{
                background-color: $pa-command-hover;
            }

            &.right {
                float: right;
                &.edge {
                    margin-right: 20px;
                }   
            }

            svg{
                fill: $pa-icon-color;
            }

            i{
                color: $pa-icon-color;
                padding-right: 3px;
            }
        }
    }
}

#command-bar-embedded-bottom{
    .command-bar-wrapper{
        background-color: $pa-command-bar;
        padding-left: 22px;
        height: 40px;

        .right-edge{
            float: right;
        }

        .command{
            font-size: 14px;
            font-weight: 400;
            color: $pa-text-color;
            min-width: 20px;
            padding-left: 8px;
            padding-bottom: 8px;
            font-family: "Segoe UI", "Segoe";
            
            &:hover{
                background-color: $pa-command-hover;
            }

            svg{
                fill: $pa-icon-color;
            }

            i{
                color: $pa-icon-color;
                padding-right: 3px;
            }
        }
    }
}