.command-bar-wrapper{
    border-bottom: $border;
    padding-left: 12px;

    .icon-small{
        margin-right: 3px;
        vertical-align: top;
    }

    .disabled-command{
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
        cursor: text;
    }

    .command{
        padding: 12px;
        display: inline-block;
        color: $default-text-color;
        text-decoration: none;

        &:hover{
            background-color: $command-color-hover;
            text-decoration: none;
        }

        &.left-edge{
            border-left: $border;
        }
    }
}

#app-root[theme=dark]{
    .command{
        color: $default-text-color-dark;

        &:hover{
            background-color: $command-color-hover-dark;
        }
    }
}