//colors
@import '../../sass/common/variables';
// ng-select.ng-invalid.ng-touched .ng-control {
//     border-color: #dc3545;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
// }
.ng-select.custom-select {
    &.ng-select-opened {
        >.ng-select-container {
            border: $border;
            .ng-arrow {
                top: -2px;
                border-color: transparent transparent $border-color;
                border-width: 0 5px 5px;
                &:hover {
                    border-color: transparent transparent $border-focus-color;
                }
            }
        }
    }
    &.ng-select-focused {
        &:not(.ng-select-opened)>.ng-select-container {
            border-color: $border-focus-color;
        }
    }
    &.ng-select-disabled {
        >.ng-select-container {
            background-color: #f9f9f9;
        }
    }
    .ng-has-value .ng-placeholder {
        display: none;
    }
    .ng-select-container {
        border: $border;
        min-height: 25px;
        align-items: center;
        .ng-value-container {
            align-items: center;
            padding-left: 10px;
            .ng-input {
                >input {
                    padding-left: 0px;
                    height: 25px;
                }
            }
            .ng-placeholder {
                color: #aaa;
            }
        }
    }
    .ng-clear-wrapper {
        color: #999;
        .ng-clear {
            &:hover {
                color: #D0021B;
            }
        }
    }
    .ng-spinner-zone {
        padding-right: 5px;
        padding-top: 5px;
    }
    .ng-arrow-wrapper {
        padding-right: 5px;
        width: 25px;
        .ng-arrow {
            border-color: #999 transparent transparent;
            border-style: solid;
            border-width: 5px 5px 2.5px;
            &:hover {
                border-top-color: #666;
            }
        }
    }
}

.ng-dropdown-panel {
    background-color: $body-bg-color;
    border: $border;
    box-shadow: 0 1px 0 $black_shadow;
    &.ng-select-bottom {
        top: 100%; 
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-color: $border-color;
        margin-top: -1px;
    }
    &.ng-select-top {
        bottom: 100%;
        border-top-right-radius: 4px; 
        border-top-left-radius: 4px;
        border-bottom-color: $border-color;
        margin-bottom: -1px;
    }
    .ng-dropdown-header {
        border-bottom: $border;
        padding: 5px 7px;
    }
    .ng-dropdown-footer {
        border-top: $border;
        padding: 5px 7px;
    }
    .ng-dropdown-panel-items {
        margin-bottom: 1px;
        .ng-optgroup {
            user-select: none;
            cursor: default;
            padding: 8px 10px;
            &.ng-option-marked {
                background-color:  #ebf5ff;
            }
            &.ng-option-selected {
                background-color: #f5faff;
                font-weight: 600;
            }
        }
        .ng-option {
            padding: 8px 10px;
            &.ng-option-selected {
                background-color: $background-color-opaque;
                .ng-option-label {
                    font-weight: 600;
                }
            }
            &.ng-option-marked {
                background-color: $primary-color-faded;
            }
            &.ng-option-disabled {
                color: #cccccc;
            }
            &.ng-option-child {
                padding-left: 22px;
            }
            .ng-tag-label {
                padding-right: 5px;
                font-size: 80%;
                font-weight: 400;
            }
        }
    }
}

/////////////////////

#app-root[theme=dark] {
    .ng-select.custom-select {
        &.ng-select-focused {
            &:not(.ng-select-opened)>.ng-select-container {
                border-color: #007eff;
            }
        }
        &.ng-select-disabled {
            >.ng-select-container {
                background-color: #f9f9f9;
            }
        }
        .ng-has-value .ng-placeholder {
            display: none;
        }
        .ng-select-container {
            border: $border;
            min-height: 25px;
            align-items: center;
            .ng-value-container {
                align-items: center;
                padding-left: 10px;
                .ng-input {
                    >input {
                        padding-left: 0px;
                        height: 25px;
                    }
                }
                .ng-placeholder {
                    color: #aaa;
                }
            }
        }
        .ng-clear-wrapper {
            color: #999;
            .ng-clear {
                &:hover {
                    color: #D0021B;
                }
            }
        }
        .ng-spinner-zone {
            padding-right: 5px;
            padding-top: 5px;
        }
        .ng-arrow-wrapper {
            padding-right: 5px;
            width: 25px;
            .ng-arrow {
                border-color: #999 transparent transparent;
                border-style: solid;
                border-width: 5px 5px 2.5px;
                &:hover {
                    border-top-color: #666;
                }
            }
        }
    }
    
    .ng-dropdown-panel {
        background-color: $body-bg-color;
        border: $border;
        box-shadow: 0 1px 0 $black_shadow;
        &.ng-select-bottom {
            top: 100%; 
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-color: $border-color;
            margin-top: -1px;
        }
        &.ng-select-top {
            bottom: 100%;
            border-top-right-radius: 4px; 
            border-top-left-radius: 4px;
            border-bottom-color: $border-color;
            margin-bottom: -1px;
        }
        .ng-dropdown-header {
            border-bottom: $border;
            padding: 5px 7px;
        }
        .ng-dropdown-footer {
            border-top: $border;
            padding: 5px 7px;
        }
        .ng-dropdown-panel-items {
            margin-bottom: 1px;
            .ng-optgroup {
                user-select: none;
                cursor: default;
                padding: 8px 10px;
                &.ng-option-marked {
                    background-color:  #ebf5ff;
                }
                &.ng-option-selected {
                    background-color: #f5faff;
                    font-weight: 600;
                }
            }
            .ng-option {
                padding: 8px 10px;
                &.ng-option-selected {
                    background-color: $background-color-opaque;
                    .ng-option-label {
                        font-weight: 600;
                    }
                }
                &.ng-option-marked {
                    background-color: $primary-color-faded;
                }
                &.ng-option-disabled {
                    color: #cccccc;
                }
                &.ng-option-child {
                    padding-left: 22px;
                }
                .ng-tag-label {
                    padding-right: 5px;
                    font-size: 80%;
                    font-weight: 400;
                }
            }
        }
    }
}