/* Overwritting ng2-popover */
.popover {
    border-radius: 0px !important;
    max-width: 400px;
}

/* Global style for pop-over link colors */
.pop-over-links {
    a {
        color: #55b3ff;
        text-decoration: none;
    }
}

#app-root[theme=dark]{
    .popover{
        background-color: lighten($body-bg-color-dark, 10%);

        .arrow::after{
            border-right-color: lighten($body-bg-color-dark, 10%);
        }
    }
}