/*
Shared global tab styles
*/
.tab-label {
    display: inline;
    padding-bottom: 12px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 0px;
    color: $primary-color;

    &:hover{
        color: $default-text-color;
    }
}

.tab-label-selected {
    display: inline;
    padding: 8px 5px 8px 5px;
    border-bottom: 4px solid $default-text-color;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
    color: $default-text-color;

    &.closeable{
        background-color: $body-bg-color;
    }
}

.tab-label-disabled {
    display: inline;
    padding: 8px 5px 8px 5px;
    border-bottom: 4px solid #ccc;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 0px;
}

.tab-label-rotate-right {
    display: inline;
    padding-top: 8px; 
    padding-bottom: 8px;
    padding-left: 5x;
    padding-right: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 0px;
}

.tab-label-rotate {
    display: inline;
    padding: 8px 5px 8px 5px;
    border-top: 4px solid #ccc;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0px;
}

#app-root[theme=dark]{
    .tab-label-selected{
        border-bottom: 4px solid $default-text-color-dark;
    }
}