// .error{
//     border-color: red;
// }

.tbl{
    width: inherit;
    border-collapse: inherit;

    .link:hover{
        text-decoration: underline;
    }

    tr{
        border-bottom: 1px solid $border-color;

        th, td{
            border-bottom: $border;
        }
    }
    
    tr:not(.hidden) ~ tr:not(.hidden){
        border-top-width: 0px;

        th, td{
            border-top-width: 0px;
        }
    }
        
    tr.header-row{
        border-top: 0px;

        th, td{
            border-top: 0px;
        }
    }

    th{
        @extend .text-list-col-heading;
        min-width: 200px;
        cursor: text;
        text-transform: uppercase;
    }

    th.icon{
        min-width: 32px;
    }

    th, td{
        height: 32px;
    }

    td{
        &.dirty{
            border-left: 3px solid $alt1-color;
        }

        &.pristine{
            border-left: 3px solid $body-bg-color;
        }
    }

    td.icon, td.command-icon{
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover{
            background-color: $command-color-hover;
        }
    }

    td.icon{
        img{
            margin: 0px !important;
            height: 15px !important;
        }
    }


    td.command-icon{
        a{
            display: block;
            margin: auto;
            height: 25px;
            width: 25px;
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: 5px 5px;
        }
    }

    .sortable{
        cursor: pointer;
    }

    &.fixed{
        table-layout: fixed;
    }

    &.stretch{
        width: 100%;
    }

    &:focus{
        outline: none;
    }

    .drop-down-selected-value{
        height: 22px;
    }

    .drop-down-selected-arrow{
        top: -2px;
    }
}

#app-root[theme=dark]{
    .tbl{
        th{
            color: $default-text-color-dark;
        }

        td{
            &.pristine{
                border-left: 3px solid $body-bg-color-dark;
            }
        }
    }
}