<div class="headerBox" [style.background-color]="functionCard.barcolor" >{{functionCard.name}}
    <img [src]="functionCard.icon" [style.background-color]="functionCard.color" />
</div>

<div class="content" (keydown)="onKeyPress($event)">
    <h2>{{'sideBar_newFunction' | translate }}</h2>

    <div class="create-button-container" *ngIf="currentTemplate && currentTemplate.metadata.AADPermissions">
        <aad-registration
            [viewInfo]="viewInfo"
            [AADPermissions]="currentTemplate.metadata.AADPermissions"
            (configured)="aadRegistrationConfigured($event)">
        </aad-registration>
    </div>

    <div class="input-header">
        <label class="control-label">{{ 'templatePicker_language' | translate }}</label>
    </div>
    <drop-down [options]="languageOptions"
               (value)="onLanguageChanged($event)"
               [setDefault]="false"
               attr.aria-label="{{'templatePicker_language' | translate}}"></drop-down>

    <div class="input-header">
        <label class="control-label">{{ 'nameColon' | translate }}</label>
    </div>
    <input type="text"
           class="full-width"
           [(ngModel)]="functionName"
           (ngModelChange)="functionNameChanged()"
           placeholder="{{ 'functionNew_functionName' | translate }}">
    <ng-container *ngIf="!!functionNameError">
        <span class="fa fa-exclamation input-error-adjust"></span>
        <div class="input-show-error">{{functionNameError}}</div>
    </ng-container>

    <binding-v2 *ngIf="model.trigger"
             (validChange)="onValidChanged($event)"
             [viewInfo]="viewInfo"
             [binding]="model.trigger"
             [canDelete]="false"
             [canCancel]="false"
             [canSave]="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"></binding-v2>

    <binding-v2 *ngFor="let binding of model.inputs"
             (validChange)="onValidChanged($event)"
             [viewInfo]="viewInfo"
             [binding]="binding"
             [canSave]="false"
             [canDelete]="false"
             [canCancel]="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"></binding-v2>

    <binding-v2 *ngFor="let binding of model.outputs"
             (validChange)="onValidChanged($event)"
             [viewInfo]="viewInfo"
             [binding]="binding"
             [canSave]="false"
             [canDelete]="false"
             [canCancel]="false"
             [clickSave]="clickSave"
             (remove)="onRemoveBinding($event)"
             (update)="onUpdateBinding($event)"></binding-v2>

    <!-- TODO: [agruning] fix type -->
    <div *ngIf="model.trigger && model.trigger.type === 'eventGridTrigger'" class="alert-notice" role="alert">
        {{ 'eventGrid_createMessage' | translate }}
    </div>

    <div *ngIf="templateWarning" class="alert-notice" role="alert" tabindex="0">
            <div [innerHTML]="templateWarning"></div>
            <!-- TODO: [agruning] onAuth() is not a method. -->
            <div *ngIf="addLinkToAuth" class="link" (click)="onAuth()">{{ 'binding_AADLinkAuth' | translate }}</div>
    </div>

    <button class="custom-button"
            [disabled]="!areInputsValid || !aadConfigured"
            (click)="onCreate()">{{ 'create' | translate }}
    </button>
    <button class="custom-button-invert"
            (click)="close()">{{ 'cancel' | translate}}
    </button>

</div>