doctype html
html(lang="en")
    head
        title="Azure Functions"
        include _base/head.pug
    body(style='background-color: inherit')
        include _base/body.pug
        script.
            console.log("Azure Functions Portal Version: #{config.version}")