<app-configure-onedrive *ngIf="sourceProvider === 'onedrive'"></app-configure-onedrive>
<app-configure-dropbox *ngIf="sourceProvider === 'dropbox'"></app-configure-dropbox>
<app-configure-github *ngIf="sourceProvider === 'github'"></app-configure-github>
<app-configure-vsts-source *ngIf="sourceProvider === 'vsts'"></app-configure-vsts-source>
<app-configure-bitbucket *ngIf="sourceProvider === 'bitbucket'"></app-configure-bitbucket>
<app-configure-external *ngIf="sourceProvider === 'external'"></app-configure-external>
<app-configure-local-git *ngIf="sourceProvider === 'localgit'"></app-configure-local-git>
<app-configure-vsts-build *ngIf="buildProvider === 'vsts' && !wizard.hideVstsBuildConfigure"></app-configure-vsts-build>
<div class="footer">
  <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button type="button" *ngIf="!wizard.hideConfigureStepContinueButton" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>