.line {
  display: flex;
  flex-direction: row;
}

.select-container {
  width: 200px;
  padding-right: 15px;
}

.input-container {
  padding-right: 15px;
  padding-bottom: 10px;

  input {
    width: 500px;
  }
}

select {
  width: 175px;
}

.custom-button {
  margin-left: 0px;
  margin-top: 15px;
}

.button-conainer {
  height: 40px;
}

.button-spin {
  margin-top: 20px;
}
