@import '../../sass/common/variables';

.multi-select-container{
    position : relative;
    cursor: pointer;

    *{
        cursor: pointer;
    }
}

[role=combobox]{
    border: $border;
    outline: 1px transparent solid;
    
    &.focused{
        border: 1px solid $primary-color;
        outline: $border-focus;
    }

    >input[type=text][role=textbox]{
        width: 100%;
        border: none;
        height: 27px;
    }
}

ul[role=listbox]{
    list-style: none;
    position: absolute;
    width: 100%;
    top: 30px;
    padding: 0px;
    margin-bottom: 0px;
    border: $border;
    outline: 1px transparent solid;
    background-color: $body-bg-color;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    
    &.focused{
        border: 1px solid $primary-color;
        outline: $border-focus;
    }

    //https://bootsnipp.com/snippets/ZkMKE
    li[role=option]{
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        padding-left: 20px;

        &.inline {
            margin-top: 0;
        }

        span{
            display: inline-block;
            position: relative;
            height: 25px;
            padding-top: 5px;
            padding-left: 5px;

            &::before{
                content: "";
                display: inline-block;
                position: absolute;
                width: 13px;
                height: 13px;
                top: 6px;
                left: 0;
                margin-left: -15px;
                border: $border;
                border-radius: 3px;
                background-color: $body-bg-color;
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }
            &::after{
                display: inline-block;
                position: absolute;
                width: 9px;
                height: 9px;
                top: 6px;
                left: 0;
                margin-left: -15px;
                padding-left: 1px;
                padding-top: 0px;
                font-size: 11px;
                color: $default-text-color;
            }
        }

        &[aria-selected="true"]{
            span{
                &::after {
                    font-family: 'FontAwesome';
                    content: "\f00c";
                }
            }
        }

        &:hover{
            background-color: $grey-color;
        }

        &.focused{
            outline: $border-focus;
        }
    }
}

:host-context(#app-root[theme=dark]) ul[role=listbox]{
    background-color: $chrome-color-dark;

    li[role=option] {

        &:hover {
            background-color: $grey-color-dark;
        }

        span::before {
            background-color: $body-bg-color-dark;
        }

        span::after {
            color: $default-text-color-dark;
        }
    }
}

.multi-select-arrow {
    display: block;
    font-size: 0;
    height: 27px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    zoom: 1;
}

.multi-select-arrow:before {
    border: $border;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin: 0;
    margin-left: -5px;
    margin-top: -5px;
    padding: 0;
    position: relative;
    top: 50%;
    width: 7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}