<div id="function-runtime-container">
    <div *ngIf="site?.properties?.sku === 'Dynamic'" class="setting-wrapper">
        <label>{{ 'functionAppSettings_dailyUsageQuota' | translate }}</label>
        <div class="quotaInput" style="padding-bottom: 10px">
            <input placeholder="Enter value in GB-sec" [(ngModel)]="dailyMemoryTimeQuota" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" style="width:200px;">
            <button class="custom-button"
                    (click)="setQuota()">
                {{ 'functionAppSettings_setQuota' | translate }}
            </button>
            <button *ngIf="showDailyMemoryInfo" class="custom-button remove-button"
                    (click)="removeQuota()">
                {{ 'functionAppSettings_removeQuota' | translate }}
            </button>
            <div *ngIf="showDailyMemoryInfo" class="info">
                {{ 'functionAppSettings_quotaInfo' | translate }}
            </div>
            <div *ngIf="showDailyMemoryWarning" class="warning">
                {{ 'functionAppSettings_quotaWarning' | translate }}
            </div>
        </div>
    </div>

    <div *ngIf="!_globalStateService?.GlobalDisabled" class="setting-wrapper" [ngClass]="showTryView ? 'setting-wrapper-disabled' : 'setting-wrapper'">
        <label>{{ 'runtimeVersion' | translate }}</label>
        <div [ngClass]="showTryView ? 'features-wrapper-disabled' : 'features-wrapper'">
            <div>
                <div *ngIf="!needUpdateExtensionVersion">
                    <h2>{{ 'appFunctionSettings_functionAppSettings2' | translate: {latestExtensionVersion:latestExtensionVersion} }}</h2>
                </div>
                <div *ngIf="needUpdateExtensionVersion">
                    <h2>
                        {{ 'appFunctionSettings_functionAppSettings1' | translate: {extensionVersion: extensionVersion, latestExtensionVersion:latestExtensionVersion} }}
                        <button [ngClass]="showTryView ? 'custom-button-disabled' : 'custom-button'" (click)="updateVersion()">{{ 'update' | translate }}</button>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!showTryView" class="setting-wrapper">
        <label>{{ 'appFunctionSettings_apiProxies' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <div>
                    <h2 style="padding-bottom:5px;">{{ 'appFunctionSettings_useApiProxies' | translate }}</h2>
                    <radio-selector [disabled]="disabled" [defaultValue]="apiProxiesEnabled" [options]="functionStatusOptions" (value)="proxySettingValueStream.next($event)"></radio-selector>
                </div>
            </div>
        </div>

        <div *ngIf="apiProxiesEnabled" class="features-wrapper">
            <div>
                <div *ngIf="!needUpdateRoutingExtensionVersion">
                    <h2>{{ 'appFunctionSettings_proxyRuntimeVersion2' | translate: {latestExtensionVersion:latestRoutingExtensionVersion} }}</h2>
                </div>
                <div *ngIf="needUpdateRoutingExtensionVersion">
                    <h2>
                        {{ 'appFunctionSettings_proxyRuntimeVersion1' | translate: {extensionVersion: routingExtensionVersion, latestExtensionVersion:latestRoutingExtensionVersion} }}
                        <button [ngClass]="showTryView ? 'custom-button-disabled' : 'custom-button'" (click)="updateRoutingExtensionVersion()">{{ 'update' | translate }}</button>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!showTryView" class="setting-wrapper">
        <label>{{ 'appFunctionSettings_editMode' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <div>
                    <h2 style="padding-bottom:5px;">{{ 'appFunctionSettings_changeEditMode' | translate }}</h2>
                    <radio-selector [defaultValue]="functionAppEditMode" [options]="functionAppEditModeOptions" (value)="functionEditModeValueStream.next($event)"></radio-selector>
                </div>
            </div>
        </div>
    </div>

    <function-keys
        [autoSelect]="true"
        [functionApp]="functionApp"
        [enableKeySelect]="false"></function-keys>


</div>
