#function-runtime-container{
    padding: 15px;
}

h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 2px;    
}

#heading {
    flex-grow: 1;
    border-bottom: none;
    font-size: 24px;
}

#advanced-settings {
    flex-grow: 1;
}

.setting-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.setting-wrapper-disabled {
    display: flex;
    flex-direction: column;
}

.setting-wrapper > label {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 8px;
}

.setting-wrapper > div {
    padding: 0px 0 0px 20px;
}

/* start range */
/* http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */

input[type=range] {
    -webkit-appearance: none;
    display: inline-block;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    background: rgb(196, 201, 207);
    border: none;
    border-radius: 0;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 10px;
    background: #428bca;
    border-radius: 0;
    margin-top: -8px;
}

input[type=range]::-moz-range-track {
    height: 8px;
    background: rgb(196, 201, 207);
    border: none;
    border-radius: 0;
    border: 0;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 10px;
    background: #428bca;
    border-radius: 0;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    height: 10px;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
    background: rgb(196, 201, 207);
    border-radius: 0;
    border: 0;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 30px;
    width: 10px;
    border-radius: 0;
    background: #428bca;
}
/* end range */


.features-wrapper-disabled {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.features-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
}

input[type=text], select{
    background: #fff;
    border: 2px solid #dedede;
    position: relative;
    vertical-align: middle;
    height: 29px;
    width: 85%;
    margin-right: 10px;
    padding: 0 5px;
}



.features-wrapper > div {
    flex-grow: 1;
    border-top: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.features-wrapper-disabled > div {
    flex-grow: 1;
    border-top: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.features-wrapper > div:first-child {
}

    .features-wrapper > div > div {
        padding: 1px 10px 10px 0;
        font-size: 13px;
    }

    .features-wrapper > div > div:first-child {
        flex-grow: 3;
        width: 60%;
    }

    .features-wrapper > div > div:last-child {
        flex-grow: 1;
        width: 35%;
    }

    .features-wrapper > div > div:last-child > div, .button-div {
        margin-left: 15px;
        padding: 6px 25px 6px 25px;
        font-size: 14px;
        border: 1px solid transparent;
        color: #fff;
        background-color: #428bca;
        text-align: center;
    }

    .features-wrapper-disabled > div > div {
        padding: 1px 10px 10px 0;
        font-size: 13px;
    }

    .features-wrapper-disabled > div > div:first-child {
        flex-grow: 3;
        width: 60%;
    }

    .features-wrapper-disabled > div > div:last-child {
        flex-grow: 1;
        width: 35%;
    }
    .features-wrapper-disabled > div > div:last-child > div, .button-div {
        margin-left: 15px;
        padding: 6px 25px 6px 25px;
        font-size: 14px;
        border: 1px solid transparent;
        color: #fff;
        background-color: lightgray;
        text-align: center;
    }

.button-div {
    width: 20%;
}

.clickable-disabled {
    background-color: lightgray;
}

.quotaInput {
    align-self: flex-start;
} 

.warning {
    color: red;
}

.info {
    padding-top:10px
}

.remove-button {
    margin-top:10px;
    background-color: #ff1525;
}