<div>
    <div class="row">
        <div class="left"><label>Binding Type:</label></div>
        <div class="functions-templates-select-container right">
            <select [(ngModel)]="selectedBindingType" class="function-templates-select">
                <option *ngFor="let binding of bindings" [value]="binding.name">{{binding.name}}</option>
            </select>
            <span *ngIf="!selectedBindingType" class="function-templates-selected-value">Select Binding</span>
            <span *ngIf="selectedBindingType" class="function-templates-selected-value">{{selectedBindingType}}</span>
            <span class="function-templates-selected-arrow"></span>
        </div>
    </div>
    <div class="row-group" *ngIf="bindingOptionsMeta">
        <div class="row" *ngFor="let option of bindingOptionsMeta.options">
            <div class="left"><label>{{option.name}}: </label></div>
            <div class="right">
                <input class="new-function-name" [(ngModel)]="option.value" />
            </div>
        </div>
    </div>
</div>