@import '../../../../sass/common/variables';

.control-container.dest {
  margin-top: 10px;
}

.bullet {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;

  &.src {
    background-color: $source-slot-bullet-color;
  }

  &.dest {
    background-color: $target-slot-bullet-color;
  }
}

td,
th {
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-changes-header {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.phase-one-preview-indicator {
  padding: 3px 0 3px 5px;
  background-color: $primary-color;
  color: $default-text-color-dark;
  font-weight: bold;
  text-align: center;
}

.preview-changes-container {
  border: 1px solid $border-color;

  .preview-toggle-container {
    .preview-toggle-button {
      width: 50%;
      float: left;
      padding: 3px 0 8px 5px;
      background-color: transparent;
      color: $primary-color;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid $border-color;

      &.selected {
        color: $default-text-color;
        box-shadow: 0px -5px $primary-color inset;
      }
    }
  }
}

.help-toggle-icon {
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.help-text-container {
  margin-bottom: 10px;
  background-color: $chrome-color;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  font-size: 12px;
  word-wrap: break-word;
}

.revert-dropdown-container:last-child {
  margin-bottom: 75px;
}

:host-context(#app-root[theme='dark']) {
  .bullet {
    &.src {
      background-color: $source-slot-bullet-color-dark;
    }
  }

  .phase-one-preview-indicator {
    background-color: $primary-color-dark;
    color: $body-bg-color-dark;
  }

  .preview-changes-container {
    .preview-toggle-container {
      .preview-toggle-button {
        color: $primary-color-dark;

        &.selected {
          color: $default-text-color-dark;
          box-shadow: 0px -5px $primary-color-dark inset;
        }
      }
    }
  }

  .help-text-container {
    background-color: $chrome-color-dark;
  }
}
