<div
    class="info-box"
    [class.clickable]="!!infoLink"
    (click)="onClick($event)"
    [tabIndex]="!!infoLink ? 0 : -1"
    (keydown)="onKeyPress($event)">

    <div class="info-icon-container">
        <div class="glyphicon glyphicon-info-sign info-icon"></div>
    </div>
    <div class="info-text-container">
        <div>{{ infoText }}</div>
    </div>
    <div *ngIf="!!infoLink" class="info-link-container">
        <span load-image="image/learn-more.svg" class="icon-small"></span>
    </div>

</div>