<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
    <h3 class="first-config-heading">{{ 'build' | translate }}</h3>

    <div class="settings-wrapper">
        <div class="setting-wrapper">
            <label id="github-action-configure-stack-label" class="setting-label">{{ 'runtimeStack' | translate }} </label>
            <div class="setting-control-container">
            <ng-select
                aria-labelledby="github-action-configure-stack-label"
                class="custom-select"
                [clearable]="false"
                [searchable]="false"
                [items]="runtimeStackItems"
                bindLabel="displayLabel"
                bindValue="value"
                [(ngModel)]="selectedRuntimeStack"
                [loading]="runtimeStacksLoading"
                formControlName="runtimeStack"
                (change)="runtimeStackChanged($event)">
            </ng-select>
            <div invalidmessage="runtimeStack" id="dc-github-stack-error" role="alert"></div>
            </div>
        </div>
    </div>

    <div class="settings-wrapper">
        <div class="setting-wrapper">
            <label id="github-action-configure-stackversion-label" class="setting-label">{{ 'runtimeStackVersion' | translate }} </label>
            <div class="setting-control-container">
                <ng-select
                aria-labelledby="github-action-configure-stackversion-label"
                class="custom-select"
                [clearable]="false"
                [searchable]="false"
                [items]="runtimeStackVersionItems"
                bindLabel="displayLabel"
                bindValue="value"
                [(ngModel)]="selectedRuntimeStackVersion"
                [loading]="runtimeStackVersionsLoading"
                formControlName="runtimeStackVersion"
                (change)="runtimeStackVersionChanged($event)">
                </ng-select>
                <div invalidmessage="runtimeStackVersion" id="dc-github-stack-error" role="alert"></div>
            </div>
        </div>
    </div>

    <div class="settings-wrapper">
        <div class="setting-wrapper">
            <label id="github-action-configure-stackversion-label" class="setting-label"></label>
            <div class="setting-control-container">
                <info-box *ngIf="stackNotSupportedMessage" typeClass="warning" [infoText]="stackNotSupportedMessage"></info-box>
                <info-box *ngIf="stackMismatchMessage" typeClass="warning" [infoText]="stackMismatchMessage"></info-box>
            </div>
        </div>
    </div>
</div>