@import '../../../sass/common/variables';

.toggle-container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
}

.toggle {
  position: relative;
  font-size: 20px;
  line-height: 1em;
  width: 2.2em;
  height: 1em;
  transition: all 0.1s ease;
  outline: transparent;
  border-radius: 1em;
  border-color: $default-text-color;
  border-width: 1px;
  border-style: solid;
  background: $body-bg-color;

  .toggle-thumb {
    position: absolute;
    left: 0.2em;
    top: 0.18em;
    width: 0.5em;
    height: 0.5em;
    transition: all 0.1s ease;
    border-radius: 0.5em;
    border-color: transparent;
    border-width: 0.28em;
    border-style: solid;
    background-color: $default-text-color;
  }
  
  &:not(:disabled):hover {
    background: darken($body-bg-color, 5%);
  }
}

.toggle:focus {
  outline: $border-focus;
  outline-offset: 1px;
}

.toggle+label {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  line-height: 1.67em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  user-select: none;
}

.toggle.on {
  border-color: transparent;
  background: $primary-color;

  .toggle-thumb {
    left: 1.4em;
    background-color: $body-bg-color;
  }
  
  &:not(:disabled):hover {
    background: darken($primary-color, 5%);
  }
}

.toggle:disabled {
  border-color: $disabled-color;

  .toggle-thumb {
    background-color: $disabled-color;
  }
}

.toggle:disabled+label {
  color: $disabled-color;
}

.toggle.on:disabled {
  background: $disabled-color;

  .toggle-thumb {
    background-color: $body-bg-color;
  }
}

:host-context(#app-root[theme=dark]){

  .toggle {
    border-color: $default-text-color-dark;
    background: $body-bg-color-dark;

    .toggle-thumb {
      background-color: $default-text-color-dark;
    }
    
    &:not(:disabled):hover {
      background: lighten($body-bg-color-dark, 10%);
    }
  }

  .toggle.on {
    border-color: transparent;
    background: $primary-color-dark;

    .toggle-thumb {
      background-color: $body-bg-color-dark;
    }
    
    &:not(:disabled):hover {
      background: lighten($primary-color-dark, 10%);
    }
  }

  .toggle:disabled {
    border-color: $disabled-color-dark;
    background: $body-bg-color-dark;

    .toggle-thumb {
      background-color: $disabled-color-dark;
    }
  }

  .toggle:disabled.on {
    background: $disabled-color-dark;

    .toggle-thumb {
      background-color: $body-bg-color-dark;
    }
  }

  .toggle:disabled+label {
    color: $disabled-color-dark;
  }
}