<command-bar>
  <command [displayText]="context?.site.properties.state === 'Running' ? ts.instant(Resources.stop) : ts.instant(Resources.start)"
    [iconUrl]="context?.site.properties.state === 'Running' ? 'image/stop.svg' : 'image/start.svg'"
    (click)="toggleState()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

  <command displayText="{{ (targetSwapSlot ? 'completeSwap' : 'swap') | translate }}"
    iconUrl="image/swap.svg"
    (click)="openSwapBlade()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess || !hasSwapAccess || swapControlsOpen"></command>

  <command displayText="{{ 'restart' | translate }}"
    iconUrl="image/restart.svg"
    (click)="restart()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess || context?.site.properties.state !== 'Running'"></command>

  <command displayText="{{ 'getPublishProfile' | translate}}"
    iconUrl="image/download.svg"
    (click)="downloadPublishProfile()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

  <command displayText="{{'resetPublishProfile' | translate}}"
    iconUrl="image/reset.svg"
    (click)="resetPublishCredentials()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

  <command displayText="{{ 'downloadFunctionAppContent' | translate}}"
    iconUrl="image/download.svg"
    (click)="openDownloadFunctionAppModal()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess || isLinux"></command>

  <command displayText="{{ '_delete' | translate }}"
    iconUrl="image/delete.svg"
    (click)="openDeleteBlade()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>
</command-bar>

<info-box
  *ngIf="!siteAvailabilityStateNormal"
  typeClass="warning"
  [infoText]="'limitedMode' | translate">
</info-box>

<download-function-app-content (close)="hideDownloadFunctionAppModal()" *ngIf="showDownloadFunctionAppModal" [context]="context"></download-function-app-content>

<a id="hidden-publish-profile-link" *ngIf="!!publishProfileLink" [href]="publishProfileLink" [download]="context?.site.name + '.PublishSettings'"></a>

<div id="essentials-container">
  <div class="essentials-col">
    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0"
           id="siteStatusValue"
           aria-labelledby="siteStatusLabel siteStatusValue">
           <img *ngIf="stateIcon"
           [src]="stateIcon" />
           {{state}}
      </div>
    </div>

    <div [class.invisible]="hideAvailability">
      <label id="siteAvailabilityLabel">{{'availability' | translate}}</label>
      <div [class.site-faded-text]="availabilityState === 'unknown'"
           tabindex="0" id="siteAvailabilityValue"
           aria-labelledby="siteAvailabilityLabel siteAvailabilityValue">
           <img *ngIf="availabilityIcon"
           [src]="availabilityIcon" />
           {{availabilityMesg}}
      </div>
    </div>
  </div>

  <div class="essentials-col">
    <div>
      <label id="siteSubscriptionNameLabel">{{'subscriptionName' | translate}}</label>
      <div>
        <a [class.disabled-link]="isStandalone"
          (click)="openSubscriptionBlade()"
          tabindex="0"
          (keydown)="onKeyPress($event, 'subscription')"
          id="siteSubscriptionNameLink"
          aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
          {{subscriptionName}}
        </a>
      </div>
    </div>

    <div>
      <label id="siteSubscriptionLabel">{{'subscription' | translate}}</label>
      <div tabindex="0"
           id="siteSubscriptionValue"
           aria-labelledby="siteSubscriptionLabel siteSubscriptionValue">
           {{subscriptionId}}
      </div>
    </div>
  </div>

  <div class="essentials-col">
    <div>
      <label id="siteResourceGroupLabel">{{'resourceGroup' | translate}}</label>
      <div>
        <a [class.disabled-link]="isStandalone"
         (click)="openResourceGroupBlade()"
         tabindex="0"
         (keydown)="onKeyPress($event, 'resourceGroup')"
         id="siteResourceGroupLink"
         aria-labelledby="siteResourceGroupLabel siteResourceGroupLink">
         {{resourceGroup}}
        </a>
      </div>
    </div>

    <div>
      <label id="siteLocationLabel">{{'location' | translate}}</label>
      <div tabindex="0"
           id="siteLocationValue"
           aria-labelledby="siteLocationLabel siteLocationValue">
           {{location}}
      </div>
    </div>
  </div>

  <div class="essentials-col">
    <div *ngIf="siteAvailabilityStateNormal">
      <label id="siteUrlLabel">URL</label>
      <div>
        <a [class.disabled-link]="isStandalone"
          (click)="openMainAppUrl()"
          tabindex="0"
          (keydown)="onKeyPress($event, 'url')"
          id="siteUrlLink"
          aria-labelledby="siteUrlLabel siteUrlLink">
          {{context?.mainSiteUrl}}
        </a>
      </div>
    </div>

    <div *ngIf="siteAvailabilityStateNormal || plan">
      <label id="siteAppServicePlanLabel">{{'appServicePlanPricingTier' | translate}}</label>
      <div>
        <a [class.disabled-link]="isStandalone"
          (click)="openPlanBlade()"
          tabindex="0"
          (keydown)="onKeyPress($event, 'appServicePlan')"
          id="siteAppServicePlanLink"
          aria-labelledby="siteAppServicePlanLabel siteAppServicePlanLink">
          {{plan}}
        </a>
      </div>
    </div>
  </div>

</div>

<div id="site-summary-body" [is-dirty]="swapControlsOpen">
    <div *ngIf="!this.isStandalone" id="site-summary-features">
      <site-enabled-features [siteInput]="context?.site"></site-enabled-features>
    </div>
    <div *ngIf="showQuickstart" id="site-summary-quickstart">
      <img src="image/quickstart.svg"/>
      <h2>{{ 'quickstartMessage1' | translate }}</h2>
      <h2>{{ 'quickstartMessage2' | translate }}</h2>
      <a class="new-function" 
        (click)="openQuickstartTab()"
        tabindex="0"
        (keydown)="onKeyPress($event, 'functionNew')">
        <span load-image="image/add.svg" class="icon-small"></span>
        {{ 'newFunction' | translate }}
      </a>
    </div>
</div>