<div *ngIf="notification" 
    check-scenario="TopBarWarning"
    [cs-input]="{}"
    cs-enabledByDefault="true"
    style="margin-left: 250px">

    <div [class]="cssClass" role="alert">

        <span *ngIf="notification.clickCallback" class="link"  (click)="notificationClick(notification)">
            <span *ngIf="!isWarning" load-image="image/functions.svg" class="info-svg"></span>

            <i [class]="notification.iconClass"></i>
            <span [class.info-link]="!isWarning">{{notification.message}}</span>
        </span>
        <span *ngIf="!notification.clickCallback">
            <i [class]="notification.iconClass"></i>
            {{notification.message}}
        </span>
        <a *ngIf="notification.learnMoreLink" class="learnMoreLink" target="_blank" [href]="notification.learnMoreLink">{{ 'learnMore' | translate }}</a>
    </div>

</div>