<div check-scenario="TopBarWarning"
    [cs-input]="{}"
    cs-enabledByDefault="true"
    *ngFor="let notification of notifications;"
    style="margin-left: 250px">

    <div class="alert alert-warning alert-dismissible" role="alert">

        <span *ngIf="notification.clickCallback" class="link" (click)="notificationClick(notification)">
            <i [class]="notification.iconClass"></i>
            {{notification.message}}
        </span>
        <span *ngIf="!notification.clickCallback">
            <i [class]="notification.iconClass"></i>
            {{notification.message}}
        </span>
        <a *ngIf="notification.learnMoreLink !== ''" class="learnMoreLink" target="_blank" [href]="notification.learnMoreLink">{{ 'learnMore' | translate }}</a>
    </div>

</div>