<div id="site-manage-container">
<div id="site-manage-search-container">
    <input id="site-manage-search"
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search features" />

    <img id="site-manage-search-icon" src="images/search.svg" />
</div>
<div>
    <div class="site-manage-col">
        <div *ngFor="let group of groups1" class="site-manage-feature-group">
            <feature-group [inputGroup]="group"
                        [searchTerm]="searchTerm"
                        (openTab)="openTab($event)">
            </feature-group>
        </div>
    </div>

    <div class="site-manage-col">
        <div *ngFor="let group of groups2" class="site-manage-feature-group">
            <feature-group [inputGroup]="group" [searchTerm]="searchTerm"></feature-group>
        </div>
    </div>

    <div class="site-manage-col">
        <div *ngFor="let group of groups3" class="site-manage-feature-group">
            <feature-group [inputGroup]="group" [searchTerm]="searchTerm"></feature-group>
        </div>
    </div>


    <div style="clear: both" ></div>
</div>
</div>