<div *ngIf="!selectedFeatureId" id="site-manage-container">
<div id="site-manage-search-container">
    <input id="site-manage-search"
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="{{ 'searchFeatures' | translate }}" />

    <img id="site-manage-search-icon" src="images/search.svg" />
</div>

<div>
    <div class="site-manage-col">
        <div *ngFor="let group of groups1" class="site-manage-feature-group">
            <feature-group [inputGroup]="group" [searchTermInput]="searchTerm">
            </feature-group>
        </div>
    </div>

    <div class="site-manage-col">
        <div *ngFor="let group of groups2" class="site-manage-feature-group">
            <feature-group [inputGroup]="group" [searchTermInput]="searchTerm"></feature-group>
        </div>
    </div>

    <div class="site-manage-col">
        <div *ngFor="let group of groups3" class="site-manage-feature-group">
            <feature-group [inputGroup]="group" [searchTermInput]="searchTerm"></feature-group>
        </div>
    </div>

    <div style="clear: both" ></div>
</div>
</div><!-- /site-manage-container -->

<div *ngIf="selectedFeatureId">
    <div>
        <div id="back-bar">
            <span class="link" (click)="navBack()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span *ngIf="selectedFeatureId === TabIds.functionRuntime">Function runtime settings</span>
                <span *ngIf="selectedFeatureId === TabIds.apiDefinition">API definition</span>
                <span *ngIf="selectedFeatureId === TabIds.applicationSettings">{{ 'tab_applicationSettings' | translate }}</span>
            </span>
        </div>
        <function-runtime *ngIf="selectedFeatureId === TabIds.functionRuntime" [viewInfoInput]="viewInfo"></function-runtime>
        <swaggerdefinition *ngIf="selectedFeatureId === TabIds.apiDefinition" [viewInfoInput]="viewInfo"></swaggerdefinition>
        <site-config *ngIf="selectedFeatureId === TabIds.applicationSettings" [viewInfoInput]="viewInfo"></site-config>
    </div>
</div>
