@import '../../../sass/main';

#site-manage-container{
    padding: 5px 20px;
}

#site-manage-search-container{
    width: 25%;
    height: 40px;
}

#site-manage-search{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 30px;
}

#site-manage-search-icon{
    position: relative;
    top: -25px;
    left: 19px;
    width: 14px;
    height: 14px;

    @include flip-horizontal();
}

.site-manage-col{
    float: left;
    width: 250px;
    margin: 0px 30px 0px 10px;
}

.site-manage-feature-group{
    margin: 25px 0px 30px 0px;
}