@import '../../../sass/main';

#site-manage-search{
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
}

#site-manage-container{
    min-width: 1200px;
}

.site-manage-col{
    float: left;
    min-width: 200px;
    margin: 0px 30px 0px 10px;
}

.site-manage-feature-group{
    margin: 25px 0px 30px 0px;
}