div.header {
    display: flex;
}

div.header-code {
    flex-grow: 1;
    padding-bottom: 10px;
}

div.header-code > h2 {
    display: inline;
}


div.work-block {
    display:flex;
    height:100%
}

div.right-block {
    padding-left:10px;
}

.dev-full {
    height:100%;
    width:100%;
}

.dev-border {
    border: 1px solid #ccc;
}

.dev-flex-column {
    display: flex;
    flex-direction:column;
}

.run-container {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.run-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.height-fixed {
    height: 150px;
}

.run-container button {
    margin-top: 10px;
    margin-left: 0px;
    /*float: right;*/
}

.run-container-http {
    overflow: auto;
}

.bottom-toolbar {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-top: 0px;
    margin: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding: 5px;
}

.bottom-toolbar > span  {
    margin-right: 30px;
}

.close-right {
    float:right;
    padding-top:3px;
}

.cancel-button {
    background-color: #d9534f;
    border-color: #d43f3a;
    z-index: 2000;
    position: relative;
}

.link-action {
    font-size: 14px;
    font-weight: normal;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    color: #539CF6;
}

.run-red {
    color: #d43f3a;
}

.run-green {
    color: green;
}

.run-orange {
    color: darkorange;
}


.flex-inline{
    display: inline-flex;
}

.not-shown {
    display: none;
}

.bubble {
    position: relative;
    padding: 4px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    background-color: #D1D2D4;
}

/*.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 6px 27px 6px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -27px;
    left: 50%;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 6px 27px 6px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -27px;
    left: 50%;
}*/

.bubble-label {
    padding: 4px;
}