.content {
    padding-left: 250px;
    padding-top: 23px;
}

.content-iframe{
    /* 
       Header margins are offset beyond the top of the iframe
       unless you specify a non-zero padding on the container
    */
    padding-top: 1px;
}