.content {
    padding-left: 230px;
}

.content-iframe{
    /* 
       Header margins are offset beyond the top of the iframe
       unless you specify a non-zero padding on the container
    */
    padding-top: 1px;
}

.container-full {
    padding: 20px 0px 20px 20px;
} 