.wrapper {
    position: relative;
}

.file, .folder {
    font-family: Consolas, Courier New, Courier, monospace;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

.folder {
    color: #539CF6;
}

.shifted {
    padding-left: 30px;
}

.file-container {
    height: 100%;
    border: 1px solid #ccc;
    /*margin-right: 3px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.file:hover, .selected {
    background-color: #E6E7E8;
}

.heading {
    font-weight: 800;
    font-family: Consolas, Courier New, Courier, monospace;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

#lower-panel {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
}

#lower-panel > div {    
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.hidden {
    display: none;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #FFF;
}