.wrapper {
    position: relative;
}

.file {
    font-family: Consolas, Courier New, Courier, monospace;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

.shifted {
    padding-left: 30px;
}

.file-container {
    height: 330px;
    border: 1px solid #ccc;
    /*margin-right: 3px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.file:hover, .selected {
    background-color: #E6E7E8;
}

.heading {
    font-weight: 800;
    font-family: Consolas, Courier New, Courier, monospace;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.8;
    white-space: nowrap;
}

#lower-panel {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

#lower-panel > div {
    width: 49%;
    text-align: center;
    padding: 5px;
}

#lower-panel > div:first-child {
    border-right: 1px solid #ccc;
}