.newfunc-container{
    padding: 20px;
}

.newfunc-container > div{
    margin-bottom: 40px;
}

.custom-button{
    margin: 0px;
}

input{
    background: #fff;
    border: 2px solid #dedede;
    position: relative;
    vertical-align: middle;
    height: 29px;
    width: 300px;
    padding-left: 10px;
    margin-right: 10px;
}

input.input-error {
    padding-right:25px;
}