h2 {
    font-weight: 400;
}

h2.dev-block-header{
    display: inline;
}

div.dev-block-header{
    float: right;
}

div.inline-no-float {
    float: none;
    display: inline-block;
    margin-left: 10px;
}

.dev-block-header > span{
    margin-left: 10px;
}

.dev-block-header > span span{
    color: #539CF6;
}

.dev-block-header > span > span i{
    margin-right: 5px;
}