h2 {
    font-weight: 400;
}

h2.dev-block-header{
    display: inline;
}

div.dev-block-header{
    float: right;
}

div.inline-no-float {
    float: none;
    display: inline-block;
    margin-left: 10px;
}

.dev-block-header > span, .dev-block-header + span {
    margin-left: 10px;
}

.dev-block-header > span span{
    color: #539CF6;
}

.dev-block-header > span > span i{
    margin-right: 5px;
}

.dev-flex-container{
    display: flex;
}

.dev-code-flex {
    flex-grow: 3;
}

.dev-files-flex {
    flex-grow: 1;
}

.dev-run-block{
    flex-grow: 1;
    min-width: 50%;
}

.dev-run-block button{
    float: right;
    margin-top: 10px;
}

.dev-run-block > pre.log-stream{
    height: 270px;
}

.cancel-button {
    background-color: #d9534f;
    border-color: #d43f3a;
    z-index: 2000;
    position: relative;
}

.log-stream {
    margin-top: 5px;
}

.link-action {
    font-size: 14px;
    font-weight: normal;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.run-red {
    color: #d43f3a;
}

.run-green {
    color: green;
}

.run-orange {
    color: darkorange;
}


.flex-inline{
    display: inline-flex;
}