div {
    text-align: center;
}

label {
    display: block;
}

.container {
    display: block;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.wrapper {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#call-action > div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

    #call-action > div:nth-child(even) {
        padding: 30px;
    }

.custom-button {
    padding: 10px 60px 10px 60px !important;
}

#create-new-container > div {
    padding-top: 30px;
}
button {
    margin-top: 20px;
}

.user-input {
    padding-top: 10px;
}