.list-group-item{
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.list-group-item active{
    background-color: #BFC9D0 !important;
    color: #0273D4 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26) !important;
    cursor: pointer !important; 
    /*cursor: hand;*/
}

.list-special .list-group-item:hover {
    background-color: #BFC9D0 !important;
    color: #0273D4 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26) !important;
    cursor: pointer !important; 
}

.list-special .list-group-item.active {
    background-color: #BFC9D0 !important;
    color: #0273D4 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26) !important;
    cursor: pointer !important; 
}

.column-title{
    margin-top: 20px;
    margin-bottom: 10px;
}

#toggle-editor {    
    top: 0;
    right: 0;
    padding: 7px;
    color: #419BF3;
}