html, body {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

pre {
    display: block;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
    border-radius: 0;
}

.clickable {
    cursor: pointer;
}

.link{
    cursor: pointer;
    color: #419BF3
}

/* side-bar style */

/* work space */

.content .work-space {
    position: relative;
    padding: 0;
}

.file-list {
    list-style: none;
    padding: 0;
    background-color: white;
}

.file-list li {
    text-align: left;
    border: 0;
}

.file-list li span {
    padding: 5px;
    font-family: monospace;
    display: block;
}

.file-list .selected {
    background-color: #E4E4E4;
    box-shadow: none;
}

.file-list .selected:hover {
    background-color: #E4E4E4;
}

.ace_editor {
    border: 1px solid #bcbcbc;
    border-radius: 0;
    font: monospace !important;
}

.ace_editor div {
    font: monospace !important;
}

.file-name {
    display: inline;
}

.file-tools {
    display: inline;
}

.custom-button, .custom-button-invert{
    margin-left: 15px;
    display: inline;
    padding: 5px 45px 5px 45px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}

.custom-button-invert{
    background-color: #FFF;
    color: #539CF6;
}


.custom-button:disabled {
    cursor: not-allowed;
    background-color: #ECEFF1;
}

.dirty {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.error-output {
    color: red;
}

.gutter-container {
    padding-bottom: 10px;
}



.new-function-name {
    height: 34px;
    font-size: 20px;
    padding: 10px;
}

.functions-templates-select-container {
    background: #fff;
    border: 2px solid #dedede;
    display: inline-block;
    padding-right: 30px;
    position: relative;
    vertical-align: middle;
}

.function-templates-select {
    background: transparent;
    border: none;
    font-size: 14px;
    filter: alpha(opacity=0);
    height: 25px;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.function-templates-selected-value {
    display: inline-block;
    line-height: 25px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.function-templates-selected-arrow {
    display: block;
    font-size: 0;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    zoom: 1;
}

.function-templates-selected-arrow:before {
    border-color: #dedede;
    border-style: solid;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin: 0;
    margin-left: -5px;
    margin-top: -5px;
    padding: 0;
    position: relative;
    top: 50%;
    width: 7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.run-button {
    background-color: #d9534f;
    border-color: #d43f3a;
    float: right;
    right: 0;
}

.sm-padding {
    padding: 10px 0 10px 0;
}

.full-width {
    width: 680px;
    height: 31px;
    font-size: 20px;
    padding: 10px;
}

.result {
    height: 350px;
    overflow-y: scroll;
}

/* radio buttons */

.function-content {
    clear: both;
}


/* hide input */
.function-content > input.radio:empty {
    margin-left: -999px;
}

/* style label */
.function-content > label {
    width: 200px;
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
}

.function-content > label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: white;
    border-radius: 3px 0 0 3px;
    border: solid 1px black;
}

/* toggle hover */
.function-content > input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.function-content > input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
.function-content > input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
    font-size: 20px;
    padding: 0;
}

.function-content > input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

/* radio buttons */


/*table*/

.new-function-container, .table-layout {
    display: table;
    padding: 30px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.row {
    display: table-row;
}

.row > .left {
    width: 150px;
    padding: 0;
    display: table-cell;
}

.row > .right {
    width: 250px;
    display: table-cell;
}

.row-group {
    display: table-row-group;
}
/*
.row-group > .row > .right {
    padding-top: 8px;
}

.row-group > .row > .right > input {
    font-family: monospace;
}
*/
/*table*/


/*Panel*/

.designer-container {
    padding-top: 10px;
}

.designer-panel {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 45px 15px 15px;
    margin: 20px;
    border-style: solid;
}

.trigger > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Trigger";
}


.inputs > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Inputs";
}


.outputs > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Outputs";
}

/*Panel*/



/**/
.editor-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: -1px;
    border-radius: 0;
    position: relative;
    float: left;
}

.editor-button > input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.checked  {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
}

/**/

.log-stream {
    height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: normal;
    word-wrap: normal;
}

.client-only {
    font-weight: 700;
    color: white;
    background-color: #8FA4AE;
    border-bottom: 1px solid #b0bdc5 !important;
}

.row > .half-width {
    width: 49%;
    float: left;
    max-width: 850px;
}

.view-table {
    display: table;
    border-collapse: separate;
    width: 99%;
}