

body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

pre {
    display: block;
    padding: 3px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.logo {
    color: #2E80AB;
    font-size: larger;
    margin-left: 15px
}

/* top-bar styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202428;
    color: white;
    border-color: #3D4247;
    height: 50px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.top-bar .left {
    float: left;
}

.top-bar .right {
    float: right;
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.top-bar .dropdown-menu {
    padding-left: 10px;
    height: 100%;
}

.top-bar .top-bar-tools {
    padding-right: 4px;
}

.top-bar .top-bar-tool {
    padding: 7px 10px;
    border-right: 1px solid rgba(128,128,128,.4);
    border-left: 1px solid rgba(128,128,128,.4);
}

.no-right-border {
    border-right: none !important;
}

.user-tools-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* side-bar style */
.content {
    padding-left: 250px;
    padding-top: 50px;
}

.content .sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0 6px rgba(0,0,0,0.3);
    background-color: #ECEFF1;
    bottom: 0;
    /*overflow: auto;*/
    z-index: 1;
    padding-top: 50px;
}

.sidebar .functions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.functions-list li {
    border-bottom: 1px solid #CFD8DC;
    color: #536E7A;
}

.functions-list li:hover {
    background-color: #D4D7D8;
}

.functions-list .selected {
    position: relative;
    background-color: #BFC9D0;
    color: #0273D4;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-bottom: none;
}

/*
.functions-list .selected:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(191, 201, 208, 0);
    border-left-color: #BFC9D0;
    border-width: 21px;
    margin-top: -21px;
}
*/

.functions-list .selected:hover {
    background-color: #BFC9D0;
}

/*
.functions-list .selected:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 235px;
    transform: rotate(45deg);
    width: 29px;
    height: 29px;
    z-index: -1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
*/

.function-actions-list {
    list-style: none;
    background-color: #D4D7D8;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #CFD8DC;
    padding-bottom: 2px;
    font-size: 13px;
}

.function-actions-list li {
    padding: 2px 10px 2px 10px;
    border-bottom: none;
}

.function-item a {
    padding: 10px;
    color: #536E7A;
    display: block;
}

.function-item .selected a {
    color: #0273D4;
}



/* work space */

.content .work-space {
    position: relative;
    padding: 0 0 0 20px;
}

.file-list {
    list-style: none;
    padding: 0;
    background-color: white;
}

.file-list li {
    text-align: left;
    border: 0;
}

.file-list li span {
    padding: 5px;
    font-family: monospace;
    display: block;
}

.file-list .selected {
    background-color: #E4E4E4;
    box-shadow: none;
}

.file-list .selected:hover {
    background-color: #E4E4E4;
}

.ace_editor {
    border: 1px solid #bcbcbc;
    border-radius: 4px 4px 0px;
    font: monospace !important;
}

.ace_editor div {
    font: monospace !important;
}

.file-name {
    display: inline;
}

.file-tools {
    display: inline;
}

.custom-button {
    margin-left: 15px;
    display: inline;
    padding: 6px 25px 6px 25px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #89c402;
}

.custom-button:disabled {
    cursor: not-allowed;
    background-color: #ECEFF1;
}

.dirty {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.gutter-container {
    padding-bottom: 20px;
}



.new-function-name {
    height: 34px;
    font-size: 20px;
    padding: 10px;
}

.functions-templates-select-container, .drop-down-container {
    background: #fff;
    border: 2px solid #dedede;
    display: inline-block;
    padding-right: 30px;
    position: relative;
    vertical-align: middle;
}

.function-templates-select, .drop-down-select {
    background: transparent;
    border: none;
    font-size: 14px;
    filter: alpha(opacity=0);
    height: 25px;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.function-templates-selected-value, .drop-down-selected-value {
    display: inline-block;
    line-height: 25px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.function-templates-selected-arrow, .drop-down-selected-arrow {
    display: block;
    font-size: 0;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    zoom: 1;
}

.function-templates-selected-arrow:before, .drop-down-selected-arrow:before {
    border-color: #dedede;
    border-style: solid;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin: 0;
    margin-left: -5px;
    margin-top: -5px;
    padding: 0;
    position: relative;
    top: 50%;
    width: 7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* loader */
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(195, 191, 191, 0.2);
    border-right: 1.1em solid rgba(195, 191, 191, 0.2);
    border-bottom: 1.1em solid rgba(195, 191, 191, 0.2);
    border-left: 1.1em solid rgba(42, 42, 42, 0.77);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 500px;;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.run-loader {
    top: 69px;
    left: 955px;
}
/* end loader */

.run-button {
    background-color: #d9534f;
    border-color: #d43f3a;
    float: right;
    right: 0;
}

.sm-padding {
    padding: 10px 0 10px 0;
}

.full-width {
    width: 680px;
    height: 31px;
    font-size: 20px;
    padding: 10px;
}

.result {
    height: 350px;
    overflow-y: scroll;
}

.clickable {
    cursor: pointer;
}



/* radio buttons */

.function-content {
    clear: both;
}


/* hide input */
.function-content > input.radio:empty {
    margin-left: -999px;
}

/* style label */
.function-content > label {
    width: 200px;
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
}

.function-content > label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: white;
    border-radius: 3px 0 0 3px;
    border: solid 1px black;
}

/* toggle hover */
.function-content > input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.function-content > input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
.function-content > input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
    font-size: 20px;
    padding: 0;
}

.function-content > input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

/* radio buttons */


/*table*/

.new-function-container, .table-layout {
    display: table;
    padding: 30px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.row {
    display: table-row;
}

.row > .left {
    width: 150px;
    padding: 0;
    display: table-cell;
}

.row > .right {
    width: 250px;
    display: table-cell;
}

.row-group {
    display: table-row-group;
}
/*
.row-group > .row > .right {
    padding-top: 8px;
}

.row-group > .row > .right > input {
    font-family: monospace;
}
*/
/*table*/


/*Panel*/

.designer-container {
    padding-top: 10px;
}

.designer-panel {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 45px 15px 15px;
    margin: 20px;
    border-style: solid;
}

.trigger > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Trigger";
}


.inputs > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Inputs";
}


.outputs > .designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Outputs";
}

/*Panel*/



/**/
.editor-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: -1px;
    border-radius: 0;
    position: relative;
    float: left;
}

.editor-button > input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.checked  {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
}

/**/

.log-stream {
    height: 400;
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: normal;
    word-wrap: normal;
}

.client-only {
    font-weight: 700;
    color: white;
    background-color: #8FA4AE;
    border-bottom: 1px solid #b0bdc5 !important;
}

.row > .half-width {
    width: 49%;
    float: left;
}

.view-table {
    display: table;
    border-collapse: separate;
    width: 99%;
}