.nvd3 g.nv-groups path.nv-line {
  stroke-width: 3px;
}

/* Hide vertical gridlines*/
.nv-axis.nv-x .tick line {
    display:none;
}

/* Adjust the thickness and opacity of horizontal gridlines */
.nv-axis.nv-y .tick line {
   stroke-width: 1px;
   opacity: 0.5
}