.pop-over-button{
    background-color: inherit;
    border: none;
    padding: 0px;
}

.pop-over-container {
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  text-align: center;
}
.pop-over-container .pop-over {
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: -140px;
  padding: 5px 10px;
  position: absolute;
  width: 300px;
  z-index: 110;
  line-height: 1.3;
  text-align: center;
}
.pop-over-container .pop-over:before {
  border-top: 7px solid rgba(0, 0, 0, 0.85);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -6px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}

.pop-over-container .pop-over-visible{
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}
