.clickable {
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E6E7E8;
    bottom: 0;
    overflow-y: auto;
    z-index: 100;
}

.sidebar-iframe{
    padding-top: 0px;
}

.sidebar .functions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

}

.functions-list li {
    border-bottom: 2px solid #C3C4C3;
    color: #000;
}

.functions-list li span {
    display: block;
    padding: 10px;
    padding-left: 15px;
}

.functions-list i {
    color: #6AAAF4;
}

.functions-list li:hover {
    background-color: #D1D2D4;
}

.functions-list .selected {
    position: relative;
    background-color: #D1D2D4;
    border-bottom: none;
}

/*
.functions-list .selected:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(191, 201, 208, 0);
    border-left-color: #BFC9D0;
    border-width: 21px;
    margin-top: -21px;
}
*/

.functions-list .selected:hover {
    background-color: #BFC9D0;
}

/*
.functions-list .selected:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 235px;
    transform: rotate(45deg);
    width: 29px;
    height: 29px;
    z-index: -1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
*/

.function-actions-list {
    list-style: none;
    background-color: #D4D7D8;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #CFD8DC;
    padding-bottom: 2px;
    font-size: 13px;
}

.function-actions-list li {
    padding: 2px 10px 2px 10px;
    border-bottom: none;
}

.function-item a {
    padding: 10px;
    color: #536E7A;
    display: block;
}

.function-item .selected a {
    color: #0273D4;
}

.full-height {
    padding: 0 !important;
}

#search-box {
    background-color: #F3F3F3;
    height: 40px;
    width: 100%;
    border: none;
    padding-left: 10px;
    font-style: italic;
}

#search-box:focus {
    background-color: #FFF;
    font-style: normal;
    border: none;
    outline: none;
}