tr:nth-child(odd) {
    background-color: #f2f2f2
}
tr:nth-child(even) {
    background-color: #ccc
}
table{
    width: 100%;
}

tr:first-child {
  background-color: white;
}

thead{
    border-style: solid; 
    border-width: 0 0 2px 0;
    border-color: #E6E7E8;
}

th{
    height: 20px
}

th, td {
    padding: 5px;
}

.table-function-monitor th:nth-child(3){
    text-align: right;
}

.table-function-monitor th:nth-child(4){
    text-align: left;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-all{
    clear: both;
}

.heading{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.table-function-monitor tr:hover {
    background-color : #ADD8E6;
    cursor: pointer;
}

#selected-row-icon{
    color: #0273D4;
    font-weight: 900;
}

#refresh-icon{
    padding-left: 10px;
    cursor: pointer;
    color:#337ab7
}

.table-function-monitor td:nth-child(3), #selected-row-icon{
    text-align: right;
}

.table-function-monitor td:nth-child(4){
    font-size: small;
}

#function-monitor-Invocation-details{
    min-height: 100px;
}

#function-monitor-output{
    margin-top: 25px;
}

#function-monitor-output > div > div {
    font-weight: bold;
}
textarea{
    background-color: #f5f5f5;
    height: 200px;
    margin-top: 5px;
    width: 100%;
}
.pulse-button-disabled {
    cursor: not-allowed;
    background-color: lightgray;
    color: black;
}