.tabs ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;
    margin: 20px 0px 0px 30px;
    width: 500px;
    border-bottom-width: 0px;
    /*border-left: 2px solid #E6E7E8;*/
    background-color: #FFF;
}

.tabs li{
    box-sizing: border-box;
    border-top-width: 0px;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border-right: 2px solid #E6E7E8;
    border-top: 2px solid #E6E7E8;
    border-bottom: 2px solid #E6E7E8;
    color: #419BF3;
    outline: none;
    cursor: pointer;
}

.tabs{
    background-color: #E6E7E8;
}

.tabs .tab-active {
    color: #000;
    border-bottom: none;
}

.tab-active{
    background-color: #FFF;
}


.tab-content{
    /*border-top: 2px solid #E6E7E8;*/
    /*margin-top: -2px;  Get rid of gap with tab */
    padding: 20px;
    background-color: #FFF;
}