.tabs ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;
    margin: 20px 0px 0px 20px;
    width: 40%;
    border-bottom-width: 0px;
    border-left: 2px solid #E7E7E7;
    background-color: #FFF;
}

.tabs li{
    box-sizing: border-box;
    border-top-width: 0px;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border-right: 2px solid #E7E7E7;
    border-top: 2px solid #E7E7E7;
    color: #5DA3F6;
    outline: none;
    cursor: pointer;
}

.tabs .tab-active {
    color: #000;
}

.tab-active{
    background-color: #FFF;
}

.tab-content{
    border-top: 2px solid #E7E7E7;
    margin-top: -2px; /* Get rid of gap with tab */
    padding: 20px;
}