drop-down{
    display: inline-block;
}

.tp-templates{
    border: 1px solid #D4D2D2;
    margin-top: 5px;
    max-height: 350px;
    overflow-y: scroll;
}

.tp-template{
    display: inline-block;
    width: 175px;
    height: 175px;
    border: 3px solid transparent;
    text-align: center;
    margin: 5px;
}

.tp-template:hover{
    border: 3px solid #C2C5C9;
}

.tp-template-selected{
    border: 3px solid #419BF3;
}

.tp-template-selected:hover{
    border: 3px solid #419BF3;
}

.tp-template-container{
    top: 40px;
    position: relative;
}

.tp-template-content{
    /* Makes the content size not count to container which allows squares to line up vertically */
    position: absolute;
    left: 0;
    right: 0;
}

.tp-template-icon{
    margin-bottom: 10px;
}

.tp-template-icon-selected{
    color: #419BF3;
}

.tp-template-content .glyphicon{
    font-size: 60px;
}

.tp-footer{
    margin-top: 20px;
}

.custom-button, .custom-button-invert{
    margin-left: 0px;
}