.tryinfo-box {
    background-color: linen;
    height: 120px;
    width: 100%;
    border: 5px blue;
    padding-left: 10px;
    color: red;
    font-size: medium;
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.tryinfo-box-timer {
    background-color: linen;
    color: red;
    font-size: large;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
}

.signup-button {
    margin-right: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}

.signup-button :disabled {
    cursor: not-allowed;
    background-color: #ECEFF1;
}

.extend-trial-button {
    margin-right: 10px;
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #539CF6;
}