// Font colors:
$default-text-color: #000;
$default-text-color-dark: #e0e0e0;

$value-text-color: #1f2327;

$label-text-color: #646464;
$label-text-color-dark: #bbb;

$highlight-text-color: #ffed10;

$heading-text-color: #000000;
$heading-text-color-dark: #e0e0e0;

$body-bg-color: #fff;
$body-bg-color-dark: #252525;

$qs-header-bg-color: #e8ebef;
$qs-footer-bg-color: #004075;
$qs-footer-link-color: #9cdcff;

$chrome-color: #fff;
$chrome-color-dark: $body-bg-color-dark;

$back-bar-color: #e8ebed;

$border-selection-color: #0078d4;
$border-focus-color: #00bcf2;
$border-focus: $border-focus-color dashed 2px;

$usermenu-text-color: $heading-text-color;
$usermenu-border-color: #b3b3b3;
$border-focus-dirty-color: #7846ff;
$border-focus-dirty: $border-focus-dirty-color dashed 1px;

$sidenav-width: 250px;
$top-bar-height: 40px;

$disabled-color: rgba(#7f7f7f, 0.7);
$disabled-color-dark: lighten($body-bg-color-dark, 10%);

$border-color: #ccc;

$item-selected-color: rgba(85, 179, 255, 0.2);
$item-selected-color-dark: lighten($body-bg-color-dark, 20%);

$item-hover-color: rgba(85, 179, 255, 0.1);
$item-hover-color-dark: lighten($body-bg-color-dark, 10%);

$border: 1px $border-color solid;
$border-selected: 1px solid $border-selection-color;
// Background colors:
$success-color: #5db300;
$success-color-faded: rgba($success-color, 0.18);

$usermenu-back-color: $body-bg-color;

$error-color: #e81123;
$error-color-faded: rgba($error-color, 0.18);

$error-box-color: lighten($error-color, 40%);
$error-box-color-hover: darken($error-box-color, 5%);

$warning-color: #ff8c00;
$warning-color-faded: rgba($warning-color, 0.18);

$warning-box-color: lighten($warning-color, 40%);
$warning-box-color-hover: darken($warning-box-color, 5%);

$upsell-color: #8a2da5;
$upsell-color-faded: rgba($upsell-color, 0.18);

$upsell-box-color: lighten($upsell-color, 50%);
$upsell-box-color-hover: darken($upsell-box-color, 5%);

$primary-color: #015cda;
$primary-color-faded: rgba($primary-color, 0.18);
$primary-color-hover: lighten($primary-color, 10%);

$primary-color-dark: #4894fe;
$primary-color-hover-dark: lighten($primary-color-dark, 10%);

$alt1-color: #6917aa;
$alt1-color-faded: lighten($alt1-color, 35%);

$background-color-opaque: #ccc;
$background-color-disabled: #e6e6e6;
$background-color-disabled-dark: lighten($body-bg-color-dark, 30%);
$translucent-shield-color: rgba($body-bg-color, 0.4);
$translucent-shield-color-dark: rgba($body-bg-color-dark, 0.5);

$grey-color: #f5f5f5;
$grey-color-dark: #3d3d3d;

$command-color-hover: rgba(85, 179, 255, 0.1);
$command-color-hover-dark: rgba(128, 128, 128, 0.3);
$heading-text-color: #252525;

$info-box-color: #f0f6ff;
$info-box-color-hover: darken($info-box-color, 5%);

$card-color-dark: #333333;
$card-color-selected: rgb(222, 236, 249);
$card-color-selected-dark: rgb(52, 55, 58);

$text-box-warning-text: #8a6d3b;
$text-box-warning-background: #fcf8e3;
$text-box-warning-border: #faebcc;

$custom-picker-imgae-bg-color: rgb(30, 88, 144);
$custom-picker-header-bg-color: rgb(218, 230, 239);

$custom-sql-picker-imgae-bg-color: $heading-text-color;
$custom-sq-picker-header-bg-color: rgb(217, 217, 217);

$errors-warnings-table-background-color: whitesmoke;
$errors-warnings-table-background-color-dark: #323232;
$errors-warnings-table-header-background-color: #c6c6c6;
$errors-warnings-table-header-background-color-dark: darken($errors-warnings-table-background-color-dark, 10%);

$errors-warnings-table-border-color: lightgray;
$errors-warnings-table-border-hover-color: #c6c6c6;
$errors-warnings-table-row-hover-color: lightgray;
$errors-warnings-table-row-hover-color-dark: darken($errors-warnings-table-background-color-dark, 5%);

$severity-error-color: red;
$severity-warnings-color: orange;
$severity-info-color: steelblue;

$black_shadow: rgba(0, 0, 0, 0.075);

$control-error-color-light: #b40e1b;
$control-error-color-dark: #f88;

// Sidebar:
$sidebar-border-color: darken($chrome-color, 30%);
$sidebar-header-border-bottom-style: solid;
$sidebar-header-border-bottom-width: 1px;
$sidebar-header-border-color: rgba(204, 204, 204, 0.5);
$sidebar-close-hover-color: #ba141a;

// Wizard footer:
$wizard-footer-shadow: 0px -5px 13px -1px rgba(0, 0, 0, 0.38);

// Table colors:
$row-hover-color: rgba(0, 137, 250, 0.08);
$row-selected-color: #e5f8fd;
$row-selected-color-dark: #1c1c1c;

$summary-header-color: rgb(0, 88, 173);

$console-text-color: white;
$console-background-color: black;
$powershell-background-color: #002456;
$console-header-msg-color: #0074e0;
$console-error-color: #ff6161;
$console-success-color: #5db300;
$console-default-msg-color: rgb(197, 195, 195);
$bash-cursor-text-color: black;
$bash-cursor-background-color: white;

$log-info: #00bfff;
$log-warning: orange;
$log-error: #ff6161;
$log-console-connector: #898787;

// Slots colors:
$source-slot-bullet-color: #00c5c5;
$source-slot-bullet-color-dark: aqua;
$target-slot-bullet-color: #f77088;
$pill-background-color: rgb(16, 124, 16);
$pill-background-color-dark: rgb(146, 195, 83);

// Card styles:

// Card default attributes
$card-border-radius: 2px;
$card-border-width: 1px;
$card-border-color: rgba(204, 204, 204, 0.5);
$card-border-style: solid;
$card-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$card-float: left;
$card-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
$card-position: relative;

// Card hover
$card-cursor-hover: pointer;
$card-box-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.14);

// Card hover disabled
$card-cursor-hover-disabled: not-allowed;

// Card selected
$card-border-color-selected: rgba(65, 155, 243, 0.5);
$card-transition-selected: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);

// Card focus
$card-outline-color: rgba(65, 155, 243, 0.5);
$card-outline-offset: 5px;
$card-outline-style: dashed;
$card-outline-width: 1px;

// Card header
$card-header-display: inline-flex;
$card-header-width: 100%;

$card-header-icon-height: 40px;
$card-header-icon-width: 40px;
$card-header-icon-padding: 5px;
$card-header-icon-margin-right: 15px;

$card-header-title-padding-left: 20px;
$card-header-title-line-height: 37px;
$card-header-title-font-size: 14px;
$card-header-title-font-weight: 600;
$card-header-title-height: 41px;

// Card description
$card-description-border-top-style: solid;
$card-description-border-top-width: 1px;
$card-description-border-color: rgba(204, 204, 204, 0.5);
$card-description-margin-top: -1px;
$card-description-padding: 15px;

// Card footer
$card-footer-display: inline-flex;
$card-footer-max-width: 100%;
$card-footer-position: absolute;
$card-footer-border-top-style: solid;
$card-footer-border-top-width: 1px;
$card-footer-border-color: rgba(204, 204, 204, 0.5);

// Card dark mode
$card-box-shadow-hover-dark: 0px 4px 8px rgba(255, 255, 255, 0.14);

//sidebar
$sidebar-backdrop-color-light: rgba(255, 255, 255, 0.8);
$sidebar-backdrop-color-dark: rgba(0, 0, 0, 0.8);
$sidebar-flyout-border-shadow-light: rgba(0, 0, 0, 0.16) 0px 8px 16px 0px;
$sidebar-flyout-border-shadow-dark: rgba(255, 255, 255, 0.16) 0px 8px 16px 0px;

$footer-height: 55px;
