.wrapper {
    display: flex;
    flex-direction: column;
}

pre {
    display: inline-block;
}

.wrapper > div {
    flex-grow: 1;
    border-bottom: 1px solid black;
    padding: 20px 0px 20px 0px;
}


.title {
    font-weight: bold;
    padding-bottom: 5px;
}

.delete-app {
    padding-left: 50px;
    display: flex;
}

.delete-app > img {
    width: 16px;
    height: 16px;
}

#function-settings {

}

#submit-delete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#submit-button {
    display: inline;
    padding: 6px 25px 6px 25px;
    font-size: 12px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #ff1525;
}

#submit-button:disabled {
    background-color: #BFC9D0 !important;
    cursor: default !important;
}

#submit-button:disabled {
    background-color: #f2f2f2;
}

#submit-button:hover {
    background-color: #d9000f;
}

.function-state {
    display: flex;
    align-items: center;
}