<div class="wrapper">
    <div *ngIf="disabled" class="alert alert-warning alert-dismissible" role="alert">
        {{ 'functionEdit_readOnly' | translate }}
    </div>
    <div id="function-settings">
        <div class="configure-wrapper">
            <div>{{ 'functionEdit_functionState' | translate }}</div>
            <div *ngIf="selectedFunction">
                <radio-selector [disabled]="disabled" [options]="functionStatusOptions" [defaultValue]="!!selectedFunction.config.disabled" (value)="valueChange.next($event)"></radio-selector>
            </div>
        </div>
    </div>

    <div id="submit-delete">
        <button type="button" [disabled]="disabled" id="submit-button" (click)="deleteFunction()">Delete</button>
    </div>

    <function-keys *ngIf="_functionsService?.isMultiKeySupported  && !this._functionsService?.isEasyAuthEnabled" [functionInfo]="selectedFunction"></function-keys>
    <div style="margin-bottom: 25px" *ngIf="_functionsService?.isMultiKeySupported"></div>
    <function-keys *ngIf="_functionsService?.isMultiKeySupported && !this._functionsService?.isEasyAuthEnabled"></function-keys>
</div>