.wrapper {
    display: flex;
    flex-direction: column;
}

pre {
    display: inline-block;
}

.wrapper > div {
    flex-grow: 1;
    border-bottom: 1px solid black;
    padding: 20px;
}

.configure-wrapper {
    display: flex;
    flex-direction: row;
}

.configure-wrapper > div {
    padding: 10px;
}

.configure-wrapper > div:first-child {
    flex-grow: 1;
    min-width: 20%;
}

.configure-wrapper > div:last-child {
    flex-grow: 4;
    min-width: 80%
}

#function-settings {

}

#submit-delete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#submit-button {
    margin-left: 15px;
    display: inline;
    padding: 6px 25px 6px 25px;
    font-size: 12px;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #ff1525;
}

#submit-button:disabled {
    background-color: #BFC9D0 !important;
    cursor: default !important;
}

#submit-button:disabled {
    background-color: #f2f2f2;
}

#submit-button:hover {
    background-color: #d9000f;
}
