<div *ngIf="!onlyCopyButton" class="wrapper">
  <label *ngIf="label" style="padding-right: 20px">{{ label }}</label>
  <label *ngIf="!label"></label>
  <div>
    <input
      type="text"
      aria-readonly="true"
      readonly="true"
      (click)="highlightText($event)"
      tabindex="0"
      [value]="contentView ? content : hiddenContentPlaceholder" />
  </div>
  <div
    [hidden]="!passwordField || contentView"
    [title]="'show' | translate"
    (click)="showPassword()"
    (keyup)="onKeyPress($event.target.value, 'show')"
    role="button"
    tabindex="0">
    <i class="link fa fa-eye clickable"
      ><span class="fix-font">&nbsp;{{ 'show' | translate }}</span></i>
  </div>
  <div
    [hidden]="!passwordField || !contentView"
    [title]="'hide' | translate"
    (click)="hidePassword()"
    (keyup)="onKeyPress($event.target.value, 'hide')"
    role="button"
    tabindex="0" >
    <i class="link fa fa-eye-slash clickable" ><span class="fix-font">&nbsp;{{ 'hide' | translate }}</span></i >
  </div>
  <div
    title="{{ 'copypre_copyClipboard' | translate }}"
    (click)="copyToClipboard()"
    role="button"
    (keyup)="onKeyPress($event, 'copy')" >
    <pop-over message="{{ 'copypre_copied' | translate }}" hideAfter="300">
      <i class="link fa fa-copy clickable">
        <span class="fix-font">&nbsp;{{ 'copypre_copy' | translate }}</span>
      </i>
    </pop-over>
  </div>
</div>

<div *ngIf="onlyCopyButton"
  title="{{ 'copypre_copyClipboard' | translate }}"
  (click)="copyToClipboard()"
  role="button"
  (keyup)="onKeyPress($event.target.value, 'copy')"
  tabindex="0" 
  class="onlyButton">
  <i class="link fa fa-copy clickable"></i>
</div>
