@import '../../../../../sass/common/variables';
@import '../../../../../sass/controls/buttons';
.credentials-container {
    width: 100%;
    height: 100%;
}

.container-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.save-button {
    @extend .custom-button;
    margin-left: 10px;
    margin-top: 10px;
}

#creds-tabs {
    padding: 0;
    margin: 12px;
    border-bottom: $border;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.site-tab-label {
    border-bottom: 4px solid $default-text-color;
    cursor: pointer;
    padding: 8px 25px;
    width: 200px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    h4 {
        display: inline;
    }
}

.control {
    padding-top: 5px;
}

.inactive-label {
    color: $primary-color;
    border-bottom: $border;
}

.cred-desc {
    .desc-text {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

:host-context(#app-root[theme=dark]) {
    .site-tab-label {
        border-bottom: 4px solid $default-text-color-dark;
    }
    .inactive-label {
        border-bottom: 4px solid $chrome-color-dark;
    }
}

.credentials-header-container{
    .credentials-icon-container, .credentials-title-container{
        display: inline-block;
    }

    .credentials-icon-container{
        margin: 20px;
    }

    .icon-large{
        height: 60px;
        width: 60px;
    }

    .credentials-title-container{
        vertical-align: top;
    }

    .credentials-title{
        font-weight: 600;
        font-size: 25px;
        line-height: 17px;
        letter-spacing: -.02em;
        vertical-align: top;
        margin-top: 20px;
    }

    .credentials-description-container{
        margin-bottom: 20px
    }
}

.credentials-description{
    font-size: 14px;
    line-height: 18px;
    padding-left: 12px;
    padding-bottom: 12px;
    border-bottom: 1px #ccc solid;
}

.endpoint {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 12px;
    width: 95%;
}

.creds-tab {
    margin-top: 12px;
}

.settings-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    .setting-label {
        width: 150px;
    }
    .setting-value {
        width: 600px;
    }
}

.setting-error {
    padding-left: 12px;
}