@import '../../../../../sass/common/variables';
@import '../../../../../sass/controls/buttons';

.credentials-header-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 12px;
}

.credentials-container {
    margin: 15px;
}

.credentials-tabs {
    .link{
        margin-right: 12px;
        &:hover{
            color: $primary-color-hover;
            text-decoration: none;
        }
    }

    .link-selected {
        font-weight: 600;
        text-decoration: underline;
    }
}

.credentials-header-container{
    .credentials-icon-container, .credentials-title-container{
        display: inline-block;
    }

    .credentials-icon-container{
        margin-left: 15px;
        margin-right: 15px;
    }

    .icon-large{
        height: 60px;
        width: 60px;
    }

    .credentials-title-container{
        vertical-align: top;
    }

    .credentials-title{
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: -.02em;
        vertical-align: top;
    }

    .credentials-description-container{
        margin-bottom: 10px
    }
}

.credentials-description{
    font-size: 14px;
    line-height: 18px;
    padding-left: 12px;
    padding-bottom: 12px;
    border-bottom: 1px #ccc solid;
}