<div class="credentials-header-container">
    <div class="credentials-icon-container">
        <div load-image="image/key.svg" class="icon-medium"></div>
    </div>
    <div class="credentials-title-container">
        <div class="credentials-title">{{ 'deploymentCredentialsTitle' | translate }}</div>
    </div>
</div>

<div class="credentials-description-container">
    <div class="credentials-description">{{ 'deploymentCredentialsDescription' | translate }}</div>
</div>

<command-bar>
    <command displayText="{{ 'refresh' | translate }}" 
        iconUrl="image/refresh.svg"
        (click)="refresh()"
        [disabled]="disableRefreshCommand"></command>

    <command displayText="{{ 'getPublishProfile' | translate}}"
        iconUrl="image/download.svg"
        (click)="downloadPublishProfile()"
        [disabled]="disableDownloadPublishProfileCommand"></command>

    <command displayText="{{'resetPublishProfile' | translate}}"
        iconUrl="image/reset.svg"
        (click)="resetPublishingProfile()"
        [disabled]="disableResetPublishProfileCommand"></command>
</command-bar>

<div class="credentials-container">
    <nav id="creds-tabs" role="tablist" #credsTabs>
        <ng-container *ngIf="localGit">
            <div class="site-tab-label" (click)="selectTab('localGit')" role="tab" id="site-tab-localGit" aria-controls="site-tab-content-localGit"
                aria-selected="false" [attr.aria-label]="'deploymentCredentialsLocalGit' | translate" [class.inactive-label]="activeTab !== 'localGit'" [tabindex]="activeTab === 'localGit' ? 0 : -1"
                (keydown)="onKeyPress($event, 'localGit')">
                <h4>
                <span>{{'deploymentCredentialsLocalGit' | translate}}</span>
                </h4>
            </div>
        </ng-container>
        <div class="site-tab-label" (click)="selectTab('ftps')" role="tab" id="site-tab-ftps" aria-controls="site-tab-content-ftps"
            aria-selected="false" [attr.aria-label]="'deploymentCredentialsFtps' | translate" [class.inactive-label]="activeTab !== 'ftps'"[tabindex]="activeTab === 'ftps' ? 0 : -1"
            (keydown)="onKeyPress($event, 'ftps')">
            <h4>
            <span>{{'deploymentCredentialsFtps' | translate}}</span>
            </h4>
        </div>
    </nav>

    <div>
        <div *ngIf="activeTab === 'localGit'"  class="settings-wrapper">
            <label class="setting-label" id="credentials-scope-label">{{ 'gitCloneUrlLabel' | translate }}</label>
            <copy-pre [content]="gitEndpoint" class="setting-value"></copy-pre>
        </div>
        
        <div *ngIf="activeTab === 'ftps'"  class="settings-wrapper">
            <label class="setting-label" id="credentials-scope-label">{{ 'ftpsEndpoint' | translate }}</label>
            <copy-pre [content]="ftpsEndpoint" class="setting-value"></copy-pre>
        </div>
    </div>

    <div class="creds-form">
        <div class="settings-wrapper">
            <label class="setting-label" id="credentials-scope-label">{{ 'scope' | translate }}</label>
            <radio-selector
                class="setting-value"
                [options] = "scopeItems"
                (value) = "scopeChanged($event)"
                [defaultValue] = "selectedScope">
            </radio-selector>
        </div>

        <div *ngIf="selectedScope === 'AppCredentials'" class="creds-tab">
            <div class="cred-desc">
                <div class="desc-text">{{'appCredsDesc' | translate}} <a class="link" target="_blank" [href]="learnMoreLink">{{'learnMore' | translate}}</a></div>
            </div>
            <div class="settings-group-wrapper">
              <div class="control settings-wrapper">
                <label class="setting-label">{{ 'username' | translate}}</label>
                <copy-pre class="setting-value" [content]="appUserName"></copy-pre>
              </div>
              <div class="control settings-wrapper">
                <label class="setting-label">{{'password' | translate}}</label>
                <copy-pre class="setting-value" [content]="appPwd" [passwordField]="true"></copy-pre>
              </div>
            </div>
        </div>
        
        <div *ngIf="selectedScope === 'UserCredentials'" class="creds-tab">
            <div class="cred-desc">
                <div class="desc-text">{{userCredsDesc}} <a class="link" target="_blank" [href]="learnMoreLink">{{'learnMore' | translate}}</a></div>
            </div>

            <div id='userCredsForm' class="settings-group-wrapper" [formGroup]="userPasswordForm">

                <div class="control settings-wrapper">
                    <label class="setting-label">{{'username' | translate}}</label>
                    <textbox class="setting-value" ariaErrorId="credentials-username" [control]="userPasswordForm?.get('userName')" placeholder=""></textbox>
                </div>
                <div class="setting-error" invalidmessage="userName" id="credentials-username" role="alert"></div>

                <div class="control  settings-wrapper">
                    <label class="setting-label">{{'password' | translate}}</label>
                    <textbox class="setting-value" ariaErrorId="credentials-password" type='password' [control]="userPasswordForm?.get('password')" placeholder=""></textbox>
                </div>
                <div class="setting-error"  invalidmessage="password" id="credentials-password" role="alert"></div>

                <div class="control settings-wrapper">
                    <label class="setting-label">{{'confirmPassword' | translate}}</label>
                    <textbox class="setting-value" ariaErrorId="credentials-password-confirm" type='password' [control]="userPasswordForm?.get('passwordConfirm')" placeholder=""></textbox>
                </div>
                <div class="setting-error"  invalidmessage="passwordConfirm" id="credentials-password-confirm" role="alert"></div>

            </div>
            <button class="save-button" [disabled]="!this.userPasswordForm.valid || saving" (click)="saveUserCredentails()">
                <span *ngIf="!saving">{{'saveCredentials'| translate}}</span>
                <span *ngIf="saving" load-image="image/loader.svg" class="icon-small fa-spin"></span>
            </button>
        </div>
    </div>
</div>

<a id="hidden-publish-profile-link-credentials" [hidden]="true" [href]="publishProfileLink" [download]="profileName + '.PublishSettings'"></a>