<div class="credentials-header-container">
    <div class="credentials-icon-container">
        <div load-image="image/key.svg" class="icon-medium"></div>
    </div>
    <div class="credentials-title-container">
        <div class="credentials-title">{{ 'deploymentCredentialsTitle' | translate }}</div>
    </div>
</div>

<div class="credentials-description-container">
    <div class="credentials-description">{{ 'deploymentCredentialsDescription' | translate }}</div>
</div>

<command-bar>
    <command displayText="{{ 'refresh' | translate }}" 
    iconUrl="image/refresh.svg"
    (click)="refresh()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

    <command displayText="{{ 'getPublishProfile' | translate}}"
    iconUrl="image/download.svg"
    (click)="downloadPublishProfile()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

    <command displayText="{{'resetPublishProfile' | translate}}"
    iconUrl="image/reset.svg"
    (click)="resetPublishCredentials()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>
</command-bar>

<div class="credentials-container">
    <nav id="creds-tabs" role="tablist" #credsTabs>
        <div class="site-tab-label" (click)="selectTab('localGit')" role="tab" id="site-tab-localGit" aria-controls="site-tab-content-localGit"
            aria-selected="false" [attr.aria-label]="'deploymentCredentialsLocalGit' | translate" [class.inactive-label]="activeTab !== 'localGit'" [tabindex]="activeTab === 'localGit' ? 0 : -1"
            (keydown)="onKeyPress($event, 'localGit')">
            <h4>
            <span>{{'deploymentCredentialsLocalGit' | translate}}</span>
            </h4>
        </div>
        <div class="site-tab-label" (click)="selectTab('ftps')" role="tab" id="site-tab-ftps" aria-controls="site-tab-content-ftps"
            aria-selected="false" [attr.aria-label]="'deploymentCredentialsFtps' | translate" [class.inactive-label]="activeTab !== 'ftps'"[tabindex]="activeTab === 'ftps' ? 0 : -1"
            (keydown)="onKeyPress($event, 'useftpsr')">
            <h4>
            <span>{{'deploymentCredentialsFtps' | translate}}</span>
            </h4>
        </div>
    </nav>

    <div *ngIf="activeTab === 'localGit'" class="creds-tab">
        <div class="endpoint">
            <copy-pre [content]="gitEndpoint" [label]="'gitCloneUrlLabel' | translate"></copy-pre>
        </div>
    </div>
    
    <div *ngIf="activeTab === 'ftps'" class="creds-tab">
        <div class="endpoint">
            <copy-pre [content]="ftpsEndpoint" [label]="'ftpsEndpoint' | translate"></copy-pre>
        </div>
    </div>
</div>

<div class="credentials-container">
    <div class="credentials-tabs">
        <div [class]="localGitTabClass">
            <a (click)="showLocalGitCredentials()">{{ 'deploymentCredentialsLocalGit' | translate }}</a>
        </div>

        <div [class]="ftpsTabClass">
            <a (click)="showFtpsCredentials()">{{ 'deploymentCredentialsFtps' | translate }}</a>
        </div>
    </div>
</div>