<div class="credentials-header-container">
    <div class="credentials-icon-container">
        <div load-image="image/key.svg" class="icon-medium"></div>
    </div>
    <div class="credentials-title-container">
        <div class="credentials-title">{{ 'deploymentCredentialsTitle' | translate }}</div>
    </div>
</div>

<div class="credentials-description-container">
    <div class="credentials-description">{{ 'deploymentCredentialsDescription' | translate }}</div>
</div>

<command-bar>
    <command displayText="{{ 'refresh' | translate }}" 
    iconUrl="image/refresh.svg"
    (click)="refresh()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

    <command displayText="{{ 'getPublishProfile' | translate}}"
    iconUrl="image/download.svg"
    (click)="downloadPublishProfile()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>

    <command displayText="{{'resetPublishProfile' | translate}}"
    iconUrl="image/reset.svg"
    (click)="resetPublishCredentials()"
    [disabled]="!siteAvailabilityStateNormal || !hasWriteAccess"></command>
</command-bar>

<div class="credentials-container">
    <div class="credentials-tabs">
            <a [class]="localGitTabClass" (click)="showLocalGitCredentials()" tabindex="1">{{ 'deploymentCredentialsLocalGit' | translate }}</a>
            <a [class]="ftpsTabClass" (click)="showFtpsCredentials()" tabindex="1">{{ 'deploymentCredentialsFtps' | translate }}</a>
    </div>
</div>