<section class="example">
    <h2>Textbox</h2>
    <div class="header">
        <label>Example with required validation</label>
        <div class="textbox-container">
            <textbox class="textbox-container" placeholder="Enter some text and then and delete it" [control]="control"></textbox>
        </div>
    </div>
    <figure>
        <label>HTML</label>
        <pre>

    &lt;textbox placeholder=&quot;Enter some text and then and delete it&quot; [control]=&quot;control&quot;&gt;&lt;/textbox&gt;
        </pre>

        <label>TypeScript</label>
        <pre>

    export class TextboxExampleComponent {{ '{' }}
        control: FormControl;
    
        constructor(fb: FormBuilder, translateService: TranslateService){{ '{' }}
            const required = new RequiredValidator(translateService);
            this.control = fb.control('', required.validate.bind(required));
        {{ '}' }}
    {{ '}' }}
        </pre>
    </figure>
</section>