<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AzureFunctionsClient</title>
    <base href="wwwroot/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">    
    @*<link rel="stylesheet" type="text/css" href="wwwroot/styles.css">*@
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="inline.js"></script>
    <script type="text/javascript" src="styles.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
    <script type="text/javascript" src="scripts.bundle.js"></script>
    <script src="assets/monaco/min/vs/loader.js"></script>
    @*<script>
        require.config({ paths: { 'vs': 'assets/monaco-editor/min/vs' } });
    </script>*@
</body>
</html>
