<!DOCTYPE html>
<html>
@{ 
    var isAzure = !string.IsNullOrEmpty(Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME"));

    var cdn = Environment.GetEnvironmentVariable("FUNCTIONS_SLOT_NAME") == "production"
        ? "https://functions.azureedge.net"
        : string.Empty;
    var version = AzureFunctions.Common.Constants.CurrentCommitId;

}
<head>
    <base href="/">
    <title>Azure Functions</title>
    @{

        if (isAzure)
        {
            <script src="@cdn/node_modules/es6-shim/es6-shim.min.js?v=@version"></script>
            <script src="@cdn/node_modules/systemjs/dist/system-polyfills.js?v=@version"></script>
            <script src="@cdn/shims_for_IE.js?v=@version"></script>

            <script src="@cdn/node_modules/zone.js/dist/zone.min.js?v=@version"></script>
            <script src="@cdn/node_modules/reflect-metadata/Reflect.js?v=@version"></script>
            <script src="@cdn/node_modules/systemjs/dist/system.js?v=@version"></script>

            <script src="@cdn/config.js?v=@version"></script>

            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ace.js?v=@version"></script>
            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ext-modelist.js?v=@version"></script>
            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ext-language_tools.js?v=@version"></script>

            <script src="@cdn/node_modules/later/later.min.js?v=@version"></script>
            <script src="@cdn/node_modules/prettycron/prettycron.js?v=@version" type="text/javascript"></script>

            <script src="@cdn/bower_components/jquery/dist/jquery.min.js?v=@version"></script>
            <script src="@cdn/node_modules/d3/d3.min.js?v=@version" charset="utf-8"></script>
            <script src="@cdn/node_modules/nvd3/build/nv.d3.min.js?v=@version"></script>
            <script src="@cdn/node_modules/moment/moment.js?v=@version"></script>
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js?v=@version"></script>           
            <script src="@cdn/node_modules/marked/marked.min.js?v=@version"></script>

            <link href="/node_modules/font-awesome/css/font-awesome.css?v=@version" rel="stylesheet" type="text/css">
            <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css?v=@version" rel="stylesheet">
            <link rel="stylesheet" href="/node_modules/nvd3/build/nv.d3.min.css?v=@version" />
            <link rel="stylesheet" type="text/css" href="@cdn/styles/main.css?v=@version">
            <link rel="stylesheet" type="text/css" href="@cdn/styles/nvd3Charts.css?v=@version">
        }
        else
        {
            <!-- 1. Load libraries -->
            <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
            <script src="/node_modules/zone.js/dist/zone.js"></script>
            <script src="/node_modules/reflect-metadata/Reflect.js"></script>
            <script src="/node_modules/systemjs/dist/system.src.js"></script>
            <script src="/node_modules/rxjs/bundles/Rx.js"></script>

            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ace.js"></script>
            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ext-modelist.js"></script>
            <script src="/jspm_packages/github/ahmelsayed/Ace.Tern@master/ace-builds/src-min/ext-language_tools.js"></script>
            <script src="/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/node_modules/d3/d3.min.js" charset="utf-8"></script>
            <script src="/node_modules/nvd3/build/nv.d3.min.js"></script>
            <script src="/node_modules/later/later.min.js"></script>
            <script src="/node_modules/prettycron/prettycron.js" type="text/javascript"></script>
            <script src="/node_modules/moment/moment.js"></script>
            <script src="/node_modules/marked/lib/marked.js"></script>

            <link rel="stylesheet" type="text/css" href="/styles/pure-drawer.css">
            <link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/favicon.ico" type="image/x-icon">
            <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="/node_modules/nvd3/build/nv.d3.min.css" />
            <link rel="stylesheet" type="text/css" href="/styles/main.css">
            <link rel="stylesheet" type="text/css" href="/styles/nvd3Charts.css">

            <!-- 2. Configure SystemJS -->
            <script>
                var map = {
                    'app': 'app', // 'dist',
                    'rxjs': 'node_modules/rxjs',
                    '@@angular': 'node_modules/@@angular',
                    'ng2-nvd3': 'node_modules/ng2-nvd3/build/lib',
                    'ng2-file-upload': 'node_modules/ng2-file-upload',
                    'prettycron': 'node_modules/prettycron/prettycron.js',
                    'moment': 'node_modules/moment',
                    'ng2-translate': 'node_modules/ng2-translate',
                    'ng2-cookies': 'node_modules/ng2-cookies',
                    'marked': 'node_modules/marked/lib'
                };

                // packages tells the System loader how to load when no filename and/or no extension
                var packages = {
                    'app': { main: 'boot.js', defaultExtension: 'js' },
                    'rxjs': { defaultExtension: 'js' },
                    'ng2-nvd3': { main: 'ng2-nvd3.js', defaultExtension: 'js' },
                    'ng2-file-upload': { defaultExtension: 'js' },
                    'prettycron': { defaultExtension: 'js' },
                    'ng2-translate': { defaultExtension: 'js' },
                    'ng2-cookies': { defaultExtension: 'js' }
                };

                var packageNames = [
                  '@@angular/common',
                  '@@angular/compiler',
                  '@@angular/core',
                  '@@angular/http',
                  '@@angular/platform-browser',
                  '@@angular/platform-browser-dynamic',
                  '@@angular/router',
                  '@@angular/router-deprecated',
                  '@@angular/testing',
                  '@@angular/upgrade'
                ];

                // add package entries for angular packages in the form '@@angular/common': { main: 'index.js', defaultExtension: 'js' }
                packageNames.forEach(function (pkgName) {
                    packages[pkgName] = { main: 'index.js', defaultExtension: 'js' };
                });

                var config = {
                    map: map,
                    packages: packages
                }

                // filterSystemConfig - index.html's chance to modify config before we register it.
                //if (global.filterSystemConfig) { global.filterSystemConfig(config); }

                System.config(config);
                System.import('app')
                    .then(null, console.error.bind(console));
            </script>
        }
    }

</head>

<body>
    @{
        if (isAzure)
        {
            <azure-functions-app></azure-functions-app>
            <script src="@cdn/sfx/app.js?v=@version"></script>

            <!-- start Mixpanel -->
            <script type="text/javascript">
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);mixpanel.init("1d92e3abd14a2d65f748d1314dd24b99");
            </script>
            <!-- end Mixpanel -->
        }
        else
        {
            <azure-functions-app>Loading...</azure-functions-app>
        }
    }
</body>

</html>