@using AzureFunctions.Common;

<!doctype html>
<html>
<head>
    @ViewHelpers.RenderHead(this, View.Base)
</head>

<body style="background-color: inherit">
    @ViewHelpers.RenderBody(this, View.Base)
</body>
</html>
