<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AzureFunctionsClient</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="wwwroot/inline.js"></script>
    <script type="text/javascript" src="wwwroot/styles.bundle.js">
    </script>
    <script type="text/javascript" src="wwwroot/main.bundle.js"></script>
</body>
</html>
