<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

    <appSettings>
      <add key="RuntimeType" 
        value="Standalone" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>

  <system.web>
    <machineKey xdt:Transform="Remove" />
    <machineKey xdt:Transform="Insert" decryption="AES" decryptionKey="" validation="HMACSHA256" validationKey="" />
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />

      <authentication xdt:Transform="SetAttributes" mode="None" />
      <authorization xdt:Transform="Remove" />

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <modules xdt:Transform="Remove" />
    <modules xdt:Transform="Insert" runAllManagedModulesForAllRequests="true" >
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="StandaloneAuthenticationModule" type="Microsoft.Functions.Runtime.Authentication.StandaloneAuthenticationModule, Microsoft.Functions.Runtime.Authentication" />
    </modules>

    <httpProtocol xdt:Transform="Remove" />
    <httpProtocol xdt:Transform="Insert" >
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>

    <security xdt:Transform="Remove" />
    <security xdt:Transform="Insert">
      <authentication>
        <anonymousAuthentication enabled="true" />
        <basicAuthentication enabled="false" />
        <windowsAuthentication enabled="false" />
        <clientCertificateMappingAuthentication enabled="false" />
        <digestAuthentication enabled="false" />
        <iisClientCertificateMappingAuthentication enabled="false" />
      </authentication>
    </security>

  </system.webServer>
</configuration>
