<ul class="tree">
  <li *ngFor="let child of node.children"
    [class.selected-first-level-node]="level === 1 && child.inSelectedTree">

    <div (mouseenter)="child.showMenu = true"
         (mouseleave)="child.showMenu = false"
         class="tree-node"
         [class.clickable]="!child.disabled"
         [class.tree-node-selected]="child.sideNav && child.sideNav.resourceId === child.resourceId"
         (click)="child.select()">

        <span *ngIf="!child.isNewNode" class="tree-node-content" [style.margin-left]="margin">

            <!-- Expand node icon -->
            <i class="fa"
                [class.fa-caret-right]="child.showExpandIcon && !child.isExpanded"
                [class.fa-caret-down]="child.showExpandIcon && child.isExpanded"
                (click)="child.toggle($event)"></i>

            <!-- Custom icon per node -->
            <i *ngIf="child.iconClass" [class]="child.iconClass"></i>

            <span [class.tree-node-disabled]="child.disabled" class="tree-node-title">
                  {{ child.title }}
            </span>

            <!-- Loading icon right.  Only shows if expanded or root -->
            <i *ngIf="child.isLoading" class="fa fa-refresh fa-spin fa-fw margin-bottom"></i>

            <!-- Optional menu icons that show up on right side of each node -->
            <span class="tree-node-menu">
              <i *ngIf="!!child.newDashboardType && child.inSelectedTree"
                  (click)="child.openCreateNew($event)"
                  class="fa fa-plus"
                  title="New"></i>

              <span *ngIf="child.showMenu || child.inSelectedTree">
                <i *ngIf="child.disabled"
                  class="fa fa-info-circle warning"
                  title="You either do not have access to this app or there are orphaned slots associated with it"></i>

                <i *ngIf="child.supportsRefresh"
                  (click)="child.refresh($event)"
                  class="fa fa-refresh tree-node-refresh-icon"
                  title="Refresh"></i>

                <i *ngIf="child.supportsScope"
                  class="fa fa-angle-double-right tree-node-scope-icon"
                  (click)="child.scopeToNode()"
                  title="Scope to this app"></i>
              </span>
            </span>
        </span>
    </div>

    <!-- Child nodes in the tree if the current node expands -->
    <div *ngIf="child.isExpanded" [class.tree-node-children]="level === 0">
      <tree-view [node]="child" [levelInput]="level + 1"></tree-view>
    </div>
  </li>
</ul>