@import '../../sass/main';

.fa-caret-right{
    margin-left: 2px;
}

.tree{
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
    line-height: 25px;

    li{
        list-style-type: none;
    }
}

hr.tree-node-separator{
    width: 90%;
    margin: 0px 10px;
    border-top: $border;
    border-top-color: darken($border-color, 10%);
}

.selected-first-level-node{
    background-color: $body-bg-color;
    border-top: $border;
    border-bottom: $border;
    margin-right: 1px;
}

.try-root-node{
    @extend .selected-first-level-node;
    padding-top: 5px;
}

// Styles for regular nodes
.tree-node{
    height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-top: 4px;

    .tree-node-content{
        top: 2px;

        .fa.fa-caret-right, .fa.fa-caret-down{
            font-size: 18px;
            vertical-align: middle;
        }

        .fa.fa-caret-right{
            margin-right: 2px;
        }
    }
}

.tree-node:hover{
    background-color: $tree-node-hover-color;
}

.tree-node-selected{
    background-color: $tree-node-selection-color !important;
}

.tree-node-advanced-enabled{
    color : $primary-color;
}

.tree-node-children{
    max-height: calc(100% - 104px);
    width: $sidenav-width;
    overflow-y: auto;
    position: absolute;
    margin-top: 1px;
}

.tree-node-disabled{
    color : darken($border-color, 30%);
}

.tree-node-title{
    margin-left: 2px;
}

.tree-node-menu{
    margin-right: 10px;
    font-size: 20px;
    color: $primary-color;
    position: absolute;
    right: 5px;

    i{
        margin-left: 5px;
        
        &:hover{
            color: $primary-color-hover;
        }
    }
}

.tree-node-function-edit-icon{
    margin-left: 12px;
    font-size: 14px;
    width: 15px;
    color: $primary-color;
}

.tree-node-refresh-icon{
    font-size: 14px;
    vertical-align: text-top;
    margin-top: 5px;
}

.tree-node-scope-icon{
    vertical-align: top;
    margin-top: 1px;
}

.tree-node-svg-icon{
    img{
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin-left: 2px;
    }
}

.tree-node-collection-icon{
    img{
        height: 20px;
        width: 20px;
        vertical-align: text-top;
        margin-top: -1px;
        margin-left: 2px;
    }
}

.root-node-collection-icon{
    @extend .tree-node-collection-icon;
    margin-left: 5px;
}