@import '../../sass/main';

.fa-caret-right{
    margin-left: 2px;
}

.tree{
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
    // font-size: 14px;
    line-height: 25px;

    li{
        list-style-type: none;
    }
}

hr.tree-node-separator{
    width: 90%;
    margin: 0px 10px;
    border-top: $border;
    border-top-color: darken($border-color, 10%);
}

.selected-first-level-node{
    background-color: $body-bg-color;
    border-top: $border;
    border-bottom: $border;
    margin-right: 1px;
}

// Styles for regular nodes
.tree-node{
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .tree-node-content{
        position: relative;
        top: 2px;
    }
}

.tree-node:hover{
    background-color: darken($border-color, 3%);
}

.tree-node-selected{
    background-color: $tree-node-selection-color;
}

.tree-node-advanced-enabled{
    color : $primary-color;
}

.tree-node-children{
    max-height: calc(100% - 104px);
    width: $sidenav-width;
    overflow-y: auto;
    position: absolute;
    margin-top: 1px;
}

.tree-node-disabled{
    color : darken($border-color, 30%);
}

.tree-node-title{
    margin-left: 2px;
}

.tree-node-menu{
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 20px;
    color: $primary-color;

    i{
        margin-left: 5px;
    }
}

.tree-node-function-edit-icon{
    width: 15px;
    color: $primary-color;
}

.tree-node-refresh-icon{
    font-size: 14px;
    vertical-align: text-top;
    margin-top: 5px;
}

.tree-node-scope-icon{
    vertical-align: top;
    margin-top: 1px;
}

.tree-node-svg-icon{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-left: 2px;
}

.tree-node-apps-icon{
    @extend .tree-node-svg-icon;
    content:url(images/BulletList.svg);
    vertical-align: text-top;
    margin-top: -1px;
}

.tree-node-function-app-icon{
    @extend .tree-node-svg-icon;
    content:url(images/functions.svg);
}

.tree-node-function-icon{
    @extend .tree-node-svg-icon;
    content:url(images/DataLakeAnalytics-alt.svg);
}

.tree-node-api-proxy-icon{
    @extend .tree-node-svg-icon;
    content:url(images/api-proxy.svg);
}