@import '../../sass/main';

.tree-node{
    height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 8px;
    cursor: pointer;
    position: relative;

    // Necessary for getting the bottom/top borders showing when the
    // first/last node in the tree when the node has keyboard focus.
    // If you change this value, make sure to update the scroll calculations
    // in sidenav component logic.
    margin-top: 1px;
    margin-bottom: 1px;

    &:hover{
        background-color: $tree-node-hover-color;
        .fa.fa-external-link{
            display: inline-block;
        }
    }

    &.selected{
        background-color: $tree-node-selection-color;
    }

    .fa.fa-caret-right, .fa.fa-caret-down{
        font-size: 18px;
        vertical-align: middle;
    }

    .fa.fa-caret-down{
        margin-left: 2px;
    }

    .fa.fa-caret-right{
        margin-right: 2px;
        margin-left: 4px;
    }

    &.app-node{
        padding-right: 51px;
    }

    &.collection-node{
        padding-right: 22px;
    }
}

.tree-node-menu{
    font-size: 20px;
    color: $primary-color;
    position: absolute;
    top: 4px;
    right: 5px;

    i{
        margin-left: 5px;
        
        &:hover{
            color: $primary-color-hover;
        }
    }
}

.top-level-children{
    max-height: calc(100% - 109px);
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

hr.tree-node-separator{
    width: 90%;
    margin: 0px 10px;
    border-top: $border;
    border-top-color: darken($border-color, 10%);
}

.tree-node-function-edit-icon{
    margin-left: 12px;
    font-size: 14px;
    width: 15px;
    color: $primary-color;
}

.tree-node-refresh-icon{
    font-size: 14px;
    vertical-align: text-top;
    margin-top: 5px;
}

.tree-node-scope-icon{
    vertical-align: top;
    margin-top: 1px;
}

.tree-node-svg-icon{
    img{
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin-left: 2px;
    }
}

.tree-node-collection-icon{
    img{
        height: 20px;
        width: 20px;
        vertical-align: text-top;
        margin-top: -1px;
        margin-left: 2px;
    }
}