@import '../../../sass/main';

div.site-enabled-feature{
    padding : 5px;

    img{
        height : 22px;
        width: 22px;
        margin-right: 5px;
    }

    &:hover{
        background-color: $chrome-color;
    }
}