<div *ngIf="featureItems.length === 0 && !isLoading" class="site-enabled-feature">
    {{ 'enabledFeatures_description' | translate}}
</div>

<div #enabledFeatures>
    <div *ngFor="let featureItem of featureItems" class="site-enabled-feature">
        <img [src]="featureItem.iconUrl" />
        <a class="link" (click)="openFeature(featureItem)" (keydown)="onKeyPress($event, featureItem)" [tabIndex] = "featureItem.focusable ? 0 : -1">{{featureItem.title}}</a>
    </div>  
</div>

<div *ngIf="isLoading" class="site-enabled-feature">{{ 'functionMonitor_loading' | translate }}</div>