@import '../../../sass/common/variables';

div.site-enabled-feature{
    padding : 6px 0px;
    line-height: 22px;

    .icon-small{
        margin: 0px 5px;
        vertical-align: middle;
    }
}

label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}