@import '../../../sass/main';
@import '../site-config/site-config.component.scss';

.centered-content {
    margin: auto;
    text-align: center;
}

.no-quickstart{
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

.form-button {
    min-width: 114px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    position: fixed;
    background-color: $body-bg-color;
    height: 50px;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    box-shadow: $footer-shadow-style;
    justify-content: center;
    display: flex;
    align-items: center;
}

.settings-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    .setting-wrapper {
        width: 600px;
    }
}

.newOrExistingSelection {
    margin-bottom: 5px;
    font-size: 12px;
    color: $value-text-color;
    input {
        margin: 0px 10px;
    }
}

.wizard-container {
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

.cardDescription {
    padding: 15px;
    text-align: left;
}

.headerBox{
    width: 100%;
    border-bottom: $border;
    height: 41px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 37px;
    img {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        color: $header-box-color;
        padding: 5px;
    }
}

.topContainer{
     margin-top: 30px;
}

.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
   
}

.cardContainer {
    height: 150px;
    margin: 30px;
    position: relative;
    min-width: 225px;
    max-width: 225px;
    overflow: hidden;
    box-shadow: $card-box-shadow-style;
    transition: $card-transition-style;
    &:hover {
        cursor: pointer;
        box-shadow: $card-hover-shadow-style;
    }
    &:focus {
        cursor: pointer;
        box-shadow: $card-focus-shadow-style;
    }
}

.selected {
    border: $border-selected;
    background-color: $card-color-selected;
    transition: $card-selected-transition-style;
    &:focus {
        cursor: pointer;
        box-shadow: $card-box-shadow-style;
    }
}

:host-context(#app-root[theme=dark]){
    .footer {
        background-color: $body-bg-color-dark;
    }
    .cardContainer {
        &:hover {
            cursor: pointer;
            box-shadow: $card-dark-shadow-style;
        }
        &:focus {
            cursor: pointer;
            box-shadow: $card-dark-shadow-style;
        }
    }
    .selected {
        background-color: $card-color-selected-dark;
    }
}