<div class="settings-group-wrapper">

  <h3 class="first-config-heading">Configure External Repository</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Repository
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <textbox [control]="this._wizard?.wizardForm?.controls?.sourceSettings?.controls?.repoUrl" [placeholder]="'enter repo'"></textbox>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Branch
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <textbox [control]="this._wizard?.wizardForm?.controls?.sourceSettings?.controls?.branch" [placeholder]="'enter branch'"></textbox>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Repo Type
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <radio-selector [defaultValue]="repoMode" [options]="RepoTypeOptions" (value)="repoTypeChanged($event)"></radio-selector>
      </div>
    </div>

  </div>
</div>