<div>
    <nav>
        <div class="tab-text">
            <h4 class="clickable" (click)="toggleExpanded()">Logs</h4>
        </div>
        <div id="bottom-tabs-actions">
            <span *ngIf="!expanded">
                <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-up"></i></a>
            </span>

            <span id="bottom-tabs-actions-expanded" *ngIf="expanded">
                <a tabindex="0"><i class="fa fa-play"></i><span>Start</span></a>
                <a tabindex="0"><i class="fa fa-book"></i><span>Clear</span></a>
                <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-down"></i></a>
            </span>
        </div>
    </nav>

    <div id="bottom-tabs-content" *ngIf="expanded">
        <pre>
            Hello world!
        </pre>

    </div>
</div>