<div id="bottom-tabs-wrapper">
    <nav>
        <div class="tab-text">
            <h4 class="clickable" (click)="toggleExpanded()">{{ 'logStreaming_logs' | translate }}</h4>
        </div>
        <div id="bottom-tabs-actions">
            <span *ngIf="!expanded">
                <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-up"></i></a>
            </span>

            <span id="bottom-tabs-actions-expanded" *ngIf="expanded">
                <a *ngFor="let command of activeTab?.commands" tabindex="0" (click)="command.click()">
                    <span [load-image]="command.iconUrl" class="command-icon"></span>
                    <span>{{command.text}}</span>
                </a>
                <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-down"></i></a>
            </span>
        </div>
    </nav>

    <div id="bottom-tabs-content" *ngIf="expanded">
        <ng-content></ng-content>
    </div>
</div>