<div id="right-tabs-wrapper">
<nav [class.expanded]="expanded">
    <div id="right-tabs-expand-icon" *ngIf="!expanded">
        <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="tab-text" [class.collapsed]="!expanded" (click)="toggleExpanded()">
        <h4 class="clickable">Test</h4>
    </div>
    <div id="right-tabs-collapse-icon" *ngIf="expanded" (click)="toggleExpanded()">
        <a tabindex="0" (click)="toggleExpanded()"><i class="fa fa-chevron-right"></i></a>
    </div>

</nav>

<section id="test-tab-request-body" *ngIf="expanded">
    <label>Request body</label>
    
    <div class="monaco-container" id="request-editor-container" #requestEditorContainer>
            
        <div id="request-editor"
            monacoEditor
            class="monaco"
            [content]="initialEditorContent"
            (onContentChanged)="editorContentChanged($event)"
            [functionAppInput]="functionApp">
        </div>
            
    </div>
</section>

<section id="test-tab-output" *ngIf="expanded">
        <label>Output</label>
        
        <pre>{{responseOutputText}}</pre>
</section>

<footer *ngIf="expanded">
    <button class="custom-button-invert" (click)="runTest()">
        <i class="fa fa-play"></i><span>Run</span>
    </button>
</footer>
</div>