@import '../../sass/common/variables';

#function-aggregates{
    margin-bottom: 20px;
    width: 90%;
}

.rowSelected {
    background-color: $row-selected-color;
}

.tableBody tr:hover{
    background-color: $row-hover-color;
}

:host-context(#app-root[theme=dark]){
    .rowSelected {
        background-color: $row-selected-color-dark;
    }
}