<div class="trial-expired-container">

    <div class="trial-expired-body">
        <h1>{{ 'trialExpired_enjoyedHostingFunctions' | translate }}</h1>
        <h3>{{ 'trialExpired_signupForAzure' | translate }}</h3>
        <div style="height:50px;"></div>
        <div class="free-trial-wrapper">
            <a [attr.href]="freeTrialUri" (click)="trackLinkClick('expiredFreeTrialClick')" target="_blank" class="signup-button ">
                {{ 'tryNow_createFreeAzureAccount' | translate }}
            </a>
        </div>
    </div>
    <div class="trial-expired-footer">
    </div>
</div>
