@import '../common/variables';

.sidebar {
    background-color: $body-bg-color;

    width: 50vw;

    &.ng-sidebar--opened.ng-sidebar--push {
        border-left: $border;
    }
}

.sidebar-ftp-dashboard {
    background-color: $body-bg-color;
    min-width: 500px;
    width: 50%;
}

.sidebar-new-function {
    background-color: $body-bg-color;
    z-index: 11 !important;
}

.sidebar-new-function {
    width: 30vw;
}

.sidebar-swap-slot, .sidebar-add-slot {
    //top: 42px !important;
    top: 20px !important;
    overflow: hidden;
    background-color: transparent;
}

.sidebar-swap-slot {
    //width: 60vw;
    //min-width: 380px !important;
    width: 500px !important;
}

.sidebar-add-slot {
    //width: 30vw;
    //min-width: 190px !important;
    width: 350px !important;
}

.sidebar-backdrop-deployment-slots {
    background: rgba($body-bg-color-dark, 0.07) !important;
}

.ng-sidebar__backdrop {
    z-index: 10 !important;
}

.sidebar-monitor-details {
    background-color: $body-bg-color;
    border-left: 1px $sidebar-border-color solid;
    width: 40vw;

    &.ng-sidebar--opened.ng-sidebar--push {
        border-left: $border;
    }
}

#app-root[theme=dark]{
    .sidebar{
        background-color: $body-bg-color-dark;
    }

    .sidebar-ftp-dashboard {
        background-color: $body-bg-color-dark;
    }

    .sidebar-new-function {
        background-color: $body-bg-color-dark;
    }
    .sidebar-backdrop-deployment-slots {
        background: rgba($body-bg-color, 0.07) !important;
    }
    .sidebar-monitor-details {
        background-color: $body-bg-color-dark;
    }
}
