@import '../common/variables';

.sidebar {
    background-color: $body-bg-color;

    width: 50vw;

    &.ng-sidebar--opened.ng-sidebar--push {
        border-left: $border;
    }
    &.ng-sidebar--opened.ng-sidebar--over {
        box-shadow: $sidebar-flyout-border-shadow-light;
    }
    
}

.sidebar-ftp-dashboard {
    background-color: $body-bg-color;
    min-width: 500px;
    width: 50%;
}

.sidebar-new-function {
    background-color: $body-bg-color;
    z-index: 11 !important;
    &.ng-sidebar--opened.ng-sidebar--over {
        box-shadow: $sidebar-flyout-border-shadow-light;
    }
}

.sidebar-new-function {
    width: 30vw;
}

.sidebar-swap-slot, .sidebar-add-slot {
    overflow: hidden;
    background-color: $body-bg-color;
}

.sidebar-swap-slot {
    width: 500px !important;
}

.sidebar-add-slot {
    width: 350px !important;
}

.ng-sidebar__backdrop {
    z-index: 10 !important;
}

.sidebar-monitor-details {
    background-color: $body-bg-color;
    border-left: 1px $sidebar-border-color solid;
    width: 50vw;

    &.ng-sidebar--opened.ng-sidebar--push {
        border-left: $border;
    }
}

#app-root[theme=dark]{
    .sidebar{
        background-color: $body-bg-color-dark;
        &.ng-sidebar--opened.ng-sidebar--over {
            box-shadow: $sidebar-flyout-border-shadow-dark;
        }
    }

    .sidebar-ftp-dashboard {
        background-color: $body-bg-color-dark;
    }

    .sidebar-new-function {
        background-color: $body-bg-color-dark;
        &.ng-sidebar--opened.ng-sidebar--over {
            box-shadow: $sidebar-flyout-border-shadow-dark;
        }
    }
    .sidebar-monitor-details {
        background-color: $body-bg-color-dark;
    }
}
