@import '../../../sass/common/variables';

h2{
    display: inline;
}

.newfunc-container{
    padding: 20px;
}

.newfunc-container > div{
    margin-bottom: 40px;
}

input{
    border: 2px solid $border-color;
    width: 300px;
    padding-left: 5px;
    margin-right: 10px;
}

input.input-error {
    padding-right:25px;
}

.quickstart {
    color: $primary-color;
}

.quickstart:hover {
    cursor: pointer;
}

.choose {
    padding-bottom:10px;
}

drop-down{
    display: inline-block;
}

.selectionContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.cardDisabled {
    width: 350px;
    height: 180px;
    margin: 35px;
    border-radius: $card-border-radius;
    border-width: $card-border-width;
    border-color: $card-border-color;
    border-style: $card-border-style;
    box-shadow: $card-box-shadow;
    float: $card-float;
    transition: $card-transition;
    &:hover {
        cursor: $card-cursor-hover-disabled;
    }
}

.cardContainer {
    width: 350px;
    height: 180px;
    margin: 35px;
    border-radius: $card-border-radius;
    border-width: $card-border-width;
    border-color: $card-border-color;
    border-style: $card-border-style;
    box-shadow: $card-box-shadow;
    float: $card-float;
    transition: $card-transition;
    position: $card-position;
    &.selected {
        border-color: $card-border-color-selected;
        transition: $card-transition-selected;
    }
    &:hover {
        cursor: $card-cursor-hover;
        box-shadow: $card-box-shadow-hover;
    }
    &:focus {
        outline-color: $card-outline-color;
        outline-offset: $card-outline-offset;
        outline-style: $card-outline-style;
        outline-width: $card-outline-width;
    }

    .cardHeader{
        display: $card-header-display;
        width: $card-header-width;
        line-height: $card-header-title-line-height;
        font-size: $card-header-title-font-size;
        font-weight: $card-header-title-font-weight;
        height: $card-header-title-height;
        img {
            height: $card-header-icon-height;
            width: $card-header-icon-width;
            padding: $card-header-icon-padding;
            margin-right: $card-header-icon-margin-right;
        }
    }
    
    .cardDescription {
        border-top-style: $card-description-border-top-style;
        border-top-width: $card-description-border-top-width;
        border-color: $card-description-border-color;
        margin-top: $card-description-margin-top;
        padding: $card-description-padding;
    }

    .cardFooter{
        display: $card-footer-display;
        width: $card-footer-max-width;
        position: $card-footer-position;
        border-top-style: $card-footer-border-top-style;
        border-top-width: $card-footer-border-top-width;
        border-color: $card-footer-border-color;
        bottom: 0;
        padding-right: 10px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        div {
            font-size: $card-header-title-font-size;
            font-weight: $card-header-title-font-weight;
            padding-right: 15px;
        }
        div:hover{
            cursor: inherit;
            color: $primary-color;
            text-decoration: underline;
        }
     }
}

:host-context(#app-root[theme=dark]){
    .footer {
        background-color: $body-bg-color-dark;
    }
    .cardContainer {
        &.selected {
            background-color: $card-color-selected-dark;
        }
        &:hover {
            box-shadow: $card-box-shadow-hover-dark;
        }
    }
}

.search-and-sort{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
    font-size: 12px;
}

.search-box-container {
    width: 350px;
    height: 23px;
    margin-right: 25px;
    padding-right: 0px;
}

.tpicker-dropdown{
    width: 200px;
    height: 23px;
    padding-left: 7px;
    padding-right: 25px;
    z-index: 9;
}

.language-toggle {
    padding-left: 7px;
}

.sidebar-container{
    height: 100%; 
    width: 100%;
}