<ng-sidebar-container class="sidebar-container" [animate]="true">

    <div ng-sidebar-content>
        <div class="newfunc-container" >

            <app-edit-mode-warning [context]="context"></app-edit-mode-warning>

            <ng-container *ngIf="needsWorkerRuntime">
                <div class="choose">
                    <h2>Function Apps runtime stack</h2>
                </div>
                <div>
                    <h4>Function Apps v2 are now single language. Please set the runtime stack before adding functions to you app.</h4>
                </div>
                <div class="search-and-sort">
                    {{ 'Function Runtime stack' | translate }}
                    <drop-down class="tpicker-dropdown"
                        [options]="possibleRuntimes"
                        (value)="onRuntimeChanged($event)"
                        attr.aria-label="{{ 'Function Runtime stack' | translate }}">
                    </drop-down>
                    <button class="custom-button"
                        (click)="setRuntime()">{{ 'Go' | translate }}
                    </button>
                </div>
            </ng-container>

            <div *ngIf="functionsInfo && !needsWorkerRuntime" [fnWriteAccess]="context">

                <div class="choose">
                    <h2>{{ 'functionNew_chooseTemplate' | translate }}</h2>
                    <h2 check-scenario="QuickStartLink"
                        [cs-input]="{}"
                        cs-enabledByDefault="true">{{ 'or' | translate }}</h2>                    
                    <h2 check-scenario="QuickStartLink"
                        [cs-input]="{}"
                        cs-enabledByDefault="true"
                        class="quickstart link" 
                        tabIndex="0"
                        role="link"
                        (keydown)="onKeyPressQuick($event)"
                        (click)="quickstart()">
                        {{ 'functionNew_chooseTemplateQuickstart' | translate }}
                    </h2>
                </div>

                <div class="search-and-sort">
                        <search-box class="search-box-container"
                                    (onInputChange)="onSearchChanged($event)"
                                    (onClear)="onSearchCleared()"
                                    [placeholder]="'createFunction_search' | translate">
                        </search-box>

                        <ng-container *ngIf="!functionAppLanguage">
                            {{ 'templatePicker_language' | translate }}
                            <drop-down class="tpicker-dropdown"
                                    [options]="languages"
                                    (value)="onLanguageChanged($event)"
                                    attr.aria-label="{{'templatePicker_language' | translate}}">
                            </drop-down>
                        </ng-container>
                        {{ 'templatePicker_scenario' | translate }}
                        <drop-down class="tpicker-dropdown"
                                   [options]="categories"
                                   (value)="onScenarioChanged($event)"
                                   attr.aria-label="{{'templatePicker_scenario' | translate}}">
                        </drop-down>

                        <div *ngIf="runtimeVersion === 'V1' && !functionAppLanguage">
                            {{ 'experimentalLanguageSupport' | translate }}
                            <slide-toggle class="language-toggle"
                                          [on]="showExperimentalLanguages"
                                          [isCommand]="true"
                                          [name]="'experimentalLanguageSupport' | translate"
                                          [ariaLabelFormat]="'nameAndStateName'"
                                          (change)="switchExperimentalLanguagesOption()">
                            </slide-toggle>
                        </div>

                </div>

                <div class="selectionContainer" #container>
                    <div *ngFor="let card of cards"
                         [ngClass]="showTryView && !card.enabledInTryMode ? 'cardDisabled' : 'cardContainer'"
                         (click)="onCardSelected(card, showTryView && !card.enabledInTryMode)"
                         [tabindex]="card.focusable ? 0 : -1"
                         (keydown)="onKeyPress($event, card, showTryView && !card.enabledInTryMode)">

                        <div class="headerBox" [style.background-color]="card.barcolor">
                            {{card.name}}
                            <img [src]="card.icon" [style.background-color]="card.color"/>
                        </div>
                        <div class="sourceDescription">
                            {{card.description}}
                            <p *ngIf="showTryView && !card.enabledInTryMode">
                                <br>
                                {{ 'tryNow_FreeAccountToolTip' | translate }}
                            </p>
                        </div>
                        <div class="cardFooter" [style.background-color]="card.barcolor">
                            <ng-container *ngIf="!functionAppLanguage">
                                <div *ngFor="let language of card.languages"
                                    (click)="onCardLanguageSelected(card, language, showTryView && !card.enabledInTryMode);$event.stopPropagation();">
                                    {{language}}
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-sidebar #sidebar [(opened)]="sidePanelOpened"
                         [mode]="'over'"
                         [position]="'right'"
                         [closeOnClickOutside]="false"
                         [trapFocus]="false"
                         [autoFocus]="true"
                         [sidebarClass]="'sidebar-new-function'"
                         [ariaLabel]="'Create Function'"
                         [animate]="true"
                         [closeOnClickBackdrop]="false"
                         [showBackdrop]="true">

        <extension-checker *ngIf="sidePanelOpened"
                        [functionCard]="createFunctionCard"
                        [functionLanguage]="createFunctionLanguage"
                        [functionAppLanguage]="functionAppLanguage"
                        [functionsInfo]="functionsInfo"
                        [appNode]="appNode"
                        [functionsNode]="functionsNode"
                        [passedContext]="context"
                        [viewInfo]="viewInfo"
                        (closePanel) ="closeSidePanel()">
        </extension-checker>
    </ng-sidebar>
</ng-sidebar-container>
