<div *ngIf="featureItems && featureItems.length > 0">
  <h4 class="feature-list-header">{{title}}</h4>
  <div>{{description}}</div>
  <div *ngFor="let feature of featureItems" class="feature-item">

    <div [load-image]="feature.iconUrl" class="icon-medium"></div>
    <div class="feature-body">
      <h5 [id]="feature.title | removeSpaces">{{feature.title}}</h5>
      <div class="feature-description">{{feature.description}}
        <div class="feature-learnMore"
          *ngIf="feature.learnMoreUrl"
          [attr.aria-labelledBy]="feature.title | removeSpaces"
          [attr.aria-label]="'learnMore' | translate">
          <a [href]="feature.learnMoreUrl"
            target="_blank"
            [attr.aria-describedby]="feature.title | removeSpaces">{{'learnMore' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>