<div>
    <command-bar>
        <command
            [displayText]="'save' | translate"
            iconUrl="image/save.svg"
            (click)="save()"
            [disabled]="saveAndDiscardCommandsDisabled || !mainForm || !mainForm.valid || mainForm.pristine">
        </command>

        <command
            [displayText]="'discard' | translate"
            iconUrl="image/discard.svg"
            (click)="discard()"
            [disabled]="saveAndDiscardCommandsDisabled || !mainForm || mainForm.pristine">
        </command>

        <command
            [displayText]="'slotNew' | translate"
            iconUrl="image/add.svg"
            (click)="showAddControls()"
            [disabled]="addSlotCommandDisabled">
        </command>

        <command
            [displayText]="(siteArm?.properties.targetSwapSlot ? 'completeSwap' : 'swap') | translate"
            iconUrl="image/swap.svg"
            (click)="showSwapControls()"
            [disabled]="swapSlotsCommandDisabled">
        </command>

        <command
            [displayText]="'refresh' | translate"
            iconUrl="image/reset.svg"
            (click)="refresh(true)"
            [disabled]="fetchingContent || !viewInfo">
        </command>

    </command-bar>

    <div *ngIf="!fetchingContent && !featureSupported && canScaleUp" class="scale-up-container">

        <div load-image="image/scale-up.svg" class="icon-large"></div>
        <div class="scale-up-message">
            {{ 'slots_upgrade' | translate}}
        </div>
        <div class="slots-description">
            {{ 'slots_description' | translate }}
            <a class="link" target="_blank" [href]="FwdLinks.deploymentSlotsLearnMore">
                {{ 'topBar_learnMore' | translate }}
            </a>
        </div>
        <button (click)="scaleUp()" class="custom-button">
            {{ 'upgrade' | translate }}
        </button>

    </div>

    <div *ngIf="keepVisible || featureSupported || loadingFailed" class="config-wrapper">

        <div class="config-container"
            [is-dirty]="mainForm?.dirty || !!dirtyMessage || swapControlsOpen || addControlsOpen"
            [is-dirty-message]="dirtyMessage">

            <!-- TODO [andiamrc]: Provide more granular details for permissions errors -->
            <ng-container *ngIf="!fetchingPermissions">

                <info-box
                    *ngIf="!hasWriteAccess"
                    typeClass="warning"
                    [infoText]="'noWritePermission' | translate"
                    [dismissable]="true">
                </info-box>

                <info-box
                    *ngIf="!hasSwapAccess"
                    typeClass="warning"
                    [infoText]="'noSwapPermission' | translate"
                    [dismissable]="true">
                </info-box>

            </ng-container>

            <!-- TODO [andiamrc]: Provide more granular details for loading failures -->
            <info-box
                *ngIf="loadingFailed"
                typeClass="error"
                [infoText]="'error_unableToLoadSlotsList' | translate">
            </info-box>

            <info-box
                *ngIf="slotsQuotaMessage"
                typeClass="info"
                [infoText]="slotsQuotaMessage"
                infoActionIcon='image/scale-up.svg'
                [infoActionFn]="canScaleUp ? slotsQuotaScaleUp : null">
            </info-box>

            <div class="slots-header-container">
                <div class="slots-icon-container">
                    <div load-image="image/slots.svg" class="icon-large"></div>
                </div>
                <div class="slots-title-container">
                    <div class="slots-title">{{ 'feature_deploymentSlotsName' | translate }}</div>
                    <div class="underline"></div>
                </div>
            </div>

            <div class="slots-description-container">
                <div class="slots-description">{{ 'slots_description' | translate }}</div>
                <div class="underline"></div>
            </div>

            <table-root
                tblClass="tbl fixed stretch"
                [name]="'feature_deploymentSlotsName' | translate">

                <tr class="header-row" table-row>
                    <th class="one-quarter-col padded-col" table-cell>
                        {{ 'slotsList_nameHeader' | translate }}
                    </th>
                    <th class="one-quarter-col padded-col" table-cell>
                        {{ 'slotsList_statusHeader' | translate }}
                    </th>
                    <th class="one-quarter-col padded-col" table-cell>
                        {{ 'slotsList_serverfarmHeader' | translate }}
                    </th>
                    <th class="one-quarter-col padded-col" table-cell>
                        {{ 'slotsList_trafficPercentHeader' | translate }}
                    </th>
                </tr>

                <tr *ngIf="siteArm" table-row>

                    <td class="one-quarter-col padded-col" table-cell>
                        {{ siteArm ? siteArm.properties.name : '-' }}
                        <div
                            *ngIf="siteArm?.type === 'Microsoft.Web/sites'"
                            class="pill">
                            {{ 'production' | translate }}
                        </div>
                    </td>

                    <td class="one-quarter-col padded-col" table-cell>
                        {{ siteArm ? siteArm.properties.state : '-' }}
                    </td>

                    <td class="one-quarter-col padded-col" table-cell>
                        {{ siteArm ? getSegment(siteArm.properties.serverFarmId, 8) : '-' }}
                    </td>

                    <td class="one-quarter-col padded-col" table-cell>
                        <div class="pct-wrapper">
                            <textbox
                                disabled="true"
                                readonly="true"
                                [control]="mainForm ? mainForm.controls[SumValidator.REMAINDER_CONTROL_NAME] : null">
                            </textbox>
                        </div>
                    </td>

                </tr>

                <tr *ngFor="let relativeSlotArm of (siteArm ? relativeSlotsArm : [])" table-row>

                    <td class="one-quarter-col padded-col" table-cell>

                        <a *ngIf="!navigationDisabled"
                            tabindex="0"
                            (click)="openSlotBlade(relativeSlotArm.id)"
                            [activate-with-keys]>
                            {{ relativeSlotArm.properties.name }}
                        </a>
                        <span *ngIf="!!navigationDisabled">
                            {{ relativeSlotArm.properties.name }}
                        </span>
                        <div
                            *ngIf="relativeSlotArm.type === 'Microsoft.Web/sites'"
                            class="pill">
                            {{ 'production' | translate }}
                        </div>
                    </td>

                    <td class="one-quarter-col padded-col" table-cell>
                        {{ relativeSlotArm.properties.state }}
                    </td>

                    <td class="one-quarter-col padded-col" table-cell>
                        {{ getSegment(relativeSlotArm.properties.serverFarmId, 8) }}
                    </td>

                    <td class="one-quarter-col padded-col" table-cell [editable]="true">
                        <div class="pct-wrapper">
                            <textbox
                                [control]="(mainForm && mainForm.controls['rulesGroup']) ? mainForm.controls['rulesGroup'].controls[relativeSlotArm.name] : null"
                                [placeholder]="0"
                                [highlightDirty]="true">
                            </textbox>
                        </div>
                    </td>

                </tr>

                <!-- Placeholder/Message Row -->
                <!-- If ARM call did not return successfully or there are no entries to display, display a placeholder row -->
                <tr *ngIf="!siteArm || !relativeSlotsArm || relativeSlotsArm.length === 0" table-row>

                    <td *ngIf="fetchingContent" class="message-row" colspan="4" table-cell>
                        {{ 'loading' | translate }}
                    </td>

                    <td *ngIf="!fetchingContent" class="message-row" colspan="4" table-cell>
                        {{ (!siteArm ? 'error_unableToLoadSlotsList' : 'slotsList_noSlots') | translate }}
                    </td>

                </tr>
            </table-root>

        </div>

    </div>
</div>