<div>
    <command-bar>
        <command
            *ngIf="!isSlot && tipSupported"
            [displayText]="'save' | translate"
            iconUrl="image/save.svg"
            (click)="save()"
            [disabled]="saveAndDiscardCommandsDisabled || !mainForm || !mainForm.valid || mainForm.pristine">
        </command>

        <command
            *ngIf="!isSlot && tipSupported"
            [displayText]="'discard' | translate"
            iconUrl="image/discard.svg"
            (click)="discard()"
            [disabled]="saveAndDiscardCommandsDisabled || !mainForm || mainForm.pristine">
        </command>

        <command
            [displayText]="'slotNew' | translate"
            iconUrl="image/add.svg"
            (click)="showAddControls()"
            [disabled]="addSlotCommandDisabled">
        </command>

        <command
            [displayText]="(siteArm?.properties.targetSwapSlot ? 'completeSwap' : 'swap') | translate"
            iconUrl="image/swap.svg"
            (click)="showSwapControls()"
            [disabled]="swapSlotsCommandDisabled">
        </command>

        <command
            [displayText]="'logs' | translate"
            iconUrl="image/logs.svg"
            (click)="openActivityLog()"
            [disabled]="fetchingContent || !viewInfo">
        </command>

        <command
            [displayText]="'refresh' | translate"
            iconUrl="image/reset.svg"
            (click)="refresh(true)"
            [disabled]="fetchingContent || !viewInfo">
        </command>

    </command-bar>

    <div *ngIf="!fetchingContent && !featureSupported && canScaleUp" class="scale-up-container">

        <div load-image="image/scale-up.svg" class="icon-large"></div>
        <div class="scale-up-message">
            {{ 'slots_upgrade' | translate}}
        </div>
        <div class="slots-description">
            {{ 'slots_description' | translate }}
            <a class="link" target="_blank" [href]="FwdLinks.deploymentSlotsLearnMore">
                {{ 'learnMore' | translate }}
            </a>
        </div>
        <button (click)="scaleUp()" class="custom-button">
            {{ 'upgrade' | translate }}
        </button>

    </div>

    <div *ngIf="keepVisible || featureSupported || !!loadingSlotsFailureMessage || !!loadingConfigFailureMessage" class="config-wrapper">
        <info-box
            *ngIf="!fetchingContent && !!prodSiteArm && !!deploymentSlotsArm && deploymentSlotsArm.length === 0 && !addSlotCommandDisabled"
            [isBanner]="true"
            [infoText]="'slotsList_noSlots' | translate"
            typeClass="upsell"
            [infoActionFn]="showAddControlsFn">
        </info-box>

        <div class="config-container"
            [is-dirty]="!!mainForm?.dirty || !!dirtyMessage || !swapOperationsComplete || !addOperationsComplete"
            [is-dirty-message]="dirtyMessage">

            <!-- TODO [andiamrc]: Provide more granular details for permissions errors -->
            <ng-container *ngIf="!fetchingPermissions">

                <info-box
                    *ngIf="!hasWriteAccess && !isSlot && tipSupported"
                    typeClass="warning"
                    [infoText]="'noWritePermission' | translate"
                    [dismissable]="true">
                </info-box>

                <info-box
                    *ngIf="!hasSwapAccess"
                    typeClass="warning"
                    [infoText]="'noSwapPermission' | translate"
                    [dismissable]="true">
                </info-box>

            </ng-container>

            <!-- TODO [andiamrc]: Provide more granular details for loading failures -->
            <info-box
                *ngIf="!!loadingSlotsFailureMessage"
                typeClass="error"
                [infoText]="loadingSlotsFailureMessage">
            </info-box>

            <info-box
                *ngIf="!!loadingConfigFailureMessage"
                typeClass="error"
                [infoText]="loadingConfigFailureMessage">
            </info-box>

            <info-box
                *ngIf="slotsQuotaMessage"
                typeClass="info"
                [infoText]="slotsQuotaMessage"
                infoActionIcon='image/scale-up.svg'
                [infoActionFn]="canScaleUp ? slotsQuotaScaleUp : null">
            </info-box>

            <div class="slots-header-container">
                <div class="slots-icon-container">
                    <div load-image="image/slots.svg" class="icon-large"></div>
                </div>
                <div class="slots-title-container">
                    <div class="slots-title">{{ 'feature_deploymentSlotsName' | translate }}</div>
                    <div class="underline"></div>
                </div>
            </div>

            <div class="slots-description-container">
                <div class="slots-description">{{ 'slots_description' | translate }}</div>
                <div class="underline"></div>
            </div>

            <table-root
                tblClass="tbl fixed stretch"
                [name]="'feature_deploymentSlotsName' | translate">

                <tr class="header-row" table-row>
                    <th class="padded-col" table-cell>
                        {{ 'slotsList_nameHeader' | translate }}
                    </th>
                    <th class="padded-col" table-cell>
                        {{ 'slotsList_statusHeader' | translate }}
                    </th>
                    <th class="padded-col" table-cell>
                        {{ 'slotsList_serverfarmHeader' | translate }}
                    </th>
                    <th *ngIf="!!mainForm && tipSupported" class="padded-col" table-cell>
                        {{ 'slotsList_trafficPercentHeader' | translate }}
                    </th>
                </tr>

                <tr *ngIf="!!deploymentSlotsArm" table-row>

                    <td class="padded-col" table-cell>
                        {{ (prodSiteArm && prodSiteArm.name) || prodSiteName || '-' }}
                        <div class="pill">
                            {{ 'production' | translate }}
                        </div>
                    </td>

                    <td class="padded-col" table-cell>
                        {{ prodSiteArm ? prodSiteArm.properties.state : '-' }}
                    </td>

                    <td class="padded-col" table-cell>
                        {{ prodSiteArm ? getSegment(prodSiteArm.properties.serverFarmId, 8) : '-' }}
                    </td>

                    <td *ngIf="!!mainForm && tipSupported" class="padded-col" table-cell>
                        <div class="pct-wrapper">
                            <textbox
                                [ariaLabel]="'slotsList_trafficPercentHeader' | translate"
                                disabled="true"
                                readonly="true"
                                [control]="mainForm ? mainForm.controls[SumValidator.REMAINDER_CONTROL_NAME] : null">
                            </textbox>
                        </div>
                    </td>

                </tr>

                <tr *ngFor="let deploymentSlotArm of (deploymentSlotsArm || [])" table-row>

                    <td class="padded-col" table-cell>

                        <a *ngIf="!navigationDisabled"
                            tabindex="0"
                            (click)="openSlotBlade(deploymentSlotArm.id)"
                            [activate-with-keys]>
                            {{ deploymentSlotArm.name ? deploymentSlotArm.name.replace('/', '-') : '-' }}
                        </a>
                        <span *ngIf="!!navigationDisabled">
                            {{ deploymentSlotArm.name ? deploymentSlotArm.name.replace('/', '-') : '-' }}
                        </span>
                    </td>

                    <td class="padded-col" table-cell>
                        {{ deploymentSlotArm.properties.state }}
                    </td>

                    <td class="padded-col" table-cell>
                        {{ getSegment(deploymentSlotArm.properties.serverFarmId, 8) }}
                    </td>

                    <td *ngIf="!!mainForm && tipSupported" class="padded-col" table-cell [editable]="!isSlot && !!prodSiteConfigArm && hasWriteAccess">
                        <div class="pct-wrapper">
                            <textbox
                                [ariaLabel]="'slotsList_trafficPercentHeader' | translate"
                                [disabled]="isSlot || !prodSiteConfigArm || !hasWriteAccess"
                                [readonly]="isSlot || !prodSiteConfigArm || !hasWriteAccess"
                                [control]="mainForm.controls['rulesGroup'] ? mainForm.controls['rulesGroup'].controls[deploymentSlotArm.name] : null"
                                [placeholder]="0"
                                [highlightDirty]="true">
                            </textbox>
                        </div>
                    </td>

                </tr>

                <!-- Placeholder/Message Row -->
                <!-- If ARM call did not return successfully or there are no entries to display, display a placeholder row -->
                <tr *ngIf="!deploymentSlotsArm" table-row>

                    <td *ngIf="fetchingContent" class="message-row" [attr.colspan]="!!mainForm && tipSupported ? 4 : 3" table-cell>
                        {{ 'loading' | translate }}
                    </td>

                    <td *ngIf="!fetchingContent" class="message-row" [attr.colspan]="!!mainForm && tipSupported ? 4 : 3" table-cell>
                        {{ 'error_unableToLoadSlotsList' | translate }}
                    </td>

                </tr>
            </table-root>

        </div>

    </div>
</div>