<app-card-info-control image="image/deployment-center/FTP.svg" backgroundImageColor="#FCD116" header="FTP" description="{{'ftpInfoCardCredsDesc' | translate}}"
  learnMoreLink="https://go.microsoft.com/fwlink/?linkid=874655"></app-card-info-control>
<div class="ftp-endpoint">
  <copy-pre [content]="ftpsEndpoint" [label]="'ftpsEndpoint' | translate"></copy-pre>
</div>
<div class="credentials">
  <app-deployment-credentials [resourceId]="resourceId"></app-deployment-credentials>
</div>
<a id="hidden-publish-profile-link-ftp" [hidden]="true" [href]="publishProfileLink" [download]="siteName + '.PublishSettings'"></a>