
@import '../../../../../sass/common/variables';
@import '../../../../../sass/controls/buttons';

.sidebar-content {
    padding-left: 20px;
}

.ftp-endpoint {
    margin: auto;
    width: 95%;
}

.save-button {
    @extend .custom-button;
    float:right;
    margin-top: 10px;
    margin-left: 0px;
}

.credentials {
    width: 100%;
    padding-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}