<div #container class="click-to-edit-wrapper" (mousedown)="onMouseDown($event)">
  <ng-container *ngIf="group.valid && !showTextbox && !this?.group?.msStayInEditMode">
    <div *ngIf="!hiddenText" class="read-only-text">
      {{control.value || '&#8203;'}}
    </div>

    <div *ngIf="hiddenText" class="read-only-text hidden-text">
      {{ 'hiddenValueClickToShow' | translate }}
    </div>
  </ng-container>

  <div #target [class.hidden]="group.valid && !showTextbox && !this?.group?.msStayInEditMode">
    <ng-content></ng-content>
  </div>
</div>
