<div id="intro-container">
<div id="intro-header">
    <img src="images/functions.svg" />

    <h2>{{ 'intro_getStarted' | translate }}</h2>
    <div class="text-level1-heading">{{ 'intro_chooseScenario' | translate }}</div>
    <div id="intro-templates">
        <div class="intro-template"
            (click)="onFunctionCliked('TimerTrigger')"
            [class.intro-template-selected]="selectedFunction === 'TimerTrigger'">

            <div class="intro-template-icon">
                <img src="images/timer-template-dark.svg" />
                <div>{{ 'intro_timer' | translate }}</div>
            </div>

        </div>

        <div class="intro-template"
            (click)="onFunctionCliked('QueueTrigger')"
            [class.intro-template-selected]="selectedFunction === 'QueueTrigger'">

            <div class="intro-template-icon">
                <img src="images/data-process-template-dark.svg" />
                <div>{{ 'intro_dataProcessing' | translate}}</div>
            </div>
            
        </div>

        <div class="intro-template"
            (click)="onFunctionCliked('HttpTrigger')"
            [class.intro-template-selected]="selectedFunction === 'HttpTrigger'">

            <div class="intro-template-icon">
                <img src="images/webhook-api-template-dark.svg" />
                <div>{{ 'intro_webHook' | translate }}</div>                
            </div>
        </div>
    </div>

    <div class="text-level1-heading">{{ 'intro_chooseLanguage' | translate }}</div>


    <div id="intro-lang-radios">
        <input type="radio" name="language" [(ngModel)]="selectedLanguage" value="CSharp" checked>CSharp
        <input type="radio" name="language" [(ngModel)]="selectedLanguage" value="JavaScript">JavaScript
    </div>

    <div id="intro-lang-custom">
        {{ 'intro_ifYou' | translate }}
        <span class="link" (click)='createFromScratch()'>
            {{ 'intro_createYourOwn' | translate }}.
        </span>
    </div>

    <div>
        <button class="custom-button"
                (click)="onCreateNewFunction()"
                [disabled]="!selectedFunction">
            {{ 'intro_createThisFunction' | translate }}
        </button>

    </div>
</div>  <!-- /intro-header -->

<div class="circle text-level1-heading">
    {{ 'intro_or' | translate}}
</div>

<div id="intro-footer">
    <h3>{{ 'intro_getStartedOn' | translate }}</h3>
    <div class="link" (click)='createFromScratch()'>
        {{ 'intro_customFunction' | translate }}
    </div>
    <div class="link" (click)='startFromSC()'>
        {{ 'intro_startSC' | translate }}
    </div>
    <div id="intro-disable">
        <input type="checkbox" [(ngModel)]="useQuickstartAsDefault" (click)="changeDefault($event)"/>{{ 'intro_keepUsingQuickstart' | translate}}
    </div>
</div>  <!-- /intro-footer -->
</div> <!-- /intro-container -->
