<section class="example">
    <h2>Radio Selector</h2>
    <div class="header">
        <label>Example of using a radio selector as a form control with dirty state</label>
        <radio-selector [control]="control" [options]="options" [highlightDirty]="true"></radio-selector>
    </div>
    <figure>
            <label>HTML</label>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
            <label>TypeScript</label>
            <pre class="language-typescript">
              <code [innerHTML]="typescriptCode" ></code>
          </pre>
    </figure>
</section>