<div class="selectionContainer">
  <div class="cardContainer" *ngFor="let card of providerCards" (click)="chooseBuildProvider(card)">
    <div class="headerBox" [style.background-color]="card.barColor">
      <img [src]="card.icon" [style.background-color]="card.color" /> {{card.name}} <img *ngIf="selectedProvider && selectedProvider.name === card.name"
        style="float:right" src="images/success-blue.svg">
    </div>
    <div class="sourceDescription">
      {{card.description}}
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button" style="margin-top:12px" previousStep>Back</button>
  <button type="button" class="custom-button" style="margin-top:12px" nextStep>Continue</button>
</div>