:host {
    width: 100%;
    height: 100%;
}

.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}
.cardContainer {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // &:hover {
    //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // };
    &:active {
        box-shadow: none;
    };
}

.sourceDescription {
    padding: 5px;
    text-align: center;
}

.headerBox{
    width: 100%;
    height: 40px;
    img {
        display: inline-block;
        height: 40px;
        width: 40px;
        padding-right: 10px;
    }
}

.footer {
    background-color:white;
    position:fixed;
    height: 50px;
    margin-bottom: 0px;
    bottom:0px;
    width: 100%;
    box-shadow: 0px -5px 13px -1px rgba(0,0,0,0.38);
}