<div class="settings-group-wrapper">

  <h3 class="first-config-heading">Build</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Visual Studio Team Service Account</div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!AccountList ? AccountList : []"
          [highlightDirty]="true" (value)="AccountChanged($event)">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Project Name</div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!ProjectList ? ProjectList : []"
          [highlightDirty]="true" (value)="ProjectChanged($event)">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Repository</div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!RepositoryList ? RepositoryList : []"
          [highlightDirty]="true" (value)="RepoChanged($event)">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Branch</div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!BranchList ? BranchList : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label"> Web Application Framework
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!WebApplicationFrameworks? WebApplicationFrameworks : []"
          [highlightDirty]="true" (value)="frameworkChanged($event)">
        </drop-down>
      </div>
    </div>

    <div *ngIf="chosenBuildFramework!=='AspNetWap' && chosenBuildFramework!=='AspNetCore'">

      <div class="setting-wrapper" *ngIf="showWorkingDirectory">
        <div class="setting-label"> Working Directory
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <textbox [control]="!!group ? group.controls['value']: null" [placeholder]="'enter value'"></textbox>
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="chosenBuildFramework==='Node'">
        <div class="setting-label"> Task Runner
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!FrameworkList ? FramworkList : []"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>

      <!-- Python -->
      <div *ngIf="chosenBuildFramework==='Python'">
        <div class="setting-wrapper">
          <div class="setting-label"> Python Framework
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!FrameworkList ? FramworkList : []"
              [highlightDirty]="true">
            </drop-down>
          </div>
        </div>

        <div class="setting-wrapper">
          <div class="setting-label"> Python Version
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!FrameworkList ? FramworkList : []"
              [highlightDirty]="true">
            </drop-down>
          </div>
        </div>

        <div class="setting-wrapper">
          <div class="setting-label"> Django Settings Module
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <textbox [control]="!!group ? group.controls['value']: null" [placeholder]="'enter value'"></textbox>
          </div>
        </div>

        <div class="setting-wrapper">
          <div class="setting-label"> Flask project name
            <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <div class="setting-control-container">
            <textbox [control]="!!group ? group.controls['value']: null" [placeholder]="'enter value'"></textbox>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</div>