<div class="settings-group-wrapper">

  <h3 class="first-config-heading">{{'code' | translate}}</h3>

  <div class="settings-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
    <div class="setting-wrapper">
      <div class="setting-label">{{'vstsAccount' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="AccountList" bindLabel="displayLabel" bindValue="value" placeholder="Select Account"
          [(ngModel)]="selectedAccount" formControlName="vstsAccount" (change)="accountChanged($event)">
        </ng-select>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
      <div class="setting-label">{{'project' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="ProjectList" bindLabel="displayLabel" bindValue="value" placeholder="Select Project"
          [(ngModel)]="selectedProject" formControlName="vstsProject" (change)="projectChanged($event)">
        </ng-select>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <div class="setting-label">{{'repository' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="RepositoryList" bindLabel="displayLabel" bindValue="value" placeholder="Select Repository"
          formControlName="repoUrl" [(ngModel)]="selectedRepo" (change)="repoChanged($event)">
        </ng-select>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <div class="setting-label">{{'branch' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="BranchList" bindLabel="displayLabel" bindValue="value" placeholder="Select Branch"
          [(ngModel)]="selectedBranch" formControlName="branch">
        </ng-select>
      </div>
    </div>
  </div>
</div>