@import '../../../../../../sass/main';

.newOrExistingSelection{
    @extend .text-subheading;
    margin-bottom: 5px;
    font-size: 12px;
    color: $value-text-color;

    input{
        margin: 0px 10px;
    }
}