<div id="container-picker">
    <nav id="container-tabs" role="tablist" #containerSettingsTabs>
        <div *ngFor="let container of containerSettingsManager.containers"
            (click)="selectContainer(container)"
            class="clickable container"
            [class.selected-container]="container === selectedContainer"
            [tabindex]="container === selectedContainer ? 0 : -1"
            (keydown)="onContainerTabKeyPress($event)"
            role="tab"
            [id]="'container-tab-' + container.id"
            [attr.aria-controls]="'container-tab-' + container.id"
            [attr.aria-selected]="container === selectedContainer"
            [attr.aria-label]="container.title">

            <div [load-image]="container.iconUrl" class="icon-medium"></div>
            <h3>{{container.title}}</h3>
            <h4>{{container.description}}</h4>
        </div>
    </nav>

    <container-configure [containerSettingInfoInput] = "containerSettingsInfo">
    </container-configure>

    <footer>
        <div id="container-footer">
            <button class="custom-button"
                [disabled]="!applyButtonEnabled"
                (click)="clickApply()"
                [attr.aria-label]="'containerSettingsApplyLabel' | translate">

                <span *ngIf="!isUpdating">{{'apply' | translate}}</span>
                <span *ngIf="isUpdating" load-image="image/loader.svg" class="icon-medium fa-spin"></span>
            </button>
            
            <span class="message-icon icon-medium"
                *ngIf="statusMessage?.message"
                [load-image]="statusMessage?.level === 'error' ? 'image/error.svg' : 'image/success.svg'"></span>

            <span class="message-text"
                [class.message-error]="statusMessage?.level === 'error'"
                [class.message-success]="statusMessage?.level === 'success'">

                {{statusMessage?.message}}
            </span>  
        </div>
    </footer>
</div>