<div id="container-shield" *ngIf="isLocked"></div>
<info-box typeClass="warning" [infoText]="'classicContainerSettingDeprecationMessage' | translate"></info-box>
<form *ngIf="!loading && containerConfigureInfo && containerConfigureInfo.container && containerConfigureInfo.containerForm" [formGroup]="form" id="container-picker">
    <group-tabs
        [control] = "form?.controls?.containerType"
        [tabs] = "containerSettingsManager.containers"
        [groupId] = "'container-settings'"
        (valueChanged)="selectContainer($event)">
    </group-tabs>

    <container-configure
        *ngIf = "containerConfigureInfo.container.id === 'single'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-configure>

    <container-configure
        *ngIf = "containerConfigureInfo.container.id === 'dockerCompose'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-configure>

    <container-configure
        *ngIf = "containerConfigureInfo.container.id === 'kubernetes'"
        [containerConfigureInfoInput] = "containerConfigureInfo">
    </container-configure>

    <footer *ngIf = "!containerConfigureInfo.container.disableMessage">
        <div id="container-footer">
            <button *ngIf = "!fromMenu"
                type="submit"
                class="custom-button"
                (click)="clickApply()"
                [disabled]="isUpdating"
                [attr.aria-label]="'apply' | translate">

                <span *ngIf="!isUpdating">{{'apply' | translate}}</span>
            </button>

            <button *ngIf = "fromMenu"
                class="custom-button"
                (click)="clickSave()"
                [disabled]="isUpdating || isLocked"
                [attr.aria-label]="'save' | translate">
                {{'save' | translate}}
            </button>

            <button *ngIf = "fromMenu"
                class="custom-button"
                (click)="clickDiscard()"
                [disabled]="isUpdating || isLocked"
                [attr.aria-label]="'discard' | translate">
                {{'discard' | translate}}
            </button>

            <span *ngIf="isUpdating" load-image="image/loader.svg" class="icon-medium fa-spin"></span>

            <span class="message-icon icon-medium"
                *ngIf="statusMessage?.message"
                [load-image]="statusMessage?.level === 'error' ? 'image/error.svg' : 'image/success.svg'"></span>

            <span class="message-text"
                [class.message-error]="statusMessage?.level === 'error'"
                [class.message-success]="statusMessage?.level === 'success'">

                {{statusMessage?.message}}
            </span>
        </div>
    </footer>
</form>