#create-app-wrapper{
    padding: 10px 30px;

    img.heading{
        height: 32px;
        width: 32px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 6px;
        margin-right: 10px;
    }

    h1{
        display: inline-block;
    }

    h4{
        margin-top: 5px;

        img{
            height: 10px;
            width: 10px;
            vertical-align: middle;
            margin-bottom: 1px;
        }
    }

    .name-label{
        margin-top: 15px;
        display: block;
    }

    .createapp-wrapper{
        width: 535px;
        padding-bottom: 15px;

        &.last{
            padding-bottom: 0px;
        }

        .createapp-label{
            box-sizing: border-box;
            display: inline-block;
            min-height: 20px;
            width: 32%;
        }

        .createapp-control-container{
            display: inline-block;
            vertical-align: middle;
            width: 66%;
        }
    }

    .createapp-control-container{
        display: inline-block;
        vertical-align: middle;
        width: 66%;
    }

    .name-textbox{
       width: 250px;
       display: block;
    }

    button{
        margin-left: 0px;
        margin-top: 15px;
    }
}