<div class="settings-group-wrapper">

  <h3 class="first-config-heading">Deployment</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Enable Deployment Slot
      </div>
      <div class="setting-control-container">
        <radio-selector [control]="wizard?.buildSettings?.controls?.deploymentSlotEnabled" [options]="DeploymentSlotEnabledOptions"
          [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>
    <div *ngIf="wizard?.wizardValues?.buildSettings?.deploymentSlotEnabled">

    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button" style="margin-top:12px" previousStep>Back</button>
  <button type="button" class="custom-button" style="margin-top:12px" nextStep>Continue</button>
</div>