<!-- <div class="settings-group-wrapper">

  <h3 class="first-config-heading">Load Testing</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Deploy to staging
      </div>
      <div class="setting-control-container">
        <radio-selector [control]="!!group ? group.controls['remoteDebuggingEnabled'] : null" [options]="remoteDebuggingEnabledOptions"
          [highlightDirty]="true" (value)="updateRemoteDebuggingVersionOptions($event)">
        </radio-selector>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Slot</div>
      <div class="setting-control-container">
        <div class="newOrExistingSelection">
          <label><input type="radio" name="language" value="new" checked>Create New</label>
          <label><input type="radio" name="language" value="existing">Use Existing</label>
        </div>

        <drop-down [control]="!!group ? group.controls['netFrameWorkVersion'] : null" [options]="!!BranchList ? BranchList : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button" style="margin-top:12px" previousStep>Back</button>
  <button type="button" class="custom-button" style="margin-top:12px" nextStep>Continue</button>
</div> -->