:host {
    width: 100%;
    height: 100%;
}

.centered-content {
    margin: auto;
    text-align: center;
}

.footer {
    background-color:white;
    position:fixed;
    height: 50px;
    margin-bottom: 0px;
    bottom:0px;
    width: 100%;
    box-shadow: 0px -5px 13px -1px rgba(0,0,0,0.38);
}