<div class="settings-group-wrapper" [formGroup]="wizard?.deploymentSlotSetting" novalidate>

  <h3 class="first-config-heading">Deployment</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Enable Deployment Slot
      </div>
      <div class="setting-control-container">
        <radio-selector [control]="wizard?.deploymentSlotSetting?.controls?.deploymentSlotEnabled" [options]="DeploymentSlotEnabledOptions"
          [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>
    <div *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.deploymentSlotEnabled">
      <div class="setting-wrapper">
        <div class="setting-label">Deployment Slot</div>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [control]="wizard?.deploymentSlotSetting?.controls.newDeploymentSlot" [options]="DeploymentSlotNewOptions"
              [highlightDirty]="true">
            </radio-selector>
          </div>
          <ng-select *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.newDeploymentSlot === false" class="custom-select" [loading]="DeploymentSlotsLoading"
            [clearable]="false" [items]="ExistingDeploymentSlotsList" bindLabel="displayLabel" bindValue="value" placeholder="Select Existing Slot"
            [(ngModel)]="selectedDeploymentSlot" formControlName="deploymentSlot">
          </ng-select>
          <textbox *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.newDeploymentSlot === true" [control]="wizard?.deploymentSlotSetting?.controls?.deploymentSlot"
            [placeholder]="'Enter Deployment Slot Name'"></textbox>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <button type="button" class="custom-button form-button" previousStep>Back</button>
    <button type="button" class="custom-button form-button" nextStep>Continue</button>
</div>