@{
    var clientOptimization = Request.QueryString["appsvc.clientoptimizations"].AsBool(true);
    var slotName = Environment.GetEnvironmentVariable("FUNCTIONS_SLOT_NAME");
    var cdn = string.Empty;
    if (slotName == "production")
    {
        cdn = "https://functions.azureedge.net";
    }

    var aiIinstrumentationKey = Environment.GetEnvironmentVariable("aiInstrumentationKey");
    var mpIinstrumentationKey = Environment.GetEnvironmentVariable("mpInstrumentationKey");
}

<head>
    @if (clientOptimization)
    {
        <base href="ng-min/" />
        <link href="@cdn/ng-min/{{STYLES}}" rel="stylesheet" />
    }
    else
    {
        <base href="ng-full/" />
    }
</head>
<body>
    @if (clientOptimization)
    {
        <script type="text/javascript" src="@cdn/ng-min/{{INLINE}}"></script>
        <script type="text/javascript" src="@cdn/ng-min/{{POLYFILLS}}"></script>
        <script type="text/javascript" src="@cdn/ng-min/{{SCRIPTS}}"></script>
        <script type="text/javascript" src="@cdn/ng-min/{{VENDOR}}"></script>
        <script type="text/javascript" src="@cdn/ng-min/{{MAIN}}"></script>
    }
    else
    {
        <script type="text/javascript" src="inline.bundle.js"></script>
        <script type="text/javascript" src="polyfills.bundle.js"></script>
        <script type="text/javascript" src="scripts.bundle.js"></script>
        <script type="text/javascript" src="styles.bundle.js"></script>
        <script type="text/javascript" src="vendor.bundle.js"></script>
        <script type="text/javascript" src="main.bundle.js"></script>
    }

    @if (!string.IsNullOrEmpty(aiIinstrumentationKey))
    {
        <script type="text/javascript" src="https://az416426.vo.msecnd.net/scripts/a/ai.0.js"></script>
        <script type="text/javascript"> var appInsights = window.appInsights || function (config) { function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; s.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(s); try { t.cookie = u.cookie } catch (h) { } for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t }({ instrumentationKey: "@aiIinstrumentationKey" }); window.appInsights = appInsights; appInsights.trackPageView();</script>
    }

</body>