.setting-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.setting-wrapper-disabled {
    display: flex;
    flex-direction: column;
}

.setting-wrapper > label {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 8px;
}

.setting-wrapper > div {
    padding: 0px 0 0px 20px;
}