<div class="wrapper">
    <div class="setting-wrapper">
        <label>{{ 'appFunctionSettings_develop' | translate }}</label>
        <div [ngClass]="showTryView ? 'features-wrapper-disabled' : 'features-wrapper'">
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_editor' | translate }}</h2>
                    {{ 'appFunctionSettings_editor_desc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_editor' | translate }}</div>

                    <div *ngIf="!showTryView" class="clickable" (click)='openNewTab(appServiceEditor)'>{{ 'appFunctionSettings_gotoEditor' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_appSettings' | translate }}</h2>
                    {{ 'appFunctionSettings_appSettingsDesc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_appSettingsButtonLabel' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("WebsiteConfigSiteSettings")'>{{ 'appFunctionSettings_appSettingsButtonLabel' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_devConsole' | translate }}</h2>
                    {{ 'appFunctionSettings_devConsoleDesc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_devConsoleButtonLabel' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("ConsoleBlade")'>{{ 'appFunctionSettings_devConsoleButtonLabel' | translate }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>{{ 'appFunctionSettings_deploy_title' | translate }}</label>
        <div [ngClass]="showTryView ? 'features-wrapper-disabled' : 'features-wrapper'">
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_CI' | translate }}</h2>
                    {{ 'appFunctionSettings_deploy' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_configureCI' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("ContinuousDeploymentListBlade")'>{{ 'appFunctionSettings_configureCI' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_kudu' | translate }}</h2>
                    {{ 'appFunctionSettings_kuduDesc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_kuduButtonLabel' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openNewTab(debugConsole)'>{{ 'appFunctionSettings_kuduButtonLabel' | translate }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label>{{ 'appFunctionSettings_manage' | translate }}</label>
        <div [ngClass]="showTryView ? 'features-wrapper-disabled' : 'features-wrapper'">
            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_appServiceSettings' | translate }}</h2>
                    {{ 'appFunctionSettings_appServiceSettings_desc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_goToAppSettings' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("WebsiteBlade")'>{{ 'appFunctionSettings_goToAppSettings' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'cors' | translate }}</h2>
                    {{ 'appFunctionSettings_allowYour' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_configureCors' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("ApiCors")'>{{ 'appFunctionSettings_configureCors' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_auth' | translate }}</h2>
                    {{ 'appFunctionSettings_forFunc' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_configAuth' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("AppAuth")'>{{ 'appFunctionSettings_configAuth' | translate }}</div>
                </div>
            </div>

            <div>
                <div>
                    <h2>{{ 'appFunctionSettings_apiDefiition' | translate }}</h2>
                    {{ 'appFunctionSettings_allowClients' | translate }}
                </div>
                <div>
                    <div *ngIf="showTryView" [tooltip]="freeAccountTooltip" class="clickable-disabled">{{ 'appFunctionSettings_configureAPI' | translate }}</div>
                    <div *ngIf="!showTryView" class="clickable" (click)='openBlade("ApiDefinition")'>{{ 'appFunctionSettings_configureAPI' | translate }}</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="functionContainer?.properties?.sku === 'Dynamic'" class="setting-wrapper">
        <label>{{ 'functionAppSettings_dailyUsageQuota' | translate }}</label>
        <div class="quotaInput" style="padding-bottom: 10px">
            <input placeholder="Enter value in GB-sec" [(ngModel)]="dailyMemoryTimeQuota" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" style="width:200px;">
            <button class="custom-button"
                    (click)="setQuota()">
                {{ 'functionAppSettings_setQuota' | translate }}
            </button>
            <button *ngIf="showDailyMemoryInfo" class="custom-button remove-button"
                    (click)="removeQuota()">
                {{ 'functionAppSettings_removeQuota' | translate }}
            </button>
            <div *ngIf="showDailyMemoryInfo" class="info">
                {{ 'functionAppSettings_quotaInfo' | translate }}
            </div>
            <div *ngIf="showDailyMemoryWarning" class="warning">
                {{ 'functionAppSettings_quotaWarning' | translate }}
            </div>
        </div>
    </div>

    <div *ngIf="!_globalStateService?.GlobalDisabled" class="setting-wrapper" [ngClass]="showTryView ? 'setting-wrapper-disabled' : 'setting-wrapper'">
        <label>{{ 'runtimeVersion' | translate }}</label>
        <div [ngClass]="showTryView ? 'features-wrapper-disabled' : 'features-wrapper'">
            <div>
                <div *ngIf="!needUpdateExtensionVersion">
                    <h2>{{ 'appFunctionSettings_functionAppSettings2' | translate: {latestExtensionVersion:latestExtensionVersion} }}</h2>
                </div>
                <div *ngIf="needUpdateExtensionVersion">
                    <h2>
                        {{ 'appFunctionSettings_functionAppSettings1' | translate: {extensionVersion: extensionVersion, latestExtensionVersion:latestExtensionVersion} }}
                        <button [ngClass]="showTryView ? 'custom-button-disabled' : 'custom-button'" (click)="updateVersion()">{{ 'update' | translate }}</button>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="setting-wrapper" *ngIf="functionContainer?.properties?.sku === 'Dynamic'">
        <label>{{ 'appFunctionSettings_memory' | translate }}</label>
        <div class="features-wrapper">
            <div style="height: 60px">
                <div style="flex-grow: 10">
                    <input type="range" min="128" max="1536" step="64" [(ngModel)]="memorySize" (change)="onChange(memorySize, $event)">
                </div>
                <div style="width:70px; flex-grow: 1">
                    <span>{{memorySize}} MB</span>
                </div>
                <div style="flex-grow: 1">
                    <button *ngIf="dirty" class="custom-button dirty" (click)="saveMemorySize(memorySize)">{{ 'save' | translate }}</button>
                </div>
            </div>
        </div>
    </div>-->

    <div *ngIf="!showTryView" class="setting-wrapper">
        <label>{{ 'appFunctionSettings_apiProxies' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <div>
                    <h2 style="padding-bottom:5px;">{{ 'appFunctionSettings_useApiProxies' | translate }}</h2>
                    <radio-selector [disabled]="disabled" [defaultValue]="apiProxiesEnabled" [options]="functionStatusOptions" (value)="valueChange.next($event)"></radio-selector>
                </div>
            </div>
        </div>
        
        <div *ngIf="apiProxiesEnabled" class="features-wrapper">
            <div>
                <div *ngIf="!needUpdateRoutingExtensionVersion">
                    <h2>{{ 'appFunctionSettings_proxyRuntimeVersion2' | translate: {latestExtensionVersion:latestRoutingExtensionVersion} }}</h2>
                </div>
                <div *ngIf="needUpdateRoutingExtensionVersion">
                    <h2>
                        {{ 'appFunctionSettings_proxyRuntimeVersion1' | translate: {extensionVersion: routingExtensionVersion, latestExtensionVersion:latestRoutingExtensionVersion} }}
                        <button [ngClass]="showTryView ? 'custom-button-disabled' : 'custom-button'" (click)="updateRouingExtensionVersion()">{{ 'update' | translate }}</button>
                    </h2>
                </div>
            </div>
        </div>

    </div>
</div>
<tooltip-content #freeAccountTooltip>
    <p>
        {{ 'appFunctionSettings_FreeAccountToolTip' | translate }}
    </p>
</tooltip-content>