<div class="settings-group-wrapper">

  <h3 class="first-config-heading">Code</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Organization
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <drop-down [options]="!!OrgList ? OrgList : []"
          [highlightDirty]="false" (value)="OrgChanged($event)">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Repository
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <drop-down [control]="this._wizard?.wizardForm?.controls?.sourceSettings?.controls?.repoUrl" [options]="!!RepoList ? RepoList : []"
          [highlightDirty]="false" (value)="RepoChanged($event)">
        </drop-down>
      </div>
    </div>

    <div class="setting-wrapper">
      <div class="setting-label">Branch
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
          <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </div>
      <div class="setting-control-container">
        <drop-down [control]="this._wizard?.wizardForm?.controls?.sourceSettings?.controls?.branch" [options]="!!BranchList ? BranchList : []"
          [highlightDirty]="false">
        </drop-down>
      </div>
    </div>

  </div>
</div>