<div id = "console-container" (clickOutside)="unFocusConsole()" (click) = "focusConsole()" tabindex = "{{isFocused ? 1 : 0}}" (contextmenu)="handleRightMouseClick($event)">
  <div class = "console">
    <div #consoleBody class="console-inner" [scrollTop]="consoleBody.scrollHeight">
      <textarea #consoleText class = "console-typer" (copy)="handleCopy($event)" 
      (onfocus)="focusConsoleOnTabPress()" (paste)="handlePaste($event)" (keydown)="keyEvent($event)" ng-blur="unFocusConsole()"></textarea>
      <div class = "console-message-header" aria-live="polite" >
        <span>
         _    _____   _ ___ ___ 
        /_\  |_  / | | | _ \ __| 
  _ ___/ _ \__/ /| |_| |   / _|___ _ _ 
(___  /_/ \_\/___|\___/|_|_\___| _____) 
(_______ _ _)         _ ______ _)_ _ 
        (______________ _ )   (___ _ _) 
        </span>
        <br />
        {{ 'feature_consoleMsg' | translate}}
      </div>
      <br />
      
      <div class = "console-prompt-box" id = "prompt" >
        <span class = "console-prompt-label">PS&nbsp;{{dir}}></span><span class = "console-prompt" aria-live="polite"><span class="console-command">{{commandInParts.leftCmd}}</span><span class = "console-cursor" *ngIf = "isFocused" >{{commandInParts.middleCmd}}</span>{{commandInParts.rightCmd}}</span>
      </div>
      <ng-container #prompt></ng-container>
    </div>
  </div>
</div>