@import '../../sass/main';

.search-box {
    position: relative;
}

input {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin: 0px !important;
    width: 100%;
}

.left {
    position: absolute;
    width: 14px;
    height: 14px;
    transform: scaleX(-1);
    margin: 0px;
    z-index: 1;
    top: 8px;
    left: 10px;
}

.right {
    position: absolute;
    font-size: 16px;
    margin: 0px;
    z-index: 1;
    color: red;
    right: 10px;
    top: 3px;
    bottom: 0;
}

.has-value {
    background-color: $warning-color-faded;
}