@import '../../sass/common/variables';

#quickstart-container{
    text-align: center;
    height: 100%;
    background-color: $qs-footer-bg-color;

    label{
        font-weight: normal;
    }
}

#quickstart-header{
    background-color: $qs-header-bg-color;
    padding: 25px 25px 40px 25px;

    >img{
        width: 75px;
        height: 75px;
    }

    h1{
        margin: 15px 0px 25px 0px;
    }

    h2{
        margin-bottom: 10px;
    }

    button{
        min-width: 200px;
        height: 40px;
    }

}

#quickstart-templates{
    margin-bottom: 30px;
}

.quickstart-template{
    display: inline-block;
    margin: 0px 2px;
    font-size: 16px;
    cursor: pointer;

    .quickstart-template-icon{
        padding: 10px;
        width: 150px;
        height: 80px;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);

        >div{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .icon-template{
        width: 32px;
        height: 32px;
    }

    &:hover{
        box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);        
        margin: 0px 2px;
    }
}

.quickstart-template-selected{
    border: 2px solid $primary-color;
    margin: 0px;

    &:hover{
        border: 2px solid $primary-color;
        margin: 0px;
        box-shadow: 0px 0px 0px 0px;
    }
}

.quickstart-template-lang{
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    width: 156px;
}

#quickstart-lang-radios{
    margin-bottom: 15px;
    color: $value-text-color;

    input{
        margin: 0px 10px;
    }
}

#quickstart-lang-custom{
    margin-bottom: 25px;
}

.circle-container{
    height: 35px;
    margin: auto;
    padding-top: 3px;
    position: relative;
    top: -33px;
}

.circle-left, .circle-middle, .circle-right{
    background-color: $qs-header-bg-color;
    height: 35px;
    display: inline-block;
}

.circle-left{
    border-bottom-left-radius: 50%;
    width: 22px;
    margin-right: -5px;
}

.circle-middle{
    vertical-align: top;
}

.circle-right{
    border-bottom-right-radius: 50%;
    width: 22px;
    margin-left: -5px;
}

#quickstart-footer{
    padding: 16px 25px 25px 25px;
    color: $body-bg-color;
    background-color: $qs-footer-bg-color;

    h1{
        margin-top: 0px;
        color: $body-bg-color;
    }

    .link{
        color: $qs-footer-link-color;
        line-height: 30px;
    }
}

.link-disabled {
    cursor: not-allowed;
    background-color: lightgray;
    color: white;
}

:host-context(#app-root[theme=dark]){
    #quickstart-container, #quickstart-footer{
        background-color: lighten($body-bg-color-dark, 10%);
    }

    #quickstart-header, .circle-left, .circle-middle, .circle-right{
        background-color: $body-bg-color-dark;
    }

    .quickstart-template-icon{
        background-color: lighten($body-bg-color-dark, 10%);
    }
}