@import '../../../sass/main';

#site-monitor-chart{
    margin-top: 30px;
}

#site-manage-search{
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
}

#site-manage-container{
    min-width: 1200px;
}

.site-manage-col{
    float: left;
    min-width: 300px;
    margin: 0px 10px;
}

.feature-group{
    margin-bottom: 25px;
}