@import '../../../sass/main';

#site-dashboard-container{
    padding-top: 5px;
    background-color: $chrome-color;
}

#site-dashboard-pin{
    display: inline-block;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 15px;
    top: 10px;
}