@import '../../../sass/main';

.site-hidden-text{
    font-style: italic;
    color: darken($chrome-color, 30%);
}

.site-summary-actions{
    margin-left: 5px;
    margin-top: 10px;
}

.site-row-container{
    display: flex;
    margin-top: 10px;
}

.site-row-block{
    flex-grow: 1;
    width: 50%;
}

.box{
    border: 2px solid #DEDEDE;
    padding: 10px;
}

.box-site-summary{
    height: 250px;
}

.box-site-notifications{
    overflow-y: auto;
    padding: 0px;
}

.site-summary-left, .site-summary-right{
    width: 50%;
    display: inline-block
}

.site-summary-right{
    float: right;
}

.site-summary-left > div, .site-summary-right > div{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 97%;
    overflow: hidden;
}

div.site-enabled-feature{
    padding : 5px;
}

%site-notification-element{
    padding: 5px;
}

div.site-notification-element-odd{
    @extend %site-notification-element;
    background-color: #f5f6f7;
}

div.site-notification-element-even{
    @extend %site-notification-element;
    background-color: #FFFFFF;
}

#site-monitor-chart{
    margin-top: 30px;
}

#site-manage-search{
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
}


#site-manage-container{
    min-width: 1200px;
}

.site-manage-col{
    float: left;
    width: 30%;
    margin: 0px 10px;
}