<breadcrumbs [descriptorInput]="descriptor"></breadcrumbs>
<tabs (tabSelected) = 'onTabSelected($event)' (tabClosed) = 'onTabClosed($event)'>
    <tab [tabTitle]="TabNames.summary">
        <site-summary *ngIf="selectedTabTitle === TabNames.summary"
                      [siteInput]="site"
                      (openTabEvent)="openTab($event)"></site-summary>
    </tab>
    <!--<tab [tabTitle]="TabNames.monitor">
        <site-monitor *ngIf="selectedTabTitle === TabNames.monitor" [siteInput]="site"></site-monitor>
    </tab>-->
    <tab [tabTitle]="TabNames.manage">
        <site-manage *ngIf="selectedTabTitle === TabNames.manage" [siteInput]="site" (openTabEvent)="openTab($event)"></site-manage>
    </tab>
    <tab [tabTitle]="TabNames.troubleshoot">
        Troubleshoot
    </tab>
    <tab *ngIf="activeComponent === 'deployment-source'" [tabTitle]="TabNames.deploymentSource" [closeable]="true">
        <deployment-source *ngIf="selectedTabTitle === TabNames.deploymentSource" [siteInput]="site"></deployment-source>
    </tab>
</tabs>
