<div id="site-dashboard-container">
<tabs (tabSelected) = 'onTabSelected($event)' (tabClosed) = 'onTabClosed($event)'>
    <tab [tabTitle]="TabNames.overview">
        <site-summary *ngIf="selectedTabTitle === TabNames.overview"
                      [viewInfoInput]="viewInfo"
                      (openTabEvent)="openTab($event)"></site-summary>
    </tab>
    <!--<tab [tabTitle]="TabNames.monitor">
        <site-monitor *ngIf="selectedTabTitle === TabNames.monitor" [siteInput]="site"></site-monitor>
    </tab>-->
    <tab [tabTitle]="TabNames.features">
        <site-manage *ngIf="selectedTabTitle === TabNames.features"
                     [viewInfoInput]="viewInfo"
                     (openTabEvent)="openTab($event)"></site-manage>
    </tab>
    <tab [tabTitle]="TabNames.functionRuntime">
        <function-runtime
            *ngIf="selectedTabTitle === TabNames.functionRuntime"
            [viewInfoInput]="viewInfo"></function-runtime>
    </tab>    
    <!--<tab [tabTitle]="TabNames.apiDefinition">
        API Definition
    </tab>-->
    <!--<tab *ngIf="activeComponent === 'deployment-source'" [tabTitle]="TabNames.deploymentSource" [closeable]="true">
        <deployment-source *ngIf="selectedTabTitle === TabNames.deploymentSource" [siteInput]="site"></deployment-source>
    </tab>-->
</tabs>
</div>