.wrapper {
    display: flex;
    flex-direction: row;
}

.wrapper > div:nth-child(2) {
    flex-grow: 1;
    overflow-x: hidden;
}

i {
    line-height: 1.5;
    display: inline;
    font-size: 20px;
    padding-left: 5px;
}

pre {
    white-space: normal;
}
