@import '../../../sass/main';

.textbox-wrapper{
    position: relative;
    
    .validation-error{
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .input-error {
        background-color: $error-color;
        height: 22px;
        padding: 5px 5px 0px 5px;
        left: -15px;
        margin-bottom: -3px;
    }
}