<div class="settings-group-wrapper" [formGroup]="wizard?.deploymentSlotSetting" novalidate check-scenario="EnableSlots"
[cs-input]="{site: wizard?.siteArm}">

  <h3 class="first-config-heading">{{'deployment' | translate}}</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">{{'enableDeploymentSlot' | translate}}
      </div>
      <div class="setting-control-container">
        <radio-selector [control]="wizard?.deploymentSlotSetting?.controls?.deploymentSlotEnabled" [options]="deploymentSlotEnabledOptions"
          [highlightDirty]="true"  (value)="enabledChanged($event)">
        </radio-selector>
      </div>
    </div>
    <div *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.deploymentSlotEnabled">
      <div class="setting-wrapper">
        <div class="setting-label">{{'deploymentSlot' | translate}}</div>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [control]="wizard?.deploymentSlotSetting?.controls.newDeploymentSlot" [options]="deploymentSlotNewOptions"
              [highlightDirty]="true"  (value)="createOrExistingChanged($event)">
            </radio-selector>
          </div>
          <ng-select *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.newDeploymentSlot === false" class="custom-select" [loading]="deploymentSlotsLoading"
            [clearable]="false" [items]="existingDeploymentSlotsList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectExisingSlot' | translate}}"
            [(ngModel)]="selectedDeploymentSlot" formControlName="deploymentSlot">
          </ng-select>
          <textbox *ngIf="wizard?.wizardValues?.deploymentSlotSetting?.newDeploymentSlot === true" [control]="wizard?.deploymentSlotSetting?.controls?.deploymentSlot"
            placeholder="{{'enterDSName' | translate}}"></textbox>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
    <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
    <button type="button" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>