.panel{
    border: none;
}

.panel-heading, .panel-body{
    background-color: #FFF;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

.control-label{
    text-align: left;
    padding-left: 0px;
    font-weight: 500;
    margin-bottom: 5px;
}

.control-label .glyphicon{
    font-size: 12px;
}

.container-fluid{
    padding-left: 0px;
}

.info-button{
    border: none;
    margin: -4px 0 0 0;
    padding: 0;
    height: inherit;
}

.custom-button, .custom-button-invert{
    margin-left: 0px;
}

input, select{
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
    vertical-align: middle;
    height: 29px;
    width: 85%;
    margin-right: 10px;
    padding: 0 5px;
}

input:disabled{
    background-color: #F3F3F3;
}

input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin: 0px;
}

input[type=text], #enum-list, select {
    width: 300px;
}

input.input-error {
    padding-right:25px;
}

i.select {
    padding-left: 30px;
}

button.go {
    margin-left: 100px;
}
.button-go-disabled {
    cursor: not-allowed;
    background-color: lightgray;
    color: white;
}
.storage-creds-texbox {
    float: left; 
    margin-right: 0px;
    width: 70%;
}

.methods-list {
    display: flex; 
    flex-direction: row; 
    max-width:700px; 
    flex-wrap: wrap;
}

.methods-list div {
    flex-basis: 150px;
}

.methods-list input {
    margin-left:0px
}

.hide-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-header {
    display: flex;
    width: 300px;
}

.input-header label {
    flex-grow: 1;
}

.input-header span {
    margin-bottom: 4px;
    align-self: flex-end;
}

.hidden {
    display: none;
}