@import '../../sass/common/variables';

#dev-guide{
    padding: 40px;

    label{
        display: block;
    }
}

.example{
    margin-top: 30px;

    .header{
        border: $border;
        padding: 10px;
    }
}
