@import '../../../../../sass/main';

.messageColumn {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    p{
        margin:0;
    }
    img{
        display: inline-block;
        margin: 1px;
        height: 10px;
        width: 10px;
    }
}

#activity-list{
    width: 100%
}