<div id="create-app-wrapper">
  <img class="heading" src="image/functions.svg" />
  <h1>{{ 'gettingStarted_newFunctionApp' | translate }}</h1>

  <h4>
    <span>{{ 'createApp_description' | translate}}</span>
    <a class="link" target="_blank" [href]="FwdLinks.standaloneCreateLearnMore">
      {{ 'topBar_learnMore' | translate }}
      <img src="image/open-external.svg"/></a>
  </h4>

  <label class="name-label">{{ '_name' | translate }}</label>
  <textbox class="name-textbox"
    [control]="group?.controls['name']"
    [placeholder]="Resources.enterName | translate"></textbox>

  <button
    class="custom-button"
    [disabled]="!group?.valid || !group?.dirty"
    (click)="create()">{{ 'create' | translate }}</button>
</div>