<div id="create-app-wrapper">
  <img class="heading" src="image/functions.svg" />
  <h1>{{ 'gettingStarted_newFunctionApp' | translate }}</h1>

  <h4>
    <span>{{ 'createApp_description' | translate}}</span>
    <a class="link" target="_blank" [href]="FwdLinks.standaloneCreateLearnMore">
      {{ 'topBar_learnMore' | translate }}
      <img src="image/open-external.svg"/></a>
  </h4>
  <br/>
  <div class="createapp-wrapper">
      <label class="createapp-label">{{ '_name' | translate }}</label>
      <div class="createapp-control-container">
        <textbox
          [control]="group?.controls['name']"
          [placeholder]="Resources.enterName | translate"></textbox>
      </div>
  </div>
  <div class="createapp-wrapper">
    <label class="createapp-label">{{ 'subscriptionName' | translate }}</label>      
    <div class="createapp-control-container">
      <drop-down
        [control]="group?.controls['subscription']"
        [options]="subscriptionOptions"
        [highlightDirty]="true">
      </drop-down>
    </div>
  </div>
  <div class="createapp-wrapper">      
    <label class="createapp-label">{{ 'runtimeImage' | translate }}</label>
    <div class="createapp-control-container">
      <drop-down
        [control]="group?.controls['runtimeImage']" 
        [options]="runtimeImageOptions"
        [highlightDirty]="true">
      </drop-down>
    </div>
  </div>
 
  <button
    class="custom-button"
    [disabled]="!group?.valid || !group?.dirty"
    (click)="create()">{{ 'create' | translate }}</button>
</div>