<command-bar>
  <command *ngIf="!requiresAdvancedEditor" displayText="{{ 'apiProxy_new' | translate }}" 
    iconUrl="image/add.svg" 
    (click)="onNewProxyClick()"></command>

    <command *ngIf="requiresAdvancedEditor" displayText="{{ 'functionIntegrate_advancedEditor' | translate }}"
        (click)="openAdvancedEditor()"
        iconUrl="image/open-external.svg"></command>
</command-bar>

<info-box
  typeClass="upsell"
  [infoText]="'apimUpsell' | translate"
  [infoLink]="apimLearnMoreLink">
</info-box>

<div class="browse-container">

  <img src="image/api-proxy.svg" />
  <h2>{{ 'appFunctionSettings_apiProxies' | translate }}</h2><i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw"></i>

  <tbl [items]="proxies" #table="tbl">
    <tr>
      <th><tbl-th name="name">{{ ('_name' | translate).toUpperCase() }}</tbl-th></th>
      <th><tbl-th name="url">{{ ('apiProxy_backendUrl' | translate).toUpperCase() }}</tbl-th></th>
    </tr>

    <tr *ngFor="let item of table.items">
      <td><a class="link" (click)="clickRow(item)" [activate-with-keys]>{{item.name}}</a></td>
      <td>{{item.url}}</td>
    </tr>

    <tr *ngIf="table.items.length === 0 || isLoading">
      <td *ngIf="isLoading" colspan="2">{{'functionMonitor_loading' | translate}}</td>
      <td *ngIf="!isLoading && table.items.length === 0" colspan="2">{{'noResults' | translate}}</td>
    </tr>
    
  </tbl>

</div>