<div class="topContainer">
  <div class="selectionContainer" role="radiogroup" flex-list>
    <div *ngFor="let card of devEnvironmentCards" class="cardContainer" [class.selected]="selectedDevEnvironmentCard?.name === card.name"
      (click)="selectDevEnvironment(card)"
      role="radio"
      [attr.aria-checked]="selectedDevEnvironmentCard?.name === card.name"
      (keydown)="onKeyPress($event, card)">
      <div class="cardHeader">
        <img [src]="card.icon"/> {{card.name}}
      </div>
      <div class="cardDescription">
        {{card.description}}
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <button type="button" class="custom-button form-button" *ngIf="selectedDevEnvironmentCard" nextStep (click)="checkNeedInstructions()">{{'continue' | translate}}</button>
</div>