<div class="dev-flex-column dev-full">
    <div *ngIf="!isHttpLogs" class="log-toolbar">
        <span class="text-level2-heading tab-label-selected">{{ 'logStreaming_logs' | translate }}</span>
        <span class="log-empty-space" (click)="close()"></span>
        <span class="action" *ngIf="stopped" (click)="startLogs()">
            <i class="fa fa-play"></i>
            <span>{{ 'logStreaming_start' | translate }}</span>
        </span>
        <span class="action" *ngIf="!stopped" (click)="stopLogs()">
            <i class="fa fa-pause"></i>
            {{ 'logStreaming_pause' | translate }}
        </span>
        <span class="action" (click)="clearLogs()">
            <i class="fa fa-book"></i>
            {{ 'logStreaming_clear' | translate }}
        </span>
        <span (click)="copyLogs($event)" class="action">
            <pop-over message="{{ 'logStreaming_copied' | translate }}" hideAfter="300">
                <span class="text-hl">
                    <i class="fa fa-clone"></i>
                    {{ 'logStreaming_copyLogs' | translate }}
                </span>
            </pop-over>
        </span>
        <span *ngIf="!isExpanded" class="action" (click)="expand()">
            <i class="fa fa-expand"></i>
            {{ 'logStreaming_expand' | translate }}
        </span>
        
        <span *ngIf="isExpanded" class="action" (click)="compress()">
            <i class="fa fa-compress"></i>
            {{ 'logStreaming_compress' | translate }}
        </span>
        <span style="padding-right: 10px;" class="text-level2-heading tab-label" (click)="close()">
            <i class="fa fa-chevron-down"></i>
        </span>
    </div>
    <pre id="log-stream" class="log-stream" tabindex="1" 
         (keydown)="handleKeyPress($event)" 
         [class.height-fixed]="isHttpLogs"
         [class.http-logs]="isHttpLogs"
         [class.bottom-logs]="!isHttpLogs">{{log}}</pre>         
    <div class="run-orange" *ngIf="timerInterval > 1000" style="margin-top: 13px">
        {{ 'logStreaming_tooManyLogs' | translate:{seconds: timerInterval/1000} }}
    </div>

</div>
