<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
    <div class="settings-wrapper">
      <div class="setting-wrapper">
        <label id="github-action-build-windows-framework-label" class="setting-label">{{ 'webAppFramework' | translate }} </label>
        <div class="setting-control-container">
          <ng-select
            aria-labelledby="github-action-build-windows-framework-label"
            class="custom-select"
            [clearable]="false"
            [searchable]="false"
            [items]="webApplicationFrameworks"
            bindLabel="displayLabel"
            bindValue="value"
            [(ngModel)]="selectedFramework"
            formControlName="applicationFramework"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </div>
