@import '../../sass/common/variables';

.function-edit-content{
    padding: 7px 5px 0px 25px;
    width: 100%;
    height: 100%;
}

:host-context(#app-root[theme=dark]){
    .function-edit-content{
        background-color: $body-bg-color-dark;
    }
}