@import '../../sass/common/variables';

#function-aggregates{
    margin-bottom: 20px;
    width: 90%;
}

.ai-icon {
    display:flex;
    text-align: center;
    padding-top: 50px;
    div:nth-child(1) {
        flex-grow:1;
        img {
            height:50px;
            width: 100%;
        }
    }    
}

.alert {
    img {
        height: 20px;
    }
}

.control-label{
    text-align: left;
    padding-left: 0px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 8px;
}