#function-aggregates{
    margin-bottom: 20px;
    width: 90%;
}

.ai-icon {
    display:flex;
    div:nth-child(1) {
        flex-grow:1;
        img {
            height:400px;
            padding-top: 100px;
            width: 100%;
        }
    }    
}