<section class="example">
    <h2>SVG's (Notice that icon colors update with theme changes)</h2>
    <div class="header">
        <h3>EXAMPLE OF MONOCHROMATIC ICONS</h3>

        <label>Small</label>
        <span load-image="image/delete.svg" class="icon-small"></span>

        <label>Medium</label>
        <span load-image="image/delete.svg" class="icon-medium"></span>

        <Label>Large</Label>
        <span load-image="image/delete.svg" class="icon-large"></span>

        <h3 id="poly-icon">EXAMPLE OF POLYCHROMATIC ICON</h3>
        <span load-image="image/app-service-plan.svg" class="icon-large"></span>

    </div>
    <figure>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
    </figure>
</section>