@import '../../../sass/common/variables';

h2 {
  display: inline;
}

div.browse-container {
  overflow: auto;
}

#console-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.action {
  margin-left: 10px;
}

.log-toolbar {
  padding-left: 15px;
  padding-right: 25px;
  float: right;
}

.log-toolbar:hover {
  cursor: pointer;
}

.log-empty-space {
  flex-grow: 1;
  height: 1%;
  pointer-events: none;
}

textarea.console-typer {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: -1;
}

div.console div.console-inner {
  background-color: $console-background-color; // #215b7e;
  color: $console-text-color;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  word-break: break-word;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

div.console-message-header span,
div.console-message-command,
div.console-message-value,
div.console-message-error,
span.console-prompt-label,
span.console-prompt {
  white-space: pre-wrap;
}

div.console-message-header span {
  color: $console-header-msg-color;
}

div.console-message-error {
  color: $console-error-color;
}

span.console-cursor {
  text-decoration: none;
  box-shadow: 0px -4px $console-text-color inset;
  animation: blink 1s steps(3, start) infinite;
  -webkit-animation: blink 1s steps(3, start) infinite;
}

span.bash-cursor {
  box-shadow: none;
  color: $bash-cursor-text-color;
  background-color: $bash-cursor-background-color;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

:host-context([console-type='tab']),
[console-type='tab'] {
  div.top-wrapper {
    margin-bottom: 20px;
  }

  $heightAdjustment: 77;
  $heightAdjustmentWarning: $heightAdjustment + 85;
  $heightAdjustmentWarningSsh: $heightAdjustmentWarning + 20;

  div.console-wrapper {
    position: absolute;
    height: calc(100% - #{$heightAdjustment}px);
    width: calc(100% - 50px);

    &.warning-adjustment {
      height: calc(100% - #{$heightAdjustmentWarning}px);

      &.ssh-adjustment {
        height: calc(100% - #{$heightAdjustmentWarningSsh}px);
        margin-top: 20px;
      }
    }
  }

  div.console {
    font-family: 'Courier New', 'Lucida Console', 'Times New', monospace;
    height: 100%;
    font-size: medium;
    white-space: normal;
    width: 100%;
  }

  div.console div.console-inner {
    padding: 0.8em;
  }

  div.console-prompt-box {
    font-size: 0;
  }

  span.console-prompt-label,
  span.console-prompt,
  span.console-cursor {
    font-size: medium;
  }
}

:host-context([console-type='blade']),
[console-type='blade'] {
  $heightAdjustment: 30;
  $heightAdjustmentSsh: $heightAdjustment + 20;
  $heightAdjustmentWarning: $heightAdjustment + 85;
  $heightAdjustmentWarningSsh: $heightAdjustmentWarning + 20;

  div.console-wrapper {
    position: absolute;
    height: calc(100% - #{$heightAdjustment}px);
    width: calc(100% - 50px);

    &.ssh-adjustment {
      height: calc(100% - #{$heightAdjustmentSsh}px);
      margin-top: 20px;
    }

    &.warning-adjustment {
      height: calc(100% - #{$heightAdjustmentWarning}px);

      &.ssh-adjustment {
        height: calc(100% - #{$heightAdjustmentWarningSsh}px);
      }
    }
  }

  div.console {
    font-family: Consolas, 'Courier New', monospace;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    white-space: normal;
    width: 100%;
  }

  div.console div.console-inner {
    padding: 0px 0px 0px 5px;
  }

  div.console-message-value,
  div.console-message-error {
    display: inline;
    font-family: 'Segoe UI', 'Segoe UI Bold', 'Segoe WP Bold', 'Segoe WP', Tahoma, Arial, sans-serif;

    &::before,
    &::after {
      content: '';
      display: block;
    }
  }

  div.console-message-value {
    color: $console-success-color;
  }
}
