.pop-over-button{
    background-color: inherit;
    border: none;
    padding: 0px;
}

.pop-over-container {
  cursor: default;
  display: inline-block;
  position: relative;
  text-align: center;
}

.pop-over-container .pop-over-common {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: -142px;
  padding: 5px 10px;
  position: absolute;
  width: 300px;
  z-index: 110;
  line-height: 1.3;
  text-align: center;
}
.pop-over-container .pop-over-common:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; 
  content: '';
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}

.pop-over-container .pop-over {
  bottom: 24px;
  white-space: initial;
}
.pop-over-container .pop-over:before {
  border-top: 7px solid rgba(0, 0, 0, 0.85);
  bottom: -6px;
}

.pop-over-container .pop-over-bottom {
  top: 24px;
}
.pop-over-container .pop-over-bottom:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.85); 
  top: -6px;
}

.pop-over-container .pop-over-visible{
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

.pop-over-input-error{
    margin-left: -34px;
}

span.input-error {
    position: absolute;
    background-color: red;
    height: 25px;
    padding: 5px 5px 0px 5px;
    margin-left: 3px;
    margin-top: -16px;
}