<span [class]="popOverClass" [ngClass]="{'pop-over-input-error': isInputError, 'pop-over-input-warning': isInputWarning}">
    <span *ngIf="message"
        class="pop-over-common"
        [class.pop-over]="position!=='bottom'"
        [class.pop-over-bottom]="position==='bottom'"
        [class.pop-over-visible]="show"
        [innerHtml]="message"></span>

<button id="buttonInfoButton" class="pop-over-button" (focus)="onFocus($event)" (blur)="onBlur($event)" attr.aria-label="{{message}}">
        <ng-content></ng-content>
        <span *ngIf="isInputError" class="fa fa-exclamation input-error"></span>
        <span *ngIf="isInputWarning && !isInputError" class="fa fa-exclamation input-warning"></span>
    </button>
</span>