<div id="dev-guide">
    <tabs>
        <tab title="Styles" id="style">
            <typography-example></typography-example>
            <list-example></list-example>
            <button-example></button-example>
            <color-example></color-example>
            <svg-example></svg-example>
        </tab>
        <tab title="Controls" id="controls">
            <tabs>
                <tab title="Textbox">
                    <textbox-example></textbox-example>
                </tab>
                <tab title="Radio Selector">
                    <radio-selector-example></radio-selector-example>
                </tab>
                <tab title="Tables">
                    <tbl-example></tbl-example>
                    <editable-tbl-example></editable-tbl-example>
                </tab>
                <tab title="Dropdowns">
                    <app-dropdown-example></app-dropdown-example>
                </tab>
            </tabs>
        </tab>
        <tab title="Side Panel">
            <app-sidepanel-example></app-sidepanel-example>
        </tab>
    </tabs>

</div>