@import '../../sass/common/variables';

#dev-guide{
    padding: 0px 40px;
    max-width: 1200px;

    label{
        display: block;
    }
}

.example{
    margin-top: 30px;
    margin-bottom: 60px;

    .header{
        border: $border;
        padding: 10px;
    }
}

figure > label{
    margin-top: 10px;
}

.tab-label, .tab-label-selected{
    font-size: 17px;
}