<div *ngIf="tabId === 'develop'" class="function-edit-content-dev">
    <app-edit-mode-warning [context]="context"></app-edit-mode-warning>
    <function-dev [viewInfo]="viewInfo"></function-dev>
</div>
<div *ngIf="tabId === 'integrate'" class="function-edit-content">
    <app-edit-mode-warning [context]="context"></app-edit-mode-warning>
    <function-integrate-v2
        *ngIf="editorType === 'standard'"
        (changeEditor)="onEditorChange($event)">
    </function-integrate-v2>

    <function-integrate
        *ngIf="editorType === 'advanced'"
        (changeEditor)="onEditorChange($event)">
    </function-integrate>
</div>
<div *ngIf="tabId === 'manage'" class="function-edit-content">
    <app-edit-mode-warning [context]="context"></app-edit-mode-warning>
    <function-manage></function-manage>
</div>
<div *ngIf="tabId === 'monitor'" class="function-edit-content">
    <function-monitor></function-monitor>
</div>
