.clickable {
    cursor: pointer;
}

#delete-function {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    color: #419BF3;
}

.function-edit-content{
    padding: 7px 25px 0px 25px;
    background-color: #FFF;
    height: 100%;
    width: 100%;
}

.function-edit-content-dev {
    background-color: #FFF;
}