<command-bar>
  <command displayText="{{ '_sync' | translate }}" iconUrl="images/swap.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_disconnect' | translate }}" iconUrl="images/error.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_loadTest' | translate }}" iconUrl="images/Functions.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_ftpCredentials' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_webDeployCredentials' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_localGit' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col">

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

  </div>
  <div class="essentials-col">

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>
    
  </div>

  <div class="essentials-col">

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>

    <div>
      <label id="siteStatusLabel">{{'status' | translate}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        <img src="images/swap.svg" /> Running
      </div>
    </div>
    
  </div>
</div>