<command-bar>
  <command displayText="{{ '_sync' | translate }}" iconUrl="images/swap.svg" (click)="SyncScm()" *ngIf="this.providerHelpers?.showSyncCommand"></command>
  <command displayText="{{ '_disconnect' | translate }}" iconUrl="images/error.svg" (click)="SyncScm()" *ngIf="this.providerHelpers?.showDisconnectCommand"></command>
  <command displayText="{{ '_loadTest' | translate }}" iconUrl="images/Functions.svg" (click)="SyncScm()" *ngIf="this.providerHelpers?.showLoadTestCommand"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col" *ngFor="let column of EssentialColumns">
    <div *ngFor="let item of column.items">
      <label id="siteStatusLabel">{{item.label}}</label>
      <!-- No Click Action -->
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue" *ngIf="!item.onClick">
        <img *ngIf="item.icon" [src]="item.icon" />{{item.text}}
      </div>
      <!-- Has Click action -->
      <div *ngIf="item.onClick">
        <a (click)="item.onClick()" tabindex="0" (keydown)="onKeyPress($event, item)" id="siteSubscriptionNameLink" aria-labelledby="siteSubscriptionNameLabel siteSubscriptionNameLink">
          {{item.text}}
        </a>
      </div>
    </div>
  </div>
</div>
<div class="list-collection-container">
  <tbl [items]="TableItems" #table="tbl" *ngIf="this.providerHelpers?.showTable">
    <tr>
      <th *ngFor="let header of TableHeaders">
        <tbl-th [name]="header">{{header}}</tbl-th>
      </th>
    </tr>

    <tr *ngFor="let item of TableItems">
      <td>{{item.time}}</td>
      <td>{{item.status}}</td>
      <td>{{item.message}}</td>
    <tr>
  </tbl>
</div>