<command-bar>
  <command displayText="{{ '_sync' | translate }}" iconUrl="images/swap.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_disconnect' | translate }}" iconUrl="images/error.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_loadTest' | translate }}" iconUrl="images/Functions.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_ftpCredentials' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_webDeployCredentials' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
  <command displayText="{{ '_localGit' | translate }}" iconUrl="images/delete.svg" (click)="SyncScm()"></command>
</command-bar>

<div id="essentials-container">
  <div class="essentials-col" *ngFor="let column of EssentialColumns">

    <div *ngFor="let item of column.items">
      <label id="siteStatusLabel">{{item.label}}</label>
      <div tabindex="0" id="siteStatusValue" aria-labelledby="siteStatusLabel siteStatusValue">
        {{item.text}}
      </div>
    </div>

  </div>
</div>