@import '../../../../../sass/main';

#essentials-container {
    border-bottom: $border;
    padding: 10px 20px 12px 20px;
}

.essentials-col {
    min-width: 175px;
    display: inline-block;
    font-size: 13px;

    label {
        margin-bottom: 0px;
        font-size: 11px;
        font-weight: normal;
        color: $label-text-color;
    }

    .link {
        &:hover {
            color: $primary-color-hover;
        }
    }

    > div {
        padding: 10px;
    }

    img {
        display: inline-block;
        margin-right: 5px;
        height: 13px;
        width: 13px;
        margin-top: -2px;
    }
}

#activity-list {
    width: 100%;
}

.list-container{
    width: 90%;
    margin: auto;

    img{
        vertical-align: middle;
        margin-bottom: 15px;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
}
