@import '../../sass/common/variables';

h3{
    display: inline;
}

.log-streaming-container {
    height: calc(100% - 40px);
    position: relative;
}

.log-stream {
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: normal;
    word-wrap: normal;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 18px;
}

.bottom-logs {
    margin: 0px 25px 10px 25px;
}

.http-logs {
    margin: 0px;
}

.action {
    margin-left: 10px;
    margin-bottom: 12px;
}

.log-toolbar {
    padding-left: 15px;
    padding-right: 25px;
    margin-top: -13px;
    padding-bottom: 6px;
    float: right;
}

.log-toolbar:hover {
    cursor: pointer;
}

.log-empty-space {
    flex-grow: 1;
    height: 1%;
    pointer-events: none;
}

pre {
    white-space: unset;
    color: $console-text-color;
    background: $console-background-color;
}

.log-content {
    white-space: pre-wrap;
    font-family: 'Lucida Console', 'Courier New', 'Consolas', monospace;
}

.info-content {
    color: $log-info;
}

.error-content {
    color: $log-error;
}

.warning-content {
    color: $log-warning;
}

.menu-container{
    position: relative;
    top: -13px;

    .menu-button-container{
        position: relative;
        float: right;
        text-align:
        right; z-index: 1;

        [role=button]{
            display: inline-block;
            padding: 6px 10px 6px 10px;
            margin: 0;
            background: $body-bg-color;

            span{
                padding: 0px;
            }
        }
    }

    [role=menu]{
        position: relative;
        float: right;
        padding: 0px;
        margin: 0px 5px 0px 0px;
        box-shadow: 0 4px 8px 0 rgba($default-text-color,.14);
        border: 1px solid rgba(204,204,204,.8);
        z-index: 1;

        [role=menuitem]{
            display: block;
            padding:
            6px 10px 6px 10px;
            margin: 0;
            background: $body-bg-color;

            span{
                padding-right: 5px;
            }
        }
    }
}

:host-context(#app-root[theme=dark]){
    .menu-container{
        .menu-button-container{
            [role=button]{
                background: $body-bg-color-dark;
            }
        }

        [role=menu]{
            border: 1px solid #605e5c;

            [role=menuitem]{
                background: $body-bg-color-dark;
            }
        }
    }
}