@import '../../sass/common/variables';

h3{
    display: inline;
}

.log-streaming-container {
    height: calc(100% - 40px);
    position: relative;
}

.log-stream {
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: normal;
    word-wrap: normal;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 18px;
}

.bottom-logs {
    margin: 0px 25px 10px 25px;
}

.http-logs {
    margin: 0px;
}

.action {
    margin-left: 10px;
    margin-bottom: 12px;
}

.log-toolbar {
    padding-left: 15px;
    padding-right: 25px;
    margin-top: -13px;
    padding-bottom: 6px;
    float: right;
}

.log-toolbar:hover {
    cursor: pointer;
}

.log-empty-space {
    flex-grow: 1;
    height: 1%;
    pointer-events: none;
}