<div class="log-streaming-container">
    <div *ngIf="!isHttpLogs && logStreamingEnabled" class="log-toolbar">
        <span class="log-empty-space"></span>
        <span (click)="reconnect()" class="link action"
             role="button" attr.aria-label="{{ 'logStreaming_reconnect' | translate }}">
            <pop-over message="{{ getPopoverText() | translate }}" hideAfter="{{popOverTimeout}}">
                <span class="link">
                    <i class="fa fa-plug"></i>
                    {{ 'logStreaming_reconnect' | translate }}
                </span>
            </pop-over>
        </span>
        <span (click)="copyLogs($event)" class="link action"
            (keydown)="keyDown($event, 'copyLogs')" role="button" attr.aria-label="{{ 'logStreaming_copyLogs' | translate }}">
            <pop-over message="{{ 'logStreaming_copied' | translate }}" hideAfter="{{popOverTimeout}}">
                <span class="link">
                    <i class="fa fa-clone"></i>
                    {{ 'logStreaming_copyLogs' | translate }}
                </span>
            </pop-over>
        </span>
        <span class="link action" *ngIf="stopped" (click)="startLogs()"
            (keydown)="keyDown($event, 'startLogs')" tabindex="0" role="button" attr.aria-label="{{ 'logStreaming_start' | translate }}">
            <i class="fa fa-play"></i>
            {{ 'logStreaming_start' | translate }}
        </span>
        <span class="link action" *ngIf="!stopped" (click)="stopLogs()"
            (keydown)="keyDown($event, 'stopLogs')" tabindex="0" role="button" attr.aria-label="{{ 'logStreaming_pause' | translate }}">
            <i class="fa fa-pause"></i>
            {{ 'logStreaming_pause' | translate }}
        </span>
        <span class="link action" (click)="clearLogs()"
            (keydown)="keyDown($event, 'clearLogs')" tabindex="0" role="button" attr.aria-label="{{ 'logStreaming_clear' | translate }}">
            <i class="fa fa-book"></i>
            {{ 'logStreaming_clear' | translate }}
        </span>
        <span *ngIf="!isExpanded" class="link action" (click)="expand()"
            (keydown)="keyDown($event, 'expand')" tabindex="0" role="button" attr.aria-label="{{ 'logStreaming_expand' | translate }}">
            <i class="fa fa-expand"></i>
            {{ 'logStreaming_expand' | translate }}
        </span>

        <span *ngIf="isExpanded" class="link action" (click)="compress()"
            (keydown)="keyDown($event, 'compress')" tabindex="0" role="button" attr.aria-label="{{ 'logStreaming_compress' | translate }}">
            <i class="fa fa-compress"></i>
            {{ 'logStreaming_compress' | translate }}
        </span>
    </div>
    <pre id="log-stream" class="log-stream" tabindex="0"
         (keydown)="handleKeyPress($event)"
         [class.height-fixed]="isHttpLogs"
         [class.http-logs]="isHttpLogs">
         <ng-container #logs></ng-container>
    </pre>
    <div class="run-orange" *ngIf="timerInterval > 1000" style="margin-top: 13px">
        {{ 'logStreaming_tooManyLogs' | translate:{seconds: timerInterval/1000} }}
    </div>
</div>
