body {
    margin: 0;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.content{
    position: absolute;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.link{
    cursor: pointer;
    color: $link-color;
}

.row {
    display: table-row;
}

.row > .left {
    width: 150px;
    padding: 0;
    display: table-cell;
}

.row > .right {
    width: 250px;
    display: table-cell;
}

.row-group {
    display: table-row-group;
}
.msportalfx-svg-c01{ fill: #fff; }
.msportalfx-svg-c02{ fill: #e5e5e5; }
.msportalfx-svg-c04{ fill: #7a7a7a;}
.msportalfx-svg-c06{fill: #1e1e1e;}
.msportalfx-svg-c14{ fill: #7fba00; }