html, body {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    background-color: $body-bg-color;
    font-size: 12px;
    color: #464f59;
}

pre {
    display: block;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: darken($body-bg-color, 5%);
    border: 1px solid $border-color;
    font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
    border-radius: 0;
}

.content{
    position: absolute;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.link{
    cursor: pointer;
    color: $link-color;
}

.row {
    display: table-row;
}

.row > .left {
    width: 150px;
    padding: 0;
    display: table-cell;
}

.row > .right {
    width: 250px;
    display: table-cell;
}

.row-group {
    display: table-row-group;
}