html, body {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
}

pre {
    display: block;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: darken($body-bg-color, 5%);
    border: 1px solid $border-color;
    font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
    border-radius: 0;
}

.error-output {
    color: $danger-color;
}