a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-weight: normal;
    color:#333333;
}

.error-output {
    color: $error-color;
}

.text {
    color: #000000;
}

.text-level1-heading {
    @extend .text;
    font-size: 18px;
}

.text-level2-heading {
    @extend .text;
    font-size: 15px;
}

.text-hl {
    @extend .text;
    font-size: 12px;
    color: #0058ad;
    cursor: pointer;
}

.text-value {
    @extend .text;
    font-size: 12px;
    color: #1f2327;
}

.text-label {
    @extend .text;
    font-size: 12px;
    color: #595959;
}

.message-error {
    @extend .text;
    color: $error-color;
    font-size: 12px;
}

.message-success {
    @extend .text;
    color: $success-color;
    font-size: 12px;
}

.message-warning {
    @extend .text;
    color: $success-color;
    font-size: 12px;
}