a{
    cursor: pointer;
    color: $primary-color;
}

h1, h2, h3, h4{
    font-weight: normal;
    color:#333333;
}

.error-output {
    color: $error-color;
}

.text {
    color: #000000;
}

.text-main2-heading{
    font-size: 26px;
    color: $value-text-color;
    font-weight: lighter;
}

.text-level1-heading {
    @extend .text;
    font-size: 18px;
    font-weight: lighter;
    color: $heading-text-color;
}

.text-level2-heading {
    @extend .text;
    font-size: 15px;
    font-weight: lighter;
    color: $heading-text-color;
}

.text-subheading {
    @extend .text;
    font-size: 14px;
}

.text-hl {
    @extend .text;
    font-size: 12px;
    color: #0058ad;
    cursor: pointer;
}

.text-value {
    @extend .text;
    font-size: 12px;
    color: $value-text-color;
}

.text-label {
    @extend .text;
    font-size: 12px;
    color: $label-text-color;
}

.text-list-col-heading {
    @extend .text;
    font-size: 10px;
    color: $value-text-color;
    font-weight: bold;
}

.message-error {
    @extend .text;
    color: $error-color;
    font-size: 12px;
}

.message-success {
    @extend .text;
    color: $success-color;
    font-size: 12px;
}

.message-warning {
    @extend .text;
    color: $success-color;
    font-size: 12px;
}