body{
    font-family: "Segoe UI", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    color: $default-text-color;
    font-size: 12px;
}

body #app-root[theme=dark]{
    color: $default-text-color-dark;
}

#app-root[theme=dark] a{
    color: $primary-color-dark;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-output {
    color: $error-color;
}

.text {
    color: #000000;
}

h1{
    font-size: 26px;
    color: $value-text-color;
    font-weight: lighter;
}

h2{
    font-size: 18px;
    font-weight: lighter;
    color: $heading-text-color;
}

h3{
    font-size: 15px;
    font-weight: lighter;
    color: $heading-text-color;
}

h4{
    font-size: 14px;
}

h5{
    font-size: 12px;
}

a, .link{
    cursor: pointer;
    color: $primary-color;

    &:hover{
        color: $primary-color-hover;
    }
}

.text-value {
    font-size: 12px;
    color: $value-text-color;
}

label, .text-label {
    font-size: 12px;
    font-weight: normal;
    color: $label-text-color;
}

.text-list-col-heading {
    font-size: 10px;
    color: $value-text-color;
    font-weight: bold;
}

.message-error {
    color: $error-color;
    font-size: 12px;
}

.message-success {
    color: $success-color;
    font-size: 12px;
}

.message-warning {
    color: $success-color;
    font-size: 12px;
}

.bold{
    font-weight: bold;
}

#app-root[theme=dark]{
    h1{
        color: $default-text-color-dark;
    }

    h2,h3,h4{
        color: $heading-text-color-dark;
    }

    label, .text-label{
        color: $label-text-color-dark;
    }

    .link{
        color: $primary-color-dark;
    
        &:hover{
            color: $primary-color-hover-dark;
        }
    }
}