
@import '../../../../sass/common/variables';

#embedded-function-editor-wrapper{
    background-color: $body-bg-color;
    height: calc(100% - 6px);
    width: 100%;
}

header{
    margin-top: 5px;
    padding-left: 10px;

    h2{
        display: inline-block;
        margin-left: 10px;
        // margin-top: 10px;
    }
}

#left-content{

    display: inline-block;
    vertical-align: top;
    width: calc(100% - 45px);
    height: calc(100% - 40px);

}

#right-content{
    height: 100%;
    float: right;
    height: calc(100% - 6px);
}

#code-container{
    padding-left: 10px;
    height: calc(100% - 60px);
    margin-top: 10px;
    margin-right: 20px;
    // padding-right: 50px;

    .monaco{
        height: 100%;
    }
}

footer{
    height: 50px;
    border-top: $border;
    margin-top: 10px;
}