<div id="embedded-function-editor-wrapper">
  <div id="left-content">
    <header>
      <h2>run.csx</h2>
      <button class="custom-button">Save</button>
    </header>

    <section id="code-container" #codeContainer (window:resize)="onResize()">

      <div id="code" monacoEditor class="monaco" content="hello world">
      </div>

    </section>

    <footer>
        <bottom-tabs (onExpanded)="handleBottomBarExpansion($event)"></bottom-tabs>
    </footer>
        
  </div> <!-- /left-content -->

  <aside id="right-content">

    <right-tabs (onExpanded)="handleRightBarExpansion($event)"></right-tabs>
  </aside>
  <div style="clear: both;"></div>
  

</div>

    