<div class="settings-group-wrapper" *ngIf="hasRepos && hasAccounts">

  <h3 class="first-config-heading">{{'code' | translate}}</h3>

  <div class="settings-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
    <div class="setting-wrapper">
      <label id="dc-vsts-source-vsts-account" class="setting-label">{{'vstsAccount' | translate}}</label>
      <div class="setting-control-container">
        <ng-select 
          aria-describedby="dc-vsts-source-account-error"
          aria-labelledby="dc-vsts-source-vsts-account"
          class="custom-select" 
          [items]="accountList" 
          bindLabel="displayLabel" 
          bindValue="value" 
          placeholder="{{'selectAccount' | translate}}"
          [clearable]="false" 
          [(ngModel)]="selectedAccount" 
          [loading]="accountListLoading" 
          formControlName="vstsAccount" 
          (change)="accountChanged($event)">
        </ng-select>
        <div invalidmessage="vstsAccount" id="dc-vsts-source-account-error" role="alert"></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
      <label id="dc-vsts-source-vsts-project" class="setting-label">{{'project' | translate}}</label>
      <div class="setting-control-container">
        <ng-select
          aria-labelledby="dc-vsts-source-vsts-project" 
          aria-describedby="dc-vsts-source-project-error"
          [loading]="respositoriesLoading"
          class="custom-select" 
          [items]="projectList" 
          bindLabel="displayLabel" 
          bindValue="value" 
          placeholder="{{'selectProject' | translate}}"
          [clearable]="false" 
          [(ngModel)]="selectedProject" 
          formControlName="vstsProject" 
          (change)="projectChanged($event)">
        </ng-select>
        <div invalidmessage="vstsProject" id="dc-vsts-source-project-error" role="alert"></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <label id="dc-vsts-source-vsts-repo" class="setting-label">{{'repository' | translate}}</label>
      <div class="setting-control-container">
        <ng-select
          aria-labelledby="dc-vsts-source-vsts-repo"  
          aria-describedby="dc-vsts-source-repo-error"
          class="custom-select" 
          [items]="repositoryList" 
          bindLabel="displayLabel" 
          bindValue="value" 
          placeholder="{{'selectRepo' | translate}}"
          [clearable]="false" 
          formControlName="repoUrl" 
          [(ngModel)]="selectedRepo" 
          (change)="repoChanged($event)">
        </ng-select>
        <div invalidmessage="repoUrl" id="dc-vsts-source-repo-error" role="alert" ></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <label id="dc-vsts-source-vsts-branch" class="setting-label">{{'branch' | translate}}</label>
      <div class="setting-control-container">
        <ng-select 
          aria-labelledby="dc-vsts-source-vsts-branch" 
          aria-describedby="dc-vsts-source-repo-error"
          class="custom-select" 
          [items]="branchList" 
          bindLabel="displayLabel" 
          bindValue="value" 
          placeholder="{{'selectBranch' | translate}}"
          [clearable]="false" 
          [(ngModel)]="selectedBranch" 
          [loading]="branchesLoading" 
          formControlName="branch">
        </ng-select>
        <div invalidmessage="branch" id="dc-vsts-source-repo-error" role="alert"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!hasAccounts">
  <div class="error-state">
    <div><span load-image="image/deployment-center/vsts.nobackground.svg" class="big-image grayscale"></span></div>
    <h1 class="grayscale" *ngIf="!isKudu">{{'no_vsts_accounts' | translate}}</h1>
    <h1 class="grayscale" *ngIf="isKudu">{{'no_vsts_accounts_kudu' | translate}}</h1>
    <button class="custom-button button-spacing" (click)="openVSTSAccountCreate()">{{'create_one' | translate}}</button>
  </div>
</div>

<div *ngIf="!hasRepos && hasAccounts">
  <div class="error-state">
    <div><span load-image="image/deployment-center/vsts.nobackground.svg" class="big-image grayscale"></span></div>
    <h1 class="grayscale" *ngIf="!isKudu">{{'no_vsts_repos' | translate}}</h1>
    <button class="custom-button button-spacing" (click)="openVSTSRepoCreate()">{{'create_one' | translate}}</button>
  </div>
</div>