<div class="settings-group-wrapper">

  <h3 class="first-config-heading">{{'code' | translate}}</h3>

  <div class="settings-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
    <div class="setting-wrapper">
      <div class="setting-label">{{'vstsAccount' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="accountList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectAccount' | translate}}"
          [clearable]="false" [(ngModel)]="selectedAccount" [loading]="accountListLoading" formControlName="vstsAccount" (change)="accountChanged($event)">
        </ng-select>
        <div invalidmessage="vstsAccount"></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.buildSettings" novalidate>
      <div class="setting-label">{{'project' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="projectList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectProject' | translate}}"
          [clearable]="false" [(ngModel)]="selectedProject" formControlName="vstsProject" (change)="projectChanged($event)">
        </ng-select>
        <div invalidmessage="vstsProject"></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <div class="setting-label">{{'repository' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="repositoryList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectRepo' | translate}}"
          [clearable]="false" formControlName="repoUrl" [(ngModel)]="selectedRepo" (change)="repoChanged($event)">
        </ng-select>
        <div invalidmessage="repoUrl"></div>
      </div>
    </div>

    <div class="setting-wrapper" [formGroup]="wizard?.sourceSettings" novalidate>
      <div class="setting-label">{{'branch' | translate}}</div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [items]="branchList" bindLabel="displayLabel" bindValue="value" placeholder="{{'selectBranch' | translate}}"
          [clearable]="false" [(ngModel)]="selectedBranch" [loading]="branchesLoading" formControlName="branch">
        </ng-select>
        <div invalidmessage="branch"></div>
      </div>
    </div>
  </div>
</div>