<busy-state></busy-state>
<h2>Setup a deployment source</h2>
<form id="deployment-source-setup">
    <div class="deploy-setup-col">
        <h3>Choose where to deploy code from</h3>
        <div *ngFor="let provider of providers"
             (click)="onProviderSelect(provider.type)"
             class="deploy-setup-option"
             [class.deploy-setup-option-selected]="provider.type === model?.providerType">

            <img [src]="provider.imgUrl"/>
            <div>
                <div>{{provider.title}}</div>
                <div>{{provider.subtitle}}</div>
            </div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div *ngIf="model && model.providerType !== 0" class="deploy-setup-col">
        <h3>Configure your deployment from GitHub</h3>

        <!-- TODO: ellhamai - Need to fix the loading icon -->
        <div *ngIf="isProviderLoading" id="deploy-setup-provider-loading">
            <div class="busy-state-progress-dots busy-state-icon">
                Talking to GitHub <div></div><div></div><div></div>
            </div>
        </div>

        <div *ngIf="!isProviderLoading">
            <div class="deploy-setup-ctrl">
                <label>Currently authenticated as Tuesdaysgreen</label>
                <button class="custom-button button-block">Change user</button>
            </div>

            <div class="deploy-setup-ctrl">
                <label>Organizations</label>
                <drop-down [options]="organizations"
                           (value)="onOrganizationSelect($event)"
                           [selectedValue]="model.organization"></drop-down>
            </div>

            <div class="deploy-setup-ctrl">
                <label>Repositories</label>
                <drop-down [options]="repositories"
                           (value)="onRepositorySelect($event)"
                           [selectedValue]="model.repository"></drop-down>
            </div>

            <div class="deploy-setup-ctrl">
                <label>Branches</label>
                <drop-down [options]="branches"
                           (value)="onBranchSelect($event)"
                           [selectedValue]="model.branch"></drop-down>
            </div>

            <button [disabled]="!valid"
                    [class.custom-button-disabled]="!valid"
                    [class.custom-button]="valid"
                    (click)="setup()">

                <span *ngIf="!settingUp">Ok</span>
                <span *ngIf="settingUp"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
            </button>
        </div>
    </div>
    <div style="clear: both"></div>
</form>