@import '../../sass/main';

.tabs{
    min-width: 950px;
    // background-color: #E6E7E8;
}

.tabs ul{
    box-sizing: border-box;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    border-bottom: $border;
    // border-bottom-width: 0px;
    /*border-left: 2px solid #E6E7E8;*/
    // background-color: #E6E7E8;
}

.tabs li{
    box-sizing: border-box;
    display: inline-block;
    border-top-width: 0px;
    text-align: center;
    padding: 8px 0px;
    width: 175px;
    outline: none;
}

.tab{
    margin-left: 0px;
}

.tab-content{
    /*border-top: 2px solid #E6E7E8;*/
    /*margin-top: -2px;  Get rid of gap with tab */
    padding: 5px 20px;
    background-color: #FFF;
}