@import '../../../../../sass/common/variables';

:host {
    width: 100%;
    height: 100%;
}

h2{
    display: inline;
}

h1{
    text-align: center;
    opacity: 0.9;
}
.sourceContainer{
     margin-top: 30px;
}
.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
   
}

.cardDisabled {
    border-radius: 3px;
    height: 200px;
    margin: 35px;
    position: relative;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        cursor: not-allowed;
    }
}

.cardContainer {
    border-radius: 3px;
    height: 180px;
    margin: 35px;
    position: relative;
    min-width: 180px;
    max-width: 180px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        cursor: pointer;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
    &:focus {
        cursor: pointer;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
}

:host-context(#app-root[theme=dark]){
    .cardContainer {
        background-color: $card-color-dark;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 11px 15px -7px rgba(224,224,224, 0.8), 0px 24px 38px 3px rgba(146, 146, 146, 0.74), 0px 9px 46px 8px rgba(75, 75, 75, 0.72);
        }
        &:focus {
            cursor: pointer;
            box-shadow: 0px 11px 15px -7px rgba(224,224,224, 0.8), 0px 24px 38px 3px rgba(146, 146, 146, 0.74), 0px 9px 46px 8px rgba(75, 75, 75, 0.72);
        }
    }
}

.sourceDescription {
    padding: 15px;
    text-align: left;
}

.headerBox{
    width: 100%;
    height: 40px;
    text-align: left;
    color: $heading-text-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 37px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    img {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        float: left;
        padding: 5px;
        border-top-left-radius: 3px;
    }
}

.cardFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div {
        font-size: 14px;
        font-weight: 400;
        color: $heading-text-color;
        margin-left: auto;
        margin-right: auto;
    }
}

.sidebar-container {
    height: 100%; 
    width: 100%;
}