<div class="sourceContainer">
  <div class="selectionContainer" flex-list>
    <div *ngFor="let card of providerCards" class="cardContainer" [class.selected]="selectedProvider && selectedProvider.name === card.name"
      (click)="selectProvider(card)" [hidden]="card.hidden">
      <div class="cardHeader">
        <img [src]="card.icon" [style.background-color]="card.color" alt="{{card.name}}"/> {{card.name}}
      </div>
      <div class="cardDescription">
        {{card.description}}
      </div>
      <div class="cardFooter">
        <div *ngIf="card.authorizedStatus==='authorized'">{{card.authenticatedId}}</div>
        <div *ngIf="card.authorizedStatus==='loadingAuth'">
          <i class="fa fa-refresh fa-spin fa-fw"></i> {{ 'loading' | translate }}</div>
        <div *ngIf="card.authorizedStatus==='notAuthorized'">{{ 'notAuthorized' | translate}}</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <button type="button" *ngIf="selectedProvider?.authorizedStatus === 'notAuthorized'" class="custom-button form-button"
      (click)="authorize()">{{'authorize' | translate}}</button>
    <button type="button" *ngIf="selectedProvider?.authorizedStatus === 'authorized'" class="custom-button form-button"
      (click)="authorize()">{{'changeAuthorization' | translate}}</button>
    <button type="button" *ngIf="(selectedProvider?.authorizedStatus === 'authorized' || selectedProvider?.authorizedStatus === 'none') && !selectedProvider?.manual"
      class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
  <button id="step-complete-show-dashboard-button" type="button" *ngIf="selectedProvider?.manual" class="custom-button form-button"
    (click)="renderDashboard()">{{'dashboard' | translate}}</button>
</div>