<div class="top-bar-container">
    <try-now *ngIf="showTryView && !gettingStarted"></try-now>
    <div *ngIf="visible" class="top-bar"
          [class.top-bar-getting-started]="gettingStarted"
          [class.top-bar-standalone]="isStandalone">

        <div *ngIf="!inIFrame" class="azure-logo" [class.right]="inTab" [class.left]="isStandalone" [class.standalone-logo]="isStandalone">
            <div *ngIf="!isStandalone" class="vertical-align-center logo" [class.tabbed-logo]="inTab">{{ 'azureFunctions' | translate }}</div>
            <div *ngIf="isStandalone" class="vertical-align-center logo-standalone">{{ 'azureFunctionsRuntime' | translate }}</div>
        </div>

        <div *ngIf="!inIFrame" class="left vertical-align-center">
            <div *ngIf="!isStandalone" class=" function-information"><h4>{{ appName }} - {{ fnName }}</h4></div>
        </div>

        <top-bar-standalone-loginuser
            check-scenario="StandAloneUserMenu"
            [cs-input]="{}"
            [user]="user">
        </top-bar-standalone-loginuser>
        
        <div check-scenario="UserMenu" [cs-input]="{}" cs-enabledByDefault="true" class="top-bar-tools right vertical-align-center">
            <span *ngIf="user && currentTenant && !inIFrame && !inTab"
                  class="top-bar-tool clickable"
                  [class.top-bar-tool-selected]="showUserMenu"
                  (click)="showUserMenu = !showUserMenu">

                {{user.given_name}} {{user.family_name}} ({{currentTenant.DisplayName}})
            </span>

            <div *ngIf="showUserMenu" class="top-bar-drop-down left-most top-bar-drop-down-scrollviewer">
                <ul *ngIf="tenants" class="tenants-list">
                    <li *ngFor="let tenant of tenants" (click)="selectTenant(tenant)">
                        <div>{{tenant.DisplayName}}</div>
                        <div>{{tenant.DomainName}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
