<article class="spec-container"
  flex-list
  (onEnterKeyPressed)="selectSpecByEnterKey($event)">

  <div *ngFor="let spec of specs"
    [class]="spec.cssClass"
    (click)="selectSpec(spec)"
    [class.selected]="spec === specGroup.selectedSpec"
    [class.disabled]="spec.state === 'disabled'"
    [hidden]="spec.state === 'hidden'"
    [id]="specGroup.id + spec.skuCode"
    tabindex="0"
    role="radio button"
    [attr.aria-disabled]="spec.state === 'disabled'"
    [attr.aria-checked]="spec === specGroup.selectedSpec"
    [attr.aria-labelledBy]="getAriaLabelledByForSpec(spec)">

    <h5>{{spec.skuCode}}</h5>
    <div class="top-features" [attr.aria-label]="'pricing_availableFeatures' | translate">
      <div *ngIf="spec.state === 'enabled'">
        <div *ngFor="let topFeature of spec.topLevelFeatures">{{topFeature}}</div>
        <div *ngIf="spec.priceString">{{spec.priceString}}</div>
        <div *ngIf="!spec.priceString">{{'loading' | translate}}</div>
      </div>

      <div *ngIf="spec.state === 'disabled'">
        <div class="disabledMessageDiv" title="{{ spec.disabledMessage }}">{{spec.disabledMessage}}</div>
        <div *ngIf="spec.disabledInfoLink"><a [href]="spec.disabledInfoLink" target="_blank">{{'clickToLearnMore' | translate}}</a></div>
      </div>
    </div>
  </div>
</article>