@import '../../../sass/common/variables';

.function-monitor-content{
    padding: 24px 24px;
    width: 100%;
    height: 100%;
}

#essentials-container{
    border-bottom: $border;
    padding: 10px 20px 12px 20px;
}

.essentials-col{
    min-width: 175px;
    display: inline-block;
    font-size: 13px;

    label{
        margin-bottom: 0px;
        font-size: 11px;
        font-weight: normal;
        color: $label-text-color;
    }

    .link{
        &:hover{
            color: $primary-color-hover;
        }
    }

    > div{
        padding: 10px;
    }

    img{
        display: inline-block;
        margin-right: 5px;
        height: 13px;
        width: 13px;
        margin-top: -2px;
    }
}