<div class="top-bar-container">
    <try-now *ngIf="showTryView && !gettingStarted"></try-now>
    <div *ngIf="visible" class="top-bar" [class.top-bar-getting-started]="gettingStarted">

        <div *ngIf="!inIFrame" class="azure-logo" [class.right]="inTab" [class.left]="isStandalone">
            <div *ngIf="!isStandalone" class="vertical-align-center logo" [class.tabbed-logo]="inTab">{{ 'azureFunctions' | translate }}</div>
            <div *ngIf="isStandalone" class="vertical-align-center logo-standalone">{{ 'azureFunctionsRuntime' | translate }}</div>
        </div>

        <div *ngIf="!inIFrame" class="left vertical-align-center">
            <div *ngIf="!isStandalone" class=" function-information"><h4>{{ appName }} - {{ fnName }}</h4></div>
        </div>

        <div class="left vertical-align-center" [class.info-azure]="!isStandalone" [class.info-standalone]="isStandalone" [class.info-no-iframe]="!inIFrame">
            <span *ngFor="let notification of topBarNotifications; let isFirst = first"
                  [class.top-bar-notification-extra]="!isFirst">

                <span class="top-bar-notification" [class.top-bar-notification-clickable]="!!notification.clickCallback" (click)="notificationClick(notification)">
                    <i [class]="notification.iconClass"></i>
                    {{notification.message}}
                </span>
                <a  *ngIf="notification.learnMoreLink!==''" class="top-bar-notification-learn" target="_blank" [href]="notification.learnMoreLink">Learn more</a>
            </span>
        </div>

        <div class="top-bar-tools right vertical-align-center">
            <span *ngIf="user && currentTenant && !inIFrame && !inTab"
                  class="top-bar-tool clickable"
                  [class.top-bar-tool-selected]="showUserMenu"
                  (click)="showUserMenu = !showUserMenu">

                {{user.given_name}} {{user.family_name}} ({{currentTenant.DisplayName}})
            </span>

            <div *ngIf="showUserMenu" class="top-bar-drop-down left-most top-bar-drop-down-scrollviewer">
                <ul *ngIf="tenants" class="tenants-list">
                    <li *ngFor="let tenant of tenants" (click)="selectTenant(tenant)">
                        <div>{{tenant.DisplayName}}</div>
                        <div>{{tenant.DomainName}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
