@import '../../sass/main';

/* top-bar styles */
.logo {
    color: #419BF3;
    font-size: larger;
    margin-left: 15px;
}

// .top-bar-container {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     padding: 0;
//     margin: 0;
//     z-index: 10;
// }

.top-bar {
    background-color: #E6E7E8;
    color: $primary-color;
    height: 40px;
    // z-index: 100;
}

.top-bar-notification{
    >i{
        margin-right: 5px;
    }
}

.top-bar-notification-clickable{
    cursor: pointer;
    border-left: 1px hidden;
    
    // padding: 5px;

    &:hover{
        background-color: $body-bg-color;
        border: 1px $primary-color solid;
    }
}

.top-bar-notification-extra{
    border-left: 1px darken($border-color, 10%) solid;
    margin-left: 5px;
    padding-left: 10px;
}

.top-bar-notification-learn{
    margin-left: 5px;
}

.top-bar-getting-started{
    background-color: #FFF;
    color: #000
}

.top-bar .left {
    float: left;
}

.top-bar .right {
    float: right;
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.top-bar .azure-logo {
    padding-left: 10px;
    height: 100%;
}

.top-bar .top-bar-tool {
    padding: 7px 10px;
    /*border-left: 1px solid rgba(128,128,128,.4);*/
}

.top-bar-tools span{
    margin-left: -5px;
}

.top-bar-tools span:last-of-type{
    margin-left: 2px;
}

.top-bar-info {
    color: black;
    margin-left: 120px;
}

.top-bar svg{
    fill: #2E80AB;
}

/*.settings{
    color: #FFFFFF;
}

.settings:hover{
    background-color: #19507B;
}

.settings:last-child {
    margin-right: 10px;
}*/

/* http://stackoverflow.com/a/6900392/3234163 */
.top-bar-tool {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.top-bar-tool-selected {
    background-color: white !important;
    color: black !important;
    /*padding-bottom: 8px !important;*/
    /*padding-top: 8px !important;*/
}

.top-bar-settings-selected{
    background-color: #FFFFFF;
    color: black;
}

.top-bar-tool:hover {
    background-color: $body-bg-color;
    color: black;
}

.top-bar-drop-down {
    width: 220px;
    background-color: $body-bg-color;
    color: black;
    border-color: #b3b3b3;
    box-shadow: 0 10px 20px -5px rgba(58,58,58,.25)
}

.left-most {
    right: 0px;
    top: 27px;
    position: absolute;
}

.top-bar-drop-down-scrollviewer {
    max-height: 505px;
    overflow: auto;
}

.tenants-list {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.tenants-list > li {
    padding: 12px 12px 12px 20px;
    cursor: pointer;
    font-size: 12px;
}

.tenants-list > li:hover {
    background-color: darken($chrome-color, 10%);
}

.tenants-list > li > div {
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning {
    color: $warning-color;
}