<div class="top-bar-container">
    <try-now *ngIf="_globalStateService?.showTryView && !gettingStarted"></try-now>
    <div *ngIf="visible" class="top-bar" [class.top-bar-getting-started]="gettingStarted">
         <!--*ngIf="(needUpdateExtensionVersion || (user && currentTenant && !inIFrame) || !_globalStateService.isAlwaysOn)">-->
        <div class="azure-logo left">
            <div class="vertical-align-center logo">{{ 'azureFunctions' | translate }}</div>
        </div>
        <div class="top-bar-info left vertical-align-center">
            <span *ngFor="let notification of topBarNotifications; let isFirst = first"
                  [class.top-bar-notification-extra]="!isFirst">

                <span class="top-bar-notification" [class.top-bar-notification-clickable]="!!notification.clickCallback" (click)="notificationClick(notification)">
                    <i [class]="notification.iconClass"></i>
                    {{notification.message}}
                </span>
                <a class="top-bar-notification-learn" target="_blank" [href]="notification.learnMoreLink">Learn more</a>
            </span>
        </div>

        <div class="top-bar-tools right vertical-align-center">
            <span *ngIf="user && currentTenant && !inIFrame"
                  class="top-bar-tool clickable"
                  [class.top-bar-tool-selected]="showUserMenu"
                  (click)="showUserMenu = !showUserMenu">

                {{user.given_name}} {{user.family_name}} ({{currentTenant.DisplayName}})
            </span>

            <div *ngIf="showUserMenu" class="top-bar-drop-down left-most top-bar-drop-down-scrollviewer">
                <ul *ngIf="tenants" class="tenants-list">
                    <li *ngFor="let tenant of tenants" (click)="selectTenant(tenant)">
                        <div>{{tenant.DisplayName}}</div>
                        <div>{{tenant.DomainName}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
