@import '../../sass/common/variables';
@import '../../sass/base/typography';

.slot-form {
  min-width: 740px;
}

.newSlot-container {
  padding: 10px 20px;
}

h4 {
  margin: 5px 0 10px 0;
}

.slot-form label {
  margin-top: 5px;
  padding-right: 5px;
}

.name-textbox {
  width: 250px;
  display: block;
}

button {
  margin-left: 0px !important; // overriding the common button css
  margin-top: 15px;
}

h1 {
  display: inline-block;
}

.setting-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 8px 0px;
  width: 100%;
}

.title-label {
  font-weight: bold;
}

.alert {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.alert-error {
  background-color: $error-box-color;
}

.alert-icon {
  width: 30px;
}

.alert-message {
  padding-left: 5px;
}
