<div class="newSlot-container">
  <h1>{{ 'slotNew_heading' | translate }}</h1>
  <h4>{{ 'slotNew_desc' | translate}}</h4>

  <div *ngIf="!!loadingFailureMessage" class="alert alert-error alert-dismissible" role="alert">
    <img class="alert-icon" src="image/error.svg" alt="{{ 'error' | translate}}"/>
    <div class="alert-message">
      <span>{{ loadingFailureMessage }}</span>
    </div>
  </div>

  <ng-container *ngIf="!loadingFailureMessage">
    <ng-container *ngIf="!isLoading && !featureSupported">

      <div class="alert alert-warning alert-dismissible" role="alert">
        <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
        <div class="alert-message">
          <span>{{ featureNotSupportedMessage }}</span>
        </div>
      </div>
      <button *ngIf="canScaleUp" (click)="scaleUp()" class="custom-button">
        {{ 'upgrade' | translate }}
      </button>

    </ng-container>

    <div *ngIf="!isLoading && featureSupported && !hasCreatePermissions" class="alert alert-warning alert-dismissible" role="alert">
      {{ 'slotNew_noAccess' | translate }}
    </div>

    <ng-container *ngIf="featureSupported && hasCreatePermissions">

      <ng-container *ngIf="slotsQuotaMessage">

        <div class="alert alert-warning alert-dismissible" role="alert">
          <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
          <div class="alert-message">
            <span>{{ slotsQuotaMessage }}</span>
          </div>
        </div>
        <button *ngIf="canScaleUp" (click)="scaleUp()" class="custom-button">
          {{ 'upgrade' | translate }}
        </button>

      </ng-container>

      <div class="slot-form" *ngIf="!slotsQuotaMessage">

        <div *ngIf="!slotOptInEnabled" class="setting-wrapper">
          <div class="alert alert-warning">
            <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
            <div class="alert-message">
              <span>{{ 'slots_warningDisabled' | translate }}</span><br>
              <span>{{ 'appFunctionSettings_warning_3' | translate }}</span>
            </div>
          </div>
          <div>
            <label>
              <input [formControl]="newSlotForm.controls['optIn']" type="checkbox">
              {{ 'appFunctionSettings_slotsEnable' | translate }}
            </label>
          </div>
        </div>

        <ng-container *ngIf="slotOptInEnabled || newSlotForm.controls['optIn'].value">
          <div>
            <label> {{ 'slotNew_nameLabel' | translate}} </label>
            <pop-over [message]="'slotNew_nameLabel_balloonText' | translate">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
            </pop-over>
          </div>
          <textbox class="name-textbox" [placeholder]="Resources.enterName | translate" [control]="newSlotForm.controls['name']"></textbox>
          <button class="custom-button" disabled="isLoading || !newSlotForm.valid || !newSlotForm.controls['name'].dirty"
            [disabled]="isLoading || newSlotForm.invalid || newSlotForm.controls['name'].pristine" (click)="createSlot()">{{ 'create' | translate }}</button>
        </ng-container>

      </div>

    </ng-container>
  </ng-container>
</div>