@import '../../sass/common/variables';

.slot-form {
    width: 740px;
}

.newSlot-container{
    padding: 10px 20px;
}

h4{
    margin: 5px 0 10px 0;    
}

.slot-form label{
    margin-top: 15px;
    padding-right: 5px;
}

.name-textbox{
    width: 250px;
    display: block;
}

button{
    margin-left: 0px !important; // overriding the common button css
    margin-top: 15px;
}

h1{
    display: inline-block;
}
