<busy-state name="try-functions"></busy-state>
<top-bar gettingStarted="true" isTry="true"></top-bar>
<div class="trylanding-container">
    <div [ngClass]="busyState?.busy? 'trylanding-body-disabled' : 'trylanding-body'">
        <h2>{{ 'intro_getStarted' | translate }}</h2>
        <h3>{{ 'intro_chooseScenario' | translate }}</h3>
        <div>
            <div class="trylanding-template"
                 (click)="onFunctionClicked('HttpTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'HttpTrigger'">

                <div><img src="images/webhook-api-template.svg" /></div>
                <div>{{ 'intro_webHook' | translate }}</div>
            </div>
            <div class="trylanding-template"
                 (click)="onFunctionClicked('TimerTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'TimerTrigger'">

                <div><img src="images/timer-template.svg" /></div>
                <div>{{ 'intro_timer' | translate }}</div>
            </div>
            <div class="trylanding-template"
                 (click)="onFunctionClicked('QueueTrigger')"
                 [class.trylanding-template-selected]="selectedFunction === 'QueueTrigger'">

                <div><img src="images/data-process-template.svg" /></div>
                <div>{{ 'intro_dataProcessing' | translate}}</div>
            </div>
        </div>
        <h3>{{ 'intro_chooseLanguage' | translate }}</h3>
        <div class="trylanding-lang-container">
            <div class="trylanding-template-lang"
                 (click)="onLanguageClicked('CSharp')"
                 [class.trylanding-template-lang-selected]="selectedLanguage === 'CSharp'">
                <div>C#</div>
            </div>
            <div class="trylanding-template-lang"
                 (click)="onLanguageClicked('JavaScript')"
                 [class.trylanding-template-lang-selected]="selectedLanguage === 'JavaScript'">
                <div>JavaScript</div>
            </div>
        </div>
        <div>
            <button class="custom-button"
                    (click)="handleLoginClick('')">
                {{ 'intro_createThisFunction' | translate }}
            </button>
            <div *ngIf="loginOptions" [class.login-box-ru]="currentCulture == 'ru'" [class.login-box]="currentCulture != 'ru'">
                <div style="display: block; margin-left: 10px">
                    <div class="wa-heading5">{{ 'tryLanding_chooseAnAuthProvider' | translate }}</div>
                    <a (click)="handleLoginClick('github')" class="btn btn-block btn-social btn-github">
                        <span class="fa fa-github"></span>
                        Sign in with GitHub
                    </a>
                    <a (click)="handleLoginClick('aad')" class="btn btn-block btn-social btn-microsoft">
                        <span class="fa fa-windows"></span>
                        Sign in with Microsoft
                    </a>
                    <a (click)="handleLoginClick('facebook')" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>
                        Sign in with Facebook
                    </a>
                    <a (click)="handleLoginClick('google')" class="btn btn-block btn-social btn-google">
                        <span class="fa fa-google"></span>
                        Sign in with Google
                    </a>
                    <div *ngIf="currentCulture == 'ru'" class="login-option">
                        <a (click)="handleLoginClick('vk')" class="btn btn-block btn-social btn-vk">
                            <span class="fa fa-vk"></span>
                            Sign in with VK
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>