<div *ngIf="!group" class="settings-group-wrapper">
  <h3 class="text-level2-heading first-config-heading">{{ 'feature_generalSettingsName' | translate }}</h3>
  <p>Error Loading Settings</p>
</div>
<div *ngIf="!!group" class="settings-group-wrapper">
  <h3 class="text-level2-heading first-config-heading">{{ 'feature_generalSettingsName' | translate }}</h3>
  <div class="setting-wrapper">
    <p 
      [class.pristine]="group.controls['netFrameWorkVersion'].pristine"
      [class.dirty]="group.controls['netFrameWorkVersion'].dirty">
      {{ group.controls['netFrameWorkVersion'].friendlyName }}
    </p>
    <drop-down
      [group]="group.controls['netFrameWorkVersion']"
      name="value"
      [options]="group.controls['netFrameWorkVersion'].options">
    </drop-down>
  </div>

  <div class="setting-wrapper">
    <p 
      [class.pristine]="group.controls['phpVersion'].pristine"
      [class.dirty]="group.controls['phpVersion'].dirty">
      {{ group.controls['phpVersion'].friendlyName }}
    </p>
    <drop-down
      [group]="group.controls['phpVersion']"
      name="value"
      [options]="group.controls['phpVersion'].options">
    </drop-down>
  </div>

  <div class="setting-wrapper">
    <p 
      [class.pristine]="group.controls['javaVersion'].pristine"
      [class.dirty]="group.controls['javaVersion'].dirty">
      {{ group.controls['javaVersion'].friendlyName }}
    </p>
    <drop-down
      [group]="group.controls['javaVersion']"
      name="value"
      [options]="group.controls['javaVersion'].options">
    </drop-down>
  </div>

  <div class="setting-wrapper">
    <p 
      [class.pristine]="group.controls['pythonVersion'].pristine"
      [class.dirty]="group.controls['pythonVersion'].dirty">
      {{ group.controls['pythonVersion'].friendlyName }}
    </p>
    <drop-down
      [group]="group.controls['pythonVersion']"
      name="value"
      [options]="group.controls['pythonVersion'].options">
    </drop-down>
  </div>
  <p>{{mainForm.timeStamp}}</p>
  <p>{{this.group.parent.timeStamp}}</p>
  <p>busyStateKeys: {{_busyState.name}}</p>
  <p>busyStateKeys: {{_busyState.busyStateKeys}}</p>
</div>