<div class="settings-group-wrapper">

  <h3 class="first-config-heading">{{ 'feature_generalSettingsName' | translate }}</h3>
  <info-box
    *ngIf="!hasWritePermissions && showPermissionsMessage"
    typeClass="warning"
    [infoText]="permissionsMessage">
  </info-box>
  <info-box
    *ngIf="!group && !!loadingFailureMessage"
    typeClass="error"
    [infoText]="loadingFailureMessage">
  </info-box>

  <div class="settings-wrapper">

    <div *ngIf="netFrameworkSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'netFrameWorkVersionLabel' | translate }}
        <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['netFrameworkVersion'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['netFrameworkVersion'] : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div *ngIf="phpSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'phpVersionLabel' | translate }}
        <pop-over [message]="('phpVersionLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['phpVersion'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['phpVersion'] : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div *ngIf="pythonSupported" class="setting-wrapper">
      <info-box
        [infoText]="('pythonInfoText' | translate)"
        [infoLink]="FwLinks.pythonLearnMore">
      </info-box>
      <label class="setting-label">{{ 'pythonVersionLabel' | translate }}
        <pop-over [message]="('pythonVersionLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['pythonVersion'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['pythonVersion'] : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div *ngIf="javaSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'javaVersionLabel' | translate }}
        <pop-over [message]="('javaVersionLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['javaVersion'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['javaVersion'] : []"
          [highlightDirty]="true"
          (value)="updateJavaOptions($event)">
        </drop-down>
      </div>
    </div>

    <div *ngIf="javaSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'javaMinorVersionLabel' | translate }}
        <pop-over [message]="('javaMinorVersionLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['javaMinorVersion'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['javaMinorVersion'] : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div *ngIf="javaSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'javaWebContainerLabel' | translate }}
        <pop-over [message]="('javaWebContainerLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <drop-down
          [control]="!!group ? group.controls['javaWebContainer'] : null"
          [options]="!!versionOptionsMap ? versionOptionsMap['javaWebContainer'] : []"
          [highlightDirty]="true">
        </drop-down>
      </div>
    </div>

    <div *ngIf="platform64BitSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'use32BitWorkerProcessLabel' | translate }}
        <pop-over [message]="('use32BitWorkerProcessLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <radio-selector
          [control]="!!group ? group.controls['use32BitWorkerProcess'] : null"
          [options]="use32BitWorkerProcessOptions"
          [highlightDirty]="true"
          check-scenario="EnablePlatform64"
          [cs-input]="{site: siteArm}">
        </radio-selector>

        <span check-scenario="EnablePlatform64" [cs-input]="{site: siteArm}" cs-enabledClass="hidden" cs-disabledClass="">
          <a tabindex="0" (click)="scaleUp()">{{'upgradeToEnable' | translate}}</a>
          <pop-over [message]="'use32BitWorkerProcessUpsell' | translate">
            <span load-image="image/upsell.svg" class="icon-small"></span>
          </pop-over>
        </span>
      </div>
    </div>

    <div *ngIf="webSocketsSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'webSocketsEnabledLabel' | translate }}
        <pop-over [message]="('webSocketsEnabledLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <radio-selector
          [control]="!!group ? group.controls['webSocketsEnabled'] : null"
          [options]="webSocketsEnabledOptions"
          [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>

    <div *ngIf="alwaysOnSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'alwaysOnLabel' | translate }}
        <pop-over [message]="('alwaysOnLabelHelp' | translate)" position="right">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
        </pop-over>
      </label>
      <div class="setting-control-container">
        <radio-selector
          [control]="!!group ? group.controls['alwaysOn'] : null"
          [options]="alwaysOnOptions"
          [highlightDirty]="true"
          check-scenario="EnableAlwaysOn"
          [cs-input]="{site: siteArm}">
        </radio-selector>

        <span check-scenario="EnableAlwaysOn" [cs-input]="{site: siteArm}" cs-enabledClass="hidden" cs-disabledClass="">
          <a tabindex="0" (click)="scaleUp()">{{'upgradeToEnable' | translate}}</a>
          <pop-over [message]="'alwaysOnUpsell' | translate">
            <span load-image="image/upsell.svg" class="icon-small"></span>
          </pop-over>
        </span>
      </div>
    </div>

    <div *ngIf="classicPipelineModeSupported" class="setting-wrapper">
      <label class="setting-label">{{ 'managedPipelineModeLabel' | translate }}</label>
      <div class="setting-control-container">
        <radio-selector
          [control]="!!group ? group.controls['managedPipelineMode'] : null"
          [options]="managedPipelineModeOptions"
          [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>

    <div *ngIf="clientAffinitySupported" class="setting-wrapper" [class.last]="!autoSwapSupported">
      <info-box
        [infoText]="('clientAffinityInfoText' | translate)"
        [infoLink]="FwLinks.clientAffinityLearnMore">
      </info-box>
      <label class="setting-label">{{ 'clientAffinityEnabledLabel' | translate }}</label>
      <div class="setting-control-container">
        <radio-selector
          [control]="!!group ? group.controls['clientAffinityEnabled'] : null"
          [options]="clientAffinityEnabledOptions"
          [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>

    <ng-container *ngIf="autoSwapSupported">
      <div class="setting-wrapper" check-scenario="EnableAutoSwap" [cs-input]="{site: siteArm}" cs-enabledClass="" cs-disabledClass="last">
        <info-box
          *ngIf="isProductionSlot"
          [infoText]="('autoSwapNotSupportedFromProd' | translate)"
          check-scenario="EnableAutoSwap"
          [cs-input]="{site: siteArm}">
        </info-box>
        <label class="setting-label">{{ 'autoSwapEnabledLabel' | translate }}</label>
        <div class="setting-control-container">
          <radio-selector
            [control]="!!group ? group.controls['autoSwapEnabled'] : null"
            [options]="autoSwapEnabledOptions"
            [highlightDirty]="true"
            (value)="updateAutoSwapSlotNameOptions($event)"
            check-scenario="EnableAutoSwap"
            [cs-input]="{site: siteArm}">
          </radio-selector>

          <span check-scenario="EnableAutoSwap" [cs-input]="{site: siteArm}" cs-enabledClass="hidden" cs-disabledClass="">
            <a tabindex="0" (click)="scaleUp()">{{'upgradeToEnable' | translate}}</a>
            <pop-over [message]="'autoSwapUpsell' | translate">
              <span load-image="image/upsell.svg" class="icon-small"></span>
            </pop-over>
          </span>
        </div>
      </div>
      
      <div class="setting-wrapper last" check-scenario="EnableAutoSwap" [cs-input]="{site: siteArm}">
        <label class="setting-label">{{ 'autoSwapSlotNameLabel' | translate }}</label>
        <div class="setting-control-container">
          <drop-down
            [control]="!!group ? group.controls['autoSwapSlotName'] : null"
            [options]="autoSwapSlotNameOptions || []"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>
    </ng-container>

  </div>
  
  <ng-container *ngIf="remoteDebuggingSupported">
    <h3>{{ 'feature_debuggingSettingsName' | translate }}</h3>
    <info-box
      *ngIf="!hasWritePermissions && showPermissionsMessage"
      typeClass="warning"
      [infoText]="permissionsMessage">
    </info-box>
    <info-box
      *ngIf="!group && !!loadingFailureMessage"
      typeClass="error"
      [infoText]="loadingFailureMessage">
    </info-box>

    <div class="settings-wrapper">

      <div class="setting-wrapper">
        <label class="setting-label">{{ 'remoteDebuggingEnabledLabel' | translate }}</label>
        <div class="setting-control-container">
          <radio-selector
            [control]="!!group ? group.controls['remoteDebuggingEnabled'] : null"
            [options]="remoteDebuggingEnabledOptions"
            [highlightDirty]="true"
            (value)="updateRemoteDebuggingVersionOptions($event)">
          </radio-selector>
        </div>
      </div>

      <div class="setting-wrapper last">
        <label class="setting-label">{{ 'remoteDebuggingVersionLabel' | translate }}</label>
        <div class="setting-control-container">
          <radio-selector
            [control]="!!group ? group.controls['remoteDebuggingVersion'] : null"
            [options]="remoteDebuggingVersionOptions"
            [highlightDirty]="true">
          </radio-selector>
        </div>
      </div>
      
    </div>
  </ng-container>

  <ng-container *ngIf="linuxRuntimeSupported">
    <h3>{{ 'feature_linuxRuntimeName' | translate }}</h3>
    <info-box
      *ngIf="!hasWritePermissions && showPermissionsMessage"
      typeClass="warning"
      [infoText]="permissionsMessage">
    </info-box>
    <info-box
      *ngIf="!group && !!loadingFailureMessage"
      typeClass="error"
      [infoText]="loadingFailureMessage">
    </info-box>

    <div class="settings-wrapper">

      <div class="setting-wrapper">
        <label class="setting-label">{{ 'linuxFxVersionLabel' | translate }}
          <pop-over [message]="('linuxFxVersionLabelHelp' | translate)" position="right">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </label>
        <div class="setting-control-container">
          <drop-down
            [control]="!!group ? group.controls['linuxFxVersion'] : null"
            [options]="linuxFxVersionOptions"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>

      <div class="setting-wrapper last">
        <label class="setting-label">{{ 'appCommandLineLabel' | translate }}
          <pop-over [message]="('appCommandLineLabelHelp' | translate)" position="right">
              <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </label>
        <div class="setting-control-container">
          <textbox
            [control]="!!group ? group.controls['appCommandLine'] : null"
            [highlightDirty]="true">
          </textbox>
        </div>
      </div>

    </div>
  </ng-container>
</div>