.command-bar-wrapper{
    border-bottom: $border;
    padding-left: 12px;

    .icon-small{
        margin-right: 3px;
        vertical-align: top;
    }

    .disabled-command{
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
        cursor: text;
    }

    .command{
        padding: 12px;
        display: inline-block;
        
        &:hover{
            background-color: $command-color-hover;
        }

        &.left-edge{
            border-left: $border;
        }
    }
}