.custom-list-container{
    padding: 0px 25px;
    background-color: $body-bg-color;

    h3{
        display: inline-block;
        margin-right: 10px;
    }

    img{
        vertical-align: middle;
        margin-bottom: 12px;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
}

.custom-table{
    border-collapse: inherit;

    tr{
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &:hover{
            background-color: lighten($border-color, 5%);
        }

        &.header-row:hover{
            background-color: $body-bg-color;

        }
    }

    th{
        @extend .text-list-col-heading;
        min-width: 200px;
        cursor: text;

        &.sortable{
            cursor: pointer;
        }
    }

    th, td{
        padding: 7px 5px;
        border-bottom: $border;
    }
}