.tbl{
    border-collapse: inherit;

    tr{
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &:hover{
            background-color: lighten($border-color, 5%);
        }

        &.header-row:hover{
            background-color: $body-bg-color;

        }
    }

    th{
        @extend .text-list-col-heading;
        min-width: 200px;
        cursor: text;
        text-transform: uppercase;
    }

    th, td{
        padding: 7px 5px;
        border-bottom: $border;
    }

    .sortable{
        cursor: pointer;
    }
}