// .error{
//     border-color: red;
// }

.tbl{
    border-collapse: inherit;

    tr{
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &:hover{
            background-color: lighten($border-color, 5%);
        }

        &.header-row:hover{
            background-color: $body-bg-color;

        }
    }

    th{
        @extend .text-list-col-heading;
        min-width: 200px;
        cursor: text;
        text-transform: uppercase;
    }

    th, td{
        padding: 7px 5px;
        border-bottom: $border;
    }

    td{
        &.dirty{
            border-left: 3px solid $alt1-color;
        }

        &.pristine{
            border-left: 3px solid $body-bg-color;
        }
    }

    .sortable{
        cursor: pointer;
    }

    &.fixed{
        table-layout: fixed;
    }

    &.stretch{
        width: 100%;
    }

    .drop-down-selected-value{
        height: 22px;
    }

    .drop-down-selected-arrow{
        top: -2px;
    }
}