<div
    *ngIf="_options"
    class="drop-down-container"
    [class.dirty]="highlightDirty && control?.dirty"
    [class.disabled]="control ? control.disabled : disabled"
    [class.focused]="hasFocus"
    [ngClass]="!!size ? size : 'medium'">

    <select
        *ngIf="!control"
        [attr.aria-label]="ariaLabel"
        [attr.aria-describedby]="ariaErrorId"
        (change)="onSelect($event.target.value)"
        (focus)="hasFocus=true"
        (blur)="hasFocus=false"
        class="drop-down-select"
        [disabled]="disabled">

        <option *ngIf="!selectedElement" selected disabled hidden style='display: none' value=''></option>

        <optgroup
            *ngFor="let group of (optionsGrouped ? _options : [])"
            [label]="group.displayLabel">
            <option
                *ngFor="let option of group.dropDownElements"
                [value]="option.id"
                [selected]="selectedElement === option">
                {{option.displayLabel}}
            </option>
        </optgroup>

        <option
            *ngFor="let option of (!optionsGrouped ? _options : [])"
            [value]="option.id"
            [selected]="selectedElement === option">
            {{option.displayLabel}}
        </option>

    </select>

    <!-- The select element is slightly different for forms controls, mainly because
         the formControl will map the selected options value to the control value.  If we used the 
         same select element above which maps to "options.id", it would set the form
         value to an integer id once you select an element, instead of using the option value -->
    <select
        *ngIf="control"
        [attr.aria-label]="ariaLabel"
        [attr.aria-describedby]="ariaErrorId"
        (change)="onSelectValue($event.target.value)"
        (focus)="hasFocus=true"
        (blur)="hasFocus=false"
        class="drop-down-select"
        [formControl]="control"
        #selectInput>

        <option *ngIf="!selectedElement" selected disabled hidden style='display: none' value=''></option>

        <optgroup
            *ngFor="let group of (optionsGrouped ? _options : [])"
            [label]="group.displayLabel">
            <option
                *ngFor="let option of group.dropDownElements"
                [value]="option.value"
                [selected]="selectedElement === option">
                {{option.displayLabel}}
            </option>
        </optgroup>

        <option
            *ngFor="let option of (!optionsGrouped ? _options : [])"
            [value]="option.value"
            [selected]="selectedElement === option">
            {{option.displayLabel}}
        </option>

    </select>

    <span *ngIf="!selectedElement" class="drop-down-selected-value">{{placeholder}}</span>
    <span *ngIf="selectedElement" class="drop-down-selected-value">{{selectedElement.displayLabel}}</span>
    <span class="drop-down-selected-arrow"></span>
</div>