<config-table-wrapper
  [name]="(Resources.feature_virtualDirectoriesName | translate)"
  [groupArray]="groupArray"
  [hasWritePermissions]="hasWritePermissions"
  [showPermissionsMessage]="showPermissionsMessage"
  [permissionsMessage]="permissionsMessage"
  [loadingFailureMessage]="loadingFailureMessage"
  [loadingMessage]="loadingMessage"
  [emptyTableMessage]="(Resources.emptyVirtualDirectories | translate)"
  [addItemLabel]="(Resources.addNewVirtualDirectory | translate)"
  [getNewItem]="getNewItem">

  <ng-template
    let-group="group"
    table-cell-template
    className="one-half-col padded-col"
    [showDirtyState]="true"
    [editable]="true">

    <click-to-edit [group]="group" name="virtualPath">
      <textbox [control]="group.controls['virtualPath']" [placeholder]="Resources.enterVirtualPath | translate"></textbox>
    </click-to-edit>

  </ng-template>

  <ng-template
    let-group="group"
    table-cell-template
    className="one-half-col padded-col"
    [editable]="true">

    <click-to-edit [group]="group" name="physicalPath">
      <textbox [control]="group.controls['physicalPath']" [placeholder]="Resources.enterPhysicalPath | translate"></textbox>
    </click-to-edit>

  </ng-template>

  <ng-template
    let-group="group"
    table-cell-template
    className="is-app-col padded-col">

    <click-to-edit [group]="group" name="isApplication" alwaysShow="true">
      <label>
        <input [formControl]="group.controls['isApplication']" type="checkbox">
        {{ 'isApplication' | translate }}
      </label>
    </click-to-edit>

  </ng-template>

</config-table-wrapper>