<div #toggleContainer
    class="toggle-container">
    <button
        [id]="id + '-toggle'"
        class="toggle"
        [class.on]="on"
        [attr.role]="role"
        [attr.aria-label]="ariaLabel"
        [attr.aria-checked]="ariaChecked"
        [attr.aria-pressed]="ariaPressed"
        [attr.aria-disabled]="disabled"
        [disabled]="disabled"
        (click)="onClick($event)">
        <span class="toggle-thumb"></span>
    </button>
    <label
        [for]="id + '-toggle'"
        class="state-label">
        {{ displayLabel }}
    </label>
</div>