<section class="example">
    <h2>Simple Sortable Table Example</h2>
    <div class="header">
        <tbl [items]="itemsToRender" #table="tbl" name="Simple table">
            <tr>
                <th><tbl-th name="name">Sortable header</tbl-th></th>
                <th>Non-sortable header</th>
            </tr>
            
            <tr *ngFor="let item of table.items">
                <td>{{item.name}}</td>
                <td>{{item.value}}</td>
            </tr>
        </tbl>
    </div>
    <figure>
            <label>HTML</label>
            <pre class="language-html">
                <code [innerHTML]="htmlCode" ></code>
            </pre>
            <label>TypeScript</label>
            <pre class="language-typescript">
              <code [innerHTML]="typescriptCode" ></code>
          </pre>
    </figure>
</section>