<div class="summary-wrapper">

  <h3 id="step-complete-summary-heading" class="first-config-heading">{{'summary' | translate}}</h3>
  <!-- <pre>{{wizard?.wizardValues|json}}</pre> -->
  <div *ngFor="let group of SummaryGroups" class="summary-group">
    <h3 class="heading">Source Control Configuration</h3>
    <ng-container *ngFor="let item of group">
      <div class="label">{{item.label}}</div>
      <div class="value">{{item.value}}</div>
    </ng-container>
  </div>
</div>
<div class="footer">
  <button id="step-complete-back-button" type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button id="step-complete-finish-button" type="button" class="custom-button form-button" (click)="Save()">{{'finish' | translate}}</button>
</div>