@import '../../../../../sass/common/variables';
:host {
    width: 100%;
    height: 100%;
}

.summary-wrapper {
    padding: 25px;
}

.summary-group {
    padding: 10px;
    .heading {
        font-size: 11px;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(0, 88, 173);
    }
    .summary-label {
        float: left;
        width: 10%;
        height: 20px;
    }
    
    .summary-value {
        float: left;
        width: 90%;
        height: 20px;
    }
}