<div class="summary-wrapper">
  <div *ngFor="let group of SummaryGroups" class="summary-group">
    <h3 class="heading">{{group.label}}</h3>
    <div *ngFor="let item of group.items">  
      <span class="summary-label">{{item.label}}</span>
      <span class="summary-value">{{item.value}}</span>
    </div>
  </div>
</div>
<div *ngIf="wizard.wizardValues.sourceProvider === 'github' && wizard.wizardValues.buildProvider === 'github'" class="summary-wrapper">
  <div class="summary-group">
    <h3 class="heading">{{ 'githubActionWorkflowConfiguration' | translate }}</h3>
    <info-box *ngIf="ExistingGitHubActionConfigurationMessage" typeClass="info" [infoText]="ExistingGitHubActionConfigurationMessage"></info-box>
    <pre *ngIf="GithubActionsWorkflowConfig">{{GithubActionsWorkflowConfig}}</pre>
    <br/><br/>
  </div>
</div>
<div class="footer">
  <button id="step-complete-back-button" type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button id="step-complete-finish-button" type="button" class="custom-button form-button" (click)="Save()">{{'finish' | translate}}</button>
</div>