<div class="settings-group-wrapper" [formGroup]="wizard?.testEnvironmentSettings" novalidate>

  <h3 class="first-config-heading">{{'loadTesting' | translate}}</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <label class="setting-label">{{'enableLoadTesting' | translate}}
      </label>
      <div class="setting-control-container">
        <radio-selector [ariaLabel]="'enableLoadTesting' | translate" [control]="wizard?.testEnvironmentSettings?.controls?.enabled" [options]="testEnvironmentOptions" [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>
    <div *ngIf="wizard?.wizardValues?.testEnvironment?.enabled">

      <div class="setting-wrapper" *ngIf="wizard.canCreateNewSite">
        <label class="setting-label">{{'webApp' | translate}}</label>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [ariaLabel]="'newOrExistingWebApp' | translate" [control]="wizard?.testEnvironmentSettings?.controls?.newApp" [options]="newAppServicePlanOptions" [highlightDirty]="true"
              (value)="exitingNewChanged($event)">
            </radio-selector>
          </div>
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp === false">
        <label id="dc-step-test-asp" class="setting-label">{{'appServicePlan' | translate}}</label>
        <div class="setting-control-container">
          <ng-select aria-labeledby="dc-step-test-asp" class="custom-select" [loading]="appServicePlansLoading" [clearable]="false" [items]="appServicePlanList" bindLabel="displayLabel"
            bindValue="value"  [(ngModel)]="selectedAppServicePlan" formControlName="appServicePlanId"
            (change)="aspChanged($event)">
          </ng-select>
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp === false">
        <label id="dc-step-test-app-name" class="setting-label">{{'appName' | translate}}</label>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <ng-select aria-labelledby="dc-step-test-app-name" class="custom-select" [loading]="appsLoading" [clearable]="false" [items]="appsList" bindLabel="displayLabel"
              bindValue="value" [(ngModel)]="selectedWebApp" formControlName="webAppId">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <label class="setting-label">{{'appName' | translate}}</label>
        <div class="setting-control-container">
          {{newAppName}}
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <label class="setting-label">{{'resourceGroup' | translate}}</label>
        <div class="setting-control-container">
          {{resourceGroup}}
        </div>
      </div>


      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <label class="setting-label">{{'appServicePlan' | translate}}</label>
        <div class="setting-control-container">
          {{appServicePlanName}}
        </div>
      </div>


      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <label class="setting-label">{{'pricingTier' | translate}}</label>
        <div class="setting-control-container">
          {{pricingTier}}
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <label class="setting-label">{{'location' | translate}}</label>
        <div class="setting-control-container">
          {{location}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button type="button" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>