<div class="settings-group-wrapper" [formGroup]="wizard?.testEnvironmentSettings" novalidate>

  <h3 class="first-config-heading">Load Testing</h3>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">Enable Load Test
      </div>
      <div class="setting-control-container">
        <radio-selector [control]="wizard?.testEnvironmentSettings?.controls?.enabled" [options]="testEnvironmentOptions" [highlightDirty]="true">
        </radio-selector>
      </div>
    </div>
    <div *ngIf="wizard?.wizardValues?.testEnvironment?.enabled">

      <div class="setting-wrapper">
        <div class="setting-label">App Service Plan</div>
        <div class="setting-control-container">
          <div class="newOrExistingSelection">
            <radio-selector [control]="wizard?.testEnvironmentSettings?.controls?.newApp" [options]="newAppServicePlanOptions" [highlightDirty]="true">
            </radio-selector>
          </div>
          <ng-select *ngIf="wizard?.wizardValues?.testEnvironment?.newApp === false" class="custom-select" [loading]="appServicePlansLoading"
            [clearable]="false" [items]="appServicePlanList" bindLabel="displayLabel" bindValue="value" placeholder="Select App Service Plan"
            [(ngModel)]="selectedAppServicePlan" formControlName="appServicePlanId" (change)="aspChanged($event)">
          </ng-select>
        </div>
      </div>


      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <div class="setting-label">App Name</div>
        <div class="setting-control-container">
          {{newAppName}}
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <div class="setting-label">Resource Group</div>
        <div class="setting-control-container">
          {{resourceGroup}}
        </div>
      </div>


      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <div class="setting-label">App Service Plan Name</div>
        <div class="setting-control-container">
          {{appServicePlanName}}
        </div>
      </div>


      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <div class="setting-label">Pricing Tier/Location</div>
        <div class="setting-control-container">
          {{pricingTier}}
        </div>
      </div>

      <div class="setting-wrapper" *ngIf="wizard?.wizardValues?.testEnvironment?.newApp">
        <div class="setting-label">Pricing Tier/Location</div>
        <div class="setting-control-container">
          {{location}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer ">
  <button type="button" class="custom-button form-button" previousStep>Back</button>
  <button type="button" class="custom-button form-button" nextStep>Continue</button>
</div>