@import '../../../../sass/main';
@import '../../site-config/site-config.component.scss';
.centered-content {
  margin: auto;
  text-align: center;
}

.form-button {
  min-width: 114px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  background-color: $body-bg-color;
  height: 50px;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  box-shadow: 0px -5px 13px -1px rgba(0, 0, 0, 0.38);
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 2;
}

.settings-group-wrapper {
  position: relative;
}

.settings-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  .setting-wrapper {
    width: 600px;
  }
}

.newOrExistingSelection {
  margin-bottom: 5px;
  font-size: 12px;
  color: $value-text-color;
  input {
    margin: 0px 10px;
  }
}

.wizard-container {
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
}

:host-context(#app-root[theme='dark']) {
  .footer {
    background-color: $body-bg-color-dark;
  }
}
