<app-card-info-control [image]="'image/deployment-source.svg'" header="{{'deploymentCenterTitle' | translate}}" description="{{'deploymentCenterDesc' | translate}}"
    learnMoreLink="https://go.microsoft.com/fwlink/?linkid=874656"></app-card-info-control>
<div class="wizard-container">
    <wizard navBarLayout="large-filled-symbols" #wizard StepNumber>
        <app-step-source-control wizardStep title="{{'sourceControl' | translate}}"></app-step-source-control>
        <app-step-build-provider wizardStep title="{{'buildProvider' | translate}}" *ngIf="showBuildStep"></app-step-build-provider>
        <app-step-configure [canExit]="buildConfigValid" wizardStep title="{{'configure' | translate}}" *ngIf="showConfigureStep"></app-step-configure>
        <app-step-test wizardStep title="{{'test' | translate}}" *ngIf="showTestStep"></app-step-test>
        <app-step-deployment-slot wizardStep title="{{'deploy' | translate}}" *ngIf="showDeployStep"></app-step-deployment-slot>
        <app-step-complete wizardCompletionStep enableBackLinks title="{{'summary' | translate}}" *ngIf="showSummaryStep"></app-step-complete>
    </wizard>
</div>