<div id="site-dashboard-container">

    <nav id="site-tabs" role="tablist" #siteTabs>
        <div *ngFor="let info of tabInfos"
            class="site-tab-label"
            [class.inactive-label]="!info.active"
            [class.closeable]="info.closeable"
            (click)="selectTab(info)"
            [tabindex]="info.active ? 0 : -1"
            (keydown)="onKeyPress($event, info)"
            role="tab"
            [id]="'site-tab-' + info.id"
            [attr.aria-controls]="'site-tab-content-' + info.id"
            [attr.aria-selected]="info.active"
            [attr.aria-label]="info.title">

            <span *ngIf="info.iconUrl" [load-image]="info.iconUrl" class="icon-small"></span>
            <h4>
                <span *ngIf="info.dirty">* </span><span [class.tab-diry]="info.dirty">{{info.title}}</span>

                <span *ngIf="info.closeable" class="close-button" (click)="closeTab(info)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </h4>
            <div class="bottom" *ngIf="info.active && info.closeable"></div>
        </div>
    </nav>

    <section id="site-tab-content">

        <site-tab *ngFor="let info of tabInfos"
            [title]="info.title"
            [id]="info.id"
            [active]="info.active"
            [closeable]="info.closeable"
            [iconUrl]="info.iconUrl"
            [componentFactory]="info.componentFactory"
            [componentInput]="info.componentInput"></site-tab>

    </section>
</div>
