@import '../../../sass/common/variables';

#site-dashboard-container{
    background-color: $chrome-color;
    min-width: 1000px;
}

#site-dashboard-pin{
    display: inline-block;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 15px;
    top: 10px;
}

#site-tabs{
  padding: 0;
  margin: 0;
  border-bottom: $border;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.site-tab-label{
    border-bottom: 4px solid $default-text-color;
    cursor: pointer;
    padding: 8px 25px;
    width: 200px;
    margin-top: 5px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;

    .icon-small{
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 5px;

    }

    .close-button{
        position: absolute;
        right: 5px;
    }

    .tab-diry{
        font-style: italic;
    }

    h4{
        display: inline;
    }
}

.inactive-label{
    color: $primary-color;
    border-bottom: 4px solid $chrome-color;
 
    &:hover{
        color: $default-text-color;
    }
}

.closeable{
    border: 1px #d8e1e6 solid;
    border-bottom: none;
    padding: 8px 16px 8px 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 10px;

    background-color: $body-bg-color;

    &.inactive-label{
        background-color: $chrome-color;;
    }
}

// Simulate a "first-of-class" selector
.closeable ~ .closeable{
    margin-left: 0px;
}

.bottom{
    position: absolute;
    bottom: -1px;
    background-color: $body-bg-color;
    height: 1px;
    width: 100%;
    left: 0px;
}

#site-tab-content{
    background-color: $body-bg-color;
    position: absolute;
    left: 250px;
    right: 0px;
    height: calc(100% - 43px);
}

:host-context(#app-root[theme=dark]){
    #site-tab-content, #site-dashboard-container, .closeable, .bottom{
        background-color: $chrome-color-dark;
    }

    .site-tab-label{
        border-bottom: 4px solid $default-text-color-dark;
    }

    .inactive-label{
        border-bottom: 4px solid $chrome-color-dark;
    }

    .closeable{
        border-bottom: 4px solid lighten($chrome-color-dark, 10%);
        background-color: lighten($chrome-color-dark, 10%);

        &.inactive-label{
            background-color: $chrome-color-dark;
        }
    }
}