/*
If a user scrolls down, we want the modal window to appear to go under the top bar.  However
we also want the top bar to be disabled at the same time.  To do this, I made the modal/overlay
have a lower z-index than the top bar, and added an extra overlay over the existing top-bar
to disable it.
*/
.tutorial-overlay-top-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    height: 40px;
    width: 100%;
    z-index: 110;    /* Just above the top bar */
}

.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 90; /* Under the top bar so that it can scroll under it */
}

/* just some content with arbitrary styles for explanation purposes */
.tutorial-modal {
    box-sizing: border-box;
    width: 550px;
    height: 350px;
    position: absolute;
    top: 200px; 
    left: calc(50% - 250px);
    background-color: #FFFFFF;
    border: 10px solid #797171;
    padding: 20px;
    z-index: 91; /* One higher than the overlay layer so that users can still interact with it */
}

/* Top arrow border */
.tutorial-modal:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #797171;
}

/* Top arrow filler */
.tutorial-modal:after {
    content: '';
    position: absolute;
    top: -16px;
    left: 50px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #FFFFFF;
}

.tutorial-modal-curposition{
    float:right;
}

.tutorial-modal h2{
    display: inline;
    font-size: 24px;
}

.tutorial-modal > div > p:first-of-type{
    margin-top: 20px;
}

.tutorial-modal-nav{
    position: absolute;
    text-align: center;
    bottom: 10px;
    bottom: 15px;
    width: 100%;
}

.tutorial-modal-nav button{
    margin-left: 0px;
}

.tutorial-modal-nav div{
    margin-top: 10px;
}

.tutorial-modal ul{
    list-style-type: none;
    padding-left: 0px;
}

.tutorial-modal li span{
    font-weight: bold;
}
