<div *ngIf="currentStep > 0">
    <div class="tutorial-overlay-top-bar"></div>
    <div class="tutorial-overlay"></div>
    <div class="tutorial-modal">
        <div class="tutorial-modal-curposition">{{currentStep}} of 4</div>

        <div *ngIf="currentStep === 1">
            <h2>{{ 'tutorial_develop' | translate }}</h2>

            <p *ngIf="lang === 'JavaScript'">
                {{ 'tutorial_theFastestWayNode' | translate }}
            </p>
            <p *ngIf="lang === 'CSharp'">
                {{ 'tutorial_theFastestWayCSharp' | translate }}
            </p>
            <p>
                {{ 'tutorial_thisPageInclude' | translate }}
            </p>
        </div>

        <div *ngIf="currentStep === 2">
            <h2>{{ 'tutorial_integrate' | translate }}</h2>
            <p>
                {{ 'tutorial_integrateYourFunction' | translate }}
            </p>
            <p>
                {{ 'tutorial_setUpAutomated' | translate }}
            </p>
        </div>

        <div *ngIf="currentStep === 3">
            <h2>{{ 'tutorial_functionAppSettings' | translate }}</h2>
            <p>
                {{ 'tutorial_yourFunction' | translate }}
            </p>
            <p>
                {{ 'tutorial_changesMade' | translate }}
            </p>
        </div>

        <div *ngIf="currentStep === 4">
            <h2>{{ 'tutorial_nextSteps' | translate }}</h2>
            <p>
                Now that you've seen a bit of what Azure Functions can do, try it for yourself.
            </p>
            <ul>
                <li [innerHTML]="'tutorial_tweakThisSample' | translate">/li>
                <li [innerHTML]="'tutorial_createNew' | translate"></li>
                <li [innerHTML]="'tutorial_diveIntoDocumentation' | translate"></li>
            </ul>
        </div>


        <div class="tutorial-modal-nav">
            <button class="custom-button" (click)="nextStep()">{{buttonText}}</button>
            <div class="link" (click)="currentStep = -1" *ngIf="currentStep < 4">{{ 'tutorial_skip' | translate }}</div>
        </div>
    </div>
</div>
