<config-table-wrapper
  *ngIf="initialized"
  [name]="(Resources.feature_defaultDocumentsName | translate)"
  [groupArray]="groupArray"
  [hasWritePermissions]="hasWritePermissions"
  [showPermissionsMessage]="showPermissionsMessage"
  [permissionsMessage]="permissionsMessage"
  [loadingFailureMessage]="loadingFailureMessage"
  [loadingMessage]="loadingMessage"
  [emptyTableMessage]="(Resources.emptyDefaultDocuments | translate)"
  [addItemLabel]="(Resources.addNewDocument | translate)"
  [getNewItem]="getNewItem"
  [cellTemplates]="cellTemplates">
</config-table-wrapper>

<ng-template
  let-group="group"
  table-cell-template
  className="single-col padded-col"
  [showDirtyState]="true"
  [editable]="true">

  <click-to-edit [group]="group" name="name">
    <textbox [control]="group.controls['name']" [placeholder]="Resources.enterName | translate"></textbox>
  </click-to-edit>

</ng-template>