<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <label id="dc-vsts-build-linux-framework-label" class="setting-label">{{'webAppFramework' | translate}} </label>
      <div class="setting-control-container">
        <ng-select 
          aria-labelledby="dc-vsts-build-linux-framework-label"
          class="custom-select" 
          [clearable]="false" 
          [searchable]="false" 
          [items]="webApplicationFrameworks"
          bindLabel="displayLabel" 
          bindValue="value" 
          [(ngModel)]="selectedFramework"
          formControlName="applicationFramework">
        </ng-select>
      </div>
    </div>


    <div [hidden]="selectedFramework !== 'AspNetCore'">
      <div class="setting-wrapper">
        <label id="dc-vsts-build-linux-fxversion-label" class="setting-label">{{'frameworkVersion' | translate}} </label>
        <div class="setting-control-container">
          <ng-select 
            aria-labelledby="dc-vsts-build-linux-fxversion-label"
            class="custom-select" 
            [clearable]="false" 
            [searchable]="false" 
            [items]="dotNetCoreFrameworkVersions"
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework !== 'Node'">
      <div class="setting-wrapper">
        <label id="dc-vsts-build-linux-node-version-label" class="setting-label">{{'version' | translate}} </label>
        <div class="setting-control-container">
          <ng-select 
            aria-labelledby="dc-vsts-build-linux-node-version-label"
            class="custom-select" 
            [clearable]="false" 
            [searchable]="false" 
            [items]="nodeFrameworkVersions"
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>

      <div class="setting-wrapper">
        <label id="dc-vsts-build-linux-node-task-runner-label" class="setting-label"> {{'taskRunner' | translate}}</label>
        <div class="setting-control-container">
          <ng-select 
            aria-labelledby="dc-vsts-build-linux-node-task-runner-label"
            [clearable]="false" 
            class="custom-select" 
            [searchable]="false" 
            [items]="nodeJsTaskRunners"
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedTaskRunner" 
            formControlName="nodejsTaskRunner">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework !== 'PHP'">
      <div class="setting-wrapper">
        <label id="dc-vsts-build-linux-php-version-label" class="setting-label">{{'frameworkVersion' | translate}} </label>
        <div class="setting-control-container">
          <ng-select 
            aria-labelledby="dc-vsts-build-linux-php-version-label"
            class="custom-select" 
            [clearable]="false" 
            [searchable]="false" 
            [items]="phpFrameworkVersions"
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework !== 'Ruby'">
      <div class="setting-wrapper">
        <label id="dc-vsts-build-linux-ruby-version-label" class="setting-label">{{'frameworkVersion' | translate}} </label>
        <div class="setting-control-container">
          <ng-select 
            aria-labelledby="dc-vsts-build-linux-ruby-version-label"
            class="custom-select" 
            [clearable]="false" 
            [searchable]="false" 
            [items]="rubyFrameworkVersions"
            bindLabel="displayLabel" 
            bindValue="value" 
            [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="setting-wrapper">
      <label class="setting-label">{{'startupCommand' | translate}} </label>
      <div class="setting-control-container">
        <textbox [ariaLabel]="'startupCommand' | translate" aria-describedby="dc-linux-startup-command-error" [control]="wizard?.buildSettings?.controls?.startupCommand"></textbox>
        <div invalidmessage="startupCommand" id="dc-linux-startup-command-error" role="alert"></div>
      </div>
    </div>

    <div [hidden]="selectedFramework === 'AspNetCore'">
      <div class="setting-wrapper">
        <label class="setting-label">{{'pathToApplicationCode' | translate}} </label>
        <div class="setting-control-container">
          <textbox [ariaLabel]="'pathToApplicationCode' | translate" [control]="wizard?.buildSettings?.controls?.workingDirectory"></textbox>
        </div>
      </div>
    </div>


  </div>