<div class="settings-group-wrapper" [formGroup]="wizard?.buildSettings" novalidate>

  <div class="settings-wrapper">
    <div class="setting-wrapper">
      <div class="setting-label">{{'webAppFramework' | translate}} </div>
      <div class="setting-control-container">
        <ng-select class="custom-select" [clearable]="false" [searchable]="false" [items]="webApplicationFrameworks"
          bindLabel="displayLabel" bindValue="value" placeholder="{{'selectFramework' | translate}}" [(ngModel)]="selectedFramework"
          formControlName="applicationFramework">
        </ng-select>
      </div>
    </div>


    <div [hidden]="selectedFramework!=='AspNetCore'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'frameworkVersion' | translate}} </div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [clearable]="false" [searchable]="false" [items]="dotNetCoreFrameworkVersions"
            bindLabel="displayLabel" bindValue="value" placeholder="{{'selectFramework' | translate}}" [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion" (change)="selectedFrameworkChanged()">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework!=='Node'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'version' | translate}} </div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [clearable]="false" [searchable]="false" [items]="nodeFrameworkVersions"
            bindLabel="displayLabel" bindValue="value" placeholder="{{'selectFramework' | translate}}" [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>

      <div class="setting-wrapper">
        <div class=" setting-label"> {{'taskRunner' | translate}}</div>
        <div class="setting-control-container">
          <ng-select [clearable]="false" class="custom-select" [searchable]="false" [items]="nodeJsTaskRunners"
            bindLabel="displayLabel" bindValue="value" [(ngModel)]="selectedTaskRunner" formControlName="nodejsTaskRunner">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework!=='PHP'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'frameworkVersion' | translate}} </div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [clearable]="false" [searchable]="false" [items]="phpFrameworkVersions"
            bindLabel="displayLabel" bindValue="value" placeholder="{{'selectFramework' | translate}}" [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>
    </div>

    <div [hidden]="selectedFramework!=='Ruby'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'frameworkVersion' | translate}} </div>
        <div class="setting-control-container">
          <ng-select class="custom-select" [clearable]="false" [searchable]="false" [items]="rubyFrameworkVersions"
            bindLabel="displayLabel" bindValue="value" placeholder="{{'selectFramework' | translate}}" [(ngModel)]="selectedFrameworkVersion"
            formControlName="frameworkVersion">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="setting-wrapper">
      <div class="setting-label">{{'startupCommand' | translate}} </div>
      <div class="setting-control-container">
        <textbox [control]="wizard?.buildSettings?.controls?.startupCommand"></textbox>
      </div>
    </div>

    <div [hidden]="selectedFramework==='AspNetCore'">
      <div class="setting-wrapper">
        <div class="setting-label">{{'pathToApplicationCode' | translate}} </div>
        <div class="setting-control-container">
          <textbox [control]="wizard?.buildSettings?.controls?.workingDirectory"></textbox>
        </div>
      </div>
    </div>


  </div>