@import '../../sass/main';

.feature-group-header{
    margin-bottom: 10px;
    font-size: 22px;
}


.feature-group-item{
    padding: 5px 0px;
    position: relative;

    img{
        height: 16px;
        width: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 3px;
    }
}

.feature-group-item-hover:hover{
    background-color: $chrome-color;
}

.feature-group-info{
    position: absolute;
    right: 15px;
    top: 3px;

    i{
        font-size: 15px;
    }
}

.feature-menu-item{
    margin-left: 5px;
}

.feature-group-disabled{
    color: darken($chrome-color, 30%);
}
