// TODO: Get rid of this style
$danger-color : #d43f3a;

$default-text-color: #464f59;

$link-color : #0058ad;

$button-bg-color : #0058ad;

$body-bg-color : #fff;

$chrome-color : #f7f9fa;

$border-selection-color: #419BF3;

$sidenav-width: 250px;

$disabled-color: rgba(#7f7f7f, .7);

$border-color: darken($chrome-color, 10%);

$success-color: #5db300;

$error-color: #e81123;

$warning-color: #ff8c00;

$tree-node-selection-color: #e1efff;

$border: 1px $border-color solid;

$status-bar-bg-color: rgba($warning-color, 0.18);