$danger-color : #d43f3a;
$success-color: #30D00F;
$warning-color: #FFA81E;
$link-color : #419BF3;

$button-bg-color : #539CF6;

$body-bg-color : #fff;

$chrome-color : #E6E7E8;
$border-color: #DEDEDE;
$border-selection-color: #419BF3;

$sidenav-width: 250px;