
// Font colors:
$default-text-color: #464f59;
$default-text-color-dark: #e0e0e0;

$value-text-color: #1f2327;


$label-text-color: #595959;
$label-text-color-dark: #acacac;

$highlight-text-color: #ffed10;

$heading-text-color: #000000;
$heading-text-color-dark: #e0e0e0;

$body-bg-color: #fff;
$body-bg-color-dark: #252525;

$qs-header-bg-color: #e8ebef;
$qs-footer-bg-color: #004075;
$qs-footer-link-color: #9cdcff;

$chrome-color: #f7f9fa;
$chrome-color-dark: $body-bg-color-dark;

$back-bar-color: #e8ebed;

$border-selection-color: #419BF3;
$border-focus-color: #00bcf2;
$border-focus: $border-focus-color dashed 1px;

$usermenu-text-color: $heading-text-color;
$usermenu-border-color: #b3b3b3;
$border-focus-dirty-color: #7846ff;
$border-focus-dirty: $border-focus-dirty-color dashed 1px;

$sidenav-width: 250px;
$top-bar-height: 40px;

$disabled-color: rgba(#7f7f7f, .7);
$disabled-color-dark: lighten($body-bg-color-dark, 10%);

$border-color: darken($chrome-color, 10%);

$item-selected-color: #e1efff;
$item-selected-color-dark: lighten($body-bg-color-dark, 20%);

$item-hover-color: darken($chrome-color, 5%);
$item-hover-color-dark: lighten($body-bg-color-dark, 10%);

$border: 1px $border-color solid;

// Background colors:
$success-color: #5db300;
$success-color-faded: rgba($success-color, 0.18);

$usermenu-back-color:$body-bg-color;

$error-color: #e81123;
$error-color-faded: rgba($error-color, 0.18);

$error-box-color: lighten($error-color, 40%);
$error-box-color-hover: darken($error-box-color, 5%);

$warning-color: #ff8c00;
$warning-color-faded: rgba($warning-color, 0.18);

$warning-box-color: lighten($warning-color, 40%);
$warning-box-color-hover: darken($warning-box-color, 5%);

$primary-color: #0058ad;
$primary-color-faded: rgba($primary-color, 0.18);
$primary-color-hover: lighten($primary-color, 10%);

$primary-color-dark: #4894fe;
$primary-color-hover-dark: lighten($primary-color-dark, 10%);

$alt1-color: #6917aa;
$alt1-color-faded: lighten($alt1-color, 35%);

$background-color-opaque: #ccc;
$background-color-disabled: rgba(127, 127, 127, 0.5);

$grey-color: #f5f5f5;
$grey-color-dark: #3d3d3d;

$command-color-hover: #f1f1f8;
$heading-text-color: #252525;

$info-box-color: #d1e7f8;
$info-box-color-hover: darken($info-box-color, 5%);

$card-color-dark: #333333;

$text-box-warning-text: #8a6d3b;
$text-box-warning-background: #fcf8e3;
$text-box-warning-border: #faebcc;

$custom-picker-imgae-bg-color: rgb(30, 88, 144);
$custom-picker-header-bg-color: rgb(218, 230, 239);

$custom-sql-picker-imgae-bg-color: $heading-text-color;
$custom-sq-picker-header-bg-color: rgb(217, 217, 217);

