@import '../../sass/common/variables';

.sidenav {
    width: $sidenav-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $chrome-color;
    bottom: 0;
    z-index: 100;
    border-right: $border;
}
.header-on-top-of-sidenav {
    position: absolute;
}
.create-refresh-sub {
    padding-left: 10px;
    background-color: #e1efff;
    height: 34px;
    text-overflow: ellipsis;
    padding-top: 8px;
    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
}
.create-new {
    margin-top: 3px;
    font-size: 18px;
    float: left
}

.float-right {
    float: right;
    font-size: 20px;
    margin-right: 5px;
}

.tree-node-refresh-icon{
    font-size: 14px;
    vertical-align: text-top;
    margin-top: 4px;
    margin-left: 5px;
}


:host-context(#app-root[theme=dark]) .sidenav{
    background-color: $chrome-color-dark;
}

.sidenav-try{
    height: calc(100% - $top-bar-height);
    top: $top-bar-height;
}

#sidenav-menu{
    padding: 5px;

    >input[type=text]{
        width: 100%;
    }
}

#sidenav-menu.no-padding {
    padding: 0px;
}

#sidenav-subs{
    margin-top: 5px;
}

:host /deep/ multi-drop-down .multi-drop-down-container{
    width: $sidenav-width;
}

#tree-view-container{
    &:focus{
        outline: none;
    }
}