<div class="settings-group-wrapper">
  
    <h3 class="first-config-heading">Code</h3>
  
    <div class="settings-wrapper">
      <div class="setting-wrapper">
        <div class="setting-label">Dropbox Folder
          <pop-over [message]="('netFrameWorkVersionLabelHelp' | translate)">
            <span class="glyphicon glyphicon-info-sign button-title"></span>
          </pop-over>
        </div>
        <div class="setting-control-container">
          <drop-down [control]="this.wizard?.sourceSettings?.controls?.repoUrl" [options]="!!folderList ? folderList : []"
            [highlightDirty]="true">
          </drop-down>
        </div>
      </div>
  
    </div>
  </div>