html, body {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

pre {
    display: block;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: darken($body-bg-color, 5%);
    border: 1px solid $border-color;
    font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
    border-radius: 0;
}

.clickable {
    cursor: pointer;
}

:focus{
    outline: $border-focus;
    outline-offset: 1px;
}

.disabled-link{
    pointer-events: none;
    cursor: text;
    color: $disabled-color !important;
}

.row {
    display: table-row;
}

.row > .left {
    width: 150px;
    padding: 0;
    display: table-cell;
}

.row > .right {
    width: 250px;
    display: table-cell;
}

.row-group {
    display: table-row-group;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

#app-root[theme=dark]{
    pre{
        background-color: lighten($body-bg-color-dark, 5%);
        color: $default-text-color-dark;
    }

    // Overriding bootstrap
    .panel-body{
        background-color: $body-bg-color-dark;
    }
}