@import '../../sass/common/variables';

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $translucent-shield-color;
    z-index: 15;
}

.try-functions-busy {
    @extend .container;
    background-color: #337ab7;
    color: white;
    font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}

.global {
    @extend .container;
    position: fixed;
}

.busy-dashboard{
  @extend .container;
  width: calc(100% - #{$sidenav-width});
  margin-left: $sidenav-width;
}

.busy-site-tabs{
  @extend .container;
  height: calc(100% - #{$top-bar-height} - 1px);
}

@-webkit-keyframes fxs-progress-animatedEllipses {
  0% {
    opacity: 1;
  }
  30% {
    opacity: .6;
  }
  60% {
    opacity: .3;
  }
}
@keyframes fxs-progress-animatedEllipses {
  0% {
    opacity: 1;
  }
  30% {
    opacity: .6;
  }
  60% {
    opacity: .3;
  }
}
.fxs-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($body-bg-color, 0.30);
  z-index: 196;
}
.fxs-progress-dots {
  position: absolute;
  top: calc(50% - 6px/2);
  width: 100%;
  line-height: 0;
  text-align: center;
}
.fxs-progress-dots > div {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  opacity: .3;
  -webkit-animation: fxs-progress-animatedEllipses 1.8s infinite;
  animation: fxs-progress-animatedEllipses 1.8s infinite;
  background: #3471ff;
  margin: 0 6px;
}
.fxs-progress-dots > div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.fxs-progress-dots > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.fxs-progress-dots > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fxs-progress-dots > div:nth-child(4) {
    padding-top: 20px;
    width: 100%;
    background-color: inherit !important;
  }

:host-context(#app-root[theme=dark]){
  .fxs-progress{
    background-color: rgba($body-bg-color-dark, 0.7);
  }

  .fxs-progress-dots > div:nth-child(4) {
    background-color: rgba($body-bg-color-dark, 0.7);
  }
}