<div class="list-collection-container">
<img src="images/api-proxy.svg" />
<h3 class="text-main2-heading">{{ 'appFunctionSettings_apiProxies' | translate }}</h3><i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw"></i>

<tbl [items]="proxies" #table="tbl">
  <tr class="header-row">
    <th><tbl-th name="name">{{ ('_name' | translate).toUpperCase() }}</tbl-th></th>
    <th><tbl-th name="url">URL</tbl-th></th>
  </tr>

  <tr *ngFor="let item of table.items" (click)="clickRow(item)">
    <td class="link">{{item.name}}</td>
    <td>{{item.url}}</td>
  </tr>

  <tr *ngIf="table.items.length === 0 || isLoading">    
    <td *ngIf="isLoading" colspan="2">{{'functionMonitor_loading' | translate}}</td>
    <td *ngIf="!isLoading && table.items.length === 0" colspan="2">{{'noResults' | translate}}</td>
  </tr>
  
</tbl>
</div>