@import "../step-source-control/step-source-control.component.scss";
@import '../../../../../sass/common/variables';

.cardContainer {
    height: 200px;
    min-width: 300px;
    max-width: 300px;
}

.cardDisabled {
    height: 200px;
    min-width: 300px;
    max-width: 300px;
    background-color: lighten($disabled-color,30%);
}

.errorMessage {
    color: $error-color;
    display: block;
    overflow:hidden;
    max-height: 50px;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 50%; 
    transform: translate(-50%, 0px);
}