<div class="selectionContainer" flex-list>
  <div *ngFor="let card of providerCards" [class.selected]="wizard?.wizardValues?.buildProvider === card.id" [class.cardDisabled]="!card.enabled"
    [class.cardContainer]="card.enabled" (click)="chooseBuildProvider(card)" id="{{card.id}}" [hidden]="card.hidden">
    [class.cardContainer]="card.enabled" (click)="chooseBuildProvider(card)" id="{{card.id}}">
    <div class="cardHeader">
      <img [src]="card.icon" [style.background-color]="card.color" /> {{card.name}}
    </div>
    <div class="cardDescription">
      {{card.description}}
      <div class="errorMessage" *ngIf="!card.enabled">
        {{card.errorMessage}}
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button type="button" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>