<div class="selectionContainer" role="radiogroup" flex-list>
  <div *ngFor="let card of providerCards" role="radio" [attr.aria-checked]="wizard?.wizardValues?.buildProvider === card.id" [class.selected]="wizard?.wizardValues?.buildProvider === card.id" [class.cardDisabled]="!card.enabled"
    [class.cardContainer]="card.enabled" (click)="chooseBuildProvider(card)" id="{{card.id}}" [hidden]="card.hidden" (keydown)="onKeyPress($event, card)">
    <div class="cardHeader">
      <img [src]="card.icon" [style.background-color]="card.color" alt="{{card.name}}"/> {{card.name}}
    </div>
    <div class="cardDescription">
      {{card.description}}
      <div class="errorMessage" *ngIf="!card.enabled">
        {{card.errorMessage}}
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button type="button" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>